[2015-01-16 23:59] theVKC opened #7 "Draft up proposal to formalize a statewide script repo/team structure"
Just like it says. Out with "Anoka" specific, and in with the collaborative. Tentatively calling it "MN-CS-Script-Team" on GitHub.

[2015-01-17 00:01] theVKC opened #8 "Move county attorney list into an array"
Already about halfway done. Now, I just need to build the dialog up and provide instructions. More to come.

[2015-01-17 00:08] theVKC opened #9 "Put CS functions reference on either GitHub or Yammer"
GitHub makes sense if it works... but I just remembered some kind of glitch with uploading Word docs to GitHub. If it doesn't work, we'll try Yammer.

[2015-01-17 00:09] theVKC opened #10 "Steal @RobertFewins-Kalb's "how to make a case note" document"
Adapt it to PRISM and get it out there!

[2015-01-17 05:12] theVKC opened #11 "Make "load and fill word doc" function"
Could include an array of variables as a parameter, along with a file path and a name of the form to be filled out.

[2015-01-17 05:13] theVKC opened #12 "Create "word docs file path" variable in globvar"
Because futureproofing

[2015-01-17 21:56] #8 closed

[2015-01-26 19:07] paschell opened #14 "Date of the Hearing - Judicial"
Several users reported an error when trying to use this script, I tried several times and recd same error.

 Script Error at Line 1, Column1:
 Object not a collection

[2015-01-26 19:14] theVKC commented on #14
This is happening because the global variables file you have doesn’t contain the array of attorneys. I’ll email you the code to include in the Q:\ Global Variables file.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unle

[2015-02-01 23:53] theVKC opened #17 "Needed: script instructions"
I know @Anoka-Script-Team has been making them using OneNote for a bit, but I'm not sure if all of the Child Support scripts have them. Regardless, we need to find a way to disperse the instructions for how to use PRISM scripts to other counties. Easiest option would be through a Word document, but I'll caution that it can get too big if we aren't careful (perhaps multiple documents, or a document

[2015-02-04 15:52] paschell commented on #17
I don’t know that we have any instructions.  We deployed most scripts with quick how-to instructions through email.

I’ll see what I have saved and work on putting something together.  ☺

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 5:53 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Pam Scheller
Subject: [PRISM-Scripts] Needed: script instructions (#17)

[2015-02-04 15:55] ajluebbe commented on #17
Veronica, can we get an example of the detail of some MAXIS script instructions?

Alison

From: paschell [mailto:notifications@github.com]
Sent: Wednesday, February 04, 2015 9:53 AM
To: MN-CS-Script-Team/PRISM-Scripts
Subject: Re: [PRISM-Scripts] Needed: script instructions (#17)

I don’t know that we have any instructions. We deployed most scripts with quick how-to instructions through email.

I’

[2015-02-04 16:15] paschell commented on #17
Alison,

There is some stuff on OneNote.  Look under Tech Tips and then Bluezone Scripts.  ☺

From: ajluebbe [mailto:notifications@github.com]
Sent: Wednesday, February 04, 2015 9:55 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Pam Scheller
Subject: Re: [PRISM-Scripts] Needed: script instructions (#17)

Veronica, can we get an example of the detail of some MAXIS script instructions?

Alison

From: p

[2015-02-04 16:17] theVKC commented on #17
I’ll send it via email. It’s stored on SIR.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you ar

[2015-02-07 00:49] theVKC opened #19 "STATS database path may or may not be working as intended"
I just need to run it through it's paces. I think it might be missing a set of quotes in there. We shall see.

1. Test it with different paths.
2. Test it with UNC and drive-letter paths.

[2015-03-08 21:00] theVKC opened #20 "CSFuncLib: make the "run_from_GitHub" function replace Option Explicit if found"
This would allow our scriptwriters to write scripts that use Option Explicit, but would allow our redirect files to ignore it if found (because the redirect files would have already declared option explicit in my perfect world).

@RobertFewins-Kalb, I'm guessing you'll be interested in this concept.

[2015-03-10 03:07] theVKC commented on #12
@RobertFewins-Kalb: any chance you can do this while we train tomorrow?

[2015-03-10 04:59] theVKC opened #31 "Create a global constant: blank = """
This is crazy that I didn't think of this earlier. I think it could make things easier for scriptwriters.

[2015-03-10 14:26] RobertFewins-Kalb commented on #12
There is a non-zero chance that can get done.

[2015-03-11 13:52] levesswe opened #38 "More ideas for global functions"
Date format function for MMMM d, yyyy  (use the long DateFormat and trim off the weekday)
Date format function for each of the parts of the date, month, day, year.
I expect these will be useful for word documents if not for other scripts.

[2015-03-11 15:27] levesswe opened #39 "Global constant array"
For each Anoka Child support unit, we should maintain a list of worker information.  We should discuss the information that we need to track for each worker.  I am thinking name, title, phone number, etc.

[2015-03-11 20:36] gretchent74 opened #42 "FC Intake Transfer Note"

[2015-03-11 20:37] ajluebbe opened #43 "Maintaining County"
Can anyone help me figure out how to easily add multiple worker positions to the ComboBox?  Or do I need to do this by hand?

[2015-03-11 20:38] jmarieraymond opened #44 "New Script Idea - Emancipation CAAD Note"
Script to be used to update CAAD with date of anticipated graduation.  I think the script is done and I would like it to be tested.

[2015-03-11 20:39] Dmjacob opened #45 "DES Worklist"
Had issues stopping script when clicking Cancel in the loop containing Must Enter Employer.   (now this is fixed- this is just a test issue for training)

I have been working on his script issue but could use help.

[2015-03-11 20:39] khiestand opened #46 "New Script Idea - Court Order Request"
This is a caad note script that will input details of the court order request: date order requested, county or person requested from, request method, court file number, order type, and worker signature.  After caad noting this info, script navigates to a worklist but does not save the worklist so the CSO can enter more info if they want before saving it.  I have been working on this idea and it is

[2015-03-11 20:39] gretchent74 commented on #42
caad note with information that intake should add to case before transfering to fc css.  I have a script ready to go.

[2015-03-11 20:39] wrightcountykaren opened #47 "New Script Idea - MES docs sent"
Creates CAAD note for 5 of the typical documents that are sent to a client for an MES action along with a requested return date.  It also makes a worklist "Have MES docs been returned" for 21 days later than today.
I have been working on this issue and I think the script is 100% complete, just waiting for review

[2015-03-11 20:39] margmac17 opened #48 "PA Case Review Script"
This script would be used when reviewing a new case referral from IVA. We do a CAAD note that outlines the facts of the case as it stands at this time. My script is probably about 50% finished at this time.

[2015-03-11 20:39] GayS opened #49 "New Script Idea: No Payment Month One Review"
Review no payment month one through month 4.  This is the start of the four month series.  They should all match format/style but have different steps that need to be CAAD noted based on the month.  Worklist steps have been documented in Stearns by CSO supervisor that are being used as process templates.

[2015-03-11 20:39] KGhennepin opened #50 "New Script Idea- Contempt Review"
This script helps determine if the case would qualify for contempt and case note all information reviewed by worker. I am currently working on this issue & need to add more information.

[2015-03-11 20:40] ChrisKast opened #51 "New Script Idea - Case Review"
I'd like the script to gather pmt info from prism and determine if there is an existing contempt order.  I've been plugging away at this and have a script about 90% complete.  Need to have the script search SUOD for court order type CTM and then populate the dialog box and CAAD note.

[2015-03-11 20:40] mjblees opened #52 "DES Worklist Script"
Have issues with script adding a 0 in CAAD Note.  Do not know how to get rid of the "0".  I have a script that Dawn Jacobson and I have been working on together at script training and unsure if this script is going to be useful.

[2015-03-11 20:40] RobertFewins-Kalb opened #53 "New Script Idea, Payment Plan Review"
Script that reviews payment plan. The script should review the begin date, the delinquency amount, the total amount due, and send corresponding DORD Docs.

I (Pam) have (has) been working on this issue and have a script up and running. It is boss, so sayeth Pam.

[2015-03-11 20:40] levesswe opened #54 "New Script Idea - Document Generation"
I want to be able to select from a list of documents to open in Microsoft Word.  I would like to have information from PRISM insert into the Word Documents using Form Fields or Bookmarks (Thinking this should be a custom function).  I would like the user to select whether they want to just open the Word Document in Word for further editing or, select to print the document directly, (by-passing ope

[2015-03-11 20:41] TammyStearns opened #55 "No Payment Month Three"
I want my script to do a review of NCP's payments.  If no payment after three months, NCP should be contacted and add Reason no payment has been made.  Determine if Pay 2 word Letter should be sent to NCP.  Confirm if NCP is receiving public assistance and select yes or no from dropdown list.  Confirm if NCP is receiving social security benefits  and select yes or no from dropdown list.  Select ye

[2015-03-11 20:41] SFHennepin opened #56 "Emancipation Review"
script should delete case number, include court order (autofill from suol screen as may be other state court order), include age of majority as other states have different age of majority, include if more than one child is this a per child order? Change expected date of graduation to emancipation date.
Have been working on this script in training but once completed thought of additional ideas.

[2015-03-11 20:51] RobertFewins-Kalb commented on #54
@levesswe  willing to take this one?

[2015-03-11 21:08] khiestand opened #57 "New Script Idea - Waiver of Personal Service"
This caads when the waiver of personal service was signed by the CP.

100% done, just needs to be tested/reviewed.

[2015-03-17 18:15] ChrisKast opened #58 "Notes Scripts----Client Contact---Issue with the date in dialog box & CAAD"
I've been trying to use the Client Contact scripts and it appears that the date in the dialog box doesn't auto populate the first "0"----3/17/2015 when it should be 03/17/2015.  You wouldn't thing that it's a big deal but since it pulls into CAAD it will error out when you hit enter because the date will not be in the correct format.  It appears on CAAD for me as 3/17/20155.  This could all be a u

[2015-03-18 11:53] theVKC commented on #58
?Hey @RobertFewins-Kalb, are you thinking what I'm thinking? Custom function for entering dates on CAAD?

NOTICE: Unless restricted by law, email correspondence to and from Anoka County government offices may be public data subject to the Minnesota Data Practices Act and/or may be disclosed to third parties.

[2015-03-18 14:02] RobertFewins-Kalb commented on #58
chin_stroke ... yes, @theVKC ... create_PRISM_friendly_date ...?

[2015-03-18 20:37] Dmjacob opened #59 "New Script Idea - Payment Received Note"
CAAD Notes when payment recieved at office and is being sent to Payment Center.

95% done - just finishing and then reviewing.

[2015-03-19 18:37] Dmjacob opened #60 "New Script Idea - Service of Process"
CAAD Notes when service of process is sent out.

95% done - just finishing and then reviewing.

[2015-03-19 18:39] Dmjacob opened #61 "New Script Ideas (5)"
Our group as thought of a few more ideas and will be chipping away at these in the next week:
-E-Filing CAAD note
-FIDM Checklist
-DVS Access CAAD note
-Transferring file out CAAD note
-Case closure criteria

[2015-03-19 18:50] RobertFewins-Kalb commented on #43
Here are two suggestions...

The easier way is to list them out by hand. If you want the user to select from a list of fruits, you would build the list like: "(select one)"+chr(9)+"Apple"+"Banana"+"Orange"+chr(9)+"Pineapple", fruit_choice

The more advanced way is to the create the list as a variable like so...
  list_of_fruits = "Apple"+chr(9)+"Banana"+chr(9)+"Orange"+chr(9)+"Pineapple"
And when

[2015-03-20 13:06] levesswe opened #62 "New Script Idea - Calculating Prorated Support"
I'm working on a script that will calculate prorated support...

[2015-03-20 13:07] levesswe opened #63 "New Script Idea - Search for a first name or last name on your CALI"
I have an idea to write a script that will search for a first name or last name on cali.

[2015-03-27 19:34] theVKC commented on #58
Let’s do it.

NOTICE: Unless restricted by law, email correspondence to and from Anoka County government offices may be public data subject to the Minnesota Data Practices Act and/or may be disclosed to third parties.

[2015-04-09 15:29] GayS opened #72 "NOTE - No Payments Month One-Four"
Help - I have this written but it isn't  working properly:  the DO LOOPs aren't working and the additional dialog boxes don't open. :(   If someone has a few minutes to look at the script, I would really appreciate it!

It is saved in my PRISM branch

Thanks!

[2015-04-10 18:58] theVKC commented on #61
Please separate into 5 sep issues, thanks!

[2015-04-10 18:58] #61 closed

[2015-04-10 19:02] #55 closed

[2015-04-10 19:02] #49 closed

[2015-04-10 19:03] wrightcountykaren opened #73 "Fee Suppression"
Idea to write a script to suppress the 2% state fee code when MNSure is open.  (Interface issue)

[2015-04-10 19:05] theVKC commented on #73
Good luck!

[2015-04-10 20:20] Dmjacob opened #75 "New Script Idea - E-filing CAAD note"
Hope to work on this one next week.

[2015-04-10 20:20] Dmjacob opened #76 "New Script Idea - FIDM check list"
Hope to work on this before the next meeting.

[2015-04-10 20:21] Dmjacob opened #77 "New Script Idea - Case closure Criteria"
Hope to work on this before the next meeting.

[2015-04-10 20:21] Dmjacob opened #78 "New Script Idea - DVS Access CAAD note"
Hope to work on this next week.   Please let me know if the L code happens.

[2015-04-10 20:22] Dmjacob opened #79 "New Script Idea - Transferring file out CAAD note"
Hope to work on this next week.

[2015-04-10 20:27] Dmjacob commented on #60
@theVKC - After investigating I don't believe these are duplicates.  I think we just need to rename them.  They are for different tasks.  I will look further into renaming them next week.   Thank you!

[2015-04-15 13:32] GayS opened #81 "NOTE - Client Contact"
The caad note doesn’t F8 to allow text to go to the next screen and just continues to write over the first 6 lines of text.

[2015-04-17 16:30] wrightcountykaren commented on #73
This is mostly done.  Thank you Robert for your help/suggestions!
It still has a problem.  The PRISM friendly date issue.  This script changes the fee eligible date out by 1 year, but it is not correctly adding the leading 0's on the date.  As soon as that has been fixed this script is ready to go :)

[2015-04-21 19:42] Dmjacob commented on #59
@theVKC - I am having 3 issues with this script.  How would you like me to send it so you can take a look?  Pull Request?

Issue 1- I put in looping to msgbox if no signature was entered - and it won't let me click OK or the X to escape the msgbox and get back to enter the signature.   I can't locate anything in my notes from training on how to fix this.

Issue 2- I am wondering if there is an eas

[2015-04-21 20:15] RobertFewins-Kalb commented on #59
Solution to Issue 2 - IF "on behalf of" (whatever the variable name is) <> "" (that's a back-to-back quotation mark) THEN CAAD note the information.

[2015-04-21 20:16] RobertFewins-Kalb commented on #59
Solution to Issue 3 - FormatCurrency(variable)

FormatCurrency is a command that returns a $##.## for any numeric value.

[2015-04-22 13:46] Dmjacob commented on #59
@RobertFewins-Kalb - i am not understanding the solution for Issue 2 - i would want it to omit the line all together and not CAAD note anything.    So far I have this as the line and don't know what to put after the THEN...

IF On_Behalf_Of <> "" THEN

[2015-04-22 13:50] Dmjacob commented on #59
Where do i enter the FormatCurrency command in my script?

(Thank you Robert?)

[2015-04-22 13:53] RobertFewins-Kalb commented on #59
Check out w3school for a good tutorial on FormatCurrency (http://www.w3schools.com/vbscript/func_formatcurrency.asp)

[2015-04-22 13:54] Dmjacob commented on #59
I was just doing a search on there.  Thank you!!

[2015-04-22 15:48] ajluebbe opened #87 "DDPL Calculator"
Adds payments on the Direct Depossed on from and to dates.
Assigned to Anoka

[2015-04-22 15:51] ajluebbe opened #88 "Pay or Report Script"
This template will generate a FREE CAAD note with order date, County Attorney Name and Purge condition in a Contempt Action where the Judge has ordered a series of make the payment by a certain date or if not, report to workhouse on a certain date.  This may span up to a 6 month period.  After the user enters the information in the edit boxes the script creates a FREE CAAD note and generates work

[2015-04-22 15:54] ajluebbe opened #89 "Medical Support Review"
Template for medical insurance with worklists.
Suggestion:  When CPPD, CPKD, NCPD, NCKD is updated  a caad and cawt will be created.

[2015-04-22 15:55] ajluebbe opened #90 "PRISM Screen Finder for MAXIS users"
Script will mimic the MAXIS Screen Finder but for MAXIS users in PRISM.  It will present screens in categories and navigate to the screen.

[2015-04-22 15:57] ajluebbe opened #91 "Intake for cases with orders"
Similar to the Paternity Intake script, the script will do doc generation from DORD and WORD.
Assigned to Anoka
HPH

[2015-04-22 15:58] ajluebbe opened #92 "MAXIS login for updating OATH"
Logs PRISM user into the correct Maxis session to update their Oath.
Assigned to Anoka
HPE

[2015-04-22 16:02] ajluebbe opened #93 "Court Prep Sheet"
Calls up the determined information needed for court from PRISM screens and transfering that information to a WORD document
ASSIGNED TO ANOKA
HPE

---

VKC update 01/18/2017

Per hackathon today, we are going to redesign the script. We are going to try and make it more usable for all court actions (as opposed to just contempt actions). Wendy is on it and it's no longer backlogged.

[2015-04-22 16:05] ajluebbe opened #94 "Locate"
Script will be a template that worker will use to check off the locate tools they used during their locate check.  The checked boxes will carry over to a CAAD note.  A worklist will be created for the next locate action to take place per state direction
ASSIGNED TO ANOKA
LPE

[2015-04-22 16:09] ajluebbe opened #95 "BULK Script for Notice of Continued Service Letter"
Jovan???

[2015-04-22 16:09] ajluebbe opened #96 "Bulk Script - Review case not payment - E0002"
Jovan???

[2015-04-24 12:19] #7 closed

[2015-04-24 18:20] khiestand commented on #81
Also, I think this script could be re-named, as you can use it to contact financial workers, other state and county CSO's, the helpdesk etc.  Maybe just call it Contact Note or something to that effect?

[2015-04-24 18:25] wrightcountykaren opened #98 "Non-payment letter to NCP"
This script will pull information out of PRISM and put it into a letter to the NCP regarding non-payment and the possibility of contempt action starting.  Items to pull:  NCP name, addr, MCI #, Monthly obligation, payment amt due which includes the 20%, date of last payment made.

[2015-04-24 18:37] theVKC opened #99 "File path for stats database is not being set as variable, correct ASAP"

[2015-05-01 17:18] ChrisKast commented on #87
I've been working on a script for this and have it just about complete except I cannot get it to sum (add) the payments.  If anyone would like to work on this with me please let me know.

[2015-05-07 14:39] levesswe commented on #87
Hi Chris,
I'd be happy to look at it for you and provide suggestions/feedback - where can I find your code?

[2015-05-07 14:47] ChrisKast commented on #87
Wendy,

I don’t appear to be sharp enough to make a pull request.  I have copied and pasted the code, hopefully you’ll be able to copy and paste it in the script host.  If that doesn’t work maybe you’ll have a better idea.  I copied parts and pieces of it from the PALC calculator script.  There is just some language in it that I can’t understand and I can’t seem to make it add up the payments and

[2015-05-07 16:31] levesswe commented on #87
LOL, I don't know if I'm that sharp, either!

I took a look at your code, and it appears the problem is in the if-then statement that checks to see if the date is between the start/end dates...  It looks like the problem may be that it is asked to compare the dates before reading them...  I've edited your code and (although I didn't verify the numbers) I think it's working:

Option Explicit

DIM b

[2015-05-07 17:04] ChrisKast commented on #87
Wendy,

Thanks for the help, it’s very appreaciated.

Good news is that it seems to work and I think I understand what was incorrect.
Bad news is that it isn’t adding correctly.

I’ll keep working on it but if you’d like to play around with it some more that would be great.

Chris

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Thursday, May 07, 2015 11:32 AM
To: MN-CS-Script-Team/P

[2015-05-07 17:17] ChrisKast commented on #87
I think it has something to do with row=8 and it appears to only be reading the dollars and not the cents and adds the payments twice.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Thursday, May 07, 2015 11:32 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Kast Christopher
Subject: Re: [PRISM-Scripts] DDPL Calculator (#87)

LOL, I don't know if I'm that sharp, either!

I took a look a

[2015-05-07 17:33] levesswe commented on #87
You know what I think? I think you're making it more difficult than it needs to be with that date range if-then statement.  If your script sets the issued from and issued to dates to be what the user entered on DDPL, all of the payments on the screen will be the correct range. I think you're just missing a "transmit" after they are written to the screen.

And to get your cents.... Change the 9 to

[2015-05-07 18:12] ChrisKast commented on #87
I finally understand the dollars and cents with EMReadScreen but I can’t figure out the double addition.  I hate to keep bothering you about this so if you don’t have the time to mess with it maybe it can get worked out at the Hack-a-thon later this month.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Thursday, May 07, 2015 12:34 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Kast Chr

[2015-05-07 19:15] levesswe commented on #87
Okay, I made a few edits... And the addition seems to work for me.  Try this code and see if it works for you!  If you still have problems, let me know the case you are testing in.

Option Explicit

DIM beta_agency

'LOADING ROUTINE FUNCTIONS (FOR PRISM)---------------------------------------------------------------
Dim URL, REQ, FSO 'Declares variables to be good to option explicit users
If beta_

[2015-05-07 19:27] ChrisKast commented on #87
WOW, it works.  I read thru your script and then re-read the previous email and I didn’t initially understand what you were talking about with the “transmit” but once I simply added that to the script it added correctly.  What does that command do, exactly?  Thank you for all the help so far, this script wouldn’t work without your help.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent

[2015-05-07 19:30] levesswe commented on #87
transmit is a custom function that runs the EMSendKey"" and EMWaitReady0,0 commands.

[2015-05-18 16:33] gretchent74 opened #104 "Arrears Case Transfer"
This scrip will transfer the case to the arrears team on CAAS, send dord doc's to ncp/cp, and create caad note.

[2015-05-29 13:34] RobertFewins-Kalb opened #106 "Merge MAXIS and PRISM FuncLibs"
Mayhaps we shall create a custom function that links to the MAXIS FuncLib so we are not duplicating our work and we can tap in to some of those sweet sweet existing functions.

[2015-05-29 19:19] wrightcountykaren commented on #73
The script is now working.  I just did a new pull request.

[2015-05-29 20:03] theVKC opened #119 "Fix issues on the NO PAYMENTS MONTH ONE-FOUR"
This was @GayS' script.

[2015-05-30 15:58] #106 closed

[2015-05-30 16:00] theVKC opened #121 "Remove functions from PRISM FuncLib if included in MAXIS FuncLib"

[2015-06-17 15:34] RobertFewins-Kalb commented on #95
@levesswe and I teamed up to make BULK - EVALUATE NOCS.vbs

Going to submit a pull request

[2015-06-17 15:55] RobertFewins-Kalb commented on #95
Resolved with #122

Anoka County is going to be testing this script in July. Any other agencies interested in testing? (I will leave this issue open for continued discussion.)

[2015-06-17 23:49] RobertFewins-Kalb opened #123 "Custom Function "run_another_script" is not working."
I think it is because the PRISM FuncLib is calling the MAXIS FuncLib and "run_another_script is located in both. I believe this is causing an issue.

[2015-06-17 23:49] RobertFewins-Kalb commented on #123
I will resolve this.

[2015-06-17 23:49] RobertFewins-Kalb commented on #123
(In case anyone is wondering, this issue causes a critical error in a script when you call "run_another_script." You cannot call the same function twice.

[2015-06-19 16:20] RobertFewins-Kalb opened #126 "We need a bulk main menu..."
In order to access the CALI TO EXCEL and ELAVUATE NOTICE OF CONTINUED SERVICES (NOCS) scripts, we will need a BULK main menu and the powerpad will need to be updated.

[2015-06-19 16:21] RobertFewins-Kalb commented on #126
Let's do this like Buddhists!

[2015-06-19 18:33] RobertFewins-Kalb opened #129 "Problem with NOTES - CLIENT CONTACT?"
Workers have reported some problems with NOTES - CLIENT CONTACT. Is it possible that It's calling old functions?

[2015-06-19 18:45] RobertFewins-Kalb commented on #129
Old functions have been replaced. I have tested the CLIENT CONTACT script on case 0000002229-01 in the training region. Looks like all it working well. I will upload the fix.

[2015-06-19 19:18] GayS opened #130 "Using Global Variables for Judges"
Suggestion to create a list of  judge names as part of the Global Variables similar to the "county attorney array" in Global Variables file and reference the array within script(s) to avoid having hard-code judge info.

[2015-06-19 22:16] RobertFewins-Kalb opened #131 "NEW SCRIPT IDEA >> BULK-USWT REPORT"
@levesswe  talked to me about an awesome BULK script idea and then I went a little overboard (as I do).

What about a BULK script that grabs all the statuses from the worker's USWT? This is akin to the BULK - DAIL Report in MAXIS?

Thoughts on how it should run...

The user is presented with a dialog..
![image](https://cloud.githubusercontent.com/assets/7842016/8263805/124aaf8e-16a4-11e5-8b4a-3fa8

[2015-06-24 19:26] RobertFewins-Kalb opened #136 "NEW SCRIPT IDEA >> COPY CORD & DORD Docs from PRISM into Word"
For e-File reasons, it might be necessary to paperlessly (I'm going to copyright that word) pull documents out of PRISM, generate Word docs, and save them with the electronic case file.

[2015-06-25 21:10] GayS commented on #129
Hey Robert - I'm still seeing the old functions in the CLIENT CONTACT did the pull request get merged?

[2015-07-02 19:10] RobertFewins-Kalb commented on #129
Sounds like @GayS has an actual solution rather than my hypothetical one. Thanks, Gay!!

[2015-07-02 19:17] #126 closed

[2015-07-02 19:17] #123 closed

[2015-07-10 21:18] GayS opened #148 "Bulk Transfer Cases - entire case load"
Any ideas on how to transfer an entire case load from one worker to another worker #?  This could be useful in the case of new hires, case banking, etc.

[2015-07-11 21:52] RobertFewins-Kalb commented on #148
Enter the same worker number in the first dialog for as many times as you need.

Anoka supervisors have asked for the ability to transfer an entire caseload and with this request I think an enhancement is in order.

[2015-07-11 21:54] RobertFewins-Kalb commented on #148
But...a critical bug needs to be fixed...pull request to come on Monday. Sorry if you've tried to use the script and it doesn't work.

[2015-07-13 13:23] GayS commented on #148
Great -  we seemed to be able to get some cases transferred after a couple of tries (user error - wrong worker #).  We were hoping to have the ability to enter current worker number, check here to transfer all cases, new worker number type of script.  Is that the direction you are going for Anoka?

[2015-07-13 18:39] #88 closed

[2015-07-13 18:44] RobertFewins-Kalb opened #151 "ENHANCEMENT REQUEST -- Dynamic Dialog and Auto-fill Dates in Pay or Report script"
Anoka County currently has an enhancement available for NOTES - PAY OR REPORT...
* Creates a dynamic dialog for only the number of months the user needs
* Autofills Pay Dates and Report Dates based on the start date and number of months selected

Thoughts?

[2015-07-13 21:56] RobertFewins-Kalb commented on #148
@GayS , I'm going to submit a pull request for this...

[2015-07-13 21:56] #148 closed

[2015-07-15 13:55] RobertFewins-Kalb opened #159 "RSDI Worklist Scrubber"
Staff in Stearns County has contacted me about the possibility of a worklist scrubber that cleans up worklist items where there is a discrepancy caused by RSDI income.

[2015-07-16 16:45] levesswe commented on #129
Two more issues with the Client Contact CAAD script that should be quick fixes: the Client Contact script is entering the current date for the caad note instead of the client contact date.  Also, there is a stray comma after the client contact date in the caad note text.

[2015-07-16 16:58] levesswe opened #163 "Enhancement request for PALC Calculator"
Currently the script is set to go through the entire PALC screen and perform its own logic to determine whether the amounts are in the date range entered by the user.  There's really no reason to have the script do that logic when you can input the date range and filter results on the PALC screen.  Modifying the script in this way will save processing time, no need to scroll through unneeded pages

[2015-07-16 18:15] GayS commented on #129
The date of the client contact was moved into the CAAD note as the attempts to get the CAAD note date to enter correctly weren’t working.  We felt the majority of the contacts would be noted on the same day.  The comma separates the date and time.   Would you suggest that the time be a mandatory field?

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Thursday, July 16, 2015 11:46 AM

[2015-07-16 18:26] RobertFewins-Kalb commented on #163
Thanks, Wendy!

[2015-07-16 18:28] RobertFewins-Kalb commented on #63
This is done. Closing issue.

[2015-07-16 18:28] #63 closed

[2015-07-16 18:30] RobertFewins-Kalb commented on #87
Script exists. Closing issue.

[2015-07-16 18:30] #87 closed

[2015-07-16 18:31] RobertFewins-Kalb commented on #98
Anoka County has a Word doc that we use for this. @paschell  and @levesswe  can speak more to this point, but we are also discussing building a worklist scrubber for E0002 worklist items that would load the doc for each case.

[2015-07-16 18:32] RobertFewins-Kalb commented on #96
We have an outline... any takes?

[2015-07-16 18:35] RobertFewins-Kalb commented on #129
Add a field for "CAAD Note Date?"

[2015-07-16 18:38] RobertFewins-Kalb commented on #62
Script exists. Thanks, @levesswe

[2015-07-16 18:38] #62 closed

[2015-07-16 18:44] RobertFewins-Kalb commented on #45
I cannot find the script in question in GitHub. Additionally, there is another issue created that seems identical to this one. I will close this issue and redirect your discussion to issue #52

[2015-07-16 18:44] #45 closed

[2015-07-16 18:44] #131 closed

[2015-07-16 18:45] RobertFewins-Kalb commented on #121
Done. Closing issue.

[2015-07-16 18:45] #121 closed

[2015-07-16 18:47] RobertFewins-Kalb commented on #104
Is this a new script idea? Do you have something in the works?

From your description, I am concerned that this is very specific to your agency. In Anoka, each worker has an arrears-only caseload. I have been working on a case transfer script that could take the place of this. I am thinking of a possible enhancement to that script that will make a list of all arrears-only cases (found on CAST by r

[2015-07-16 18:50] RobertFewins-Kalb commented on #104
Enhancement Request...

Please indicate reasons why your agency transfers cases from one caseload to another...
* Arrears Only
* Locate

...

[2015-07-16 18:52] #95 closed

[2015-07-16 18:54] #54 closed

[2015-07-16 18:55] RobertFewins-Kalb commented on #53
Closing this issue. We hit an exception access violation for being too awesome. The script is being modified to make it less awesome so the script host can handle it's lesser awesomeness.

[2015-07-16 18:55] #53 closed

[2015-07-16 18:57] RobertFewins-Kalb commented on #93
Closing issue #BecauseReasons

[2015-07-16 18:59] levesswe commented on #129
I know that not everyone enters a time in the note, so I don't think the time should be required.  Perhaps the script could see if a time is entered and include the comma before the time if it is, or just put the date in if no time is entered.

I think for now, it is fine that the date is today's date, some of us were just surprised by the change.

[2015-07-22 17:57] RobertFewins-Kalb opened #164 "PND2 report not adding correctly...?"
oops

[2015-07-22 18:58] RobertFewins-Kalb commented on #164
This is a maxis issue. Closing. Sorry for the confusion.

[2015-07-22 18:58] #164 closed

[2015-07-23 19:49] RobertFewins-Kalb opened #165 "Request for custom function -- Payment ID date converter for PALC, PAPL"
I am asking that someone build a custom function to convert the first 6 digits of a payment ID on PALC or PAPL into a date that vbs can use.

@kellijo81 , I understand you got this!!

[2015-07-27 21:57] #165 closed

[2015-07-27 21:57] #129 closed

[2015-07-29 14:05] RobertFewins-Kalb opened #168 "NEW SCRIPT IDEA >> NCP and CP Companion Case Finders"
Anoka County transfer NCP companion cases together when transferring out a caseload. To find these cases, workers have to go through their CALI, find the NCP's MCI, navigate to NCCB and look for companion cases.

[2015-07-29 15:03] RobertFewins-Kalb opened #169 "ENHANCEMENT REQUEST -- check_for_PRISM should also check to see that PRISM is timed out"
In MAXIS, check_for_MAXIS sends a transmit to determine whether the system has timed out. There is nothing like that in check_for_PRISM.

I would like to avoid sending a transmit to avoid errant information from being sent through the system. Instead, I think the function should send a PF3. Worse case scenario, the script just backs out.

[2015-07-29 16:56] RobertFewins-Kalb opened #171 "ENHANCEMENT REQUEST -- County Office Code Array in Global Variables"
There are 6 agencies that have multiple "Office" codes...
![image](https://cloud.githubusercontent.com/assets/7842016/8963978/a87a58a2-35e8-11e5-92d7-dc47db727fed.png)

None of those agencies are part of the collaborative (Jackson, Lyon (SWHHS), St. Louis, Nicollet, Nobles and Steele (MN Prairie)) but we need to keep this on the horizon.

[2015-07-29 18:12] RobertFewins-Kalb opened #172 "NEW SCRIPT IDEA >> Bulk script for identifying percent of arrears-only cases that have made a payment this fiscal year"
Anoka has a version currently being run. The problem is that it is very Anoka-specific. Having met with Jannell in Stearns County, I think I have found a way of broadening the script to make it work better for the collaborative.

[2015-07-30 20:31] RobertFewins-Kalb opened #174 "NEW SCRIPT IDEA >> USWT SCRUBBERS"
@levesswe , @paschell  and I were looking over the USWT scrubber script @kellijo81 submitted today. We had a thought about how to handle these scripts. Our thought is for a USWT Scrubber Main Menu script...

![image](https://cloud.githubusercontent.com/assets/7842016/8994264/e741fb02-36cf-11e5-9160-d006b55cdc66.png)

This would act only as a main menu and could run a script directly from it depend

[2015-07-30 20:31] RobertFewins-Kalb commented on #174
@GayS , think of this as a DAIL scrubber but with a user selection menu.

[2015-07-31 14:35] kellijo81 opened #177 "Bulk_Failure_POF"
We are getting an error on this line:

IF current_month = DatePart ("m", PAPL_most_recent_pay_date) THEN

It’s saying “mismatch”

[2015-07-31 14:39] RobertFewins-Kalb commented on #177
Yes. Your variable names are not consistent. You never create the variable "current_month." In the previous line, you establish that current_month_minus1 = DatePart("M", DateAdd("M", -1, date)).

After the collaborative phone call, @levesswe , @paschell  and I looked the script over and made some updates. I will submit a fix this morning.

[2015-07-31 14:49] GayS commented on #174
I'm thinking @RobertFewins-Kalb  meant to leave this comment for @levesswe , @paschell

[2015-07-31 14:57] kellijo81 commented on #177
Okay that worked. Now, we're getting error on the EMReadScreen line:
	Call navigate_to_PRISM_screen ("CAWT")
		transmit
		EMReadScreen CAWT_type, 8, 5

[2015-07-31 14:58] RobertFewins-Kalb commented on #177
Any takers? Collaborative powers, activate!!!

[2015-07-31 15:00] RobertFewins-Kalb commented on #174
No, I was just tagging you. :)

I'm just thinking that USWT scrubbers could start to function like the DAIL scrubber in that there could be a USWT Scrubber main menu that runs the individual scrubber scripts.

[2015-07-31 15:12] kellijo81 commented on #177
Okay that worked. Now we are at the end and are having difficulty getting it to purge.
Call navigate_to_PRISM_screen ("CAWT")
		transmit
		EMReadScreen CAWT_type, 5, CAWT_row, 45
			IF CAWT_type = "E0014" then
			EMWriteScreen "p", 4
			transmit
			transmit
			PF3
			PF3
			End If

[2015-07-31 15:12] #177 closed

[2015-07-31 15:12] GayS commented on #174
Sorry – I’m sooo confused.  Non-FW speak – what is a USWT?

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Friday, July 31, 2015 10:01 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Sikkink, Gay
Subject: Re: [PRISM-Scripts] NEW SCRIPT IDEA >> USWT SCRUBBERS (#174)

No, I was just tagging you. :)

I'm just thinking that USWT scrubbers could start to function like the DAIL scrubber in th

[2015-07-31 15:12] RobertFewins-Kalb commented on #177
Yes!!! Nice work!

[2015-08-05 22:06] levesswe opened #181 "New Script Idea: Review QW Information - L2500 & L2501"
Bulk script to assist with quarterly wage matches…

Similar to the bulk script already being created for the POF failure notice worklist…

My vision:  For each case with L2500 Review QW Information or L2501 Review QW Information, display the last three most recent employers’ names and addresses on the left hand side and on the right hand side display the company name and address information for th

[2015-08-05 22:11] RobertFewins-Kalb commented on #181
Like!

[2015-08-19 20:04] kellijo81 opened #183 "Script Question"
I am trying to get my script to find a “blank” within one column, but it could be found in any row 9 through 18. How do you write that in script? Do you do row 9 through 18 like the highlighted part below or how does the script know it can be in any row within that one column?  Thanks!

EMReadScreen Revw_type, 1, 9-18, 75

[2015-08-19 20:32] levesswe commented on #183
It’s not quite like what you have below.  Essentially, we will need to give it a command to check each column in row 9 through 18 individually, and then compare the value to blank.  We do that by creating a loop with a conditional statement inside.  Here’s an example of a simple loop you can copy and paste into your code, if I did it right ☺  :

For i = 9 to 18  ‘i is called a counter variable.  I

[2015-08-20 14:44] kellijo81 commented on #183
Thank you!! I was not aware of "i" and/or counter variables. . . still learning. lol

[2015-08-31 19:26] levesswe commented on #14
@theVKC states she resolved this issue.

[2015-08-31 19:26] #14 closed

[2015-08-31 19:34] levesswe commented on #75
@Dmjacob, do you want this issue?

[2015-08-31 19:36] levesswe commented on #51
Assigning to you!  How is the script coming along?

[2015-08-31 19:38] levesswe commented on #44
@jmarieraymond, I am assigning this issue to you!  How is your script coming along?  Can we close this issue?

[2015-08-31 19:39] jmarieraymond commented on #44
Yes, I believe it is as good as it will get, you can close it.

Thanks!
Jessica

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 2:38 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Jessica Raymond
Subject: Re: [PRISM-Scripts] New Script Idea - Emancipation CAAD Note (#44)

@jmarieraymond<https://github.com/jmarieraymond>, I am assigning this issue to you! How is y

[2015-08-31 19:40] levesswe commented on #78
@Dmjacob, wondering how this script is coming along.

[2015-08-31 19:46] ChrisKast commented on #51
Well.....to be honest I haven't been able to spend any time on scripts.  In the last couple of months we've gone completely paperless and moved our offices from one building to another which has had a huge impact on how we operate.  I've also missed many of the Thursday meetings due to some mandatory trainings that are scheduled for Thursdays.  I'm hoping to get back at them fairly soon.

[2015-08-31 19:48] ChrisKast commented on #136
this would be awesome......................

[2015-08-31 19:48] levesswe commented on #168
These scripts have been created!  Closing issue.

[2015-08-31 19:48] #168 closed

[2015-08-31 19:58] levesswe commented on #92
After discussing this matter, @RobertFewins-Kalb says "no" to this script idea.  Please see Robert for questions.

[2015-08-31 19:58] #92 closed

[2015-08-31 20:00] levesswe commented on #77
@Dmjacob, how is this script coming along?

[2015-08-31 20:02] levesswe commented on #172
Assigning to @RobertFewins-Kalb!

[2015-08-31 20:17] RobertFewins-Kalb commented on #136
There are issues with the formatting but it is nigh on ready.

[2015-08-31 20:19] levesswe commented on #136
@RobertFewins-Kalb has been working on this... we have made huge progress, but still have a few details to work out.

[2015-08-31 20:35] levesswe commented on #98
We have been working on a very generic non-pay ltr script, which basically done and I will upload to github. It wouldn't be that difficult to modify the generic letter to include the information you list above.

Also, we have asked the State if they will create a DORD Non-pay letter.  Fingers crossed!

[2015-08-31 20:40] levesswe commented on #91
Working on this today!!!

[2015-08-31 20:41] paschell commented on #51
Robert and I worked on this script a very long time ago, and it pretty much bombed as it got too big.

With all the other scripts being designed, DL and Case Review No payment, I am wondering if it is worth resurrecting.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 2:36 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Subject: Re:

[2015-09-10 19:41] #44 closed

[2015-09-14 15:28] levesswe commented on #183
Were you able to figure it out?  Can we close this issue?

[2015-09-14 15:36] kellijo81 commented on #183
Yes,  you can close it.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Monday, September 14, 2015 10:29 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Gauthier, Kelli
Subject: Re: [PRISM-Scripts] Script Question (#183)

Were you able to figure it out? Can we close this issue?

—
Reply to this email directly or view it on GitHub<https://github.com/MN-CS-Script-Team/PRISM-Scripts/issues/

[2015-09-14 15:36] #163 closed

[2015-09-14 15:44] levesswe commented on #20
Closing this issue because MAXIS scriptwriters are going to address this issue.

[2015-09-14 15:44] #20 closed

[2015-09-14 16:04] levesswe commented on #183
Closing issue

[2015-09-14 16:04] #183 closed

[2015-09-14 16:11] levesswe commented on #72
See #119

[2015-09-14 16:11] #72 closed

[2015-09-22 12:31] gretchent74 commented on #104
I do have this script completed.  I understand that not all counties have an arrears team and is very specific to my county.  This was my first script and I used it as a learning tool.  If anyone would like to the completed script let me know and I can share.

[2015-09-22 12:31] #104 closed

[2015-09-23 21:07] Dmjacob commented on #77
@levesswe - sorry to take so long to respond.  I just got back from Maternity leave for 12 weeks.   I am trying to catch up on my work here and then plan to look over my progress prior to going out.   I do not believe I started this one though.

[2015-09-25 14:48] #159 closed

[2015-10-12 13:31] kellijo81 commented on #181
I have a script built for this already, I just need a little help adding an Excel portion to it.

[2015-10-12 14:37] TammyStearns opened #192 "new script idea: worklist E4111 scrubber"
This will purge worklist if DLS is ACT on ENFL.

[2015-10-27 13:46] GayS opened #194 "Data/Stat Collection Language"
Some of the PRISM scripts are missing the "stats gathering" function.

[2015-10-29 18:28] GayS commented on #194
I'd be happy to work on these at 11/2 hack-a-thon.

[2015-10-29 19:00] theVKC commented on #194
Love it!

[2015-10-30 14:34] RobertFewins-Kalb commented on #119
I'll take a crack at this'n

[2015-10-30 15:32] RobertFewins-Kalb commented on #119
I'm submitting a fix. @GayS , please test to confirm that the functionality is what you originally intended?

[2015-10-30 15:35] #77 closed

[2015-10-30 15:35] #76 closed

[2015-10-30 15:48] GayS commented on #119
Thanks for fixing – unfortunately I have no way to test – no access to PRISM.

[2015-10-30 15:50] RobertFewins-Kalb commented on #119
Oh nos! It's in the master branch. I want to make sure it's OK before moving to beta.

Can you hand off to anyone in Stearns?

[2015-10-30 16:29] GayS commented on #119
I’ll check w/Kelli ☺

[2015-10-30 16:31] RobertFewins-Kalb commented on #119
I just checked with Kelli :) She's good to go.

[2015-10-30 16:32] GayS commented on #119
Awesome!! Thanks! ☺

[2015-10-30 18:02] gretchent74 commented on #42
used as a training tool

[2015-10-30 18:02] #42 closed

[2015-10-30 18:03] RobertFewins-Kalb commented on #172
Sweeeeeeeeeet!

[2015-10-30 18:10] gretchent74 opened #195 "notice of continued service script on power pad under notes"
when i use this script the worklist is not not purging automatically.  The p is there but i have to push enter for each worklsit to be purged instead of it automatically being purged.  Also my intitials for the caad notet are not actually being added in the caad note.  Thank you.

[2015-11-05 20:09] GayS commented on #194
This is completed and can be closed

[2015-11-05 20:09] #194 closed

[2015-11-17 20:32] levesswe commented on #192
Check out the script on beta, ready for testing.

[2015-11-18 06:24] theVKC opened #208 "We should probably remove my old email from the README"
I think references to me on the README should be removed for the time being (considering I don't work at Anoka anymore, and my state CS scripting is more-or-less "consulting" with the group). Please and thank you! @RobertFewins-Kalb, I'd love if you could facilitate this request. :)

[2015-12-02 17:15] #208 closed

[2015-12-03 18:59] levesswe commented on #73
Can this issue be closed, @wrightcountykaren?

[2015-12-03 19:01] levesswe commented on #52
@mjblees  Is this still a problem?  Can this issue be closed?

[2015-12-03 19:03] levesswe commented on #43
I believe this script is working as expected.

[2015-12-03 19:03] #43 closed

[2015-12-03 19:05] levesswe commented on #47
@wrightcountykaren, are you still working on this script, or can this issue be closed?

[2015-12-03 19:07] levesswe commented on #46
@khiestand, are you still working on this script, or can this issue be closed?

[2015-12-03 19:07] khiestand commented on #46
@levesswe This is done, it is on the power pad already :-)

[2015-12-03 21:02] levesswe commented on #73
@wrightcountykaren indicated that this issue is resolved and can be closed.

[2015-12-03 21:02] #73 closed

[2015-12-04 15:57] #195 closed

[2015-12-04 16:01] levesswe commented on #195
Gretchen, I wanted to add that I wasn't able to replicate the issue with your initials.  The script does not enter a CAAD note unless you put in some additional text to CAAD, and then it does.  This is something that we will clarify in the user documentation.

[2015-12-04 18:40] levesswe commented on #46
Closing issue

[2015-12-04 18:40] #46 closed

[2015-12-10 16:24] RobertFewins-Kalb opened #214 "ACTIONS >> CALI SEARCH not switching worker positions"
Worker reported problem with CALI SEARCH. When I try to search on another CALI, the script does not navigate to that CALI.

[2015-12-10 16:25] RobertFewins-Kalb opened #215 "There are too many branches."
We need to clean up the repo.

[2015-12-10 17:08] RobertFewins-Kalb commented on #215
Here's the plan, all. I am going to delete every branch other than MASTER, BETA, and RELEASE.

After hours, I am going to delete the master branch and pull a new master branch from BETA. Then I am going to do the same with release. There are too many merge conflicts and I have let this mess hang out there too long.

[2015-12-10 22:10] RobertFewins-Kalb commented on #214
Resolved

[2015-12-10 22:10] #214 closed

[2015-12-11 16:45] RobertFewins-Kalb commented on #215
We're back down to the basics.

[2015-12-11 16:45] #215 closed

[2015-12-11 16:47] RobertFewins-Kalb opened #217 "Bug -- DDPL needs to create 4-digit year"
There is functionality available to convert a two-digit year to a four-digit year. That is simpler than requiring the user to enter a four-digit year.

[2015-12-11 18:17] RobertFewins-Kalb commented on #217
Any takers?

[2015-12-11 19:04] RobertFewins-Kalb opened #218 "ENHANCEMENT -- create single tool for grabbing information for document generation"
@levesswe and I are starting work on a class with properties for CP information, NCP information, and financial information.

[2015-12-11 20:52] RobertFewins-Kalb commented on #218
This is just going to become a giant game...

[2015-12-11 20:56] RobertFewins-Kalb opened #219 "Enhancement request -- bulk >> cp/ncp companion case finders >> add check_for_prism"
Concerns have been raised that the some users are sitting on the confirmation and dialog for so long that PRISM times out. When the script resumes, it starts writing and the user is timed-out.

[2015-12-11 20:56] RobertFewins-Kalb commented on #219
I got this. I will not fail you, WOLVERINES!!

[2015-12-11 21:37] RobertFewins-Kalb commented on #218
@levesswe, @ChrisKast, I know you two are interested in this. I will pull my work into FuncLib today. Keep an eye on it. I am including properties in the class that split the CP and NCP names into first, middle initial, and last names...

![image](https://cloud.githubusercontent.com/assets/7842016/11756098/1b2b7284-a01d-11e5-8e85-75334e3d3cf2.png)

[2015-12-11 21:38] RobertFewins-Kalb commented on #218
To use the class, you will need to declare a new object. Something like this...

SET person = NEW doc_info...

[2015-12-11 22:20] RobertFewins-Kalb commented on #218
Thanks, @levesswe for pointing out CPDE and NCDE.

[2015-12-14 18:58] levesswe commented on #10
closing this issue

[2015-12-14 18:58] #10 closed

[2015-12-14 19:00] levesswe commented on #19
@RobertFewins-Kalb, this is working now, right?  Can we close this issue?

[2015-12-14 19:01] levesswe commented on #9
Now that we have documentation in SIR, I think this can be closed.

[2015-12-14 19:01] #9 closed

[2015-12-14 19:03] levesswe commented on #99
@RobertFewins-Kalb, is this working now?  Can we close this issue?

[2015-12-14 19:09] levesswe commented on #181
So the uploaded version of the BULK - REVIEW QW INFO.vbs script does not have all the bells and whistles I had envisioned, but will review the worklists to eliminate those whose employers are already in NCID/CPID.  The additional functionality I was thinking of may be a future enhancement.

[2015-12-14 19:11] RobertFewins-Kalb commented on #99
If it's a problem, it's not a problem for Anoka County.

Stearns folks -- @kellijo81 @GayS  -- are you able to gather stats?
Wright folks -- @khiestand -- are you able to gather stats?
Dakota folks -- @gretchent74 -- are you able to gather stats?
Olmsted folks -- @margmac17 @ChrisKast -- are you able to gather stats?

(Sorry if I missed anyone)

[2015-12-14 19:12] RobertFewins-Kalb commented on #19
If it's a problem, it's not a problem for Anoka County.

Stearns folks -- @kellijo81 @GayS -- are you able to gather stats?
Wright folks -- @khiestand -- are you able to gather stats?
Dakota folks -- @gretchent74 -- are you able to gather stats?
Olmsted folks -- @margmac17 @ChrisKast -- are you able to gather stats?

(Sorry if I missed anyone)

[2015-12-14 19:13] levesswe commented on #17
We are storing instructions on a provisional DHS-SIR page:

 https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/PRISMscripts/default.aspx

You will need to request access from Veronica Cary to be able to access them.

[2015-12-14 19:13] #17 closed

[2015-12-14 19:22] GayS commented on #19
The stat path is stored locally in the Global Variable file on line 12.

[2015-12-14 19:40] #192 closed

[2015-12-14 19:56] TammyStearns opened #222 "Unreimb/Unins Docs"
I ran this script and discovered it creates DORD doc F0659, however, it shows up as incomplete.  When running the script, I put the PERCENT amount in the script box but it did not add the PERCENT amount in the DORD document - therefore, the document was left as Incomplete.

[2015-12-14 19:57] theVKC commented on #19
I seem to remember the function may have been hardcoded with the Q:\ on it. @RobertFewins-Kalb or @levesswe, did you get rid of that function when we merged many CS functions with MAXIS FuncLib?

[2015-12-14 20:55] RobertFewins-Kalb commented on #19
I think we're good... (from the GH GlobVar...)

![image](https://cloud.githubusercontent.com/assets/7842016/11793710/be584fa2-a272-11e5-9c65-db175e386d4d.png)

[2015-12-15 17:42] theVKC commented on #19
I think @GayS confirmed yesterday that this is good to close.

[2015-12-15 18:44] GayS commented on #19
Yes

[2015-12-15 19:48] theVKC commented on #19
I'm hesitant to close it since I don't work with CS officially anymore. @levesswe, care to do the honors?

[2015-12-16 16:21] levesswe commented on #19
Sure, closing this issue.

[2015-12-16 16:21] #19 closed

[2015-12-16 16:24] levesswe commented on #48
Are you still working in on this script, Margaret?  Or can this issue be closed?

[2015-12-16 16:27] levesswe commented on #51
@ChrisKast , do you want to continue to keep this issue open and plan to finish the script, or close this issue?

[2015-12-16 16:32] ChrisKast commented on #51
You can close it.  It was just something I was messing with at the initial training.

Thank you.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Wednesday, December 16, 2015 10:29 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Kast Chris <kast.chris@CO.OLMSTED.MN.US>
Subject: Re: [PRISM-Scripts] New Script Idea - Case Review (#51)

@ChrisKast<https://g

[2015-12-16 16:39] levesswe commented on #51
Closing this issue.

[2015-12-16 16:39] #51 closed

[2015-12-16 16:42] levesswe commented on #222
Tammy, are you able to replicate this issue on the same case and/or other cases?  I am having trouble replicating the problem you are reporting.  Did you see the msgbox that appears to prompt for you to select the legal heading, and click OK after you selected the legal heading? I seem to remember something about some updated versions of PRISM not allowing users to do anything in PRISM while the m

[2015-12-16 16:46] TammyStearns commented on #222
I will test it out again today and let you know.

Thanks.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Wednesday, December 16, 2015 10:45 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Larson, Tammy
Subject: Re: [PRISM-Scripts] Unreimb/Unins Docs (#222)

Tammy, are you able to replicate this issue on the same case and/or other cases? I am having trouble replicating the problem you ar

[2015-12-16 18:34] margmac17 commented on #48
I have not had any time to finish it yet but can I close it anyway?
margaret

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Wednesday, December 16, 2015 10:27 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: McCabe Margaret <mccabe.margaret@CO.OLMSTED.MN.US>
Subject: Re: [PRISM-Scripts] PA Case Review Script (#48)

Are you still working in on this scrip

[2015-12-16 20:24] levesswe commented on #48
I'll close this issue for you, Margaret!  Thanks!

[2015-12-16 20:24] #48 closed

[2015-12-18 16:21] RobertFewins-Kalb opened #223 "enhancement -- create buttons on main menus to link to SIR instructions page"
We have something like this in Maxis Land and it's great.

[2016-01-04 21:48] RobertFewins-Kalb opened #224 "Enhancement to BULK >> CALI TO EXCEL, change worker"
A request has been made to allow CALI TO EXCEL to search off a specified PRISM worker position. Definitely a worthwhile endeavor.

@wrightcountykaren , did you want to take this one?

[2016-01-14 20:37] RobertFewins-Kalb opened #225 "Enhancement Request -- client contact"
Please verify that dates are being written MM/DD. It has been reported that it is writing M/DD for January 2016.

[2016-01-14 23:21] levesswe opened #226 "BUG - BULK-FAILURE POF - FSDI DFAS"
This script was not recognizing payments rec'd in January due to the new year.

[2016-01-14 23:24] levesswe commented on #226
Closing issue

[2016-01-14 23:24] #226 closed

[2016-01-14 23:26] levesswe commented on #99
I believe this issue is resolved, closing issue.

[2016-01-14 23:26] #99 closed

[2016-01-20 00:52] theVKC opened #227 "My name is still listed on the readme"
I'll update it and send a pull request. @RobertFewins-Kalb or @levesswe, please pull that in ASAP.

[2016-01-20 14:19] #227 closed

[2016-01-21 19:59] RobertFewins-Kalb commented on #223
Resolved on 01/19/2016

[2016-01-21 19:59] #223 closed

[2016-01-21 19:59] #218 closed

[2016-01-21 20:49] levesswe opened #229 "Bug for M6529 Worklist Scrubber"
There is an issue with the date format being entered by the script that is producing an error message.

[2016-01-29 16:16] #229 closed

[2016-02-08 15:26] ghost opened #232 "E4111 Review DLS PayPlan Draft Script"
In response to Pam's email, we had already started a script to purge this worklist. It still needs a little tweeking, but here's the bulk of the script for whomever would like to take it over:

'GATHERING STATS----------------------------------------------------------------------------------------------------
name_of_script = "BULK - E4111 WORKLIST SCRUBBER.vbs"
start_time = timer

Dim URL, REQ, F

[2016-02-08 17:08] levesswe commented on #47
Closing issue, currently being tested by beta team.

[2016-02-08 17:08] #47 closed

[2016-02-08 17:58] #224 closed

[2016-02-08 18:46] #57 closed

[2016-02-08 18:48] levesswe commented on #58
See #81

[2016-02-08 18:48] #58 closed

[2016-02-08 18:49] levesswe commented on #91
This has been completed.

[2016-02-08 18:49] #91 closed

[2016-02-08 18:50] levesswe commented on #79
@Dmjacob, are you still working on this one?

[2016-02-08 18:54] levesswe commented on #79
@mjblees, do you know if this script is still being worked on?

[2016-02-08 18:55] levesswe commented on #78
@mjblees, do you know if this script is still being worked on?

[2016-02-08 18:57] levesswe commented on #75
@mjblees, do you know if this script is still being worked on?

[2016-02-08 18:58] levesswe commented on #60
@mjblees, do you know if this script is still being worked on?

[2016-02-08 18:59] levesswe commented on #59
@mjblees, do you know if this script is still being worked on?

[2016-02-08 18:59] khiestand commented on #94
I can help with this one, we have a worker in Wright with the same idea!

[2016-02-08 19:00] khiestand commented on #225
@ RobertFewins-Kalb, I think this is working, I have not had an issue at all in 2016.

[2016-02-08 19:01] levesswe commented on #172
@RobertFewins-Kalb, this is working, right?  Can we close this issue?

[2016-02-08 20:33] RobertFewins-Kalb commented on #172
I haven't taken this on....wowza. I probably should.

[2016-02-09 14:32] levesswe commented on #75
Closing this issue as no one is currently working on this script.

[2016-02-09 14:32] #75 closed

[2016-02-11 20:19] RobertFewins-Kalb opened #237 "Enhancement >> NOTES - Adjustment needs err_msg handling"
NOTES >> Adjustment could use some better data validation. Looks like a great opportunity for some err_msg handling. At present the following variables are mandatory: worker_signature, reason_list, some checkboxes, but it looks like "reason_list" could use validation to be made mandatory.

Any takers?

[2016-02-11 20:43] khiestand opened #238 "NOTES - Intake Docs Rec'd Script - extra msgbox"
There is a blank msgbox that is popping up after you click OK and run the script.

[2016-02-11 21:23] gretchent74 commented on #237
I am working on this.  I will try to get done by early next week.

[2016-02-11 21:33] RobertFewins-Kalb commented on #237
Thanks, @gretchent74!!

[2016-02-11 21:42] RobertFewins-Kalb commented on #238
Good catch, @khiestand. It looks like the err_msg handling needs work. It always displays err_msg when it should be IF err_msg <> "" THEN MsgBox err_msg.

Any takers?

[2016-02-11 22:06] khiestand opened #239 "NOTES - Adjustments"
Check boxes need alignment
Make adjustment reason mandatory field
Make edit boxes a little bit bigger

[2016-02-12 05:08] theVKC commented on #31
I'm betting this is already in the MAXIS FuncLib if you're still using it. :)

[2016-02-12 05:13] theVKC commented on #39
I've been playing with classes over in MAXIS. I'd be interested in collaborating on a unified worker class that works for both MAXIS and PRISM...

[2016-02-12 15:03] theVKC commented on #225
FYI: two hackathons ago in MAXIS, we came up with a new method for this:

`footer_month = right("0" & datepart("m", date), 2)`

This takes up a single line and requires no logic whatsoever. It works quite well for any instance in which leading zeroes are required (PMIs in MMIS, anyone?).

[2016-02-12 17:17] RobertFewins-Kalb opened #240 "INSTRUCTIONS NEEDED"
I am reviewing our provisional SIR page. There are still a large number of scripts that need instructions. I am creating tasks in SIR for this work to get done. It sounds like @paschell and @levesswe have some instructions already made. They are going to get those uploaded ASAP.

When you can, please go to the provisional SIR page, under Tasks to see what you can do to get some instructions made.

[2016-02-12 17:43] RobertFewins-Kalb opened #241 "Enhancement -- Tab Order for MASTER NOTES Main Menu needs revision"
The tab order for the buttons in the NOTES main menu needs revision. New scripts have been added to the bottom of the tab order and it is not in alphabetical order.

[2016-02-22 17:35] #90 closed

[2016-02-25 20:54] #171 closed

[2016-02-25 20:55] RobertFewins-Kalb commented on #169
Closing. This function exists.

[2016-02-25 20:55] #169 closed

[2016-02-25 21:11] RobertFewins-Kalb opened #248 "Enhancement Request -- All lists Judges and Attorneys need to be in Global Variables"
We just realized that in NOTES >> DATE OF HEARING (EXPRO) and (JUDICIAL) the list of Judges and Attorneys are hard coded with Anoka County attorneys, magistrates and judges. Thought: These should be arrays in the Global Variables file so they can be specific to each county. Additionally @theVKC has already built a rocking function that converts the list to a usable string for a droplistbox. Then s

[2016-03-02 16:19] gretchent74 commented on #222
I think I discovered the problem and will update it soon.

[2016-03-02 21:11] RobertFewins-Kalb commented on #119
Closing this issue. It has been resolved.

[2016-03-02 21:11] #119 closed

[2016-03-02 21:12] RobertFewins-Kalb commented on #31
Closing. This totally is in the MAXIS FuncLib and we totally are using it.

[2016-03-02 21:12] #31 closed

[2016-03-02 21:16] RobertFewins-Kalb commented on #12
This has been updated for Anoka County. We can address this with other counties at April 2016 hackathon.

[2016-03-02 21:26] RobertFewins-Kalb commented on #11
Hey @theVKC  @levesswe, here's a thing -- I've been poking around with LPShanley's Agency Custom script and have modified it to look for .docx, .dotx, and .dotm files. Using @levesswe suggestion, I have built an Excel file that stores all the file names and form field names associated with specific values to be pulled from PRISM...

![image](https://cloud.githubusercontent.com/assets/7842016/13475

[2016-03-02 21:29] RobertFewins-Kalb commented on #248
Closing, however, because this is a duplicate of #130

[2016-03-02 21:29] #248 closed

[2016-03-02 21:31] RobertFewins-Kalb commented on #172
Progress has been made on a non-pay look up script. Currently in testing.

[2016-03-02 21:31] RobertFewins-Kalb commented on #172
But it is now able to identify arrears-only cases.

[2016-03-03 11:37] gretchent74 commented on #240
I don't have access to the SIR page yet  but if someone will let me know what scripts need instruction, I am willing to write instructions for any script.  Thanks!

[2016-03-03 15:11] paschell commented on #240
Hi Gretchen,  Some of the scripts with no instructions are:  Estab NPA DORD docs, Estab PA DORD docs, Court Order Requested, CSENet Info, No Pay months 1-4, ROP Detail, SOP Invoice, Waiver of Personal Services,  MES Financial DOCS, Intake Docs received.

Let me know which ones you may be interested in tackling and I will update the TASKS menu.  You can also send me the instruction document and I c

[2016-03-03 21:26] gretchent74 commented on #240
Pam,
I completed CSENET info and Court Order Requested instructions.  I emailed them both to you as an attached word document.  I will let me know if I have time for anymore next week.

[2016-03-09 23:54] levesswe commented on #50
How is this script going? Are you still working on this script or should we close this issue?

[2016-03-11 19:51] levesswe commented on #239
This should be resolved, closing issue.

[2016-03-11 19:51] #239 closed

[2016-03-11 19:51] levesswe commented on #237
This issue should be resolved.  Closing issue.

[2016-03-11 19:51] #237 closed

[2016-03-11 19:52] levesswe commented on #222
This should be resolved.  Closing issue.

[2016-03-11 19:52] #222 closed

[2016-03-11 19:56] levesswe commented on #225
That is a thing of beauty.  Thanks, @theVKC   Closing issue, as this issue is resolved.

[2016-03-11 19:56] #225 closed

[2016-03-18 20:28] khiestand opened #253 "CALI to Excel"
Could we add some text to the dialog to indicate if they do not check the box, what the script will do, or if not on the dialog, then in the instructions?  I don't see any instructions yet on the PRISM sir site.

[2016-03-21 21:54] #241 closed

[2016-03-23 22:02] levesswe commented on #253
I just posted instructions to DHS-Sir.

[2016-03-29 01:54] theVKC opened #254 "FuncLib block: my name and user data should be removed, I think..."
Right now, it says "Veronica" a lot, and links to my account ("theVKC"). Right now it auto-redirects, but if I changed my account name, who knows?

Probably good to update it to reflect the current status and path. Just thought I'd let you know. I won't be able to work on this at present, obviously, but perhaps one of the talented PRISM scriptwriters can clean it up?

[2016-03-29 20:21] KathyMutchler commented on #94
Is anybody working on this one?  I'm at training and would like to work on it. @RobertFewins-Kalb @levesswe

[2016-03-29 20:50] RobertFewins-Kalb commented on #94
@KathyMutchler & @khiestand ... stop, collaborate and listen!

[2016-03-30 18:30] khiestand commented on #253
Karen P is wondering if the following adjustment can be made:
She would like to see a check box for the worker to check if they want the payment info included.
Right now does it automatically include the past payment info?  She would like that to be optional.

[2016-03-30 18:42] levesswe commented on #79
As we decided at the 3/24/2016 meeting, we are closing this issue for now.

[2016-03-30 18:42] #79 closed

[2016-03-30 18:43] levesswe commented on #78
As we decided at the 3/24/2016 meeting, we are closing this issue for now.

[2016-03-30 18:43] #78 closed

[2016-03-30 18:43] levesswe commented on #60
As we decided at the 3/24/2016 meeting, we are closing this issue for now.

[2016-03-30 18:43] #60 closed

[2016-03-30 18:43] levesswe commented on #59
As we decided at the 3/24/2016 meeting, we are closing this issue for now.

[2016-03-30 18:43] #59 closed

[2016-03-30 18:44] levesswe commented on #52
As we decided at the 3/24/2016 meeting, we are closing this issue for now.

[2016-03-30 18:44] #52 closed

[2016-03-30 18:48] levesswe commented on #81
@khiestand, would you like to be assigned this issue about possible change to the name?  I think it would be okay to rename the text in the dialog and/or button, but I don't think it's worth it to rename the script.  Thoughts?

[2016-03-30 18:51] levesswe commented on #254
@RobertFewins-Kalb , could you take care of this?

[2016-03-30 18:56] khiestand commented on #81
@levesswe  I agree with you about renaming the text in the dialog and button.  Also, I am not sure the T1107 CONTACT WITH MN VITAL RECORDS contact type ever got saved?  I know you worked on that at 2/8/16 hackathon but when I am back at my desk at wright Co, the option is still not listed in the dropdown?  I just checked the code on Github and it is listed in the dropdown, so not sure what that co

[2016-03-30 19:33] GayS commented on #81
It will get very confusing if the script is named one thing on the power pad and within the dialog box and another in the master branch and in stats.  I would recommend that the script name change to be consistent everywhere......my two cents.

[2016-03-30 19:37] levesswe opened #256 "ACTIONS - PALC Calculator"
Error message generates when refunds have been issued.

[2016-03-30 19:37] khiestand commented on #81
Agree, it wouldn't be that hard to re-name the script itself too would it??

[2016-03-30 19:40] levesswe opened #257 "BULK - FI Match Not Eligible for Levy"
We would like to revise to add functionality to prompt for purge if there is no current address on NCDD.

[2016-03-30 19:40] GayS commented on #81
I don't believe so.

[2016-03-30 19:41] levesswe opened #258 "BULK - Review Case Referred"
Enhancement request to have the script check to see if there is an existing worklist on the case, and if not, prompt for purge.

[2016-03-30 19:43] levesswe opened #259 "BULK - Review Continued Interest Suppression"
BUG: change the date range of payments to be based on the last complete month rather than the last 90 calendar days.

[2016-03-30 19:44] levesswe opened #260 "BULK - Review Pay Plan - DL is Suspended"
Reported bug - isn't removing all matches

[2016-03-30 19:46] levesswe opened #261 "BULK - Review Pay Plan Recent Payment Activity"
Reported bug: isn't removing all matches.

[2016-03-30 20:39] levesswe commented on #81
Try accessing it again for the contact with vital office, Kelly.  I think I saved it in the wrong branch.

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Kelly Hiestand [mailto:notifications@github.com]
Sent: Wednesday, March 30, 2016 1:56 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>

[2016-03-30 20:45] jmarieraymond opened #262 "CAAD Note for Employment Verification Script"
In Washington County, we are supposed to provide a detailed FREE note upon the receipt of employment verification with specific information and in a specific format, would like to create a template that would copy information from NCID/CPID and enter into CAAD.

[2016-03-30 20:47] jlmartinone opened #263 "E-filing CAAD note script"
This would be a CAAD note script that would include e-filing submission/acceptance information. Including envelope #, date, time, what documents were e-filed.
If choosing to CAAD the submission, would then create a worklist to check for acceptance.
I will work on this with @khiestand

[2016-03-30 20:48] glorialink opened #264 "CAAD for Postal Verification"
In Washington County, we are supposed to provide a detailed FREE note upon the receipt of postal verification with specific information and in a specific format.  Would like to create a template that would copy information from NCDD/CPDD and enter into CAAD.

[2016-03-30 21:03] jlmartinone commented on #262
Is there a reason why it is a "FREE" note or could it modify one of these CAAD notes:
 M1466   INCOME DETAIL VERIFIED
 M1485   NCP INCOME DETAIL ADDED / CHANGED

[2016-03-30 21:11] RobertFewins-Kalb commented on #253
@khiestand, feel free to make that enhancement and add it to the version in master

[2016-03-31 13:08] jlmartinone opened #265 "CP last name change script"
Script that updates CP last name, alias screen and modifies the CAAD note.

[2016-03-31 17:44] khiestand opened #267 "AMPP Review Notes Script"
I am writing an AMPP review notes script for the child support worker to use.  It will involve the three CAAD codes: E9851, E9852, E9853.

[2016-03-31 19:52] khiestand opened #269 "Updated PRISM Func Lib CAAD code"
Updated the write_variable_in_CAAD and the write_bullet_and_variable_in_CAAD to include code to account for if an editbox is left blank.  It was automatically writing in fields that were left blank.
connect with Issue #268

[2016-04-01 16:29] khiestand opened #270 "Evaluate NCOS bug?"
When we have a worker run this script, it is getting hung up with the date.  She tried it today and it stalls wanting to put the date as 4/1/2016 instead of 04/01/2016.  Is Prism friendly date in this script?  Maybe we can take a peek on Monday!

[2016-04-01 20:39] levesswe commented on #267
Kelly, did you already see the Arrears Management script under NOTES?  It uses the same CAAD codes.

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Kelly Hiestand [mailto:notifications@github.com]
Sent: Thursday, March 31, 2016 12:44 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Subjec

[2016-04-01 20:41] levesswe commented on #270
Yes, let's check on that Monday. Hopefully it's a quick fix.

[2016-04-04 14:16] khiestand commented on #267
Yes just saw that, oops!  Never mind!

[2016-04-04 16:28] #270 closed

[2016-04-04 16:30] levesswe commented on #269
This issue has been pulled in.

[2016-04-04 16:30] #269 closed

[2016-04-04 16:30] levesswe commented on #267
Closing this issue.

[2016-04-04 16:30] #267 closed

[2016-04-04 16:34] levesswe commented on #81
In discussing this issue at our meeting today, we discussed that the ramifications of changing the name is not worth the benefit.

[2016-04-04 16:34] #81 closed

[2016-04-04 17:58] #238 closed

[2016-04-04 18:15] levesswe commented on #38
Closing this issue for now.

[2016-04-04 18:15] #38 closed

[2016-04-04 18:36] khiestand commented on #265
@levesswe , Robert just pulled this one in :-)

[2016-04-04 18:59] levesswe commented on #253
Resolves #271

[2016-04-04 18:59] #253 closed

[2016-04-04 21:14] #263 closed

[2016-04-04 21:17] levesswe commented on #39
Closing this issue for now.

[2016-04-04 21:17] #39 closed

[2016-04-04 21:18] RobertFewins-Kalb commented on #136
I'm going close this. We were able to work on something, but the DORD and CORD docs are formatted strangely so it's inconsistent.

[2016-04-04 21:18] #136 closed

[2016-04-05 13:30] levesswe commented on #265
Closing this issue.

[2016-04-05 13:30] #265 closed

[2016-04-05 13:40] levesswe commented on #56
@SFHennepin , how is this script going?  Is this issue resolved?

[2016-04-05 18:07] RobertFewins-Kalb commented on #94
This was completed today! Closing issue.

[2016-04-05 18:07] #94 closed

[2016-04-05 18:07] RobertFewins-Kalb commented on #256
I'll take a look at the code.

[2016-04-05 18:21] #256 closed

[2016-04-05 18:21] RobertFewins-Kalb commented on #256
Resolved. Closing

[2016-04-05 18:39] RobertFewins-Kalb opened #279 "New Custom Function for adjusting case in name"
Hows abouts a custom function that would ucase the first character and lcase the remaining of a string? It would need to ucase around a hyphenated last name as well.

[2016-04-05 18:42] RobertFewins-Kalb commented on #254
On it!

[2016-04-05 19:43] RobertFewins-Kalb commented on #279
I'm thinking this will require a restructure of _fix_case_

[2016-04-05 19:44] RobertFewins-Kalb commented on #254
That's master done

[2016-04-05 19:47] RobertFewins-Kalb commented on #254
I'm going to go ahead and close this. As changes are made to scripts in master, the funclib block change will trickle into beta and release.

[2016-04-05 19:47] #254 closed

[2016-04-05 19:52] RobertFewins-Kalb commented on #240
Closing this. I think the word is out there. Check the task list on the provisional SIR page to see what instructions need to be built.

Great work, all!!

[2016-04-05 19:52] #240 closed

[2016-04-05 19:55] RobertFewins-Kalb commented on #172
Going to submit a pull request tomorrow with this. Knocking out the issues...

[2016-04-05 19:55] RobertFewins-Kalb commented on #219
This has been completed.

[2016-04-05 19:55] #219 closed

[2016-04-05 19:59] RobertFewins-Kalb commented on #217
Close this. We have not been getting reports of problems.

[2016-04-05 19:59] #217 closed

[2016-04-05 20:10] RobertFewins-Kalb commented on #98
@paschell, what's the skinny on the non-pay letter? Who's cage do we need to rattle to get this finished?

[2016-04-05 20:18] paschell commented on #98
@RobertFewins-Kalb, Good question.  I was told it could take awhile but I will check into it.   Last check around Christmas it was still in the POLICY arena.

[2016-04-05 20:35] RobertFewins-Kalb commented on #279
I have decided not to do that. New custom function on the way.

[2016-04-05 20:59] RobertFewins-Kalb commented on #279
Resolved, closing

[2016-04-05 20:59] #279 closed

[2016-04-05 21:11] RobertFewins-Kalb commented on #50
After some discussion, this sounds like something would be better served as an agency-specific script. Closing.

[2016-04-05 21:11] #50 closed

[2016-04-05 21:13] RobertFewins-Kalb commented on #56
@gretchent74 is working on an emancipation script. It also sounds like this would be better served as a  agency-specific script. Closing.

[2016-04-05 21:13] #56 closed

[2016-04-05 21:16] RobertFewins-Kalb commented on #96
We put together a beast of a script that provided a lot of information to the user, but we were hitting an exception access violation. It sounds like this is being broken into smaller parts. Sounds like @levesswe is allocating resources to this project.

[2016-04-05 21:17] RobertFewins-Kalb commented on #98
Okum dokes! Thanks, @paschell!!

[2016-04-06 13:44] gretchent74 opened #280 "Review Pay Plan - DL is Suspended and Recent Payment Activity"
getting error for both scripts:  Script Error at Line 1, Column I: Name redefined.  Thank you.

[2016-04-06 14:06] RobertFewins-Kalb commented on #280
@gretchent74, to what scripts are you referring specifically? Notes? Actions?

[2016-04-06 14:07] gretchent74 commented on #280
Both BULK SCRIPTS
review pay plan dl is suspended and review pay plan recent payment activity.

[2016-04-06 14:10] RobertFewins-Kalb commented on #280
Should be working.

[2016-04-06 14:10] RobertFewins-Kalb commented on #280
...now

[2016-04-06 14:11] RobertFewins-Kalb commented on #280
Please let me know if the scripts are working. We can probably close the issue.

[2016-04-06 14:11] gretchent74 commented on #280
yes works great!

[2016-04-06 14:11] #280 closed

[2016-04-06 14:11] RobertFewins-Kalb commented on #280
Yes!

[2016-04-06 14:14] gretchent74 opened #281 "BULK Review Pay Plan Recent Payment Activity"
error with date format 03/31/20166  instead of 03/31/2016 so script is getting stuck.

[2016-04-06 14:56] RobertFewins-Kalb commented on #281
I think I was aware of this problem previously. What screen is the script getting stuck on?

[2016-04-06 15:00] gretchent74 commented on #281
palc

[2016-04-06 15:03] RobertFewins-Kalb commented on #281
We need to be sure that we are writing the dates as MM/DD/YYYY on PALC

[2016-04-06 15:05] RobertFewins-Kalb opened #282 "New Custom Function: Write dates on PALC"
We need to be sure that we are writing dates on PALC as MM/DD/YYYY. There is no functionality right now that supports that.

I'm thinking a mod to _create_mainframe_friendly_date_ that adds the slashes.

Resolves #281

[2016-04-06 15:15] RobertFewins-Kalb commented on #282
Nevermind... _create_mainframe_ready_date_ includes the slashes.

[2016-04-06 15:15] #282 closed

[2016-04-06 15:16] RobertFewins-Kalb commented on #281
The script needs _create_mainframe_friendly_date_ instead of a simple _EMWriteScreen_

[2016-04-06 15:18] #281 closed

[2016-04-06 17:55] RobertFewins-Kalb opened #283 "Global Variables Enhancement >> Add county code"
Thinking about report scripts, it might be easier if we can have the script autofill from the global variables file.

[2016-04-07 18:53] #172 closed

[2016-04-07 19:04] RobertFewins-Kalb commented on #283
BULK - NO PAY REPORT needs this value to run. I will update the default Global Variables file in GitHub.

[2016-04-07 19:07] RobertFewins-Kalb commented on #283
If you do not have a value for "county_cali_code" in your Global Variables, then BULK - NO PAY REPORT will not work for your agency.

[2016-04-07 19:13] RobertFewins-Kalb opened #284 "Bug -- NOTES - COURT ORDERED REQUESTED not working"
The main menu button is clicked and nothing happens.

[2016-04-08 13:06] #130 closed

[2016-04-08 14:32] #284 closed

[2016-04-15 13:41] khiestand opened #289 "Client Contact - add codes"
Karen is wondering if we can add the following in the drop down in the client contact script:

M2122 - Letter Recd from NCP
M2121 - Letter Recd from CP

[2016-04-21 19:14] RobertFewins-Kalb opened #291 "Enhancement -- Rename "Sharing is Caring" Folder"
@wrightcountykaren suggested renaming the folder for professionalism.

[2016-04-21 20:45] khiestand opened #295 "New Script - NOTES - Fraud Referral Made"
Working on a new CAAD/CAWT script that will use CAAD code M0010 and type details of possible fraud, referral made.  Will also give option to create a worklist to check back on status in 30/60/90 days.

[2016-04-22 13:03] #289 closed

[2016-04-23 13:25] #295 closed

[2016-04-25 14:38] levesswe commented on #283
@RobertFewins-Kalb, we updated the global variables file, but it lists county_cali_code twice... Once the duplicate is removed, can this issue be closed?

[2016-04-25 15:22] #283 closed

[2016-04-25 16:18] levesswe commented on #260
This issue should be resolved with the new re-worked script.

[2016-04-25 16:18] #260 closed

[2016-04-27 20:28] khiestand opened #298 "add CUF checkbox to adjustments script"
Can I add a checkbox for "CUF" (app fee) to the adjustment caad note script?

[2016-04-27 21:31] RobertFewins-Kalb commented on #298
What would checking said box make the script do?

[2016-04-28 12:25] khiestand commented on #298
Oh it is just another type of obligation, so it would just CAAD note if it was checked.

[2016-05-05 18:15] RobertFewins-Kalb opened #299 "Modify scripts structure"
Consider changes to the structure to enable simpler addition/removal of scripts, allow for agency customization of access to collaborative scripts.

- [ ] Build class & properties for scripts
- [ ] Build single file with all scripts and properties
- [ ] include list of using agencies as a property to allow agencies to filter out scripts they do not want to access
- [ ] modify main menus to make th

[2016-05-07 13:20] #299 closed

[2016-05-09 16:02] #298 closed

[2016-05-09 16:03] khiestand commented on #291
@RobertFewins-Kalb
I don't think I have access to change the name of this folder??

[2016-05-09 16:04] RobertFewins-Kalb commented on #291
You need to change the name of the files in the folder

[2016-05-09 16:25] khiestand commented on #291
@RobertFewins-Kalb
Ok I think I did it right, VC showed me

[2016-05-09 16:25] RobertFewins-Kalb commented on #291
Splendid!

[2016-05-09 17:21] #291 closed

[2016-05-09 19:30] khiestand opened #307 "Enhancement to Case Transfer Script"
I have added the option to the initial dialog box the option to transfer and caad note the details of a SINGLE case transfer.  I am not sure this is really a "bulk" script anymore?  I think it should be more of an "actions" script.  Thoughts?

[2016-05-09 20:27] KallistaImdieke opened #309 "Anoka Specific Global Variables on BULK - NO PAY REPORT"
I see this code and this is specific to Anoka drive scrips and does not run on other counties cases.  Other scipts that I have reviewed that are live and worked do not have the same code as this script.
[code]

[2016-05-09 20:37] RobertFewins-Kalb commented on #309
Can you provide the link. That is a link to the Anoka County GlobVar, but that is not in NOTES >> PAY OR REPORT.

[2016-05-09 20:44] RobertFewins-Kalb commented on #309
Also, the Global Variables call should not be on any scripts, they should be on the REDIRECT files.

[2016-05-09 20:47] KallistaImdieke commented on #309
I'm sorry I guess it is the BULK - NO PAY REPORT that I tested. https://github.com/KallistaImdieke/PRISM-Scripts/blob/master/Script%20Files/BULK/BULK%20-%20NO%20PAY%20REPORT.vbs

[2016-05-09 20:47] RobertFewins-Kalb commented on #309
Shnikeys!! That is entirely my fault. I will remove ASAP!! Thanks for reporting!!

[2016-05-09 20:48] KallistaImdieke commented on #309
Thank you!

[2016-05-09 20:59] #309 closed

[2016-05-09 21:04] KallistaImdieke commented on #309
Hey Robert,

I tried running that script and its saying that I am not logged into Prism but I am.  Any thoughts?

Kallista

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Monday, May 09, 2016 3:59 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Author <author@noreply.github.com>
Subject: Re: [MN-CS

[2016-05-09 21:06] RobertFewins-Kalb commented on #309
What is the exact error message?

[2016-05-09 21:08] KallistaImdieke commented on #309
I logged out of Prism and logged back in and now I am getting the message “your agency is not properly configured for this script. Please refer this error message to your scripts administrator.”

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Monday, May 09, 2016 4:07 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@c

[2016-05-09 21:08] RobertFewins-Kalb commented on #309
Any chance you could add a screenshot of just the error message?

[2016-05-09 21:10] RobertFewins-Kalb commented on #309
Ah! Yes, you need to update your Global Variables. @levesswe recently made revisions that require updates on your end. You can easily remedy this by adding `county_cali_code = ` (and then your county's 3-digit code on CALI) to the Global Variables file. The template has it right under the `county_name` variable.

[2016-05-09 21:10] KallistaImdieke commented on #309
[cid:image001.png@01D1AA0D.4361E180]

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Monday, May 09, 2016 4:08 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Author <author@noreply.github.com>
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] Anoka Specific Global Variables on BULK - NO PAY REPORT (#

[2016-05-09 21:11] RobertFewins-Kalb commented on #309
That did not work.

[2016-05-09 21:11] RobertFewins-Kalb commented on #309
This is what your GlobVar should have

![image](https://cloud.githubusercontent.com/assets/7842016/15128318/be874b5c-1600-11e6-9caf-54efd7673494.png)

[2016-05-09 21:12] RobertFewins-Kalb commented on #309
Except

`county_name = "Stearns County"
county_cali_code = ` << whatever Stearns' code is (I'm not sure off the top of my head)

[2016-05-09 21:14] KallistaImdieke commented on #309
Where is this located in the script??  Do you have the line number or is this located somewhere else?

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Monday, May 09, 2016 4:13 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Author <author@noreply.github.com>
Subject: Re: [MN-CS-Script-Team/PRISM-Sc

[2016-05-09 21:15] RobertFewins-Kalb commented on #309
It's your Global Variables file (I have no idea where Stearns keeps the cookie jar)

For Anoka County, it's lines 18 & 19

[2016-05-10 15:57] ChrisKast opened #311 "Is anyone having an issue with the Redirect Doc's Script"
I'm getting an error "Something has gone wrong..."

[2016-05-10 16:04] RobertFewins-Kalb commented on #311
On it! URL error on the All Scripts doc. Thank you for reporting.

[2016-05-10 16:06] #311 closed

[2016-05-10 16:06] RobertFewins-Kalb commented on #311
Should be working!

[2016-05-10 16:09] ChrisKast commented on #311
Perfectly I might add.   Are you applying for the child support script writers job at the state?

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 11:07 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Kast Chris <kast.chris@CO.OLMSTED.MN.US>; Author <author@noreply.github.com>
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] Is anyone

[2016-05-10 16:10] ChrisKast commented on #311
Somebody here asked if I was…………I laughed and said it would be like hiring Fred Flinestone to be a nuclear scientist………………..

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 11:07 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Kast Chris <kast.chris@CO.OLMSTED.MN.US>; Author <author@noreply.github.com>
Subject: Re: [MN-CS-Script-T

[2016-05-12 15:45] RobertFewins-Kalb opened #313 "Scripts Restructure Part Deux"
My restructure hit a snag. CASE TRANSFER (single case) is currently labelled as a notes and actions script (which I think is fine). The problem is that the main menu cannot find it.

I am thinking this requires a second restructure eliminating the ACTIONS, NOTES, and BULK folders and just putting scripts in the single SCRIPT FILES folder.

For now, I am going to just make CASE TRANSFER an ACTIONS

[2016-05-12 18:58] theVKC opened #314 "I left a few files over here"
I just caught that I have a couple of VKC test/dev files that haven't been updated in a long, long time. I'll remove them in a pull request.

[2016-05-12 19:17] #314 closed

[2016-05-18 22:03] RobertFewins-Kalb opened #316 "FUNC LIB -- new function to write text to CORD paragraph"
On it

[2016-05-18 22:05] #316 closed

[2016-05-19 17:47] levesswe opened #318 "County-Specific CORD docs"
New script idea for automating selections, de-selections, and adding agency-specific paragraphs in CORD.

[2016-05-19 17:47] #318 closed

[2016-05-20 15:18] RobertFewins-Kalb opened #319 "MAXIS FuncLib is causing problems for scripts restructure"
In MAXIS FuncLib, there is code: county_name = ""

This is reseting the county name field and inhibiting counties from setting their own main menus.

[2016-05-20 15:24] #319 closed

[2016-05-20 16:35] RobertFewins-Kalb opened #320 "Move scripts restructure to production"
The restructure has been tested and is working. I will work on merging the structure to production.

[2016-05-20 19:12] gretchent74 opened #321 "BULK- No Pay Report"
error: your agency is not properly configured for this script.  refer to scripts administrator.

[2016-05-20 19:25] gretchent74 opened #322 "Enhancement to ACTIONS - Un Un Docs"
adding the option to CAAD note when un un documents returned and to sent dord documents to non requesting participant.

[2016-05-20 19:30] RobertFewins-Kalb commented on #321
You need to add `county_cali_code` variable to your Global Variables file...

![image](https://cloud.githubusercontent.com/assets/7842016/15439695/5d501720-1e97-11e6-937e-52c757a10349.png)

[2016-05-20 19:35] gretchent74 commented on #321
Perfect.  It works now.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Friday, May 20, 2016 2:30 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Thornbrugh, Gretchen; Author
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] BULK- No Pay Report (#321)

You need to add county_cali_code variable to your Global Variables file...

[image]<https://cloud.githubusercontent.com/assets/7842016/1543

[2016-05-20 19:35] #321 closed

[2016-05-20 19:36] RobertFewins-Kalb commented on #321
https://github.com/MN-CS-Script-Team/PRISM-Scripts/issues/321#issuecomment-220699032

[2016-05-23 17:05] theVKC commented on #319
Hi @RobertFewins-Kalb... could we not work our same logic from MAXIS scripts into the PRISM scripts, and get county info on demand if it isn't specified?

Alternatively, I'd be open to adding functionality to only reset this if global variables for PRISM didn't already set it.

I just don't want to see PRISM scriptwriters losing access to MAXIS-driven changes, nor do I want to see redundancy creat

[2016-05-23 17:57] theVKC commented on #319
It's not a current functionality issue, it's a future functionality issue. Let's futureproof by moving toward a single FuncLib. Especially since DHS is hiring a PRISM scriptwriter.

`IF county_name <> ""` breaks functionality with older MAXIS GlobVars, because I intentionally want to override counties setting this manually (see `get_county_code`, which also helps in scriptwriters and multi-county

[2016-05-23 18:07] gretchent74 opened #326 "NOTES - IW CAAD CAWT"
need to fix calculation because script is adding 20% when it shouldn't.

[2016-05-23 18:10] gretchent74 opened #327 "County Specific Changes problems"
The 5 scripts that were requested to be removed for DAKOTA were only removed for the super users.  #324

[2016-05-23 18:11] gretchent74 commented on #326
will you assign this to me.

[2016-05-23 18:33] RobertFewins-Kalb commented on #319
It is a current functionality issue because currently PRISM scripts don't work as intended when calling MAXIS FuncLib. I'm also trying to maintain stability for PRISM script writers but not asking them to modify their agency's global variables file again.

[2016-05-23 18:40] RobertFewins-Kalb commented on #327
Yes. Maintaining two lists allows agencies to test scripts before accepting them in production (particularly helpful for agencies that will join the collaborative in the future). You will need to remove Dakota from those scripts on this file...

https://github.com/MN-CS-Script-Team/PRISM-Scripts/blob/beta/ALL%20SCRIPTS.vbs

[2016-05-23 18:41] RobertFewins-Kalb commented on #326
Yep

[2016-05-23 19:01] theVKC commented on #319
I don't think you'd have to. I think if you add a variable to the PRISM FuncLib (`PRISM_FuncLib_run = true` for example), then agency GlobVar does not require an update and the supported FuncLib can take that functionality and work with it. Eventually as integration progresses, I foresee offering unified GlobVar to reduce work needed for county admins to go live on scripts.

In any case, my sugges

[2016-05-23 19:03] theVKC commented on #319
I'll even push it through the release cycle so it's live in release. I'd just hate to see this connection broken. It increases redundancy for script admins to separate the two.

[2016-05-23 19:54] gretchent74 commented on #327
#328 fixed thanks you

[2016-05-23 19:54] #327 closed

[2016-05-25 19:44] theVKC opened #331 "Sample funclib call for PRISM appears to be out-of-date"
I can see it's the old one, just caught that while I was looking for a PRISM function for a MAXIS thing.

https://github.com/MN-CS-Script-Team/PRISM-Scripts/blob/master/sample%20funclib%20call.vbs

[2016-05-25 19:47] theVKC opened #332 "Function run_from_GitHub(url) also has the old error message"
It has my name in it, instead of Robert's as the other ones do! Just caught that as I'm perusing the code looking for something which I'm preparing to swipe from you-all. :)

[2016-05-26 12:30] gretchent74 commented on #326
calculation fixed.  #330

[2016-05-26 12:30] #326 closed

[2016-05-26 14:19] RobertFewins-Kalb opened #333 "Bug BULK >> CALI TO EXCEL"
The Do/Loop that grabs cases off CALI is problematic. I am submitting a fix.

[2016-05-26 14:36] paschell opened #334 "Enhancement to BULK - CALI to EXCEL"
Would like to add additional options to see if NCP has a known address and is there an open LETL to make the list more friendly for locating contempt eligible cases.

[2016-05-26 14:36] #333 closed

[2016-05-26 17:26] RobertFewins-Kalb commented on #322
Closed by #325

[2016-05-26 17:26] RobertFewins-Kalb commented on #320
Done

[2016-05-26 17:26] #320 closed

[2016-05-27 20:59] RobertFewins-Kalb commented on #151
Anoka County has been running a version of this script for months. Going to submit a pull request.

[2016-05-27 21:01] #151 closed

[2016-05-27 21:43] RobertFewins-Kalb opened #337 "Enhancement -- Point SIR Instructions at specific views"
Currently, when a user presses to navigate to the SIR instructions site, it points them at the all instructions view. Mayhaps the button in BULK should navigate to the All BULK Scripts view, et al.

[2016-05-27 21:44] #337 closed

[2016-05-31 18:10] theVKC commented on #337
I like this plan and might steal it for MAXIS. :) :)

[2016-06-02 19:54] theVKC commented on #11
See https://github.com/MN-Script-Team/BZS-FuncLib/issues/234. I am hoping to wrap this one up this month. I'd like to get it documented in time for some MAXIS changes taking place over the summer, and PRISM could hopefully use it.

[2016-06-08 15:19] RobertFewins-Kalb opened #339 "Bug >> No Pay Report not writing date properly on PALC"
Bug was reported by @khiestand

Script needs an create_mainframe_friend_date

[2016-06-09 18:00] #339 closed

[2016-06-13 14:57] khiestand opened #342 "SOP Invoice New Checkbox"
I added a checkbox for when substitute service is used.

[2016-06-13 15:52] khiestand opened #345 "New NOTES script- genetic testing invoice"
Created a new script for caad noting genetic testing invoices.

[2016-06-13 16:24] #342 closed

[2016-06-13 16:28] #345 closed

[2016-06-13 18:32] levesswe opened #349 "Functions update"
The functions for writing a variable to CAAD and entering a bullet item to CAAD should be updated using EMWriteScreen rather than EMSendkey.  EMWriteScreen is a more efficient way of writing the data and has fewer problems...

[2016-06-13 18:37] khiestand commented on #307
@RobertFewins-Kalb
did anything ever happen with this?  I think I added the option to either transfer in bulk or one case at a time, but it needed to be moved to "actions" button?

[2016-06-13 20:12] khiestand opened #350 "Returned Mail Notes Script"
This is a new CAAD note script that will use the R0010, R0011, R0012 caad codes to note the details of returned mail received.  It will state the type of document received and what address is now bad, and date returned mail was received.  If anyone has anything else they want added to this let me know!

[2016-06-14 13:47] levesswe commented on #350
Also provide options to update the participant's address with a  forwarding address or set the participant's address to unknown.

[2016-06-14 13:54] #331 closed

[2016-06-14 13:59] levesswe commented on #332
@RobertFewins-Kalb  fixed this issue.

[2016-06-14 13:59] #332 closed

[2016-06-14 15:23] #307 closed

[2016-06-14 15:24] RobertFewins-Kalb opened #352 "BULK Case Transfer should be ACTIONS Case Transfer"
Now that the script has 3 run modes, it makes more sense for it to be an ACTIONS script.

[2016-06-14 15:34] #352 closed

[2016-06-27 21:14] levesswe opened #355 "New script idea: Paternity Sanction Script"
This is an Anoka-county only script that assists users in applying or lifting a sanction for failure to cooperate with child support services:

Applying a sanction:
- Update GCSC to show not cooperating with child support with reason why
- Change file location on CAST to "SANC"
- Add a worklist to send a reminder in 28 days
- Create a memo to FAS and/or CCA worker re cooperation (Anoka County Word

[2016-06-27 21:15] #355 closed

[2016-06-28 15:36] levesswe opened #358 "New script idea: F0104 DORD Memo doc editor"
This script idea is to assist users in creating DORD F0104 Memo docs.

The script allows the user to select a recipient, and includes an option to send the same memo text to both the CP and NCP.

The script has a preview button to allow the user to see the text they have entered, and enables the user to easily modify their memo without having to worry about subsequent lines of text, as long as the

[2016-06-28 15:39] #358 closed

[2016-06-28 19:38] levesswe opened #359 "Enhancement to NOTES - ARREARS MGMT REVIEW.vbs"
Enhancements to the Arrears Mgmt Review script:
- Include additional arrears management-related CAAD codes: E9854, E9860, E9865
- Include a link to Arrears Management information on DHS-Sir
- Modify dialog to allow date ranges for each common reason for arrears mgmt.
- Include a reason detail field that is required if the reason for arrears mgmt. is "other"

[2016-06-29 20:53] levesswe opened #360 "Enhancement to NOTES - PAY OR REPORT"
Adding County Attorney and Court File numbers to the reminder worklists and CAAD note created by the script.

[2016-06-30 17:09] #359 closed

[2016-06-30 19:41] #360 closed

[2016-07-01 20:29] levesswe opened #362 "Enhancement to ACTIONS - F0104 DORD MEMO"
Create option to spell check the memo text.

The option will open a new Word doc and write the memo text to it, and then run the spell/grammar checker.  The user can skip or change as they wish to, and then the text (with any modifications) is sent back to the dialog for the user to preview or send to DORD F0104 Memo.

The only issue with this is that the Word document with the modified text will

[2016-07-05 15:35] levesswe commented on #362
We may be able to get it to close programmatically if we can figure out what method closes without saving changes.  “Close” isn’t it.

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, July 05, 2016 8:51 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scri

[2016-07-05 16:05] levesswe commented on #362
Ohhh, I think I found a winning combination!

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, July 05, 2016 8:51 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Wendy K. LeVesseur <Wendy.LeVesseur@co.anoka.mn.us>; Assign <

[2016-07-05 16:34] theVKC commented on #362
Good deal! What did you do?

[2016-07-05 17:42] levesswe commented on #362
objDoc.Close(0)

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, July 05, 2016 11:34 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Wendy K. LeVesseur <Wendy.LeVesseur@co.anoka.mn.us>; Assign <assign@noreply.github.com>
S

[2016-07-05 18:37] theVKC commented on #362
Wonderful!!

[2016-07-06 14:08] KallistaImdieke opened #364 "E0014 Failure of POF script"
I just ran this script today. I had 25 work lists total this script purged 7 of them. However there were 10 additional Social Security POF's that were not purged where a payment came in,  they were for the following:

Social Sec Admin St Cloud
Social Sec Admin Richmond IN
Social Sec Admin Creston IA
Social Sec Admin Minneapolis
Social Sec Admin Austin.

Can we do an improvement to include the abov

[2016-07-06 16:15] #362 closed

[2016-07-06 16:18] levesswe commented on #364
This is a bug.  I'll take a look at it.

[2016-07-11 14:37] KallistaImdieke opened #365 "Pay or Report Note Script"
I attempted to use this script and received the following error message

"Script Error at Line 1, Column 1: path not found"

Not sure why this is.  I closed prism and reopened it and am still having it.

thanks!

[2016-07-11 15:27] KallistaImdieke opened #369 "REVW QW INFO - Bulk Script: description is wonky"
On this script the description that shows in prism when you click on the buttons is not correct it currently states "Purges all M8001 (REVW Case Referred) work list from your USWT"  But what it actually does is review all 2500 and 2501 work lists on your caseload and purges the work list if the employer is already on NCIP/CPID

Thank you!!

[2016-07-11 15:35] KallistaImdieke opened #370 "ENFORCEMENT INTAKE ACTION SCRIPT"
Issues with the word documents, when I select the Case Opening - Welcome Letter, Court Order Summary, or CP New Order Summary then I receive a error message. If I do not select those word documents then the script runs however when it get's to adding the CAWT work list the date is entering wrong 7/21/2016 it is missing the zero in front of the month, and it states that "the script could not naviga

[2016-07-13 21:56] #365 closed

[2016-07-14 13:57] levesswe commented on #370
Because of the Word Documents, this should be an Anoka-only script.  The ACTIONS - GENERIC ENFORCEMENT INTAKE.vbs script is basically the same as this script without the Word documents, so that's the one you should test.  If you have Word documents your county uses that you would like to incorporate into the script, you can use this script as an example for how it could be done.

I think this scri

[2016-07-14 16:09] KallistaImdieke opened #373 "NOTES - DATE OF THE HEARING EXPRO and JUDICIAL - move magistrates and attorneys to GlobVar"
It was brought to my attention today by a worker here in Stearns that this script does not include child support magistrates for Stearns County or the County Attorneys.  looks like this maybe a county specific script?  Is there a way to have this script pull in the Stearns County information (or all counties bases on a variable so it works for all counties?) as this script may start being used mor

[2016-07-14 16:32] paschell opened #374 "NOTES -PAY OR REPORT"
The first dialog box (Case information) 1.   does not pull in the case number, user has to enter, unlike all other scripts,  2.  in selecting the first report month/year is there a way to notify the worker that the month should start following the 1st paydate?  3.  The worklist should also contain the Attorney present at the hearing.  4.  The  CAAD note did not include the conditions, or county at

[2016-07-14 19:20] RobertFewins-Kalb opened #375 "Modification to Fee Suppression Override"
@wrightcountykaren has brought it to our attention that the Fee Suppression Override needs revision.

@gretchent74 has volunteered.

[2016-07-15 15:20] theVKC commented on #365
@KallistaImdieke, this happens when a script cannot find a Global Variables file. @RobertFewins-Kalb appears to have resolved the issue.

You may want to consider asking IT for approval to install GitHub Desktop. I'd be happy to show everyone how to use it at the next hackathon. There's MAXIS-centric documentation that pretty much explains it as well, that's on SIR.

[2016-07-15 20:14] gretchent74 commented on #375
This script has been updated and a pull request made.  FYI.  I don't have supervisor access to suppress fees so little testing has been done.  Please let me know if you have any suggestions.  This script has been updated allow users to manual add date for fee suppression and to choose a standard caad note or create their own caad note.

[2016-07-20 21:26] levesswe opened #381 "Bug fix/enhancement to ACTIONS - SEND DORD MEMO"
Users reported a bug that was sometimes causing an error message regarding the value of array_position, and also we received requests to make the memo text field longer.  This update also improves the script so that the preview function is a true depiction of the pagination of the DORD Notice.  Also, the user is prompted with a message box when the previewed or generated memo text exceed the limit

[2016-07-20 22:08] #381 closed

[2016-07-26 14:41] jannellstearns opened #383 "NEW IDEA- default order script"
Veronica- this one should be assigned to you per our email conversation.

Currently, any county that uses CORD to do their legal actions will need to generate a default order if a party doesn’t request a hearing.  This would only be in cases for modification, establishment and motion to set (paternity cases require a hearing)

The process for doing a default order is to essentially re-create our s

[2016-07-26 15:01] theVKC commented on #383
Hi Jannell! I've assigned it to myself. Based on the description and the current label designations, I'm thinking this would be an ACTIONS script. Let me know if it isn't.

[2016-07-26 15:02] jannellstearns commented on #383
Definitely an Action script!  Thanks Veronica!!!

[2016-07-26 16:08] levesswe opened #384 "ACTIONS - SEND F0104 DORD MEMO"
Error message "Doc Request [case number] - INC does not exist" when sending to both parties.

[2016-07-27 17:57] wrightcountykaren opened #386 "Actions-Send F0104 Dord Memo enhancement"
Enhancement idea for the DORD memo doc script:
- add a check box for the doc to be printed now
- add a pop-up dialog box that shows up after the script is run if the print now box is checked that says something like "updates to CAAD".  Then the CSO could type a short explanation that could be added to the caad note, for example:  To NCP, re:  DL being suspended, please call.

[2016-07-28 18:48] theVKC opened #387 "MOD CAAD NOTE: Name of script must change"
There's a non-critical error in this script because the filename cannot include a colon.

https://github.com/MN-CS-Script-Team/PRISM-Scripts/blob/master/Script%20Files/NOTES/NOTES%20-%20MOD%20CAAD%20NOTE:%20CONTACT%20CHECKLIST.vbs

That colon doesn't run on Windows, so it's non-editable in it's current state. I'll take the issue and resolve it, but I'm curious: can anyone use it?

[2016-07-28 18:50] KallistaImdieke commented on #387
We have been using it here in Stearns with no issues.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, July 28, 2016 1:48 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Subject: [MN-CS-Script-Team/PRISM-Scripts] MOD CAAD NOTE: Name of script must change (#387)

There's a non-critical error in this script because the filename cannot include a colon.

[2016-07-28 18:50] theVKC opened #388 "Remove "Log into PRISM training region" from Power Pad and repo, no longer supported"
On it

[2016-07-28 18:51] theVKC commented on #387
Thank you Kallista! It might just be a problem then for users using GitHub Desktop. Has anyone out there who uses GitHub Desktop experienced an issue while editing scripts?

[2016-07-28 18:53] theVKC commented on #387
Also @RobertFewins-Kalb: I can see you moved the file, but I am not privy to the past info, so I'm not sure if you were the creator, so I'll say this to everyone...

Friendly reminder: any invalid Windows characters are invalid script-file-name characters.

[2016-07-28 21:31] theVKC opened #389 "Can a source ZMD link be used to create a script that'll automatically reset Power Pads?"
If a source ZMD can be reset (ala my old standby for Anoka called ACTIONS - INITIALIZE SCRIPTS) using a link, and we could provide a script as part of the start-up package that recreates this, then in theory we could create a tool which IT/power users could share with their script-using staff when their Power Pads "disappear". This would be really helpful.

Also interesting is this:
http://www3.ro

[2016-08-01 15:28] theVKC commented on #11
OK all, I'm closing this issue because it's tied to https://github.com/MN-Script-Team/BZS-FuncLib/issues/234, and now that we're all merging functions together, this would constitute a duplicate issue. Function issues should be moved to FuncLib.

[2016-08-01 15:28] #11 closed

[2016-08-01 15:33] theVKC commented on #12
@RobertFewins-Kalb and/or @levesswe: can I get an update on the progress of this issue, please? I just took a quick tear through GlobVar and saw nothing about this.

[2016-08-01 15:35] theVKC commented on #89
@ajluebbe, should we set a deadline on this? Is it a priority? Would you prefer to close it?

I know you're out this week: if I don't hear from you on the subject by next Friday 08/12, I am planning on closing the issue. :) #cleanup

[2016-08-01 15:36] theVKC commented on #96
@levesswe, can I get an update on this? If it's not happening anytime soon, I'd like to close the issue and we can revisit it later.

[2016-08-01 15:44] theVKC commented on #98
Can I get an update on this issue? @wrightcountykaren, @RobertFewins-Kalb, @levesswe, or @paschell?

It's been open over a year. If it isn't a priority I'd like to close it and we can re-evaluate it later. If it is a priority, I'd like to find someone who can get it done (even if that's me). :)

[2016-08-01 15:46] theVKC commented on #174
This appears to have been opened for over a year. @MN-CS-Script-Team/scriptwriters, anyone feel up to taking this on, or giving me a status update on it? If nobody is interested in doing it by Monday's hackathon, I'd like to close it.

[2016-08-01 15:48] theVKC commented on #232
So I have no idea what this is about. Of course, the user deleted their account so I cannot ask them.

@paschell, you are mentioned by name in the email. I'm going to close this issue, but if you have more you'd like to add perhaps we can re-evaluate it at a later date. If it's a high priority item, I can also consider re-opening it but adding additional info.

[2016-08-01 15:48] #232 closed

[2016-08-01 15:49] paschell commented on #96
Hey VKC - we can revisit this one.  We have been waiting on the State Office to create a NON-pay letter in DORD.  Maybe once that happens we can bring this one back.

[2016-08-01 15:49] theVKC commented on #257
This has been opened for a long time. @levesswe, do you have any news about it?

If nobody takes it by Monday's hackathon, I might close the issue. We can re-evaluate it at a later date if it's a priority.

[2016-08-01 15:50] theVKC commented on #96
Good deal. Closing.

[2016-08-01 15:50] #96 closed

[2016-08-01 15:52] theVKC commented on #258
Any takers on this one? Is this a priority? @MN-CS-Script-Team/scriptwriters?

If nobody wants it by hackathon, I will close the issue.

[2016-08-01 15:53] theVKC commented on #259
Same as the other one. Any takers on this one? Is this a priority? @MN-CS-Script-Team/scriptwriters?

If nobody wants it by hackathon, I will close the issue.

[2016-08-01 15:54] theVKC commented on #261
@levesswe, do we have an update on this one? I don't see a pull request for it: if it's critical we should attempt to resolve it ASAP.

[2016-08-01 15:55] theVKC commented on #262
@jmarieraymond: can I get an update on this one?

[2016-08-01 15:55] theVKC commented on #264
@jmarieraymond, can I get an update on this one?

[2016-08-01 15:56] theVKC commented on #313
I am not sure about this process, because I do not know the details. @RobertFewins-Kalb, can we talk about this at the meeting with Anoka next week please?

[2016-08-01 15:57] theVKC commented on #334
Anyone interested in working on this one? @MN-CS-Script-Team/scriptwriters?

[2016-08-01 15:57] theVKC commented on #349
Per last week's call, I'm taking this on.

[2016-08-01 17:16] gretchent74 opened #390 "New Idea - annual review script"
@KathyMutchler  script is 80% completed.  script guides user through important steps and reminders during annual case reviews, sends needed documents, creates caad and cawt notes.

[2016-08-01 17:24] gretchent74 opened #391 "new idea - bulk script doc worklist L0103"
A script to review worklist  L0103, record information in caad and alert user with cawt of important info received if needed.    Possibly send appropriate locate documents and updated prism based on information received.

[2016-08-01 18:19] theVKC commented on #390
"Sends needed documents" - correct me if I'm mistaken, but do you think that makes it an "ACTIONS" script?

Also, I presume you're taking it? If you are, make sure to let me know in your issue so that I don't inadvertently mark it as "help wanted". Please and thank you!

[2016-08-01 18:19] theVKC commented on #391
Do you want this one @gretchent74?

[2016-08-01 18:21] gretchent74 commented on #390
Yes it is action and yes I want to take it.  I am not good at github…. How do assign myself to it?

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, August 01, 2016 1:19 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Thornbrugh, Gretchen; Author
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] New Idea - annual review script (#390)

"Sends needed documents" - correct me if I'm mistake

[2016-08-01 18:21] gretchent74 commented on #391
Yes. thank you.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, August 01, 2016 1:20 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] new idea - bulk script doc worklist L0103 (#391)

Do you want this one @gretchent74<https://github.com/gretchent74>?

—
You are receiving this because you were mentioned.
Rep

[2016-08-01 18:22] RobertFewins-Kalb commented on #12
None progress

[2016-08-01 18:27] theVKC opened #392 "FuncLib: migrate PRISM functions library to state-supported repo"
This is many parts:

- [x] Evaluate each function and compare with BZS-FuncLib: are our functions identical to their functions?
- [x] Take each PRISM function, move it to the FuncLib, and update documentation to explain what it does. See https://github.com/MN-Script-Team/BZS-FuncLib/issues/271.
- [x] Add parameter defining scripts as `PRISM_script = true` (so we don't redefine the county_code deta

[2016-08-01 18:27] jmarieraymond commented on #264
I think this one is good to go, I will just wait until Friday’s meeting with Veronica before adding to Github.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, August 01, 2016 10:55 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Jessica Raymond; Mention
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] CAAD for Postal Verification (#264)

@jmarieraymond<https://github.com/jmarieraymon

[2016-08-01 18:27] jmarieraymond commented on #262
Same with this one-- I think this one is good to go, I will just wait until Friday’s meeting with Veronica before adding to Github.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, August 01, 2016 10:55 AM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Jessica Raymond; Mention
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] CAAD Note for Employment Verification Script (#262)

@jmariera

[2016-08-01 18:28] RobertFewins-Kalb commented on #313
The thought was to eliminate the ACTIONS, NOTES, and BULK folders and have the scripts load based on the values stored in the all scripts file. The hope was that it would make it simpler for folks to submit pull requests and make the menus a little more flexible (in the future).

[2016-08-01 18:28] theVKC opened #393 "Update all scripts across the project with the new FuncLib"
See #392 for details.

- [x] Add to ACTIONS scripts
- [x] Add to BULK scripts
- [x] Add to NAV scripts
- [x] Add to NOTES scripts

[2016-08-01 18:29] theVKC commented on #390
You don't! Just tell me that you want it and I'll assign it to you! :)

[2016-08-01 18:29] theVKC commented on #12
OK. I'll be taking it.

[2016-08-01 18:31] theVKC commented on #313
Has any work progressed on this, @RobertFewins-Kalb?

[2016-08-01 18:32] theVKC commented on #350
@khiestand and @levesswe, can I get an update on this?

[2016-08-01 18:34] theVKC commented on #364
@KallistaImdieke and @levesswe, is this for the script located here? https://github.com/MN-CS-Script-Team/PRISM-Scripts/blob/master/Script%20Files/BULK/BULK%20-%20FAILURE%20POF%20RSDI%20DFAS.vbs

Also, I don't think this meets critical criteria if it's just skipping some.

[2016-08-01 18:35] khiestand commented on #350
@theVKC hoping to work on this tomorrow with you.  I think  we are almost done with it.

@levesswe , was there anything specific we needed to finish?

[2016-08-01 18:35] theVKC commented on #364
Also, can I get an update from one of you on this?

[2016-08-01 18:35] theVKC commented on #350
Good deal, I've self-assigned as well (so that I remember it!).

[2016-08-01 18:36] theVKC commented on #369
On evaluation I'm not sure this is critical.

@levesswe, can I get an update?

[2016-08-01 18:37] RobertFewins-Kalb commented on #313
nay

[2016-08-01 18:41] theVKC commented on #313
OK, I'm going to close this for now and we can re-evaluate the idea later.

[2016-08-01 18:41] #313 closed

[2016-08-01 18:47] KallistaImdieke commented on #364
I wouldn’t say it is critical just something to update or an enhancement

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, August 01, 2016 1:35 PM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] E0014 Failure of POF

[2016-08-01 18:49] theVKC commented on #374
From the description, it doesn't sound critical. Although, #382 resolves it, so I might incorporate this sooner-rather-than-later. Investigating a bit later after I clean up the rest of the GitHub assignments.

[2016-08-01 18:50] #374 closed

[2016-08-01 18:51] #384 closed

[2016-08-01 18:57] theVKC commented on #373
Any chance a county scriptwriter would want to take a look and identify possible updates needed for this one? @MN-CS-Script-Team/scriptwriters??

[2016-08-01 18:58] theVKC commented on #386
@wrightcountykaren, think anyone from Wright wants to take this on, or should I mark as "help wanted" for now?

[2016-08-01 19:29] wrightcountykaren commented on #259
I do not recall the “issue” with the script.  I do think it is a GREAT script idea and it shouldn’t be closed.  I’m not sure that I totally understand the comments that are listed under the issue on GitHub.  Maybe it is something that could be talked out in more detail at the hackathon in order to define what the script would actually do and then someone could start writing it?

Karen Popken
Wrigh

[2016-08-01 19:37] paschell commented on #259
This script needed enhancements.  The current script 'as is' runs the script using incorrect dates.  So depending on the day you run it, the non-custodial parent may or may not be compliant.   In our testing, several cases brought the date issue to light.  The suggestion for enhancement was to use a defined date range.  Also to add a box to send the DORD docs, if appropriate.   This is a Wendy scr

[2016-08-01 19:39] theVKC commented on #259
I see, @paschell. I am a bit thrown off because it doesn't say "bug" or "problem" or "incorrect" in the description. Generally bugs are always worked at one-point-or-another, and if nobody else takes it, I guess I would. But, if Wendy has this on her list (she wasn't assigned), I'll assign to her and we'll await her return. :)

[2016-08-01 20:41] paschell commented on #259
I believe that some think it works good enough.    This script has a problem.  To me, it is a BUG/problem  as it does not adhere to DHS policy for the 90 day review of timely payments.  The date function should calculate payments from the 1st of the month through the end of the month for the past 90 days.  It should not go back 90 days from the day you run the script as depending on the day the ob

[2016-08-01 21:56] theVKC commented on #259
I agree completely, this sounds an awful lot like it should have been considered a "bug" and not an "enhancement". I have on my things-to-discuss-with-counties list a general description of what's different between these. Here's a rundown:

* Enhancement: a "nice-to-have" feature that should be added, but that we can live without.
* Bug: it's currently wrong and should be righted.

[2016-08-02 14:10] jlmartinone opened #394 "Employment Verification needs work"
- [ ] No button - I do not know how to add a button - please help!
- [X] When it errors out in NCID/CPID it still exits and goes to CAAD
Other than the button I believe this is ready to be tested.

Thanks!

[2016-08-02 14:15] theVKC commented on #394
Good luck!

[2016-08-02 15:19] khiestand opened #395 "NOTES - Waiver of Personal Service Button cut-off"
The button is cut off on the NOTES- Main menu for Waiver of personal service.

I might be able to do this, not sure.

[2016-08-02 19:55] theVKC commented on #395
@khiestand, I'm betting you could. At the least, I could teach you how to do it, right?

I'm going to assign this to you. We should set up some time (remote or otherwise) to go over this process. Once I learn it, of course. :P

[2016-08-02 19:57] theVKC opened #396 "Update README.md with standards and practices, base GitHub standards off MAXIS"

[2016-08-02 20:16] theVKC commented on #387
I'm elevating this work to critical, because I cannot do any processing of GitHub and it's now crashing my editor. I can't build documentation or demonstrate what-I'm-trying-to-do without having this resolved.

[2016-08-02 20:21] KallistaImdieke commented on #387
I am trying to figure out how to do this right now i have to pull up the guide book i have I am not very good in github

[2016-08-02 20:30] KallistaImdieke commented on #387
I think I may have submitted the change to you. If i did something wrong let me know Github is very new and confusing to me. Cant wait until you have a training on it like you said in the meeting!  thanks!

[2016-08-03 17:34] #387 closed

[2016-08-03 17:37] theVKC opened #400 "Add "run_locally" support, ensure that's included everywhere"
We need that... it's how we test things as scriptwriters, after all! On it.

[2016-08-03 18:23] theVKC opened #401 "Move "documentation" folder to SIR, make sure documents still look good"
It looks like it's essentially my documentation from a year ago (or more!). Just needs to be cleared out and moved, we keep documentation primarily in the SIR page.

[2016-08-03 19:55] levesswe commented on #257
We may want to talk about this script idea in more detail, but unfortunately, I won't be at the Hackathon.  We have an existing BULK script - BULK - L5000 WORKLIST SCRUBBER.vbs in master that simply removes these worklists.  However, during testing we received feedback that it would be more helpful and more compliant with policy to modify this from being a "scrubber" to something that offers more

[2016-08-03 20:12] levesswe commented on #258
There is an existing script BULK - M8001 WORKLIST SCRUBBER.vbs in master that simply removes M8001 worklists, without regard for the date of them.  We received some feedback in testing that users were concerned that if there were otherwise no other worklists on the case, the script would delete the only worklist a newly assigned case might have.

This script was intended for situations where an en

[2016-08-03 20:21] levesswe commented on #98
We already have a generic (albeit, very generic) non pay letter that is available using the ACTIONS - NONPAY.vbs script, but had greater visions of an actual non pay letter produced in PRISM by DORD.  @paschell sent proposed drafts of non-pay letters to the state, and last we heard they were being reviewed by policy people.

In one of our meetings, we discussed closing this issue as there is not r

[2016-08-03 20:26] levesswe commented on #174
The feedback that I received from users is that it would be nice to be able to select multiple bulk scripts to run, and this proposed dropdown would only select one at a time.  At some point in the future, it might be nice to do something with our bulk script menu - for now, I think it's okay to close this one.

[2016-08-03 20:30] levesswe commented on #261
Hi, I am still in the process of fixing this one.  I am close to finishing it but @paschell kept finding bugs...

[2016-08-03 20:32] levesswe commented on #259
LOL, the ability to send out the DORD docs is an enhancement, issue with the date is a bug.  So this issue is listing both - perhaps they should be separate?

[2016-08-03 20:40] levesswe commented on #350
@khiestand I believe you were going to modify "Source" to have some of the most common values to put in a combo box....  ?

I think it's good to go for super user testing.

[2016-08-03 20:49] levesswe commented on #386
I will offer to take this one if no one from Wright wants it.

[2016-08-03 20:50] paschell commented on #261
Sorry @levesswe .  I have a proposal on the table with management in Anoka to come at the Driver's License Payment Plan Review worklists (E4110 and E4111)  from a  different angle.   I did research on the whole process including input from several other counties and drafted a written proposal.  Although this script has some merit it only does some of what is necessary to complete the process of re

[2016-08-03 20:58] theVKC commented on #258
Anyone have a strong objection to retiring BULK - M8001 WORKLIST SCRUBBER? @MN-CS-Script-Team/scriptwriters?

[2016-08-03 21:00] theVKC commented on #98
We could mark it as a sleeper issue, and when @paschell or someone else gets word about the status, we could reopen it. Alternatively, @paschell, if I knew to whom you sent it, I could check in with them myself.

[2016-08-03 21:02] theVKC commented on #259
They should be. Can you create a separate issue around the enhancement? Also, do you have an ETA on when you can complete the bug portion? I'd break freeze to get bugs through at this point, I think,

[2016-08-03 21:02] theVKC commented on #350
@khiestand and I worked on this a bit yesterday. Looking good so far, but she can tell you more.

[2016-08-03 21:04] theVKC commented on #386
At present, you have five assigned issues. I'd prefer to resolve or close those issues before taking anything new on, @levesswe. :)

[2016-08-03 21:05] theVKC commented on #261
@paschell, can you send your proposal to me? I can bring it to my people here as well. That felt good to say.

[2016-08-03 21:06] theVKC commented on #261
Since this is marked as critical, I am thinking we should terminate access until it's bug-free. Any objections?

[2016-08-03 21:08] levesswe commented on #259
I haven't put any time into this script recently, and have no ETA.  I am playing catch-up after a few days off...  If you think you will have time before I will, feel free to steal.

[2016-08-03 21:13] levesswe opened #402 "BULK - REVIEW CONTINUED INTEREST SUPPRESSION"
Enhancement to send out dord docs if the case no longer meets criteria for suppression

[2016-08-03 21:14] theVKC commented on #259
I'll mark it as help-wanted and we can look at it at hackathon. If you could create the second issue for the enhancement, that'd be swell.

[2016-08-03 21:15] levesswe commented on #259
See #402

[2016-08-03 21:16] theVKC commented on #259
Thank you!

[2016-08-03 21:17] theVKC commented on #402
Any takers?

[2016-08-03 21:34] paschell commented on #98
@theVKC  - At last check, Carol Taggert asked who was the CLV group or contact and I probably gave her the wrong person's name and not the policy person.  Because I don't  know if I ever received anything from the POLICY helpdesk  as to who might have been assigned.    So I don't know.  I just keep asking the status through our webmail every couple of months.  :-(     Oh dear....I think this went

[2016-08-03 21:39] paschell commented on #261
OK and  it is a good thing to have people!!

[2016-08-06 16:44] theVKC commented on #262
@jmarieraymond, we never got to actually discuss bringing your work in. I suspect the freeze will be ending in the next week or so. Can you touch base with me with a time for a quick phone meeting, so I can guide you through the pull request process for your work? On Monday the 8th we'll be doing a hackathon, I'd be happy to conference you in and guide you through it (might be helpful for the othe

[2016-08-06 16:45] theVKC commented on #264
Same as #262, Jessica. You're only being "unassigned" because of a quirk in how GitHub works when I set someone to inactive (you're inactive because you've had no code pulled in six months, this will be easily resolved once you send your work in). Trust me, you are still very much the go-to-gal for this issue. :)

[2016-08-06 17:05] theVKC opened #403 "ALL SCRIPTS - names should match file names exactly, no deviation, and contain all files"
If the file name is too long, we should shorten that. Also, some files (particularly nav scripts) are missing. On it.

[2016-08-08 13:33] theVKC opened #404 "Bring AGENCY CUSTOM over to Child Support"
Also, consider making it a function so it can be shared between MAXIS and PRISM.

[2016-08-08 13:34] theVKC commented on #404
Also, add to Power Pad

[2016-08-08 13:46] theVKC commented on #89
Per hackathon Monday 08/08, we should make this an actions script. If no-one takes this in the next month or so, we may close it, but @TammyStearns believes an upcoming project might help take care of some of this.

[2016-08-08 13:51] theVKC commented on #98
Per hackathon 08/08: it would be nice if this could automatically generate and auto-populate existing Word docs. Wright and Stearns both have Word docs already available. I would like to make this into a script which fills out those docs. Pretty straight forward, once #12 is complete (I'm doing that one).

@KallistaImdieke has volunteered to take this on, pending her other assignments of course. T

[2016-08-08 13:53] theVKC commented on #174
Per hackathon, closing this and marking as a sleeper.

[2016-08-08 13:53] #174 closed

[2016-08-08 13:58] theVKC opened #405 "BULK - L5000 WORKLIST SCRUBBER - retire it"
Per hackathon 08/08, folks in the room indicated it may be wise to retire this script, because the policy could be considered "murky" (see #257). Looking for feedback from @MN-CS-Script-Team/prism-scriptwriters and @MN-CS-Script-Team/inactive-prism-scriptwriters alike. If nobody provides feedback by the end of this week, I may act unilaterally. :)

[2016-08-08 14:00] theVKC commented on #257
Per hackathon, we should close this issue and instead evaluate #405.

[2016-08-08 14:00] #257 closed

[2016-08-08 14:05] theVKC opened #406 "BULK - M8001 WORKLIST SCRUBBER - retire it"
Per hackathon (see #258), we have decided to retire this script. It should be enhanced to include date filtering but we do not have time to prioritize it now.

[2016-08-08 14:06] theVKC commented on #258
Per hackathon, we should enhance it to look at the dates. However, this is not used frequently and as such is not a priority to do. We have decided to make this issue a sleeper issue, and retire the script for the time being. We can re-evaluate it at a later date. See  #406.

[2016-08-08 14:06] #258 closed

[2016-08-08 14:11] paschell commented on #405
This script plays a very small part overall in worklist management.  A worker may receive 2 or 3 worklists per month regarding a non custodial parent's eligibility for levy.  Hardly worth the time.  Now if we could determine a list of worklists that have little bearing on a case and BULK them all together to purge monthly  that would be something!  A real true scrubber, versus lets have several sc

[2016-08-08 14:25] theVKC opened #407 "BULK - M6529 - correct flaws in process"
Here are the elements that need addressing (from the old M6529 script):
- [ ] Name of script should be more descriptive - BULK - REVIEW INTEREST SUPPRESSION (M6529)
- [ ] Date range of payments to be based on the last complete month rather than the last 90 calendar days (see #259)
- [ ] Should add M6529 CAAD note with a description that it was reviewed (regenerates 90 days later)
- [ ] Some kind o

[2016-08-08 14:25] theVKC commented on #259
#407 is replacing this one.

[2016-08-08 14:25] #259 closed

[2016-08-08 14:26] theVKC commented on #402
#407 is replacing this one.

[2016-08-08 14:26] #402 closed

[2016-08-08 14:28] theVKC commented on #334
Any takers from @MN-CS-Script-Team/prism-scriptwriters or @MN-CS-Script-Team/inactive-prism-scriptwriters? If nobody is interested by next hackathon (08/22) we will close it.

[2016-08-08 14:31] jlmartinone commented on #370
I think Wright County would utilize this script.
Thanks!

[2016-08-08 14:33] KallistaImdieke commented on #370
I believe that Stearns County could benefit from this script.

[2016-08-08 14:34] theVKC commented on #370
I would like to combine "generic enforcement intake" and "enforcement intake" into a single script. I will take this on. @levesswe , @RobertFewins-Kalb, or @paschell, please email me your Anoka-specific documents so I may extract Word bookmark requirements from them for integration statewide.

[2016-08-08 14:44] theVKC commented on #373
OK, these should pull from global variables. @RobertFewins-Kalb and @levesswe, can you please ensure that your magistrates and attorneys are located in Anoka's global variables. If there are not already variables there, please let me know and we can standardize the variable. I'll take this on.

[2016-08-08 14:47] theVKC commented on #373
See #248, need to ensure this is done and accurate.

[2016-08-08 14:50] theVKC commented on #386
@jlmartinone has agreed to take this on. Thank you!

[2016-08-08 14:53] theVKC opened #408 "DATE OF HEARING EXPRO and JUDICIAL: can we merge these together?"
Seems silly to have two when one (and a dropdown) could do. Thoughts? @MN-CS-Script-Team/inactive-prism-scriptwriters @MN-CS-Script-Team/prism-scriptwriters

If I do not hear by Friday 08/12, I shall act unilaterally.

[2016-08-08 15:18] KallistaImdieke opened #409 "NEW SCRIPT - M1600 PA PROGRAM OPEN/REVIEW"
This is a new script I am working on to review cases and purge the worklist if it is a close code that we would never look at reopening and leave the worklist out there to review if it is a case that we would need to look into further to see if it should be reopened.

@theVKC Please assign this issue to me.  Thanks!

[2016-08-08 15:32] paschell commented on #408
Just a thought - the dropdowns may get too long if you combine district and ex pro for both the reason for hearing and also the judges and magistrates/referees.   Don't know if that should be a concern or not.

[2016-08-08 16:05] theVKC commented on #408
I was thinking we could use different dialogs (or declare them dynamically). This way, it won't become too cumbersome.

[2016-08-08 17:14] paschell commented on #408
That would work great!  I like the idea of only having 1 script for the one process.  Makes more sense.

[2016-08-08 17:26] levesswe commented on #370
Here are the Word files used in the Anoka-only enforcement intake script.  FYI, I believe the version available on Github is out of date from what we are currently using here in Anoka.  If you would like, I can do a pull request with the latest and greatest version...   Let me know.

[Enforcement Script Word docs.zip](https://github.com/MN-CS-Script-Team/PRISM-Scripts/files/407336/Enforcement.Scri

[2016-08-08 18:42] KallistaImdieke opened #410 "select_cso_caseload - Add parameter for different code"
'Loading the dialog to select the CSO
CALL select_cso_caseload(ButtonPressed, cso_id, cso_name)

![image](https://cloud.githubusercontent.com/assets/19214103/17491502/81cbe33a-5d6d-11e6-8928-7ec3844f56d4.png)

The dialog box refers to a specific script.

Thanks!

[2016-08-08 18:43] jlmartinone opened #411 "NOTES - INVOICES -enhance"
Add a 3rd option - General Invoice.

I will take this - thank you!

[2016-08-08 18:49] theVKC commented on #370
Yes, please get our scripts up-to-date. If you have any other scripts that you've updated without sharing with others, please get them updated as well. Thank you!

[2016-08-08 18:49] theVKC commented on #410
On it! Thank you!

[2016-08-08 18:58] jlmartinone commented on #411
Also there is a SOP invoice has been made a part of this script. So it would appear we do not need to keep the SOP invoice script.
Thanks,
Jodi

[2016-08-08 20:26] theVKC commented on #392
Here's a great spreadsheet of my decisions regarding the functions and merging. I'll also add to Slack. Hoping to finish this today. Yay for progress!

[function list PRISM.xlsx](https://github.com/MN-CS-Script-Team/PRISM-Scripts/files/407674/function.list.PRISM.xlsx)

[2016-08-08 20:38] theVKC opened #413 "Depreciate two functions in PRISM Functions Library"
There are two functions which should be depreciated and replaced in all scripts:

- [ ] `save_cord_doc` should be `write_value_and_transmit` everywhere it's used. So far this is only in CORD F5002, a non-supported script.
- [ ] `send_text_to_DORD` should be renamed as `write_variable_in_DORD` in order to match the usage already in FuncLib.

I will handle this before completing #392.

[2016-08-08 21:27] #413 closed

[2016-08-10 20:14] theVKC commented on #375
@gretchent74 is re-evaluating this script to fix her issue, as described above. Reopening the issue so I can track her progress, and we can continue to discuss it. Go @gretchent74! Good luck!

[2016-08-12 14:55] #411 closed

[2016-08-12 21:57] #392 closed

[2016-08-15 11:13] theVKC opened #417 "PRISM Functions Library: needs use_master_branch handling"
This is just a safety precaution until the PRISM functionality for use_master_branch is established. For now, all will point towards master FuncLib (there is no BETA FuncLib). When use_master_branch is implemented, the safety precaution should be removed.

On it

[2016-08-15 17:01] jannellstearns opened #419 "Starting REAM and sending docs to include employer verifications (refer-to-mod)"
I am not a script writer, but would like to see a script that would generate the REAM screen to send out modification documents, send employer verifications to any open employers on the CP/NCP employer screen and transfer the case to the modification prep position number.  I have attempted to write the flow for the potential script, but I may have missed something:

Modification Document Generatio

[2016-08-17 16:09] theVKC commented on #261
OK, I've been going over the proposal.

@levesswe and any other @MN-CS-Script-Team/prism-scriptwriters or @MN-CS-Script-Team/prism-supervisors... do you think this script should be removed for now, then replaced with a more comprehensive worklist processor? @paschell's proposal looks sound from where I sit, and we can certainly address it at a collaborative meeting or hackathon.

Please let me kno

[2016-08-17 16:31] wrightcountykaren commented on #261
I thought this was the kind of thing we were planning to discuss at the hackathon?

Karen Popken
Wright County Child Support Supervisor
Phone: 763-682-7403
How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, August 17, 2016 11:09 AM
To: MN-CS-Script-Team/PRISM-Scrip

[2016-08-17 16:34] theVKC commented on #261
@wrightcountykaren we certainly are. But it was indicated to me (I believe by @levesswe) that this issue is considered "critical". So, I didn't want to wait. If folks don't think it's critical I am all for tabling it until the 25th. I didn't want totally broken or policy-incorrect scripts out there. :/

[2016-08-17 17:07] levesswe commented on #261
I think it’s fine to just discuss it at hackathon.

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, August 17, 2016 11:35 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Wendy K. LeVesseur <Wendy.LeVesseur@co.anoka.mn.us

[2016-08-17 17:20] theVKC commented on #261
Good deal. I've removed the "critical" label and we can discuss at Hackathon on Monday.

[2016-08-17 19:10] #401 closed

[2016-08-17 20:59] theVKC opened #421 "Add "use_master_branch" support in GlobVar, sync beta and release branches for now"
On it. When this happens in DHS-MAXIS-Scripts, all counties using scripts will have to update anyway. For now, syncing branches should ensure continued access.

[2016-08-17 22:12] theVKC commented on #349
This issue has been moved to BZS-FuncLib: https://github.com/MN-Script-Team/BZS-FuncLib/issues/277

Closing here.

[2016-08-17 22:12] #349 closed

[2016-08-17 22:20] theVKC opened #422 "GlobVar: remove "update worker signature" block"
1. It's in FuncLib now.
2. It breaks if a user changes their name and doesn't change their user directory on their machines.

On it.

[2016-08-17 22:36] #421 closed

[2016-08-17 22:41] theVKC opened #424 "Add "databases for script usage" folder, include usage stats DB from MAXIS"
On it. This will work with the stats path variable in GlobVar. With this, counties could set up their own usage stats.

[2016-08-17 22:42] theVKC opened #425 "Add "word files for script usage" folder, modify all scripts that use Word docs to link back to this folder"
This will be done sometime after the August 25th event where we evaluate each script. On it.

[2016-08-17 22:47] #12 closed

[2016-08-17 22:52] theVKC commented on #410
https://github.com/MN-Script-Team/BZS-FuncLib/issues/278 is the new version of this, because we've merged with FuncLib. Closing this issue.

[2016-08-17 22:52] #410 closed

[2016-08-17 22:53] #422 closed

[2016-08-17 22:58] #424 closed

[2016-08-17 23:40] #388 closed

[2016-08-17 23:47] #400 closed

[2016-08-18 00:07] #404 closed

[2016-08-18 00:19] #396 closed

[2016-08-18 00:22] theVKC opened #433 "Evaluate shared-code vs new agency custom option, discuss at August 25 meeting"
This is the last part before we can merge with MN-Script-Team.

Essentially, now that you can drop script files into agency custom, how do folks feel about removing and depreciating scripts in the shared-code folder? Agencies using those scripts could simply copy them into their Agency Customized folder (once they reinstall scripts after the URL move, of course).

Looking for feedback, will discus

[2016-08-18 00:24] theVKC commented on #393
Note: I want to do this after FuncLib's release on Monday. This way RELEASE and master both have the PRISM functions.

At that point, I should be able to undo my temp workaround for FuncLib. See #417.

[2016-08-18 10:35] theVKC opened #434 "Bring "utilities scripts" category to PRISM"
Basically, a Power Pad button, redirect, and menu need to be implemented. ~~We'll also need a redirect present on the current ACTIONS menu.~~

[2016-08-18 13:48] levesswe commented on #433
I am not sure that the shared code folder should be depreciated.  The shared code folder is intended to be a repository of county-specific scripts that may be good examples for script writers of other counties to work from if they want make their own agency specific version, or for scripts in development that are being worked on by multiple people in the collaborative to simplify collaborative eff

[2016-08-18 14:18] theVKC commented on #433
As far as collaborating off site with others, that can be more easily accomplished with branching (and it preserves the integrity of the commit contributions).

As far as "agency specific" versions, I am moving toward integrating county-specific branching in other ways. We had great success allowing scriptwriters to implement county-specific logic in MAXIS scripts, and I believe that same process

[2016-08-18 15:56] theVKC opened #435 "Bring "INFO" script from MAXIS to PRISM, add PRISM scriptwriters"
Add current contributors but use the same process from MAXIS for displaying data about installation. On it.

[2016-08-18 16:05] #434 closed

[2016-08-18 16:50] levesswe commented on #433
I am not opposed to changing the way we have been doing things, but we will need clear, step-by-step instructions for users on how to collaborate off site with branching if you depreciate the folder.  I think the shared folder was nice especially for those less comfortable with Github.

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303

[2016-08-22 14:21] Mkreger9 opened #437 "New Script Idea -Post Order letters"
A script that would collect information after the court order has been loaded onto PRISM. This info would be used to create Word letters to be sent to the parties. It would also create an "court order loaded" CAAD note that details the court ordered obligations.

I would like to be assigned this.

[2016-08-22 15:41] theVKC commented on #375
Resolved in #438.

[2016-08-22 15:41] #375 closed

[2016-08-22 15:48] gretchent74 opened #439 "BULK - Evaluate Nocs"
cso-name in the dialog box is not long enough and name cut off.
Please assign to me.

[2016-08-22 16:13] theVKC commented on #439
Resolved by #440.

[2016-08-22 16:13] #439 closed

[2016-08-22 17:30] gretchent74 opened #441 "ACTION - UN/UN Docs"
Enhancement to add obligation amount to  jude, ncod, obbd.  I am hoping to work on this in the next few months.  Please assign to me.

[2016-08-22 17:46] theVKC commented on #405
FYI: according to survey results, this script is unused.

[2016-08-22 17:46] theVKC commented on #406
FYI: according to survey results, this script is unused.

[2016-08-22 17:47] jlmartinone commented on #405
OMG…
I use it a TON – so does the other interstate worker!!!  Like at least a few times a day..

[cid:image001.png@01D1FC73.6060F2E0]Thank you,
Jodi Martin
Child Support Officer
Wright County
763.682.7439
Fax 763.682.8920

How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: Veronica Cary [mailto:notifications@github.com]
Sent: Mo

[2016-08-22 17:52] theVKC commented on #370
@levesswe, can you please pull request your most recent version of this script in to us? Please and thank you!

[2016-08-22 18:01] theVKC commented on #405
You indicated that as a "no" on the spreadsheet according to my records, @jlmartinone...

[2016-08-22 18:03] jlmartinone commented on #405
WHAT!!! That was an error for sure. I will re-look at the spreadsheet to be sure there are not any other errors.

[cid:image001.png@01D1FC75.98F8F240]Thank you,
Jodi Martin
Child Support Officer
Wright County
763.682.7439
Fax 763.682.8920

How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: Veronica Cary [mailto:notifications@git

[2016-08-22 18:05] paschell commented on #405
@jlmartinone   Are we are talking about the same script?  The L5000 FI MATCH RECD NCP NOT ELIG FOR LEVY?

SirMilo info:
"PRISM runs the FIDM batch process on the second Saturday of each month. The purpose of this program is to add eligible persons and to exclude persons no longer eligible for the data match. When a person is eligible, a record will be added to the Enforcement List (ENFL) screen wi

[2016-08-22 18:11] jlmartinone commented on #405
SORRY!! I was thinking a different script.

[cid:image001.png@01D1FC76.A718DCE0]Thank you,
Jodi Martin
Child Support Officer
Wright County
763.682.7439
Fax 763.682.8920

How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: paschell [mailto:notifications@github.com]
Sent: Monday, August 22, 2016 1:06 PM
To: MN-CS-Script-Team/PRISM-

[2016-08-22 18:18] wrightcountykaren commented on #405
Here are my thoughts:

-          I’m wondering if the script is unused because it’s title is not very descriptive.  Maybe people don’t use it because it is not clear what it does?

-          Let’s find out what it does and why people aren’t using it.  Maybe it simply purges the worklist  L5000 FI MATCH RECD NCP NOT ELIG FOR LEVY?  If workers don’t want that worklist purged without reviewing some

[2016-08-22 18:41] Mkreger9 opened #442 "Power Pad"
Move Stop Script button closer to Primary scripts. Because it is cut off when working in smaller screen.
Thanks

[2016-08-22 19:05] theVKC commented on #405
I tend to agree, @wrightcountykaren. We should try and enhance scripts where possible. I think (and this is on the agenda for Thursday) we should consider changing script names where they may be unclear.

[2016-08-22 19:11] #435 closed

[2016-08-22 19:38] #442 closed

[2016-08-24 14:17] theVKC opened #445 "Idea: DORD blacklist"
So, after meeting with counties, I've been mapping this out in my head. I think I have enough background knowledge to be comfortable formally discussing it.

I'd like to create an optional DORD blacklist, in conjunction with our Word document generation details. Here's how it will work (in my mind):
1. Scripts that send a notice via DORD continue to do so.
2. If an individual county does not want

[2016-08-24 14:21] lisamorrishelm commented on #445
I love this idea Veronica!

[2016-08-24 14:26] theVKC opened #446 "Remove "AGENCIES THAT USE" (whitelist) functionality from all main menu scripts"
This was a piece of feedback received during the meetings this month: folks would rather blacklist individual scripts locally (even per user or per user group) rather than the whitelist functionality currently deployed. In other words, get rid of the "AGENCIES THAT USE" functionality and make all scripts available to all counties.

I would like to tackle this one today so we can more easily evalua

[2016-08-24 14:53] #446 closed

[2016-08-24 15:45] theVKC commented on #393
Updated with categories broken down. Will start with ACTIONS and work my way through.

[2016-08-25 13:38] jlmartinone opened #449 "NEW SCRIPT - Case Closing Uncollectable"
A script that creates a CAAD note when you are closing a case as being uncollectable.  The note would include the date of the last payment (PALC), the date youngest child emancipated, all of the remedies that have been running (ENFL).  If the NCDD has no address it could list that too.  If there is a CTM order on SUOL/SUOD it could list that also and state it was unsuccessful.

[2016-08-25 13:58] theVKC commented on #449
Do you want this one @jlmartinone?

[2016-08-25 14:01] theVKC opened #450 "New utilities script: update global variables"
This is a port of a MAXIS script I was working on, but it will be helpful. Users can update their Power Pads or other global variables settings (like judges and whatnot) with a script instead of using code. This will be very helpful for agencies without scriptwriters.

I will be taking this one and hoping to release it this month.

[2016-08-25 14:13] theVKC commented on #433
Per today's discussion, we will be replacing this folder/process with AGENCY CUSTOM and retiring it from the project.

[2016-08-25 14:13] theVKC commented on #433
Today we shall integrate scripts within this folder with the project as a whole. :)

[2016-08-25 14:16] KallistaImdieke commented on #445
I love this Idea too!!

[2016-08-25 16:23] theVKC opened #451 "Hackathon subject: one Intake to rule them all"
We're doing it on Wednesday 09/07/2016. We will be evaluating all of the various "intake" scripts to see if we can consider merging them. :)

[2016-08-25 16:34] theVKC opened #452 "Create script that searches your active DORD/CORD docs for a particular string, and can create a Word doc from DORD/CORD docs"
I'm on it.

[2016-08-25 16:41] jlmartinone commented on #386
Rename to Generate Memo (F0104)

[2016-08-25 16:44] theVKC commented on #386
@jlmartinone thank you!

[2016-08-25 18:14] theVKC commented on #406
Per today's meeting, we should just delete it. On it.

[2016-08-25 18:28] theVKC commented on #405
Per meeting today, this is a rare instance and a very, very low priority. It makes sense to enhance it to add worker intervention but is low on the list. We will retire it for now and can always revisit this one. Perhaps a bulk multi-worklist scrubber can incorporate this as well.

[2016-08-25 18:38] #334 closed

[2016-08-25 18:46] theVKC commented on #261
@levesswe believes she can get this done in the next couple of weeks. Go Wendy!

[2016-08-25 19:02] theVKC commented on #369
It should read: `"Reviews all L2500 and L2501 worklists on your caseload and purges the worklist if the employer is already on NCID/CPID."` I'll take care of it. :)

[2016-08-25 19:17] theVKC commented on #395
We are retiring this script, so I am going to close the issue.

[2016-08-25 19:17] #395 closed

[2016-08-25 19:22] theVKC opened #453 "New script and button for Power Pad: "Quick CAAD""
Here's the idea. You can store locally (ala Worker Signature) your favorite CAAD notes, and the script will generate a menu with buttons that automatically update when you indicate new favorites.

On it.

---

Note 08/26: per yesterday's meeting, this means we can retire:
- NOTES - COURT ORDER REQUEST
- NOTES - CSENET INFO
- NOTES - FRAUD REFERRAL
- NOTES - WAIVER OF PERSONAL SERVICE

So, remove t

[2016-08-25 19:42] theVKC commented on #453
Also, include searchability feature to enable easy CAAD finding in the script which updates your favorites. CAAD codes change infrequently.

[2016-08-25 21:15] KallistaImdieke commented on #419
I can take this script and work on it - For now I can create this script on its own but thinking it maybe smart to connect this script with the NOTES - MOD CAAD NOTE Client Contact??  Any thoughts on that @jannellstearns , Thinking that if we state that NCP/CP requested an agency review it will automatically start adding the REAM screen.  Not sure if Counties would prefer it be separate for any re

[2016-08-25 21:18] KallistaImdieke opened #454 "NOTES - CONTEMPT HEARING"
Stearns County has a County Specific Script for this that we created pursuant to our County Attorney's request   If there is interest I can change the global variables in the script so it will pull the local county information.

@theVKC  Can you please assign this issue to me.

Thanks!!

[2016-08-26 02:10] theVKC opened #455 "Update sample FuncLib call"

[2016-08-26 18:07] theVKC commented on #370
I believe #451 will resolve this issue, so I am closing this issue. :)

[2016-08-26 18:07] #370 closed

[2016-08-26 18:22] levesswe commented on #370
Great, thanks!

[2016-08-26 18:28] theVKC opened #456 "Retirement party: time to remove some scripts"
Hoping to get this done today while I'm also doing FuncLib updates globally. #BusyGirl

Here's what we're retiring:

- [x] SHARING IS CARING - ACTIONS - RETURNED MAIL
- [x] SHARING IS CARING - BULK - EMANCIPATION WORKLIST SCRUBBER
- [x] SHARING IS CARING - CORD F5002
- [x] ACTIONS - CP NAME CHANGE
- [x] ACTIONS - THIS SCRIPT IS UNAVAILABLE
- [x] BULK - F0320 SCRUBBER
- [x] BULK - L5000 WORKLIST SC

[2016-08-26 18:29] theVKC commented on #406
Replaced with #456.

[2016-08-26 18:29] #406 closed

[2016-08-26 18:29] theVKC commented on #405
Replaced with #456.

[2016-08-26 18:29] #405 closed

[2016-08-26 18:32] theVKC commented on #451
The SHARING-IS-CARING intake script can be found here: https://github.com/MN-CS-Script-Team/PRISM-Scripts/blob/v2016.08a/Script%20Files/SHARED-CODE/ACTIONS%20-%20INTAKE.vbs

[2016-08-26 18:36] theVKC opened #457 "I guess SHARING really IS CARING: moving two scripts to the main folder"
- [x] ACTIONS - EMC DORD DOCS
- [x] ACTIONS - COURT PREP WORKSHEET

At our meeting 08/25/2016, these were felt to be good enough to warrant general release. So, it will be done. By me. Hopefully today.

[2016-08-26 18:52] theVKC opened #458 "Enhancement to Find Name on CALI: add search on phone number to NCED"
@TammyStearns is taking this one. Thank you Tammy!

[2016-08-26 19:02] theVKC commented on #451
The following scripts may be involved:

* ACTIONS - EST DORD NPA DOCS
* ACTIONS - ESTB DORD DOCS FOR PA CASE
* ACTIONS - GENERIC ENFORCEMENT INTAKE
* ACTIONS - INTAKE (in SHARING IS CARING)
* NOTES - MES FINANCIAL DOCS
* NOTES - INTAKE DOCS RECEIVED

It will be fun to try and merge these, if we can. At the least, we should evaluate when to use which and for what. :)

[2016-08-26 19:04] theVKC commented on #433
#457 will resolve this issue, so I'm closing this one.

[2016-08-26 19:04] #433 closed

[2016-08-26 19:05] theVKC opened #459 "Enhancement to DDPL Calculator: split custodial parent's separate cases in the calculation"
@levesswe is taking this one on. Thank you Wendy!

[2016-08-26 19:09] theVKC opened #460 "CASE TRANSFER: split and enhance"
So, we are going to take the ACTIONS - CASE TRANSFER and create two scripts:

- [ ] An ACTIONS script which contains the single-case functionality currently implemented.
- [ ] A BULK script which contains the current multi-case functionality, with the added benefit of allowing for multiple conditions to determine which case to transfer.

My splitting them, agencies could block access to BULK funct

[2016-08-26 19:10] theVKC commented on #394
@jlmartinone, you did your part but I never did mine! Did you ever pull it in? Can you try a pull request?

[2016-08-26 19:11] theVKC commented on #262
I think this might actually be a duplicate of #394. I'm going to close this issue knowing Jodi is working on that one.

[2016-08-26 19:11] #262 closed

[2016-08-26 19:12] theVKC commented on #449
@jlmartinone, I think you wanted this one, but now I forgot. I'm going to add you, let me know if I shouldn't add you. :)

[2016-08-26 19:14] theVKC opened #461 "Enhancement for PALC Calculator: add Excel functionality"
This way, reports can be broken down in time intervals based on whatever the user wants.

On it.

[2016-08-26 19:16] theVKC opened #462 "Several scripts could use name changes"
Several scripts need new names. This can be batched, in all likelihood. Documentation will need to be made for folks to find out what the new script name is called:

- [x] ACTIONS - UPDATE WORKER SIGNATURE => UTILITIES - UPDATE WORKER SIGNATURE
- [x] ACTIONS - DOCS FOR REDIRECT => ACTIONS - ADMIN REDIRECT

On it

[2016-08-26 19:18] theVKC commented on #451
ACTIONS - ENFORCEMENT INTAKE has Anoka Word docs in it, and that should be fixed to work with GlobVar.

[2016-08-26 19:20] theVKC commented on #441
@gretchent74, we talked about this on the call, but I'm not sure if you heard this...

We'd like to separate the "sending docs" from the "received docs" part. Can you take that part as well?

[2016-08-26 19:20] gretchent74 commented on #441
Yes.  Thank you.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Friday, August 26, 2016 2:20 PM
To: MN-CS-Script-Team/PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-CS-Script-Team/PRISM-Scripts] ACTION - UN/UN Docs (#441)

@gretchent74<https://github.com/gretchent74>, we talked about this on the call, but I'm not sure if you heard this...

We'd like to separate the

[2016-08-26 19:25] theVKC opened #463 "Affidavit of Service by Mail Docs: bug fix"
The script may have a v6.0 issue with the MsgBox asking the user to select a legal heading. v6 BlueZone users cannot edit the window while MsgBoxes are up. Our solution (as discussed at the 08/25 meeting) is to try to dynamically determine the possible legal headings, then allow that to be selected within a dialog.

@gretchent74 volunteered. Yay!

[2016-08-26 19:28] theVKC opened #464 "ANOKA SANCTION: state-ify it with email"
Here is our idea: instead of the script sending a Word doc which gets emailed, have it just load up an email object using automation. Then the user can just pick who they want to send it to.

@KallistaImdieke has volunteered. This would make the script change names, it'd be "ACTIONS - SANCTION". She'll change the name as well when submitting it.

[2016-08-26 19:29] theVKC opened #465 "ACTIONS - NON PAY: enhance with extra documents at the end"
This was discussed at yesterday's event. I believe @levesswe had ideas for what docs she'd like to add. If you can elaborate here on GitHub, that'd be wonderful. :)

[2016-08-26 19:31] theVKC opened #466 "Replace current NOTICE OF CONTINUED SERVICE with Ramsey's original vision of it"
Update 09/29/2016: after hearing from lots of counties, we're moving ahead with switching to Ramsey's version instead of the current version. @heatherallen is spearheading this script, hopefully, live mid-October for the October release.

---

This is an offline conversation I'll have with Heather from Scott County (not sure if she's on GitHub yet).

Ramsey County built a version of this script th

[2016-08-26 19:33] theVKC opened #467 "Make one COMPANION CASE FINDER script instead of two"
It could be a simple prompt to see which one you should use.

@khiestand has volunteered to take this on. Yay!

[2016-08-26 19:35] theVKC opened #468 "Merge E4111 scripts into a new script called "REVW PAY PLAN""
This was discussed at yesterday's event. @levesswe has volunteered because she's awesome.

The two scripts I have:
- E4111 SUSP SCRUBBER
- E4111 WORKLIST SCRUBBER

@levesswe, I'm open to other names for it as well, just let me know.

[2016-08-26 19:39] theVKC opened #469 "REVW QW INFO - has loop bug that needs resolution"
Sounds like it doesn't always catch all the matches. @levesswe has volunteered. Thanks Wendy!

[2016-08-26 19:40] theVKC opened #470 "FAILURE POR RSDI DFAS: doesn't catch all of the items on the loop"
@levesswe has volunteered. Thanks Wendy!

[2016-08-26 19:43] theVKC opened #471 "PAY OR REPORT: may have Global Variable issues"
I am going to evaluate this one for Global Variable problems.

[2016-08-26 19:45] theVKC opened #472 "MOD CAAD NOTE - CONTACT CHECKLIST: two bugs"
Two bugs reported:

* `worker_signature` isn't working (UPDATE WORKER SIGNATURE isn't catching it). Variable might be named wrong. @KallistaImdieke is investigating.
* It might need the pass-through command to prevent annoying pop-ups when pressing cancel. Although, that could be in a function instead of in the script itself. I'll investigate that one.

[2016-08-26 19:46] theVKC commented on #408
Per yesterday's meeting, we are merging them, adding GlobVar handling (it needs to check for judges/magistrates/attorneys), and calling the new script "Hearing Notes". And I'll be doing it. :)

[2016-08-26 19:50] theVKC opened #473 "IW CAAD CAWT: add IW CALC features and more from Anoka"
Anoka made a custom version of this, and I've asked @levesswe to add their features to this script to provide state support. She can describe the details of what it does better than I can.

Thanks Wendy!!!!

[2016-08-26 20:30] levesswe commented on #473
Veronica, the updated script is better described as an ACTIONS script rather than a NOTES script.  Wondering if it makes more sense to simply add it to ACTIONS as a new script rather than use this file name/category that is inaccurate for the updated script.

The script pulls in the employer name, current obligation, nonaccrual (if there is one), and has a check box for adding the additional 20%.

[2016-08-26 21:15] theVKC commented on #473
I think making it a new ACTIONS script and retiring the old is a great idea. Make it so, @levesswe!

[2016-08-28 17:28] #369 closed

[2016-08-28 17:28] #456 closed

[2016-08-28 17:28] #455 closed

[2016-08-29 13:45] #457 closed

[2016-08-29 14:04] #393 closed

[2016-08-29 14:16] #394 closed

[2016-08-29 14:26] theVKC commented on #471
On evaluation, this appears to use the proper `county_attorney_array` global variable. Counties who show Anoka's attorneys likely have not updated their global variables (a condition resolved by both the installer and #450.

Closing issue.

[2016-08-29 14:26] #471 closed

[2016-08-29 14:29] theVKC commented on #408
Confirmed: GlobVar handling is not correct for this script. The dialog contains hard-coded attorneys.

@paschell and @levesswe: you should ensure that Anoka's attorneys, magistrates, and judges are listed in Global Variables. When I pull the fix to this script, if you don't have your folks in your GlobVar, your workers will no longer have the dropdown. #BePrepared

[2016-08-29 16:05] #408 closed

[2016-08-29 16:06] theVKC commented on #453
FYI @khiestand, since I know you were going to be using this script: this will be completed today if I'm lucky. I'd love it if you could test it for me!!!

[2016-08-29 16:09] theVKC commented on #407
@TammyStearns, per my notes, @levesswe was going to change the name of the script. However, you are assigned this issue. Am I missing something? @levesswe, were you going to be working on modifying this one? Perhaps I simply wrote the wrong name down and it's been @TammyStearns's this whole time. Just wanting to make sure I'm setting this up correctly.

[2016-08-29 16:10] theVKC commented on #462
Removed bulk script from this list as it's referenced in #407.

[2016-08-29 16:27] #462 closed

[2016-08-29 16:29] theVKC commented on #373
This was resolved with #479.

[2016-08-29 16:29] #373 closed

[2016-08-29 16:32] TammyStearns commented on #407
At the script meeting on 8/25/16 in Wright Co, I believe Wendy was going to take care of this instead of me.

Thank you.  Have a nice day!

Tammy Larson
Child Support Specialist
320-656-6237
320-656-6158

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, August 29, 2016 11:09 AM
To: MN-CS-Script-Team/PRISM-Scripts <PRISM-Scripts@noreply.github.com>
Cc: Larson, Tammy <Tammy.Larson

[2016-08-29 16:32] theVKC commented on #264
@jmarieraymond, can I get an update on the status of this issue? Did you get your script work completed? If you would like help getting it on GitHub, I'd be happy to oblige. :) Just let me know!!

[2016-08-29 16:33] theVKC commented on #407
@levesswe, can you confirm this with me when you can? That'd be swell (I'll refrain from re-assigning it for the time being).

[2016-08-29 16:35] jmarieraymond commented on #264
Arg, I don't even know what I did with it and it probably isn't really that helpful, we can close it out. Thanks!

[2016-08-29 16:50] theVKC commented on #264
I'll close for now, @jmarieraymond, but I'm marking it as a "sleeper", meaning we can reopen it if there's interest. If you find your files and want to revisit it, just let me know!!

[2016-08-29 16:50] #264 closed

[2016-08-29 16:52] theVKC commented on #89
I'm closing this issue due to lack of interest/discussion right now. We can always revisit it.

[2016-08-29 16:52] #89 closed

[2016-08-29 16:55] theVKC commented on #98
@KallistaImdieke, we have two new functions you can use in your work, courtesy of @RobertFewins-Kalb and @levesswe: **word_doc_open** and  **word_doc_update_field**. You can see details on the v2016.08 FuncLib release notes: https://github.com/MN-Script-Team/Release-Notes/blob/master/FuncLib/FuncLib%20v2016.08%20release%20notes.md

[2016-08-29 18:24] theVKC opened #481 "Add links to some common websites on the Power Pad"
I'm going to be adding links to the Power Pad:

* SIR-MILO
* Scripts (on SIR)
* CS Calculator

For now, this is it. But, I am open to more prior to completing the big updates to the installer.

[2016-08-29 22:16] #481 closed

[2016-08-29 22:28] theVKC opened #483 "Update GlobVar and redirects to remove references to old URLs"
On it, tomorrow. First thing.

[2016-08-30 14:02] margmac17 opened #484 "EMPLOYMENT VERIFICATION - Could an "End Date" be added to the Script Dialog Box"
When updating CPID or NCID and the Employment Verification comes back as "Termed/No Longer Employed" an end date would be helpful to be added to the dialog.

[2016-08-30 14:03] theVKC commented on #484
Great idea! Do you want it @margmac17? If not you, does anyone else want it?

[2016-08-30 14:09] theVKC commented on #437
@Mkreger9, you lost your assignment ability because of a glitch from the transfer to the new locale. I know you're assigned this, I'll investigate why this happened and see if I can re-invite you to the organization.

[2016-08-30 14:14] margmac17 commented on #484
Yes, I can certainly try adding that “End Date” box to the dialog.
Margaret McCabe

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, August 30, 2016 9:03 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: McCabe Margaret <mccabe.margaret@CO.OLMSTED.MN.US>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] EMPLOY

[2016-08-30 14:18] theVKC commented on #484
It's yours! Good luck! Let me know if you need any help!

[2016-08-30 16:24] theVKC commented on #425
Two scripts appear to use this:

* ACTIONS - COURT PREP WORKSHEET
* ACTIONS - ENFORCEMENT INTAKE

The intake script will be dealt with in #451. However, I will try to handle modification of both prior to that meeting September 7th in Wright County.

Marking this as a bug as these scripts are currently not functioning as expected.

[2016-08-30 16:29] theVKC opened #485 "Quick CAAD needs PRISM checking"
On it.

[2016-08-30 16:34] #483 closed

[2016-08-30 21:35] paschell commented on #485
WHOA, this is cool, I tested twice today, will use more tomorrow.  So far I like it.  YAY!!  Haven't found any problems so far.  Did a search on the word "medical" and "drivers license" - I need to check if it pulled up everything.  I have not added frequent CODES  yet-.  Tomorrow.  Great work.  What is the problem/bug?

[2016-08-31 18:59] levesswe commented on #465
Here are Anoka Word Docs used in the Anoka County version of the script:

[Initial Contempt Docs.zip](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/448059/Initial.Contempt.Docs.zip)

[2016-08-31 19:13] levesswe commented on #364
Issue #470 is a duplicate of this issue.

[2016-08-31 20:07] levesswe opened #489 "BUG: depreciated functions are persisting with new FuncLib call"
Error message "Script Error at Line 1, Column 1: Type Mismatch: 'write_new_line_in_PRISM_case_note'"

Function call will need to be updated since the function was depreciated.

[2016-08-31 20:40] KallistaImdieke commented on #489
Stearns county got a similar error message too on a different caad note. the following error message on the Notes- MOD CAAD NOTE – Contact checklist

[cid:image001.png@01D2039D.EB6884D0]

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Wednesday, August 31, 2016 3:08 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Subject: [MN-Script-Team/DHS-PRISM-Scri

[2016-08-31 23:57] theVKC commented on #485
It needs to check and see if you're in PRISM. I tried it while locked out and it didn't properly error out.

[2016-08-31 23:57] #425 closed

[2016-09-01 00:02] theVKC commented on #470
Per @levesswe, this is a duplicate of #364. I'll keep the older issue and close this as a duplicate.

[2016-09-01 00:02] #470 closed

[2016-09-01 00:02] theVKC commented on #489
`write_new_line...` is depreciated. It's `write_variable_in_CAAD` now.

[2016-09-01 00:03] theVKC commented on #489
Wendy originally saw this on ANOKA SANCTION, but it is likely present in other scripts as well. I will investigate tomorrow morning, first thing.

[2016-09-01 16:11] theVKC commented on #464
So @KallistaImdieke, there is a glitch on one of these functions. `send_text_to_DORD` should be renamed as `write_variable_in_DORD`. While you're doing the Outlook work, can you also find-replace that line?

This ties into #489, but I didn't want to do it while you might be working on it (that creates a merge conflict and can mess things up for us).

[2016-09-01 16:20] theVKC commented on #489
So, I am seeing the following scripts/functions:

* `write_editbox_in_PRISM_case_note` still exists in:
  * MOD CAAD NOTE - CONTACT CHECKLIST
  * PAY OR REPORT
* `write_new_line_in_PRISM_case_note` still exists in:
  * ANOKA SANCTION
  * COURT PREP WORKSHEET
  * ENFORCEMENT INTAKE
  * GENERIC ENFORCEMENT INTAKE
  * MOD CAAD NOTE - CONTACT CHECKLIST
  * PAY OR REPORT

These will all require updatin

[2016-09-01 16:31] #489 closed

[2016-09-01 16:33] theVKC commented on #417
#489 made it clear that since updating the master branch to link directly to FuncLib, this file is unnecessary. I will clear it out and close this issue.

[2016-09-01 16:40] #417 closed

[2016-09-01 16:45] #485 closed

[2016-09-01 17:03] theVKC opened #493 "Global Variables: strip out unused variables"
Here's what's unused per my understanding (from scanning all present scripts):

- [x] county_name
- [ ] county_office_array

We should also organize and beef up the comments. On it.

[2016-09-01 17:14] #493 closed

[2016-09-01 17:25] levesswe commented on #489
Thanks, my people will be thrilled!  :)

[2016-09-01 17:37] levesswe commented on #407
Yeah, I believe I said I would take this issue.

[2016-09-01 18:28] margmac17 commented on #484
Running into a few problems on this one. Adding an "End Date" to the script dialog box is apparently not as easy as I thought it would be. I have been working on it this week and so far I cannot get the script to run properly and would need help to figure this out. I noticed that the "3 letter codes" are not in the script dialog box which means if you do not know the codes off the top of your head

[2016-09-01 18:55] theVKC commented on #484
@margmac17, do you think it would be possible to just add a blank "end date" field which simply adds to the note? I'm imagining you could probably get away with not including all of that programming logic for if this then that...

[2016-09-02 12:12] margmac17 commented on #484
If the CP or NCP no longer works there we have to enter the "end date" for that employer on the Prism panel (CPID or NCID) so just putting it in the note won't be enough. I think when the script was written it was intended for active employees not termed as it is quick and easy to add the term date to the Prism panel.

[2016-09-02 14:56] #465 closed

[2016-09-02 21:02] #473 closed

[2016-09-02 21:04] theVKC commented on #484
Well then, I think we should probably work it in so that the script can handle more cases. But, what do you think @margmac17?

If you think we should add it, I'd be happy to set up a remote meeting to discuss the details and work with you on it. Otherwise, you could certainly wait until the next time you're at hackathon (although I don't like waiting). :)

[2016-09-06 18:11] levesswe opened #498 "BUG: beta users scripts' functions library call"
Beta users have reported that they are not able to access scripts and they receive an error message that the code in GitHub is not able to be reached.

The functions library call needs to be updated for the scripts on the beta branch.

[2016-09-06 19:06] levesswe commented on #446
@theVKC : question - what procedure we are to take to blacklist individual scripts from use by users of the agency, now that all scripts are available to all users?

[2016-09-07 13:46] theVKC opened #499 "Rename INTAKE DOCS RECEIVED as CASE INITIATION"
1. Update ALL SCRIPTS.vbs with the new script name
2. Update the name of the script (including name_of_script variables)
3. Change the name of any dialogs or other text that references the old name of the script

[2016-09-07 13:58] khiestand opened #502 "MES Financial Docs Sent - Turn into ACTIONS script"
Turn this script into an actions script, where it will send out the appropriate dord and/or word documents.

Kelly will take this, but needs Veronica's assistance.

[2016-09-07 14:00] khiestand opened #503 "Update to Quick Caad - SetCursor placement update"
SetCursor to the Caad lines on bottom of screen, it is currently set to the Action button on the top.

I can take this one.

[2016-09-07 15:03] khiestand opened #504 "Quick CAAD, tie in current scripts"
Tie in dialogs for existing scripts, Veronica will take this one, Kelly will email her excel spreadsheet.

[2016-09-07 15:07] #364 closed

[2016-09-07 15:15] theVKC commented on #498
Do you mean "beta branch" users?

If folks using the beta branch are having difficulty, a simple solution is to move them to master (as we are abandoning the beta branch anyway). If by "beta users" you mean master branch users, we've got master branch users in other counties accessing scripts without issue.

If it's beta-branch users with the problem, it's likely that your global variables are not

[2016-09-07 15:15] #498 closed

[2016-09-07 15:52] ChrisKast opened #505 "Court Prep Worksheet"
How do I go about getting the Word Doc this script uses?

looks like it's call "Court Prep Worksheet.dotx"

[2016-09-07 16:33] khiestand commented on #451
[code]

[2016-09-07 16:34] khiestand commented on #451
That is what I have so far for the dialog

[2016-09-07 16:34] KallistaImdieke commented on #370
Hey @khiestand here is my dialog box Thanks!

'''VB.net
BeginDialog CS_intake_dialog, 0, 0, 371, 365, "CS intake dialog"
  CheckBox 15, 50, 145, 10, "Case Opening - Welcome Letter", NCP_welcome_ltr_check
  CheckBox 15, 80, 140, 10, "Court Order Summary", ncp_court_order_summary_check
  CheckBox 15, 90, 115, 10, "DORD F0021 Finacial Statement", NCP_Finacial_Statement
  CheckBox 15, 105, 150, 10, "D

[2016-09-07 16:38] KallistaImdieke commented on #370
whoops I sent this in the wrong one.  sorry.

[2016-09-07 16:38] KallistaImdieke commented on #451
Hey @khiestand here is my dialog box Thanks!

[code]

[2016-09-07 16:39] paschell commented on #505
I gave a copy to @theVKC

[2016-09-07 16:40] theVKC commented on #502
We've decided to just make this the Establishment part of #451.

[2016-09-07 16:40] #502 closed

[2016-09-07 16:47] theVKC commented on #446
The blacklist functionality is not available yet. At this point, just inform folks of which scripts they should and should not use. The majority of agencies have at this point chosen to allow all scripts, so implementing the blacklist has not been a priority. It has its own FuncLib issue, tied to the main menu generation process as well.

[2016-09-07 16:49] #499 closed

[2016-09-07 16:54] theVKC commented on #505
Sent!

[2016-09-07 16:54] #505 closed

[2016-09-07 17:03] jlmartinone commented on #484
I can take this - I was thinking the same thing about an end date. I will update it on Monday 9/12/16.
Thanks!

[2016-09-07 18:01] khiestand commented on #451
![capture](https://cloud.githubusercontent.com/assets/10159902/18323011/3508ad4e-74fb-11e6-8849-c373867ef261.PNG)

[2016-09-07 18:02] heatherallen commented on #451
![capture](https://cloud.githubusercontent.com/assets/17319472/18323034/541c0be0-74fb-11e6-86c9-58284661cabe.PNG)

[2016-09-07 18:03] KallistaImdieke commented on #451
![capture](https://cloud.githubusercontent.com/assets/19214103/18323064/7789b398-74fb-11e6-842c-826882c5184c.PNG)

[2016-09-07 18:04] TammyStearns commented on #451
![capture](https://cloud.githubusercontent.com/assets/11429444/18323103/a9e20340-74fb-11e6-807c-8e4e184e55a8.PNG)

[2016-09-07 18:16] KallistaImdieke commented on #451
![capture2](https://cloud.githubusercontent.com/assets/19214103/18323446/3f5c3d22-74fd-11e6-9661-e1872096cd4e.PNG)

[2016-09-07 18:19] jlmartinone commented on #484
Enhancements done - added end date and term reason

[2016-09-07 18:57] jlmartinone opened #507 "CASE TRANSFER - ACTION; remove Sucess dialog box"
Remove the "Success" pop up at the end. of the script

please assign this to me - Thanks

[2016-09-07 19:00] jlmartinone opened #509 "NON PAY - ACTION; correct dialog box so words do not overlap"
Some words overlap with a button.
Correct dialog box so it is spaced ok

please assign this to me - Thanks!

[2016-09-07 23:33] #484 closed

[2016-09-07 23:33] theVKC commented on #509
Resolved by #512.

[2016-09-07 23:33] #509 closed

[2016-09-08 14:32] paschell opened #516 "NOTES-COURT PREP WORKSHEET"

[2016-09-08 14:38] theVKC commented on #516
@paschell, why is this here??? You left no description, I'm a bit thrown off.

[2016-09-08 14:38] paschell commented on #516
Whoops forgot the comment - I get a BlueZone Critical Error "Something has gone wrong.  The code stored on GItHub was not able to be reached.  The script has stopped...."

[2016-09-08 14:42] theVKC commented on #516
That's probably a configuration issue and not a script issue. Is it happening on any other scripts, and can you confirm that you're on master branch?

[2016-09-08 14:51] paschell commented on #516
It is not happening on any other script.  All of Anoka is on the master branch.

[2016-09-08 15:02] theVKC commented on #516
Are you using the state supported Power Pad? Or is it a custom Power Pad?

I worry your configuration is set in a way which points back to beta. Perhaps you have super users configured or something. If Anoka is entirely on the master branch, then other master branch agencies should be seeing this issue. Are we seeing it in counties @KallistaImdieke or @khiestand? I know your counties use master br

[2016-09-08 15:35] paschell commented on #516
That may be it, I believe we have a customized power pad.    I'll check into this and see what we do about it.

[2016-09-08 16:55] khiestand commented on #516
I cannot run the Ct Prep Wkst, get an error message.

[2016-09-08 16:58] paschell commented on #516
The problem is in the all scripts file. The court prep worksheet is listed as a NOTES type but it lives in the ACTIONS folder.

(This is Robert on Pam's computer)

[2016-09-08 18:07] theVKC commented on #516
OK, that's a bug then.

@RobertFewins-Kalb @khiestand @paschell I'll fix it ASAP.

[2016-09-08 18:10] #516 closed

[2016-09-08 18:10] theVKC commented on #516
Resolved just now. Should be in ACTIONS now. Let me know if you don't see it.

[2016-09-08 18:12] theVKC commented on #464
Hey @KallistaImdieke, do you want me to take this one on? Since you've already got some other Word-doc related issues, perhaps I can take this one (Outlook stuff) off your plate, and then document the process as I go. Eh?

[2016-09-08 18:13] KallistaImdieke commented on #464
If you would like go for it!

Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, September 08, 2016 1:13 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] ANOKA SANCTION: state-ify it with email (#46

[2016-09-08 18:19] margmac17 commented on #451
When I select or drag these over it constantly says "Uploading your files" and it just continually spins so I am not sure if they actually are getting across to here!
[Aff Marriage from Another County.dotx.docx](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/462368/Aff.Marriage.from.Another.County.dotx.docx)
[Day Care Provider Financial Statement.dotx.docx](https://github.com/MN-Script-

[2016-09-08 18:39] TammyStearns commented on #451
I can send these to you as attachments to your e-mail if you think that would work.

[2016-09-08 18:40] theVKC commented on #451
I can see them @margmac17! :)

Tammy, either way you want to do it is fine by me.

[2016-09-08 18:42] RobertFewins-Kalb commented on #516
All good!

NOTICE: Unless restricted by law, email correspondence to and from Anoka County government offices may be public data subject to the Minnesota Data Practices Act and/or may be disclosed to third parties.

[2016-09-08 18:46] theVKC commented on #450
@CDPotter and I have worked out a deal: I complete the MAXIS web-based script installer in exchange for Charles completing this work. Go Charles!

[2016-09-08 18:47] theVKC commented on #516
Thanks for diagnosing @RobertFewins-Kalb!

[2016-09-08 18:48] theVKC commented on #503
@khiestand, since I have #504, mind if I just take this one too?

[2016-09-08 18:49] khiestand commented on #503
Please go right ahead!

[2016-09-08 18:50] margmac17 commented on #451
Chris got them by email yesterday and we went through and coded them so I have them in a file on my desktop (the original word docs).  For some reason my computer just kept saying "uploading files" but it must have worked then!

[2016-09-08 18:59] TammyStearns commented on #451
Is there a problem with your computer or where/how they were saved?

[2016-09-08 19:02] margmac17 commented on #451
They were all protected WORD docs so we removed the protection to edit them with coding and then saved them again as a new WORD docs. No difference with the one you just sent (Paternity Form).

[2016-09-08 19:10] TammyStearns commented on #451
Hmmm.  Not sure what is happening then.  You may want to check with your IS Dept?

[2016-09-08 19:19] margmac17 commented on #451
Can you try clicking on the WORD DOCS above to see if they open for you. (You have to click on the open button at the bottom of your computer).  They appear to be there on GitHub in the cloud it says.

[2016-09-08 19:46] TammyStearns commented on #451
Hi Margaret – I am having trouble getting into GitHub right now.  I did click on the Word Docs before that you listed and I could open them.

From: Margaret M [mailto:notifications@github.com]
Sent: Thursday, September 08, 2016 2:19 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Larson, Tammy <Tammy.Larson@co.stearns.mn.us>; Assign <assign@noreply.github.com>
Su

[2016-09-09 14:40] #507 closed

[2016-09-12 02:08] theVKC opened #518 "Add "local support" email address to Power Pad"
Simple: a Power Pad button (and redirect file) which writes up an email to a locally supported email address. Some counties might do scripts-support@co.county.mn.us, others will possibly do something like jean.valjean@co.county.mn.us.

It'll need global variables, a redirect, and a Power Pad update. On it.

[2016-09-12 02:09] theVKC commented on #518
`support_email_address` = global variable

[2016-09-12 13:20] KallistaImdieke opened #519 "Income Verification Script"
Maxis has a script like this and they would like us to create one for Prism also where we can pull and print what child support income the CP is getting and have it mailed out to her by pulling the information into a letter and printing DDPL.

Please assign this to @TammyStearns and me and we will work on it today as we were told this is priority for us.

thank you!

[2016-09-12 14:05] theVKC commented on #383
I'm taking this off of the initial milestone, but we still have it on the radar. @KallistaImdieke and @TammyStearns are mapping out the process.

[2016-09-12 14:18] theVKC commented on #98
We've decided to simply enhance the non-pay script. Jodi uses that script a lot, so she'll take it. Thanks @jlmartinone!

[2016-09-12 14:49] theVKC commented on #386
Resolved by #520.

[2016-09-12 14:49] #386 closed

[2016-09-12 15:32] theVKC commented on #472
The CANCEL BUTTON SELECTED business was not found, meaning it's likely tied to a function from the old Functions Library (which is being phased out). So, that issue does not need to be addressed here. @KallistaImdieke has resolved the worker_signature business, so we're set!

[2016-09-12 16:18] theVKC opened #522 "Move "select one..." from GlobVar arrays to the scripts that use them"
This allows magistrates and judges to be stacked if desired. @KallistaImdieke is fixing the GlobVar, I'll take the cleanout of existing scripts.

[2016-09-12 17:42] #454 closed

[2016-09-12 17:52] khiestand commented on #467
I have done everything I can on this, the CP companion case finder one is not pulling in.  Robert wrote this script and here is what he says about it:
It definitely doesn’t appear to be making a list of MCI numbers on the CP companion case finder. You can test this one on actual-factual PRISM…it just creates a list in Excel.

If you are going to combine them, then go with the NCP script. The only

[2016-09-12 17:55] theVKC commented on #467
I'll be taking it from here. Thanks for your help Kelly!

[2016-09-12 19:01] #518 closed

[2016-09-12 19:20] khiestand opened #527 "Bug - Bulk Case Transfer Script"
Does not work in the training region:

1) The "Specify Cases to Transfer" is getting stuck on the CAAS screen, and just loops and loops infinitely.
2) The "Transfer Caseload Top to Bottom" is also not working, getting this type mismatch error:
![image](https://cloud.githubusercontent.com/assets/10159902/18449100/81d1fdbe-78f3-11e6-9537-f1ecf1921a04.png)

I have tried to figure out the fixes but it

[2016-09-12 19:21] #98 closed

[2016-09-12 19:25] khiestand commented on #460
Update-
I have pulled in the ACTIONS - Case transfer script as a stand alone actions script.
I have noticed that there are bugs in the Bulk Case Transfer scripts, and added an issued on the issue list for Robert to take a look as he was the script writer of that one.  If Robert cannot do this in the next two days, Veronica will pull the script.  The Actions - Case Transfer script button already ex

[2016-09-12 19:26] theVKC commented on #460
#527 addresses the bug. I will clear the bulk script in a couple days if I don't hear from @RobertFewins-Kalb. Robert, if you can pull in the working bulk portion as a new bulk script, that'd be superb. :)

[2016-09-12 19:29] #460 closed

[2016-09-12 19:51] RobertFewins-Kalb commented on #460
Pull 308 (https://github.com/MN-Script-Team/DHS-PRISM-Scripts/pull/308/files) shows what needs to be separated to make the one script into two. The bulk part worked just fine on Friday at 3:45 PM when I was asked to help someone do it.

I am unable to log in to my GH account on accounta I accidentally deleted my authenticator app while on vacation because of my whimsy and now I don’t know where my

[2016-09-12 20:04] #522 closed

[2016-09-12 20:11] RoberT-1000 commented on #527
Give me a second. I'll be pulling something soon.

[2016-09-12 20:22] theVKC commented on #261
@levesswe, can you give me an update on this one?

[2016-09-12 20:23] theVKC commented on #390
@gretchent74, can I get an update on this one?

[2016-09-12 20:24] theVKC commented on #391
@gretchent74, can I get an update on this one?

[2016-09-12 20:25] theVKC commented on #407
@levesswe, can I get an update on this issue?

[2016-09-12 20:25] gretchent74 commented on #390
I was out of the office last week.  I hope I will  have a chance to work on it soon.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, September 12, 2016 3:23 PM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] New

[2016-09-12 20:25] theVKC commented on #437
@Mkreger9, can I get an update on this one?

[2016-09-12 20:26] gretchent74 commented on #391
I was out of the office last week.  I hope I will  have a chance to work on it soon.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, September 12, 2016 3:25 PM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] new

[2016-09-12 20:27] theVKC commented on #459
@levesswe, can I get an update on this one?

[2016-09-12 20:28] theVKC commented on #463
@gretchent74, can I get an update on this one?

[2016-09-12 20:28] theVKC commented on #468
@levesswe, can I get an update on this one? It's tied to the initial release, I might remove it and we can tie it for the followup.

[2016-09-12 20:29] theVKC commented on #469
@levesswe, can I get an update on this one?

[2016-09-12 20:30] #350 closed

[2016-09-12 20:32] khiestand commented on #527
Way to go @RoberT-1000 !!!

[2016-09-12 20:38] theVKC commented on #527
@Robert-1000, I cannot assign the issue to you until you join the MN-Script-Team organization. I've sent you an invite.

[2016-09-12 20:55] RoberT-1000 commented on #527
Should be good to go.

[2016-09-12 21:07] KallistaImdieke commented on #519
@theVKC  is working in Mainframe friendly date updates. I will pull it into another branch.

[2016-09-12 21:20] levesswe commented on #459
Haven't even started it.

[2016-09-13 16:36] ChrisKast commented on #472
This script appears to still have a bug surrounding worker signature....

[2016-09-13 16:43] KallistaImdieke commented on #472
I did just correct this yesterday morning at hackathon. I am not sure if the corrections have been pulled in yet??

From: Chris Kast [mailto:notifications@github.com]
Sent: Tuesday, September 13, 2016 11:36 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-S

[2016-09-13 16:57] theVKC commented on #472
@KallistaImdieke, I'm wondering if your commit which added the logic in the dialog loop didn't sync.

[2016-09-13 16:57] #527 closed

[2016-09-13 17:02] RoberT-1000 commented on #472
The logic in the loop includes the variable `workers_signature` while the rest of the script uses `worker_signature`

[2016-09-13 17:02] RoberT-1000 commented on #472
![image](https://cloud.githubusercontent.com/assets/22157633/18483497/f1f340b0-79a9-11e6-95b1-39be37c5fcc1.png)

[2016-09-13 17:03] KallistaImdieke commented on #472
Thank you I will correct this this afternoon

From: RoberT-1000 [mailto:notifications@github.com]
Sent: Tuesday, September 13, 2016 12:03 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] MOD CAAD NOTE - CONTACT CHECKLIST: two

[2016-09-13 17:03] theVKC commented on #472
I watched @KallistaImdieke commit that update though, so I think we didn't sync her branch before I accepted the pull request.

[2016-09-13 17:04] theVKC commented on #469
I'm going to take this one to expedite it.

[2016-09-13 17:08] theVKC commented on #261
As this is a bug, I'm going to take it to expedite it. I suspect it's a logical loop with when the script drops down to the next line. @KallistaImdieke, @jlmartinone, or @khiestand, can either of you confirm that the problem is that logical loop? If someone can confirm I'll happily build the fix sometime this week.

[2016-09-13 17:13] theVKC opened #534 "Remove BULK - M6529 (it is currently error-prone)"
See discussion on #407 for errors.

I am going to remove the script for now, and mark #407 as a "new script idea" (to be called "BULK - REVIEW INTEREST SUPPRESSION (M6529)"). I will also be removing it from the initial release as it seems unlikely it'll be accomplished in the coming weeks.

@levesswe, when you complete #407, you can simply add it to ALL SCRIPTS.vbs and upload your newest version (