[2016-09-13 17:18] theVKC commented on #468
@levesswe isn't sure she can get to this shortly. I'm going to plan on taking it so it can be done prior to release. #FewerButtonsMeansHappierChildSupportPeople

[2016-09-13 17:46] KallistaImdieke commented on #472
I did a correction to where i found one more issue with it saying workers_signature I changed that and ran the script and it appears to be working now.

[2016-09-13 17:52] theVKC commented on #466
@heatherallen, can we set up a date to go over this one? Preferably sometime in the next couple of weeks.

[2016-09-13 18:20] heatherallen commented on #466
@theVKC, I would love to go over this with you.  What days work better for you?

[2016-09-13 19:02] margmac17 opened #537 "ESTB PA DORD DOCS"
This script was set to print the incorrect DORD doc for the NCP (F0100) and should be printing the F0109. I went in and changed the script to print the correct doc F0109 and created a pull request so it will now print correctly.

[2016-09-13 19:15] theVKC commented on #466
How about the 22nd or 23rd?

[2016-09-13 19:16] #472 closed

[2016-09-13 19:18] theVKC commented on #537
Resolved by #536.

[2016-09-13 19:18] #537 closed

[2016-09-13 19:51] heatherallen commented on #466
Let's do the 23rd as I have court on the 22nd.  Did you want to meet somewhere or try to do over the phone?

[2016-09-13 20:05] theVKC commented on #466
I'd be happy to meet at Scott County, DHS, or anywhere in between. Can we do the afternoon?

I can pretty easily reserve us a room here, but the parking is often challenging. If you don't get reimbursed for parking/mileage, I'm happy to come to you.

[2016-09-14 13:15] heatherallen commented on #466
I will check with my supervisor when she gets back tomorrow and we can narrow down the location.

[2016-09-14 13:27] paschell opened #538 "ACTIONS - NON PAY misspelled word"
In the Non Pay Ltr  the word arrears is misspelled.  "Your current **arreas** balance ..."

[2016-09-14 14:44] theVKC commented on #538
@paschell, would you like to correct it and pull it in? I'd be happy to talk you through it (via phone) this afternoon, probably wouldn't take 10 minutes. :)

[2016-09-14 14:47] paschell commented on #538
@VKC,   sure I would !   Do you want me to call you?

[2016-09-14 14:59] theVKC commented on #538
Sure! I should be free around 1. Give me a call!

[2016-09-14 18:05] paschell commented on #538
I can't find your phone number

[2016-09-14 18:08] theVKC commented on #538
651-431-3993

[2016-09-14 18:14] #538 closed

[2016-09-14 18:45] theVKC commented on #449
@jlmartinone, any chance this can get done before MFSRC?

[2016-09-14 18:46] theVKC commented on #419
@KallistaImdieke, what do you think about this idea? I don't know that we talked about it yesterday, but I'm OK with delaying it until the next release if you'd like.

[2016-09-14 18:47] theVKC commented on #391
@gretchent74, do you think it's possible to get this one done before MFSRC?

[2016-09-14 18:48] theVKC commented on #390
@gretchent74, think it can be done by MFSRC?

[2016-09-14 18:50] gretchent74 commented on #390
Maybe.  I am trying to catch up on my case work so I can set aside a few days to work on scripts.  I can make the annual review and the 2 issues assigned to me a priority.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, September 14, 2016 1:49 PM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] New Idea -

[2016-09-14 19:08] KallistaImdieke commented on #419
@theVKC This is the script I was hoping to work on next (after the one I was working on and finishing the intake script)  not sure if it will make this release or if it will have to be the next one if you are doing the release before conference it may need to be the next one.  Thanks!

[2016-09-14 19:13] gretchent74 commented on #391
Nope.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, September 14, 2016 1:48 PM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] new idea - bulk script doc worklist L0103 (#391)

@gretchent74<https://github.com/gretchent74>, do you think it's possible to get this one done before MFSRC?

—
You are receivi

[2016-09-14 19:41] theVKC opened #540 "GlobVar: needs UCASE functionality on beta user list"
It shouldn't matter whether you type the user's name in lower case or upper case. GlobVar should UCASE both variables when determining if you're BETA.

On it.

[2016-09-14 19:44] #540 closed

[2016-09-16 16:35] #534 closed

[2016-09-16 16:46] theVKC opened #543 "Remove "all_counties" from ALL SCRIPTS.vbs file"
On it.

[2016-09-16 17:14] #403 closed

[2016-09-16 17:14] #543 closed

[2016-09-19 14:57] levesswe commented on #503
I was testing this script and noticed that if you enter the CAAD code with a lower case letter, the dialog doesn't find it.  This is a quick fix you can make while you are in there, @theVKC.  Just Ucase the string the user types in for the comparison.

[2016-09-19 16:25] theVKC commented on #519
I'm working on adding mainframe-friendly-date-enhancements, hopefully today. Sorry about the delay, lots of meetings last week. :/

[2016-09-21 18:13] theVKC commented on #451
@khiestand: remind me... are we removing ESTB DORD DOCS FOR NPA CASE and ESTB DORD DOCS FOR PA CASE because of our work on one-intake? Doesn't the establishment track cover this?

[2016-09-21 18:15] margmac17 commented on #451
yes, I thought that was the case that they would be put into the new "intake" script.

[2016-09-21 18:17] theVKC commented on #451
I am operating on that assumption based on my notes. However, I just wanted to make sure before I start building and detailing new instructions... :)

[2016-09-21 19:02] theVKC commented on #445
I don't think this will be possible to complete before the initial release. But, it is possible to complete.

I'm going to prioritize blacklisting for testing during the October release cycle. Removing from v2016.09.

[2016-09-21 19:04] theVKC commented on #389
This is not likely to be possible before the September release (I'm prioritizing other things). So, I'm moving this to the v2016.10 release.

[2016-09-21 19:05] khiestand commented on #451
Yes agree with Margaret

[2016-09-22 15:26] theVKC commented on #409
Can I get an update on this one @KallistaImdieke? It's marked for the September release, so if it won't be ready by next week we should move it to October. :)

[2016-09-22 15:27] theVKC commented on #390
@gretchent74, any chance I can get an update on this one from you? If you don't think it can be done by September 30, I might kick it to the following release.

[2016-09-22 15:28] theVKC commented on #449
@jlmartinone, any chance I can get an update on this one from you? If you don't think it can be done by September 30, I might kick it to the following release.

[2016-09-22 15:29] theVKC commented on #463
@gretchent74, any chance I can get an update on this one from you? Since this is a bug, I might try and take it if you don't think you can do it by next Friday. I'd like to get the bugs resolved ASAP, for obvious reasons. :)

[2016-09-22 15:29] gretchent74 commented on #390
I plan to work on it 09/26/2016 but I don’t think it will be done by 09/30/2016.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 10:28 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] New

[2016-09-22 15:31] gretchent74 commented on #463
My plan was to ask you some questions on this one and the un/un docs that I am almost done with on 09/26/2016 at the meeting.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 10:29 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject

[2016-09-22 15:31] theVKC commented on #390
Thanks for letting me know. I'll remove it from this release and tie it to the next one. The duedate for new scripts for that release is 10/14/2016.

[2016-09-22 15:32] theVKC commented on #463
Good deal, thank you!

[2016-09-22 15:43] TammyStearns commented on #458
This is going to take longer then expected in looking at the MAXIS script that I am following.  I do not expect to have this ready within coming week.  Thanks.

[2016-09-22 15:51] KallistaImdieke commented on #409
I will work on it this afternoon and let you know how far I get it was very close to being done just needed some information on which codes we would not automatically keep closed and I have that now.  Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 10:27 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kal

[2016-09-22 15:55] theVKC commented on #409
Good deal, thank you!

[2016-09-22 17:04] theVKC commented on #437
Per @Mkreger9, this will not be done in time for this release. I am removing it for now, I presume we may know more at the next hackathon (Monday at DHS).

[2016-09-22 17:53] IlseFerris opened #546 "Update global variables file to include using_SQL_database variable"
This boolean variable is needed in order for agencies to determine if SQL is being used to collect their data.

Assign to me for the September release as this is associated with an update to the FuncLib that is also being published in the September release.

[2016-09-22 18:53] KallistaImdieke commented on #409
The script is done and I have done a pull request (I hope I did it right)  let me know if you need anything else from me.  Thanks!!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 10:56 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.co

[2016-09-22 21:35] theVKC commented on #546
Resolved by #547.

[2016-09-22 21:35] #546 closed

[2016-09-22 22:54] theVKC commented on #451
I put together a document:
[docs the intake script sends.xlsx](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/488539/docs.the.intake.script.sends.xlsx)

This shows all documents that the intake script sends. It's a lot!

I've just standardized the variables and document names across all dialogs. Now I just need to import the docs and it's a wrap!

[2016-09-23 14:13] levesswe opened #550 "BUG Returned Mail"
The script may apply address changes on the wrong participant if there is another MCI number in globals.  We will want the script to REGL during the start of the process to eliminate that problem.

This is a significant enough bug that I recommend removing the script from menus until this bug is fixed.

I also have some ideas for enhancements for this script and would be willing to take on this fi

[2016-09-23 15:03] margmac17 commented on #550
The person here who does our incoming mail told me that if the CP or NCP address is already "unknown" on Prism it duplicates another "unknown" address for the person. So unless you look at the address screen first you will get another "unknown" address put out there (if that makes sense).

[2016-09-23 15:17] theVKC commented on #550
A REGL isn't tough. I'll take it and try and knock it out ASAP.

I don't think it meets "critical" status, because a user can manually REGL before starting the script. Even so, I will get it done.

[2016-09-23 15:21] theVKC commented on #468
I am removing this from the milestone and initial release project, because I don't believe I can prioritize it over some bugs and enhancements that will add value before the initial release.

If anyone wants it, let me know. If nobody takes it by October 3rd, I'm going to plan on closing it.

[2016-09-23 15:27] theVKC commented on #449
Haven't heard, so I'm removing it from the September release and moving it to October. @jlmartinone, I'm leaving it assigned to you. Let me know if you want me to unassign it or close it.

[2016-09-23 18:40] RoberT-1000 opened #551 "BUG -- ACTIONS - SEND F0104 does not include check_for_PRISM"
This got someone... possibly @paschell ...suspended from PRISM today. I can submit a fix.

[2016-09-26 14:27] #551 closed

[2016-09-26 16:17] Mkreger9 commented on #437
issue #451 should resolve this

[2016-09-26 19:59] Mkreger9 opened #556 "IW Calculator and IW CAAD/CAWT"
Why are there now 3 scripts for the IW calculator and making CAAD notes/worklists . There are 2 scripts that separate the calculator and for writing CAAD/CAWT. There is one that combines the 2. I think a decision needs to be made if we need to have 3 scripts for this.

[2016-09-26 20:11] theVKC commented on #556
Agreed, I think we should discuss it. I see the merits of breaking it out because the calculator is used in different places than the CAAD notes/worklists. But I'm open to feedback from @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors.

[2016-09-26 20:20] paschell commented on #556
I thought we discussed this at the meeting in Buffalo and decided to retire the one and keep the two.  But if the issue is reopen again, I agree with @VKC.  That way IF someday we have a button on our power pad for just calculators that would be cool.  (We have 4 now PALC, DDPL, Pro Rate and now IW).  I think there may be more coming as well.

[2016-09-26 20:30] theVKC commented on #556
We did discuss it at the Buffalo meeting for sure. We're just discussing it again because of the feedback @Mkreger9 has gathered. :)

[2016-09-27 11:08] gretchent74 commented on #556
I agree and love the idea for a spot on the power pad for calculators.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: paschell [mailto:notifications@github.com]
Sent: Monday, September 26, 2016 3:20 PM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Team mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] IW Calculator and

[2016-09-27 13:14] KallistaImdieke commented on #556
I love the idea of a separate button on the power pads for the calculators!

[2016-09-28 14:40] theVKC commented on #556
It seems there's a lot of interest in separate buttons for calculators. Perhaps a new "class" of scripts (CALCULATOR - PALC as an example). Do folks like that? Then the calculator portion of this script could easily be assembled in that direction. :)

[2016-09-28 14:46] paschell commented on #556
I think this would work!  The idea behind wanting a 'button' for calculators is the ease in being able to quickly find and use a calculator.  LOVE THIS!!

[2016-09-28 15:46] heatherallen commented on #556
I think a separate button would be awesome!

[2016-09-28 18:49] heatherallen commented on #466
Veronica and I met today and compared the Ramsey County NOCS script vs. the current NOCS script.  I feel that the Ramsey County one runs with fewer clicks and processes the worklists in bulk instead of going through each individual case.  What are people's thoughts? @MN-Script-Team/prism-scriptwriters

[2016-09-28 19:03] TammyStearns commented on #466
If Ramsey County's NOCS script is basically the same (or better) than the one on Bulk Scripts, but runs with fewer clicks and processes more in a 'bulk manner' then we should consider replacing the current script with Ramsey's version.

[2016-09-28 19:10] paschell commented on #466
I agree.   The procedure on DHS/Sir is simple - Send the Notice upon getting a PA to NPA Program Change.  I don't believe we need to have all the bells and whistles that were added to the NOCS script we have out there now.  I saw Ramsey's a long time ago and liked it.

[2016-09-28 19:12] theVKC commented on #466
@heatherallen, if we go the route of modifying the wonderful Ramsey NOCS script, we'll need to replace the existing standard BlueZone functions with the collaborative-supported FuncLib functions. I'll be happy to assist if we go this route.

Also, for what it's worth, I fully support moving this over to a version with less clicks required per script run. I also think it would be swell to add Excel

[2016-09-28 21:01] theVKC opened #557 "Create guidelines.md details for pull request instructions and guidelines"
I only recently became aware of this nifty little feature of GitHub, to create pull request guidelines and issue guidelines. Totally on it.

[2016-09-28 21:11] #463 closed

[2016-09-29 13:39] RoberT-1000 commented on #466
Yes! Do it. We had to jump through those hoops to get it approved initially (long story) but this script should always have been the Ramsey version.

[2016-09-29 14:55] theVKC commented on #466
Well, I think there's pretty broad consensus here. @heatherallen, let's do it!

[2016-09-29 15:51] #550 closed

[2016-09-29 16:26] khiestand opened #559 "Returned Mail Script - bug"
It is not CAAD noting when it is supposed to, around line 197 for the CP and line 255 for NCP.  It does update the address to unknown for both CP and NCP if checked.

It is also not deleting the new address all the way when entering a new forwarding address.  No idea why.

 If I am going to demo this next Wednesday we need to get it fixed ASAP.  I need help, is it an indenting problem??

[2016-09-29 16:32] RoberT-1000 commented on #559
I'll take a look!

[2016-09-29 16:34] khiestand commented on #559
thanks @RoberT-1000!!

[2016-09-29 16:43] RoberT-1000 commented on #559
One thing I can see is that the script is doing an EMWriteScreen for the activity date, but CAAD will not let you save the note if the date is not a MM/DD/YYYY format. Leading zeroes tend to be removed from date variables. I'm going to go ahead and say that's also the problem on line 258.

I can't test this (sorry) but, on line 258, replace your EMWriteScreens with `CALL create_mainframe_friendly_

[2016-09-29 16:55] khiestand commented on #559
@RoberT-1000
I made those changes, however, it updates the address, but still does not CAAD note, and the CAAD note piece should be happening BEFORE the address screen parts.... ????

[2016-09-29 17:13] theVKC commented on #559
This didn't just start, did it? I updated it earlier today with a REGL for removing existing case numbers (but only if they conflict with the entered case number).

[2016-09-29 17:14] khiestand commented on #559
I haven't had any returned mail on my caseload to use the script since it went on the power pad unfortunately so I am not sure

[2016-09-29 17:16] theVKC commented on #559
@khiestand, I do believe I was in the room when you tested it. Do you know if it's working on the specific training case you tested it on?

I just tried it on a couple of cases (training case 01-01 and 16-01). 16-01 didn't CAAD note when updating for a new known address. I'm wondering if there's a missing condition.

As we speak, I'm working on a new writing dates function (it's called `write_date

[2016-09-29 17:23] khiestand commented on #559
I can't remember, I ran it on multiple cases that day.  I'm not sure I can figure out the fix and the deleting issue, for sure not by tomorrow.  I am out Mon-Wed at the conference next week.

[2016-09-29 17:34] theVKC commented on #559
Any chance someone else can take it? @RoberT-1000, can you help me out here?

[2016-09-29 18:20] KallistaImdieke commented on #14
I have received notice that we are receiving this same error:
Script Error at Line 1, Column1:
Object not a collection

for the Note-contempt hearing and the Note- Hearing Note Scripts.

Thanks!

[2016-09-29 18:27] theVKC commented on #14
I'm going to take a guess and say you don't have an array of attorneys. You can probably resolve it by creating one. Your global variables file should have several attorneys in it in an array. If it doesn't, we should discuss how to get one set up for you.

[2016-09-29 18:27] theVKC commented on #14
And no, I don't think this should be reopened, since I'm pretty sure it's not a problem related to the actual script, but rather to a global variable setup.

[2016-09-29 18:42] KallistaImdieke commented on #14
I think this is something that only Gay is able to do for us I emailed her to check it out.

Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, September 29, 2016 1:28 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Comment <comment@noreply.github.com>
Subject: Re: [MN-Script-Team/

[2016-09-29 19:02] theVKC commented on #14
If she has any questions on what she sees, @GayS can email me!

[2016-09-29 21:29] KallistaImdieke opened #560 "Arrears Mgmt Review"
When trying to run this script we are receiving the issue where it jumps up and starts writing on the case number, name ect as shown in the snap show and we have made sure that there are no characters/symbols  being used in the scripts.

[2016-09-30 14:00] theVKC commented on #560
!!!

PLEASE DO NOT SHARE SYSTEM SCREENSHOTS, ESPECIALLY WITH CLIENT DATA

[2016-09-30 14:02] theVKC commented on #560
I removed the system screenshot here, in the future, please email them to me directly.

[2016-09-30 14:02] theVKC commented on #560
In any case, check to see that the script has an EMSetCursor on the appropriate line before it starts writing CAAD note details.

[2016-09-30 14:12] KallistaImdieke commented on #560
It is at the start of the script and the script does start out right but after it writes the first screen of the CAAD note and needs to page down it appears that may be when the bug is being caused and it doesn’t page down like it is supposed to and then go to the correct line from there.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Friday, September 30, 2016 9:03 AM
To: MN-Script-

[2016-09-30 14:15] theVKC commented on #560
Check out the script file itself, does it use `write_variable_in_CAAD` and `write_bullet_and_variable_in_CAAD`? Those functions handle the pagination.

[2016-09-30 14:19] KallistaImdieke commented on #560
I checked the script and yes it does use write_variable_in_CAAD and write_bullet_and_variable_in_CAAD and has    EMSetCursor at the beginning of writing the caad note

[2016-09-30 14:20] theVKC commented on #560
Well then, it's either

A. A functional problem with the pagination, or
B. A particular string which is causing an issue in the function

You should also ensure it's happening on multiple users across multiple cases.

[2016-09-30 14:22] KallistaImdieke commented on #560
I did test it on my case also after I was told about the issue but on the same case I will go ahead and see if we can have other cases tested.

Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Friday, September 30, 2016 9:21 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Author <author@no

[2016-09-30 14:23] levesswe commented on #560
Yes, it does use those functions.  Also, I wanted to add that this error is reproducible. We have experienced it too.  We were hoping the updated functions library (See Bug #349) would resolve this issue… Apparently not?

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Veronica Cary [mailto:notifications@github.co

[2016-09-30 14:27] theVKC commented on #560
It seems odd that it's limited to this particular script, though. And yes, that function may address this, but I've been focusing on prioritizing script organization and planning/prep over functional modifications (I don't have a lot of help on the PRISM functions side at this time, either).

@levesswe, how long has the error been persisting? We should have had an error report as soon as it was fi

[2016-09-30 14:28] theVKC commented on #560
(#349 didn't reference any bugs, just an enhancement idea)

[2016-09-30 14:28] RoberT-1000 commented on #559
I was in meetings all day yesterday afternoon so I missed this entire conversation.

@khiestand, have you tried putting message boxes every couple lines in the CAAD noting to see where things go wrong? If there is something that PRISM does (or doesn't do) that the script is triggering (or failing to trigger) we should slow the script down to try to catch it.

[2016-09-30 14:31] theVKC commented on #559
I'm fairly certain @khiestand is going to be pre-occupied with work due to the conference. As am I. Any chance someone else can investigate this before Wednesday?

[2016-09-30 14:37] khiestand commented on #559
@RoberT-1000 @theVKC
I have no time, I am scrambling to finish/clean up my other work today before heading to the conference Mon-Wed of next week.  Sorry!

[2016-09-30 14:38] levesswe commented on #560
It’s been a problem at least until June, because that’s when I opened bug #349.  I don’t think it is a problem specifically with this script; I think it is a more global issue related to the functions.  You can ask people and they will tell you they have at times had this same issue with the client contact script and other note scripts.

Personally, I think the volume of data being written is a co

[2016-09-30 14:43] RoberT-1000 commented on #559
Then I'm going to need to get into the training region. Does anyone have access right now? @MN-Script-Team/dhs-scriptwriters

[2016-09-30 14:45] khiestand commented on #559
Yep, cicsdt4, pwcst10, sep$2016, QQT5

[2016-09-30 14:45] RoberT-1000 commented on #559
RAD! Thank you

[2016-09-30 14:47] theVKC commented on #560
![image](https://cloud.githubusercontent.com/assets/5701751/18995537/3be1e294-86f2-11e6-9d68-476fefe32552.png)

Nothing about your issue in #349 references a problem, though. In the future, if you are indicating a _problem_ with a script or function, you need to say so. The tag (or phrase) _enhancement_ implies  *things are currently working fine but this could be better*. Had this been tagged as

[2016-09-30 14:48] #560 closed

[2016-09-30 14:56] theVKC commented on #559
I think the password might be for October now, FYI. Just got an email this morning. Let me know if it doesn't work.

[2016-09-30 14:57] RoberT-1000 commented on #559
It's October. I'm in. Thank you!

[2016-09-30 15:05] RoberT-1000 commented on #559
@khiestand -- When you are testing this in the training region, what date are you entering for the Effective/Verified Date?

[2016-09-30 15:06] khiestand commented on #559
I have been using a day or two after the last effective date in Prism.  Could that be the issue?

[2016-09-30 15:46] RoberT-1000 commented on #559
That's what I'm wondering. PRISM training region seems to be really sensitive about dates. I'll keep poking and prodding.

[2016-09-30 16:17] RoberT-1000 commented on #559
@khiestand, please let me know about the following...

1. When the user selects an unknown address, the script is not programmed to create a CAAD note.
2. When the user selects a known address, the script will create the CAAD note BEFORE updating the CPDD. PRISM then automatically creates a CAAD for the changes.
3. When the user enters any value into the "Other" editbox, the script will CAAD note

[2016-09-30 16:21] khiestand commented on #559
If we are updating the address to unknown for either party, we want the CAAD note to note, R0010 for NCP and R0011 for the CP.

Will you also check if you are updating to a new address that is shorter than what was previously there, it is only writing over what was there, this leaving some of the old address there which is obviously a problem.  I don't know anything about the erasing logic used, W

[2016-09-30 16:34] RoberT-1000 commented on #559
OK, so there's no code to create a CAAD for the CP...
![image](https://cloud.githubusercontent.com/assets/22157633/18999088/71c5cf1a-8701-11e6-9b24-0642fe6a35ed.png)

I'll move the bit that's down by the ELSEIF so it's creating a CAAD note every time...
![image](https://cloud.githubusercontent.com/assets/22157633/18999147/c000df3a-8701-11e6-83a5-d5d4bcb550e1.png)

Then I'll take a look at the addr

[2016-09-30 16:36] RoberT-1000 commented on #559
@khiestand, a recommendation for future coding, please keep an eye on your indentation. It makes the script a little difficult to follow.

[2016-09-30 16:47] RoberT-1000 commented on #559
One more thing -- the test region won't let you update the address. It keeps saying the database is out of date no matter what address I put in...
![image](https://cloud.githubusercontent.com/assets/22157633/18999494/864bb970-8703-11e6-9d4b-69872f79a79a.png)

I think I made the appropriate changes. I'll submit a pull request. Go ahead and try it in production when you have a chance.

[2016-10-07 16:54] #559 closed

[2016-10-07 17:28] #557 closed

[2016-10-07 19:22] theVKC opened #563 "ALL SCRIPTS: must be moved around"
Because of the dashes that are now being inserted into file paths via GitHub on the web, we need to rearrange some things. Here's my proposal:

- [x] In the root of the repo, separate directories for actions, agency-custom, bulk, calculators, nav, notes, and utilities, as well as databases, docs, and locally-installed-files.
- [x] GlobVar gets moved to the locally-installed-files.
- [ ] Every sing

[2016-10-10 18:44] gretchent74 commented on #390
I am still working this one but won't be done by 10/14/2016.

[2016-10-10 18:46] gretchent74 commented on #391
I almost done with this one.  I have 2 issues I am trying to resolve but mostly completed.  issues with caad note and script is only reviewing the first item in each case instead of all the are not reviewed yet.

[2016-10-10 19:10] KallistaImdieke opened #564 "Financial Statement Follow up Request letter"
We have a Letter we send out to follow up on Financial statements on modification and establishment actions that we would like to create into a DORD to save some time.

I have already started on a script that will create this letter.  Can you please assign this to me.

This will create the DORD document, modify the CAAD note that the letter was sent out and create a worklist to follow up.

Thanks!

[2016-10-11 14:18] jannellstearns opened #566 "enhancement request -- client contact -- notes"
would it be possible to add the following to the client contacts?  Possible mandatory field that the question was at least asked (checkbox)?  Verify address, phone number, employer, MAYBE-- check enfl for DLS ACT and see if payment plan is necessary.

[2016-10-11 14:22] jannellstearns opened #567 "New script idea"
Is it possible to build a script to check work number to see if the employer is a work number employer?

  It would be nice to run this when adding employers and there is a legal action pending - it would save time and it would be more likely that counties would meet legal action timeframes if we don't use 30 days to send an employer verification out only to have it returned as send to work number

[2016-10-11 14:23] theVKC commented on #566
@jannellstearns, what question specifically do you want a mandatory field for?

Checkboxes are hard to make mandatory, because if you force it to be checked, people just check it without thinking about it... If you want something to be suggested to the user, we can consider that. :)

[2016-10-11 14:24] theVKC commented on #567
This is an interesting idea. I'm going to float it here at DHS. :)

[2016-10-11 14:43] jannellstearns commented on #566
Might as well skip the mandatory part and just have it as check box fields that were reviewed.

[2016-10-11 14:52] gretchent74 commented on #566
Maybe we could have the script to check prism to see if there is no address, phone, or employer and either  add a check box to the dialog or have a separate pop up that will remind worker to ask these things if not on prism?

I also think it would be nice to add something like the bottom 2  checkboxes:
[cid:image001.png@01D223A4.E9ECE1B0]

Just a thought.

Thank you,

Gretchen Thornbrugh
Dakota Co

[2016-10-11 15:34] theVKC commented on #566
@gretchent74, your screenshots don't go through on GitHub when you email them. Can you log into GitHub and share again please? Sorry about that!

[2016-10-11 15:39] gretchent74 commented on #566
Check if you left a generic message returning their call.
Check if you left a message requesting permission to leave a detailed message in the future.
Then this would go in your caad note.

[2016-10-11 15:43] theVKC opened #568 "Idea: a text file where a county can add custom pop-ups before or after a script runs"
Just looking for feedback on this idea.

As an example, if you want a pop-up box to run before and after the intake script, you can add:

[code]

If folks like it, I can add it in while I'm updating #563. Thoughts @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors?

[2016-10-11 15:45] gretchent74 commented on #568
I think that would work great!

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, October 11, 2016 10:44 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Team mention
Subject: [MN-Script-Team/DHS-PRISM-Scripts] Idea: a text file where a county can add custom pop-ups

[2016-10-11 15:48] gretchent74 opened #569 "ACTIONS Non Pay -- issue with last payment amount on the dord document"
The last payment amount on prism was $4,767.00 but the script put $,767.00 in the dord document.  Has anyone else had this problem?

[2016-10-11 15:55] gretchent74 opened #570 "BULK Failure POF RSDI DFAS and Review Pay Plan - DL is Susp-- enhancement"
My name is too long for the worker name in the dialog box on both scripts.  You can assign to this issue to me.

[2016-10-11 16:06] theVKC commented on #569
I'm going to take a guess and say the scriptwriter didn't anticipate commas.

@KallistaImdieke, sound familiar? I believe we dealt with a similar issue yesterday. Care to enlighten us with your solution that you used yesterday?

[2016-10-11 16:19] gretchent74 commented on #441
@theVKC  I am wondering if you received my updated pull requests (yesterday) for these 2 scripts and if I did it correctly or not.  Thank you.

[2016-10-11 16:27] theVKC commented on #441
Did you see my email this morning? Closing all pull requests until after #563 is resolved.

[2016-10-11 16:28] gretchent74 commented on #441
So then I will have to try it again when you let us know we can?

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, October 11, 2016 11:27 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Assign
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] ACTION - UN/UN Docs (#44

[2016-10-11 16:37] theVKC commented on #441
You will. No worries though, I should have detailed instructions when the time comes!

[2016-10-11 16:41] KallistaImdieke commented on #569
@gretchent74  @theVKC

I reviewed the code on this case and it appears that this may be happening because we are only reading at row 7, column 53 on PAPL which only allows for 4 numbers before the decimal point XXXX.XX ( and this number is longer that that with the Comma that the system puts in.  I believe that if we would need to change the script to pull from row 7, column 50 or 51 and this will

[2016-10-11 16:48] theVKC opened #571 "Rename list-generator BULK scripts"
OK @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors. Organizing script names, I think we have a few that should be updated. I'd like to take list generator scripts and rename them as follows:

* "CALI TO EXCEL" -> "list - CALI"
* "CP COMPANION CASE FINDER" -> "list - Companion Cases CP"
* "NCP COMPANION CASE FINDER" -> "list - Companion Cases NCP"
* "NO PAY REPORT" -> "lis

[2016-10-11 16:54] theVKC opened #572 "Remove scripts that don't have instructions written (or someone working on instructions)"
I hate to do this, but I've asked a few times over the last two weeks and don't have volunteers on these three scripts (apparent creator in parenthesis):

* ACTIONS - COURT PREP WORKSHEET (@RoberT-1000)
* ~~ACTIONS - ADMIN REDIRECT (@RoberT-1000, may have been Sam from Mille Lacs)~~
* ~~ACTIONS - FIND NAME ON CALI (@levesswe)~~

Looking for any help. Does Anoka have any instructions for these?

I

[2016-10-11 17:05] theVKC commented on #572
@levesswe has provided ADMIN REDIRECT and FIND NAME ON CALI. Still missing COURT PREP WORKSHEET. Last chance, @MN-Script-Team/prism-scriptwriters? Anyone want to own it?

[2016-10-11 17:35] RoberT-1000 commented on #568
I'm going to be Debbie Downer, but I get the impression that this is something staff end up ignoring. We get a lot of interest in having this functionality but I have doubts about the effectiveness.

[2016-10-11 17:36] theVKC commented on #568
Fair point. Alternatively, we could maybe include some additional functionality in initial dialogs that would display this info in a sidebar-type format?

[2016-10-11 17:36] theVKC commented on #568
(Also, if anyone disagrees with @RoberT-1000's assessment, speak up)

[2016-10-11 17:42] RoberT-1000 commented on #568
OOO!!! I like the "additional functionality in the initial dialogs"...idea: PushButton for more info that opens MsgBox with this information...we could label it "Agency Info" or something similar.

And don't encourage dissent!! RoberT-1000 has spoken!!

![image](https://cloud.githubusercontent.com/assets/22157633/19281481/1f7da536-8fb0-11e6-8111-b7d02a9a2110.png)

[2016-10-11 17:58] theVKC commented on #568
OOOOOO!!! I like the pushbutton idea for that info. Then, if the user doesn't have that pushbutton, I bet we could scan it using a method similar to `run_from_github`, perhaps even when we use `run_from_github`, and return a boolean that can indicate whether-or-not a MsgBox should be used (in place of an "agency specific notes" button).

[2016-10-11 18:30] RoberT-1000 commented on #568
I likes

[2016-10-12 18:07] wrightcountykaren commented on #568
So it appears to me that there are 3 options being discussed
1 – a separate pop-up box that shows up before an/or after a script
2 – the information from the pop-box being included in the dialog box of a script
3 – a separate county specific button being added to the dialog box that can be clicked on to obtain county specific messages

Below are you suggesting a 4th option of having the pop-up box

[2016-10-13 13:58] gretchent74 opened #573 "Notes Hearing Notes - ERROR"
Is anyone else getting an error on this script:  Script Error at Line 1, Column 1: Object not a a collection?

[2016-10-13 14:07] paschell commented on #573
I just ran the script on both ex pro and judicial hearings with no errors.

[2016-10-13 14:14] RoberT-1000 commented on #573
The script is looking for an array of magistrates from your Global Variables file and not finding one.

[2016-10-13 14:15] RoberT-1000 commented on #573
...or attorneys

[2016-10-13 14:22] RoberT-1000 commented on #573
Sorry: I'm still waiting for the caffeine...

The script is using a function that grabs a list and splits it for a dropdown. Whenever vbscript attempts to split an object that is NOT an array, you get the error message "Object not a collection." In Anoka, we have these lists in our Global Variables file. Lines 42 through 48 of the default Global Variables file shows you an example of what you need

[2016-10-13 14:37] theVKC commented on #573
Yes, @gretchent74, I'm going to concur with my colleagues here and say you're missing the list of attorneys/judges/magistrates in your global variables file.

Adding them in manually ought to work. If you need help with it, shoot me an email and I can walk you through it.

[2016-10-13 14:37] #573 closed

[2016-10-13 14:59] KallistaImdieke opened #574 "Note: Client Contact Error Message"
I have received emails that the following issues is popping up after the client contact script is ran.

![capture](https://cloud.githubusercontent.com/assets/19214103/19354234/ab609866-912b-11e6-9789-5e4f133f2b4b.PNG)

Any ideas what may be causing this?

Thanks!

[2016-10-13 15:01] gretchent74 commented on #573
Thank you Robert.  I will try this out.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: RoberT-1000 [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 9:23 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Author
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Notes Hearing Notes - ERROR (#573)

Sorry: I'm stil

[2016-10-13 15:06] theVKC commented on #574
This looks like an internal issue. Anytime you see the H:\ (or any Stearns-specific drive being referenced) it's likely an internal issue that's causing the problem. In this case, it looks like your database is missing, too full, or perhaps it's being queried. I'd bet @GayS would have ideas on what to do next.

Also, @IlseFerris, does this look like the infamous Hennepin database bug that you've s

[2016-10-13 15:06] #574 closed

[2016-10-13 15:07] theVKC commented on #574
Also, if Gay isn't able to help resolve, let me know and I can try and walk you through some scenarios. Hoping Ilse's experience in Hennepin also comes in handy here (they have seen more database issues than anyone due to volume).

[2016-10-13 15:24] gretchent74 commented on #573
Worked.  You are amazing!

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: RoberT-1000 [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 9:23 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Author
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Notes Hearing Notes - ERROR (#573)

Sorry: I'm still waiting for

[2016-10-13 15:27] theVKC commented on #573
It's a good group all around. Thanks for jumping in @RoberT-1000!

[2016-10-13 15:31] gretchent74 opened #575 "court prep worksheet ERROR"
Any clue why I am getting this error:  Script Error at Line 1, Column 1: Type mismatch: 'go_to'

[2016-10-13 15:42] RoberT-1000 commented on #575
I wonder if it's an order of operations problem. `Type Mismatch` the default error message when the script is trying to call a function that it doesn't know, but `go_to` is created and defined in the script but AFTER it is called in another custom function.

I have an idea...standby...

[2016-10-13 15:48] RoberT-1000 commented on #575
Yep...when I moved the creation of `FUNCTION go_to` to the top of the list of custom functions, I don't have that problem. I can submit a pull request to fix this, but I am wondering if we should just change the code. `go_to` does the exact same thing as `write_value_and_transmit` which is already in FuncLib.

@theVKC >> Thoughts? Move the custom function or replace it with `write_value_and_transm

[2016-10-13 16:10] theVKC commented on #575
Replace with `write_value_and_transmit`. Definitely. :)

[2016-10-13 16:11] theVKC commented on #575
Wait!

This file is to be removed because nobody created instructions. See #572. I've removed it from my working branch already. @RoberT-1000 or @gretchent74, care to write instructions?

[2016-10-13 16:13] gretchent74 commented on #575
Can I do it next week.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 11:12 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Mention
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] court prep worksheet ERROR (#575)

Wait!

This file is to be rem

[2016-10-13 16:14] theVKC commented on #575
That would be wonderful. Thank you, @gretchent74!

[2016-10-13 16:14] theVKC commented on #575
Then, anyone want to take on this fix? @RoberT-1000?

[2016-10-13 16:17] theVKC commented on #572
@gretchent74 has agreed to write instructions for the remaining script! None need to be deleted! Huzzah!

[2016-10-13 16:17] #572 closed

[2016-10-13 16:28] RoberT-1000 commented on #575
I can submit a quick fix.

[2016-10-13 16:28] RoberT-1000 commented on #575
...or quickly submit a fix...

[2016-10-13 16:33] theVKC commented on #569
@KallistaImdieke, would you want to take on this issue?

[2016-10-13 16:34] KallistaImdieke commented on #569
Yes I can take it

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 11:33 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] ACTIONS Non Pay -- issue with last payment amount on the dord doc

[2016-10-13 16:36] theVKC commented on #568
I tend to agree that pop-ups that run on startup, when executed sparingly enough not to feel obtrusive, is more likely to be noticed. I'm contemplating throwing a date range on there. Maybe, just maybe, even working out a way to acknowledge that you've seen the pop-up. (Don't ask me how, I'm scheming that, and not coding it yet.)

[2016-10-13 16:40] theVKC commented on #569
Excellent. Thank you!!

[2016-10-13 17:34] theVKC opened #577 "BULK scripts: ensure ALL have initial dialogs which warn you about what's going to happen"
Several also seem to have issues with the stopscript/cancel button not working. Pretty sure these all need review.

[2016-10-13 17:51] theVKC opened #578 "Notes - Pay or Report looks goofy"
It has this thing going on:

![image](https://cloud.githubusercontent.com/assets/5701751/19360333/b81d5cb6-9143-11e6-8d77-46556cd26d35.png)

There should be a bit of padding on that first dialog.

Any takers for sometime next week?

[2016-10-13 18:36] IlseFerris commented on #574
Oh I know this error well :)
This is the infamous database error. The database may need a repair run, or it's in read-only status so that data is not able to be written to it.

The error shouldn't be inhibiting your users from using scripts (they will just need to close the error message), but data won't be collected about script usage while the database is not accessible.

[2016-10-13 18:41] RoberT-1000 commented on #575
Ready

[2016-10-13 19:01] theVKC commented on #574
If it's super duper annoying, you can temporarily disable the stats variable in Global Variables.

[2016-10-13 19:30] #571 closed

[2016-10-13 19:30] #563 closed

[2016-10-13 19:30] #575 closed

[2016-10-13 19:55] theVKC opened #581 "globvar: needs file path mod"
#563 wrapped up, seems to be working, but left the old /Script Files/ directory in the default directories. Caught it when modding the installer. On it for a quick fix.

[2016-10-13 19:56] #581 closed

[2016-10-14 13:59] jannellstearns opened #583 "Person Search from Excel sheet - new script idea"
I am not sure if this is even possible --

Stearns County obtains information from our jail about who is currently in our jail.  On the excel spreadsheet we get the name and dates of birth of individuals.  a CSO then needs to go into prism and do a person search to see if there is an active child support case.

Is there a way to grab the name and date of birth information from excel and do a perso

[2016-10-14 14:30] RoberT-1000 commented on #583
This is absolutely do-able. Scripts heart Excel.

[2016-10-14 14:57] theVKC commented on #583
It's true. They do heart Excel.

[2016-10-14 15:20] gretchent74 commented on #583
I would like to do something similar so keep me in the loop with this one!

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: jannellstearns [mailto:notifications@github.com]
Sent: Friday, October 14, 2016 9:00 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Subject: [MN-Script-Team/DHS-PRISM-Scripts] Person Search from Excel sheet - new script idea (#5

[2016-10-14 18:06] GayS commented on #574
Thanks for the info – yes the database needed repair! ☺

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 1:36 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Sikkink, Gay <Gay.Sikkink@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Note: Client Contact Error Message (#574

[2016-10-18 14:28] theVKC opened #584 "Power Pad update: add link to local configuration instructions"
I think this could be helpful. Somewhere on the Power Pad (provided there's room), we could have a link to config instructions, so that way other staff can help folks get Power Pads back, etc..

Maybe we could even work #389 in to this thing. Oooooooooooooooo I like that. Time to play to see if I can figure it out.

This also ties in with https://github.com/MN-Script-Team/bzs-config-utility/issues

[2016-10-18 17:19] theVKC commented on #584
This should be at locally-installed-files/instructions.html.

[2016-10-18 19:50] jlmartinone commented on #449
I have started working on this.  Just a FYI.

[2016-10-18 21:19] theVKC commented on #449
Good deal. Thank you!!

[2016-10-19 14:35] khiestand opened #585 "Enhancement to E-Filing Script"
Add an "other notes" editbox to the E-Filing script.

I got this and it is done, ready to be pulled in.

[2016-10-19 15:00] #585 closed

[2016-10-19 17:53] TammyStearns commented on #566
I would like to work on the enhancement to this script.  Can you assign this to me,
Veronica?

[2016-10-19 20:38] #569 closed

[2016-10-19 21:17] KallistaImdieke commented on #573
@GayS We are having this issue also on our contempt Hearing script and Hearing Notes script.  Is this something that you would need to look into on our end?? I am not sure that I have access to this.   Thanks!

[2016-10-20 12:24] gretchent74 opened #592 "Bulk DL is Susp - Custom Function- enhancement"
#570 had 2 scripts listed.  pull request done for Bulk Failure POF RSDI DFAS to fix the dialog box to accommodate for longer cso names.

I am creating this separate issue for Review Pay Plan - DL Susp - Custom Function - enhancement.  The issue in the script is in the Custom Function (select_cso_caseload).  I know what needs to be fixed, I just need help on how to do a pull request for a custom fu

[2016-10-20 12:35] gretchent74 commented on #391
Question:  does any one have an idea what i might be missing if the script is only working the first item that hasn't been reviewed on dolr but I want it to work all items that are not reviewed on that case and then move to the next case with the worklist?

[2016-10-20 13:41] theVKC commented on #391
Could be a number of things, @gretchent74. Is something iterating through rows?

[2016-10-20 13:42] theVKC commented on #592
I'll take a look at the script and get back to you. :)

[2016-10-24 16:41] #441 closed

[2016-10-24 18:52] gretchent74 commented on #570
this has been completed.  pull request done and script was updated.

[2016-10-24 18:52] #570 closed

[2016-10-24 18:55] gretchent74 opened #594 "Actions Court Prep Worksheet"
Is any one getting this error:  Script Error at line 1, Column1: Type mismatch: 'read_PALC_last_payment_date"?

[2016-10-24 19:04] gretchent74 commented on #594
@MN-Script-Team/prism-scriptwriters anybody?????

[2016-10-24 19:05] paschell commented on #594
Hi @gretchent74 !   I get the Script Error at Line1, Column 1: mismatch : 'go_to'

[2016-10-24 19:09] theVKC commented on #594
Anyone else?

[2016-10-24 19:09] KallistaImdieke commented on #594
I am getting the same error here in Stearns County

[2016-10-24 19:11] heatherallen commented on #594
I am getting the same error here in Scott County "Script Error at Line1, Column 1: mismatch : 'go_to'"

[2016-10-24 19:22] theVKC commented on #594
OK, so it definitely does, in fact, look like a bug. Any chance we can get a quick resolution on it from anyone?

[2016-10-24 22:33] RoberT-1000 commented on #594
The fix is already in the MASTER branch. I removed the function `go_to` with `write_value_and_transmit` but we were waiting on something. (See #575 )

[2016-10-24 22:35] RoberT-1000 commented on #594
Also see #579

[2016-10-25 14:22] theVKC commented on #594
!!!

I see now! Because master branch has the new file locations the redirects are pointing toward release.

@RoberT-1000: care to pull the same fix into the release version?

[2016-10-25 14:28] theVKC commented on #594
Yes, all, @RoberT-1000 fixed this in #579. If @RoberT-1000 would be so kind as to pull it into release as well, we should be square.

[2016-10-25 15:38] RoberT-1000 commented on #594
Will do. Is there anything else I should do on this?

[2016-10-25 15:41] RoberT-1000 commented on #594
Done

[2016-10-25 15:42] theVKC commented on #594
Nah, you should be square. Thank you so much @RoberT-1000!

[2016-10-25 16:20] gretchent74 commented on #594
@RoberT-1000 You are Awesome!

[2016-10-25 16:55] theVKC opened #597 "Update GUIDELINES.md to reflect new file path rules"
Also: tell everyone about the guidelines...

---

New guidelines in a nutshell:

* All pull requests should start with the issue number (`#24601: I dreamed a dream then fixed the issue`)
* Issues should not be closed until Veronica confirms issue has been tested by a different agency than originally reported an issue
* If you aren't prepared to write instructions (or negotiate with someone else to

[2016-10-25 17:15] RoberT-1000 commented on #594
I'll accept "helpful" for this one...that's a pretty low bar for "awesome" :)

[2016-10-25 19:48] gretchent74 opened #598 "Unreimbursed Uninsured Docs"
@MN-Script-Team/prism-scriptwriters
I am getting the "something has gone wrong error" for this script.  Is anyone else?  It is because of the pull request i made yesterday to update the script and change the name?  Thanks.

[2016-10-25 19:56] paschell commented on #598
Yes getting the same error.

[2016-10-25 20:39] theVKC commented on #598
The old one might not have changed names. I'll investigate.

[2016-10-25 20:43] theVKC commented on #598
@gretchent74: are you seeing it on the new Power Pad? Or the old one?

[2016-10-25 20:49] theVKC commented on #389
Issue #584 is going to contain a reference to a "source ZMD" which can be downloaded within the configuration instructions. That should resolve this issue.

[2016-10-25 20:49] #389 closed

[2016-10-25 20:50] theVKC commented on #464
I've decided to move this over to the bug column since it isn't currently working.

[2016-10-25 20:53] theVKC commented on #568
I think I got good feedback on this one. And I want to work on it at some point. No ETA, but I'm removing the "question" tag.

[2016-10-25 20:55] theVKC commented on #556
The separate button on the Power Pad has been done for a bit! #563 took care of this. When the new Power Pad is finished and the installer is wrapped up, folks will be able to access the new button!

[2016-10-25 20:55] #556 closed

[2016-10-25 20:57] theVKC commented on #592
Shoot @gretchent74! We didn't get a chance to go over this at hackathon!

If you are up for a WebEx sometime this week, I'd be happy to take a look.

[2016-10-25 21:04] theVKC opened #599 "Power Pad/New script idea: changelog"
Basically, a script that scans all of the scripts for an array of changelogs, and reports what's changed in the last week. Maybe a field/button to indicate a date range. Maybe a way to export to Word.

First, we need changelogs. Then we need to build this script for real. For now, I should put a button/redirect on so that folks won't have to update their Power Pads after #584. So for now, a dummy

[2016-10-25 22:17] RoberT-1000 commented on #599
@RobertFewins-Kalb is in a coma and never coming back. RoberT-1000 is game.

[2016-10-26 00:31] theVKC commented on #599
Dang! Sorry for bothering you, old Robert. I meant new Robert. Let's do it. I'll do the changelog part (at least the general formatting), then if you can hammer out a dialog that reads back changes as described above, we should be square-as-all-get-out.

[2016-10-26 04:05] theVKC commented on #578
I'll take it and try and pound it out. #HopefullyTomorrowIsBugFixDay

[2016-10-26 04:09] theVKC commented on #450
I'll be jumping in to help with this, as Charles will also be working on the MAXIS form stuff. :)

[2016-10-26 13:42] gretchent74 commented on #598
the new one.

[2016-10-26 14:08] theVKC commented on #598
Does the old one throw the same error, @gretchent74?

[2016-10-26 14:14] gretchent74 commented on #592
sure.  I am available today until noon and then  7-3:30 on Thursday and  Friday.

[2016-10-26 14:18] gretchent74 commented on #598
no @theVKC

[2016-10-26 14:37] theVKC commented on #592
Let's do tomorrow if you don't mind. I'll send you an Outlook invite. :)

[2016-10-26 14:39] theVKC commented on #598
OK! @paschell, @RoberT-1000, or @levesswe: are you all using the master branch version? With the new file names and paths and everything?

[2016-10-26 15:07] theVKC opened #601 "Adding loads of new links to the Power Pad"
I've asked @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors to send "commonly used websites". Already received tons of feedback (more is welcome and I'll keep this post updated with totals). Here's what we have:

* Work Number (6 votes) - http://www.theworknumber.com/SocialServices/
* MGA (6 votes) - https://mga.courts.state.mn.us/MNPRODPORTAL/
* DHS-SIR (5 votes)
* IRG (5

[2016-10-26 15:39] KallistaImdieke commented on #601
https://mn.gov/dhs/people-we-serve/children-and-families/services/child-support/resources/forms.jsp

MN child support forms website

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, October 26, 2016 10:08 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Team mention <team_mention@noreply.

[2016-10-26 16:29] gretchent74 commented on #601
DVS and dl looks up are the same:  https://www.dvsesupport.org/

All the website below are ones I would vote YES.

Thank you,

Gretchen Thornbrugh
Dakota County Child Support
Phone 651-554-5663
Fax 651-450-2631

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, October 26, 2016 10:08 AM
To: MN-Script-Team/DHS-PRISM-Scripts
Cc: Thornbrugh, Gretchen; Team mention
Subject: [MN-Sc

[2016-10-26 21:16] jlmartinone opened #602 "DHS-PRISM-Scripts/notes/csenet-info.vbs - has spelling error"
It says sign you CAAD note instead of sign your CAAD note

Please assign to me!  Thanks

[2016-10-26 21:22] theVKC commented on #602
Good catch!

[2016-10-26 21:23] #602 closed

[2016-10-26 21:40] theVKC opened #604 "Robert: building an External Resources script since today and maybe before"
@RoberT-1000 is working on this today, but I need an issue to tag in a Power Pad pull request, so I am making the issue on his behalf.

He's creating an "External Resources" script which counties can modify, to allow counties to specify county-specific favorite links for staff to have access to.

As I want to pull in changes for #601 as well as the installer changes (which really, really need test

[2016-10-26 21:50] #601 closed

[2016-10-26 21:51] theVKC commented on #601
Thanks for the feedback all!

I present, your new Power Pad:

![image](https://cloud.githubusercontent.com/assets/5701751/19746527/6ebd063a-9b9c-11e6-8f54-61d77edc3849.png)

I'll be sending an email about what comes next. :)

[2016-10-27 01:47] RoberT-1000 commented on #598
we be

[2016-10-27 01:48] RoberT-1000 commented on #599
Are you thinking dynamic dialog that displays the changelog?

[2016-10-27 01:51] RoberT-1000 commented on #604
Uploading now.

[2016-10-27 14:26] theVKC commented on #598
Fantastic! I think I have enough to start investigating (unless someone else wants to).

[2016-10-27 14:26] theVKC commented on #599
I be!

[2016-10-27 15:12] theVKC commented on #594
Reopening because the issue is `read_PALC_last_payment_date` and Gretchen is still seeing it. I'm on with her via WebEx right now and we'll work this issue together.

[2016-10-27 15:36] gretchent74 commented on #592
i think i resolved issue with the function to fit long names. https://github.com/MN-Script-Team/BZS-FuncLib/pull/307

[2016-10-27 16:16] ChrisKast commented on #601
This really looks great.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, October 26, 2016 4:52 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Kast Chris <kast.chris@CO.OLMSTED.MN.US>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Adding loads of new links to the Power Pad (#601)

Thanks for

[2016-10-27 16:18] KallistaImdieke commented on #601
Love it I can’t wait until it is released and we can use it! ☺

From: Chris Kast [mailto:notifications@github.com]
Sent: Thursday, October 27, 2016 11:16 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Adding loads

[2016-10-27 16:24] heatherallen commented on #601
Looks AMAZING! Can't wait!

[2016-10-27 16:36] paschell commented on #601
Yes!  Me too!  Can’t wait…

From: Kallista Imdieke (Stearns) [mailto:notifications@github.com]
Sent: Thursday, October 27, 2016 11:18 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Pam Scheller <Pam.Scheller@co.anoka.mn.us>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Adding loads of new links to the Power Pad (

[2016-10-28 16:03] theVKC commented on #599
@RoberT-1000, I know you just built an amazing External Resources script, but I still want to ask for an ETA on this. I might try and push this through before the next expansion round of script users.

[2016-10-28 18:12] theVKC opened #609 ""External resources.txt" needs to be added to .gitignore"
This is because it needs to not save to GitHub every time I make a commit. On it.

[2016-10-28 18:17] #609 closed

[2016-11-01 14:08] KallistaImdieke opened #612 "QUICK DORD"
We have workers here in Stearns that LOVE the Quick CAAD and have requested a quick DORD to save DORD documents that they send out a lot.  Thoughts? I personally love this idea because I do not remember the documents numbers all the time and spend a lot of time searching for them.

[2016-11-01 14:58] theVKC commented on #612
I like it myself. I'd even thought about adding the function somehow. Space on the Power Pad may be an issue, but if there's demand, I want to provide it.

Feedback time! @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors, start your keyboards! :)

[2016-11-01 17:27] theVKC opened #613 "Developer Power Pad and script: reload last edited script"
This is a pretty simple idea, surprised I didn't think of it earlier.

A separate Power Pad and script, only for scriptwriters using GitHub Desktop, which would load the last edited file.

On it.

[2016-11-01 18:48] RoberT-1000 commented on #598
The problem is with the Complete List of Scripts file. There is one Un/Un Docs listed and it doesn't match either of the Un/Un scripts...

![image](https://cloud.githubusercontent.com/assets/22157633/19902709/cd5a825c-a039-11e6-99e0-ef31b79129b1.png)

[2016-11-01 18:50] theVKC commented on #598
That makes sense. I haven't released it to release yet, and it's likely that it got lost in the move between formats for the files. @RoberT-1000, care to pull a fix to master?

[2016-11-01 18:51] RoberT-1000 commented on #598
Yarp

[2016-11-01 18:52] RoberT-1000 commented on #598
@gretchent74 >> Can you please provide a description for these scripts?

I have no idea what to write other than "this is a script"

[2016-11-01 19:19] theVKC commented on #613
This has gone further than I thought it would and I'm OK with that.

![image](https://cloud.githubusercontent.com/assets/5701751/19903864/340a981c-a03e-11e6-8ce9-bd5befc076a0.png)

[2016-11-01 19:43] heatherallen commented on #612
I really like the QuickDord idea!! If we feel there may be issues with space on the powerpad could we just have a "Quick...." and include the QuickCAAD, QuickDORD, and then we could always add more like QuickCORD (which generates court docs).  Just a thought but I love the QuickDORD!

[2016-11-01 19:54] #598 closed

[2016-11-01 19:56] theVKC commented on #598
@gretchent74, @RoberT-1000 fired off a fix to this. Can you confirm that it's now working? Also @heatherallen, @jlmartinone, or @khiestand may be able to confirm as well, since you're on master.

[2016-11-01 20:03] RoberT-1000 commented on #598
They are good to go.

[2016-11-01 20:07] theVKC commented on #598
Oh, I know you've tested it. I want independent confirmation from more than one source going forward.

[2016-11-01 20:08] theVKC commented on #598
Also now on master: @KallistaImdieke and @TammyStearns.

[2016-11-01 20:20] heatherallen commented on #598
I tested this and the sending docs works great! When testing the returned docs button, I get an error that states "OBBD information was not added correctly, please re-enter information.  Script Ended".  I tested a few different cases and realized that I do not get this error message when I enter the $$ Amount Requested as a whole number (i.e. 5000) but I get the error when I enter dollars and cent

[2016-11-01 20:31] theVKC commented on #598
That one seems like a separate issue, @heatherallen. @gretchent74, can you email Heather and work with her on identifying that issue? I wonder if it's the same one you pulled in recently.

[2016-11-01 20:32] theVKC commented on #592
Can I get a confirmation from someone running master that this is now working? @RobertFewins-Kalb? @levesswe? Is this working in Anoka now? You-all are running master.

[2016-11-02 23:00] theVKC opened #616 "GlobVar: allow agency-custom to be redirected to another location"
It will default to the root directory but users can manually move it if they want to restrict access easily.

On it. Necessary to resolve https://github.com/MN-Script-Team/bzs-config-utility/issues/61.

Also, @CDPotter: you may want to evaluate this as well for MAXIS. I imagine your folks will run into issues over there too.

[2016-11-02 23:07] theVKC commented on #616
@RobertFewins-Kalb and @levesswe: I know you do a lot of fun work with agency custom scripts. You might like this one.

[2016-11-02 23:08] theVKC commented on #616
(Also, I beg of you, please start using the DHS Power Pad if you aren't already so I can get feedback from you)

[2016-11-03 13:06] gretchent74 commented on #598
sorry for the delayed response.  The script is now working for me.  Thank you.
instructions have been updated also.

[2016-11-03 13:14] gretchent74 commented on #598
@heatherallen
your error is for the unreimbursed uninsured returned documents.  I have tried running the script using 500 and 459.25 and I am not getting an error.  Is there anyway you could email me directly with screen shot and more information so I can try to figure out what is going on?  Thank you.

[2016-11-03 13:45] heatherallen commented on #598
@gretchent74 I just tried running the returned docs script for un/un with $123.25 and it seemed to work.  I think we are good to go.  I'll let you know if I run into the same issue again.  Thanks.

[2016-11-03 15:48] theVKC commented on #604
Reopening: we now will leave issues open until they are confirmed as resolved. This went out for testing this week. Folks need to update their Power Pads to get it all. :)

[2016-11-03 15:48] theVKC commented on #584
Reopening: we now will leave issues open until they are confirmed as resolved.

[2016-11-03 15:48] theVKC commented on #592
Reopening: we now will leave issues open until they are confirmed as resolved.

[2016-11-03 17:30] khiestand commented on #612
Love the quick dord idea!!!

[2016-11-03 18:52] theVKC commented on #460
Just a note: @RoberT-1000 has agreed to put this into SIR instructions (reorganizing issues and instructions tracking).

[2016-11-03 18:55] theVKC commented on #93
This script has been deployed, fyi. @gretchent74 is working on instructions. Using original issue for tracking purposes.

[2016-11-03 18:56] theVKC commented on #181
@levesswe, is there any way you can build instructions for this script? If not, I will plan to do it, but I think it could be helpful if you could.

[2016-11-03 19:15] levesswe commented on #612
There is definitely demand!!!  Great ideas all around!

[2016-11-03 19:28] theVKC commented on #612
Agreed. Officially marking as "help wanted". Any takers? Of course, we have a plethora of other things to get done (including instructions, ahem ahem), but if someone wants to get this on the radar for the next few months I think that'd be swell.

[2016-11-03 20:00] theVKC commented on #604
Can I get some folks to confirm this is working?

[2016-11-03 20:09] theVKC commented on #437
@Mkreger9: this isn't the script you've been working on at hackathon, is it? Are you suggesting the unified intake script will resolve this, so we should be able to close it?

[2016-11-03 20:16] theVKC commented on #604
@MN-Script-Team/prism-wright? @heatherallen? I believe you've recently (last few hours) updated.

[2016-11-03 20:23] heatherallen commented on #604
@theVKC it is working here in Scott County!

[2016-11-03 20:26] theVKC commented on #604
Gorgeous! Thank you! Will close the issue now. @RoberT-1000, please submit instructions for the script via our SIR page.

[2016-11-03 20:26] #604 closed

[2016-11-03 20:27] theVKC commented on #604
(I will try and hold off on releasing the script statewide until instructions are in there)

[2016-11-03 20:35] theVKC commented on #616
@RobertFewins-Kalb or @levesswe: can you test and confirm this is working? Try moving agency-custom to another location and testing it using this global variable. If you can't do it, can you let me know so I can reassign testing?

[2016-11-03 20:36] theVKC commented on #592
Any chance @MN-Script-Team/prism-olmsted can check this one for me? Is this working?

[2016-11-04 00:36] theVKC commented on #584
I have confirmed with multiple sources: this is resolved.

[2016-11-04 00:36] #584 closed

[2016-11-04 00:43] theVKC commented on #599
Note to self: once this is complete, immediately begin working on #597.

[2016-11-04 00:43] theVKC commented on #597
This will be done as soon as the changelog is wrapped up.

[2016-11-04 14:21] margmac17 commented on #592
Sorry for taking so long, this is regarding the BULK DL Suspense script I right.... I don't have a case load that I get that type of work list on to really test it but I ran it and it came up with "Success". Other script writer is not available.

[2016-11-04 14:44] heatherallen opened #618 "CALCULATORS-Prorate Support Buttons should be switched"
I think the "Ok" and "Cancel" buttons placement should be switched.  I will update this and submit pull request.

[2016-11-04 14:59] theVKC commented on #592
Thanks @margmac17! I'm going to call it resolved.

[2016-11-04 14:59] #592 closed

[2016-11-04 15:00] theVKC commented on #618
Agreed, and thank you @heatherallen!

[2016-11-04 18:39] RoberT-1000 opened #619 "New Script/Enhancement Request: big search tool"
Hows about a worker look up tool that does not require going in to MAXIS and REPT/USER to find out who a worker is, by their X1 number?

PRISM has the USCR screen that lets you search by First Name and Last Name and there is a OSID column that includes the X1 number, HOWEVER, there is no search functionality based on that value.

If there was, we could have a script available to help staff figure

[2016-11-04 19:20] levesswe opened #620 "New script idea: Interview Information Sheet"
A script to produce an information sheet of high-level case and general information that can be used as a resource when meeting with a client in person.  The top half of the sheet is for the worker to use as a reference and to document any updates that need to be made to the case.  The bottom half of the sheet can be given to the client as a resource.

For greater efficiency, this script makes use

[2016-11-04 19:30] theVKC commented on #620
Hey @levesswe! Happy to take a look. In the future, can you submit issues via GitHub before you start active development? This is important so that I can try and track an average amount of time from idea -> solution (it's a project management piece).

In any case, documentation such as this should go through policy folks. From my high level it looks great, but I'd love feedback from counties befor

[2016-11-04 19:33] theVKC commented on #619
Tentatively I like it. However, I wonder if there's a simpler solution out there...

1. Creating a master table (I know, I know, but maybe we can do it)
2. Asking PRISM tech folks to incorporate search functionality (might be easier)

Thoughts? Looking for feedback... go!

@MN-Script-Team/prism-scriptwriters @MN-Script-Team/prism-supervisors

[2016-11-04 19:36] levesswe commented on #620
If it is helpful to you, this idea was approved by Anoka supervisors on 5/12/2016.  (Yes, it has taken me 6 months to find the time to do it.)

[2016-11-04 19:40] theVKC commented on #620
That is helpful. Please, in the future, post the issue as soon as you have the idea. We can track results in GitHub and that helps me understand internal/external workloads for you all.

[2016-11-05 16:55] theVKC commented on #616
It could be a bit before Anoka can test this. Anyone from @MN-Script-Team/prism-stearns want to test? I know @GayS has used agency custom in the past (at least on the MAXIS side).

[2016-11-07 13:48] heatherallen opened #624 "MAXIS Screen Finder Bug-"Case Number Required""
Case number function needs to be changed to "MAXIS_case_number" to correct this error.  The function "navigate_to_screen" was already changed to "navigate_to_MAXIS_screen" previously to correct part of the error.

[2016-11-07 14:12] RoberT-1000 commented on #619
I don't suppose there's anyway we could tap into the REPT/USER API (...I'm being facetious...) to grab that list of X1 and PW numbers dynamically...?

[2016-11-07 14:16] GayS commented on #616
I will try to update the installer today during the 12-12:30 down-time and test the agency custom.

[2016-11-07 14:17] RoberT-1000 commented on #616
Full disclosure: After running the installer, I just updated the Agency Custom button to run our old Beta/Anoka menu script because we have some cleaning up to do.

I don't see any reason why it wouldn't work to simply update the folder path to a different folder. I did some monkeying with the agency custom script a while back to try to create a document generator and it will work just fine if you

[2016-11-07 14:40] theVKC commented on #619
I wonder if I could set up a loopback from SSAM...

[2016-11-07 15:44] RoberT-1000 commented on #616
For anyone interested...

This is a test copy of the repository I downloaded before the install. Line 19 is a folder full of test scripts. I has been commented out. Line 20 is a folder that includes some live scripts (see above RE: clean up). When I run the agency custom script with Line 19 commented out and Line 20 live...
![image](https://cloud.githubusercontent.com/assets/22157633/20063726/e324

[2016-11-07 16:01] theVKC commented on #616
Boom! Thank you for testing and confirming it's working, @RoberT-1000! :)

[2016-11-07 16:01] #616 closed

[2016-11-07 16:39] theVKC commented on #620
Can I please get some feedback on this idea from @MN-Script-Team/prism-scriptwriters or @MN-Script-Team/prism-supervisors? See above for Wendy's sheet (what the script produces).

If feedback is not received by the end of the week, I will be assuming all systems are go for a master-branch release.

[2016-11-07 16:43] GayS commented on #616
Awesome - it works in Stearns too and I don't have to re-run the installer!!! Thanks!

[2016-11-07 18:20] RoberT-1000 commented on #619
By the way, to your original reply, I am interested in option 2. An update USCR would be fantastic.

[2016-11-07 18:23] theVKC commented on #619
Consider it requested. I do have an email in about option 1 though. I'll loop that conversation in here if I find out more.

[2016-11-07 18:47] RoberT-1000 commented on #578
I can fix it.

[2016-11-07 22:18] heatherallen commented on #620
I like this idea and how the information sheet looks.  I'm hoping that the bottom section could be updated so it pulls in each county's info depending on which county opens the script.

[2016-11-08 13:54] RoberT-1000 commented on #466
I was going through the issues list. I thought that @wrightcountykaren had a copy of the original script.

[2016-11-08 14:12] wrightcountykaren commented on #466
I’m not sure that I had an original of that script.  Jovann had shared several scripts with us last year, but I just can’t remember if that is one of them, and I can’t find the code anywhere on our network.  Sorry I can’t be of more help Robert.

Karen Popken
Wright County Child Support Supervisor
Phone: 763-682-7403
How did I do today? Click here to complete our customer service survey.<https://w

[2016-11-08 14:14] RoberT-1000 commented on #466
No worries! For some reason, I thought you had the source code a while back.

[2016-11-08 14:28] heatherallen commented on #466
@RoberT-1000 Scott County has the code and I'm in the process of updating it.

[2016-11-08 16:16] theVKC commented on #578
Reopening while I await testing results. My own testing is indicating this worked as expected.

[2016-11-08 16:42] theVKC opened #627 "Remove "select one..." details from GlobVar lists"
...because we no longer need them (the scripts now check that themselves). On it.

[2016-11-08 16:49] theVKC commented on #619
Got word back from SSAM: they echoed the concern about posting this information in a public table (i.e. on GitHub or incorporated directly into our scripts). So, I think that leaves us a couple of options:

1. Create a script that creates a master table that's stored locally (this would allow use across many scripts in many areas, and gets around the concerns about where it's kept, as it can be hi

[2016-11-08 16:52] RoberT-1000 commented on #619
Thoughts:

1. I like the local spreadsheet option. We could develop a script to update the spreadsheet as needed.
2. Update to USCR? Is that an possibility?

[2016-11-08 16:53] RoberT-1000 commented on #619
That's right, "an possibility"...I'm not changing that.

[2016-11-08 17:06] khiestand opened #628 "Enhancement to Case Transfer script"
Auto populate the OFFICE field to always have "001" entered.

I can take this one.

[2016-11-08 18:02] theVKC commented on #619
I'm guessing you originally said "an option" and then changed it. Flip flopper. :)

The update to the panel isn't a script process, of course. I'm raising that concern outside of this channel and will update you with an answer when I have one. :)

Benefit of a local spreadsheet is it could have wide ranging applications for scripts everywhere. You know what I did with the user lists at Anoka... we

[2016-11-08 18:04] theVKC commented on #628
Can I get some feedback @MN-Script-Team/prism-scriptwriters? Looks like Kelly already completed it, just looking for confirmation that it's a good idea before accepting it. :) #democratizingtheprocessabit

[2016-11-08 19:37] KallistaImdieke commented on #566
I received another request for an enhancement on this script for the following areas or boxes

Follow up needed:

Additional notes

Have option to create a work-list and put in a certain worker’s number to make sure they do the follow up (pull information from the follow up needed part of the script and put into work list)

Tammy I can help with this and explain more about the requests I received.

[2016-11-08 19:41] RoberT-1000 commented on #619
Flip-flopper? No, ma'am...I wear Birkenstocks...ah, thank you very much <rim shot/>

[2016-11-08 19:41] RoberT-1000 commented on #619
<rim shot/>

[2016-11-08 19:42] RoberT-1000 commented on #619
![image](https://cloud.githubusercontent.com/assets/22157633/20114254/2191ecaa-a5b9-11e6-8aba-d7937af15103.png)

[2016-11-08 21:02] KallistaImdieke commented on #628
I like this idea

[2016-11-08 21:08] khiestand commented on #628
OK, so maybe I can change it to not auto-populate the "001", but instead make it mandatory that three numbers are always typed in that editbox?

[2016-11-08 21:23] paschell commented on #628
@khiestand  - I think this will work better!  YAY...

[2016-11-08 21:24] theVKC commented on #628
If most counties are "001" and that's it, I don't see that as necessarily problematic. We could autopopulate that and then simply add logic for selections for other counties. Maybe even convert it to a dropdown with just a single option for counties with one office? How does that sound?

[2016-11-08 21:25] theVKC commented on #566
I like it! Have we started on it yet, @TammyStearns? It's listed as a backlog item and I'd like to keep it up-to-date.

[2016-11-08 21:53] paschell commented on #628
I think if you are asking users to add  or enter the addresses such as 003 001 CS2 24 why have a drop down for just the 001 part?    I like the idea of a mandatory 3 position value in the edit box.  The County field is 3 positions, the Office is 3 positions the Team is  3 positions and the Position  is 2.    Users are accustom to manually transferring cases that way, it is how PRISM works.   Maybe

[2016-11-08 22:03] KallistaImdieke commented on #409
@theVKC Do I have to resubmit this script since you made the changes to the system or is this still waiting to be pulled in?

[2016-11-08 22:09] khiestand commented on #628
I can make the all of those fields mandatory, would that be better?  That way if there is a typo they will get the msgbox letting them know they are missing a number or letter.  What script/s can I look at to copy this logic? :-)

[2016-11-08 22:26] theVKC commented on #409
Yes, you will have to resubmit. If you don't mind! Thanks for bumping it!

[2016-11-08 22:27] theVKC commented on #628
If folks don't like a dropdown, don't worry about it. Just thinking out loud, quietly, on GitHub! :)

If the fields need to be entered to prevent a PRISM issue, then yes, we should make them mandatory, right?

[2016-11-09 15:09] levesswe commented on #628
I like the idea of a dropdown.  I feel like the vast majority of the time, we will want it to be 001, and I think it will be easy enough to use logic to accommodate those few counties who have other values.

[2016-11-09 15:21] levesswe commented on #620
My thought was that each county could make their own version of the word document and save it in their word document template directory listed in Global Variables.  I will need to update the file path in the script to reference Global Variables.

[2016-11-10 15:43] theVKC commented on #628
@khiestand and @levesswe: do either of you know if there's a way to look up (in real time) the amount of offices a county has? If so, perhaps we could build a function to autofill a droplistbox with choices?

[2016-11-10 15:50] theVKC commented on #620
For now, @levesswe: that's a great move. But we should ensure we strip out any Anoka-specific data from the source file so that counties can start with an even playing field. Also, you should be able to add the document to the docs directory in your pull (let me know if you can't, I'd be happy to help).

[2016-11-10 15:51] paschell commented on #628
@vkc @khiestand @levesswe   Hi - You can look on OFMA enter that on the direct command line in PRISM - It stands for Office Maintenance.   Again I don't like the drop box idea.  I think Robert had some good comments regarding the data validation piece.

[2016-11-10 15:55] theVKC commented on #620
Also, if you're following this one: https://github.com/MN-Script-Team/BZS-FuncLib/issues/234

I am planning on trying to integrate word doc downloading automatically for agencies who haven't created custom versions. So, that might be an option pretty quick.

@levesswe, if you can be a tester for that function, I can try and wrap it today...

[2016-11-10 16:09] levesswe commented on #620
I would love to test this function.  Don't hurry on my account, though, because I just got a bunch of new cases added to my caseload.  I don't know when, exactly, I will be able to test.

[2016-11-10 16:52] KallistaImdieke opened #633 "Notes: Date of hearing"
It was just brought to my attention that the drop down for this script under Motion before the court, there is no option for Paternity when you select Expro.  Can we have this added as a drop down option.  In Stearns all our Paternity go before expro first and them may move to judicial court. Thanks!

[2016-11-10 16:55] theVKC commented on #628
@paschell: I'm @theVKC... note the "the" in the name. :)

Would a dropdown that automatically chooses "001" in agencies with only one option accomplish what you're discussing? I'd almost always rather use a dropdown for something with a few finite choices, because it is much easier to introduce data validation.

[2016-11-10 16:56] theVKC commented on #633
Do you want it, @KallistaImdieke?

[2016-11-10 16:56] KallistaImdieke commented on #633
Sure I can take it

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 10:56 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Notes: Date of hearing (#633)

Do you want it, @KallistaImdieke

[2016-11-10 16:56] theVKC commented on #633
Wonderful. Any ETA on when you can wrap it up?

[2016-11-10 16:58] KallistaImdieke commented on #633
Should be able to do it quick at the hackathon on Monday. I believe it should be a quick fix

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 10:57 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Spam: Re: [MN-Script-Team/DH

[2016-11-10 17:01] theVKC commented on #633
Beautiful. Thank you!

[2016-11-10 18:09] paschell commented on #628
Sorry @theVKC  sometimes my fingers go so fast  I can't catch up.  :-)  I talked to a supervisor (Bill) in Anoka regarding the transfer script.  He wouldn't mind a pop up just asking him to verify so the cases correctly transfer.  He prefers to use the 8 digit user code versus the 11 digit code.  Getting some user feedback.

[2016-11-14 15:11] jannellstearns opened #635 "New Script Idea -- Service of process by mail (maybe enhancement to existing?)"
Here is the idea:

Script will create the affidavits of service by mail on both parties after checking:   GCSC to be sure that neither party has a safety concern and CARE to be sure that neither party currently has an attorney.  If both of these conditions are true, the affidavits of service by mail are created.

This may be something that can be added to the current SEPD script as an enhancement?

[2016-11-14 15:49] theVKC opened #636 "Replace NAV scripts with "favorites": create additional secret buttons on the Power Pad so that nav scripts can be auto-mapped along with favorite scripts"
This is a unique concept. I have an idea for an enhancement and I want to map it out a bit.

1. Create a "favorites" button, that lets you either select a script or indicate a PRISM screen to navigate to.
2. The user can map each favorite to a key combination (Ctrl-F1 through Ctrl-F12), or list them separately on the favorites button.
3. Each "button" for F1-F12 is, in fact, a hidden button on the

[2016-11-14 16:20] jlmartinone commented on #636
I love the idea.  There are a handful of scripts I use regularly and it would be awesome to them all just 1 “F” key away!

[cid:image001.png@01D23E60.9C1C2B40]Thank you,
Jodi Martin
Child Support Officer
Wright County
763.682.7439
Fax 763.682.8920

How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: Veronica Cary [mailto:notifica

[2016-11-14 17:56] RoberT-1000 commented on #636
You mean something like this...that allows users to pick their favorite scripts from a list that updates itself dynamically from the complete list of scripts file?

![image](https://cloud.githubusercontent.com/assets/22157633/20276302/4fce0e08-aa61-11e6-8942-0333de7df28d.png)

[2016-11-14 17:56] RoberT-1000 commented on #636
...because Anoka FAS love it...and Anoka CSOs are learning to love it...

[2016-11-14 18:01] theVKC commented on #636
Yes yes! Except mine can be tied to hotkeys too. :)

[2016-11-14 18:08] RoberT-1000 commented on #636
Additional info >> what we have saves the text file to the H drive (Anoka-specific mapping...you know about it...and I wouldn't want that to change for Anoka users) so it follows them to different machines...and it excludes UTILITIES and NAV scripts since there are easy access to those on the powerpad.

[2016-11-14 19:11] KallistaImdieke commented on #409
Created Pull Request to resolve this. Thanks!

[2016-11-14 19:16] cmoore502622 opened #640 "Free Worklist"
Make free worklists more uniform and be able to distinguish between free worklists where action is needed and free wotklists that are informational only.

Examples:
Action needed (appears as an “A” at the beginning of the worklist)
Information only (appear as on “I” at the beginning of the worklist)

Base Case (this will appear right after the A or I to give a clear snap shot of what the worklist

[2016-11-14 20:35] heatherallen commented on #468
@theVKC I"ll take this on

[2016-11-14 21:35] KallistaImdieke opened #647 "New Idea - County Attorney Referral Note"
Stearns County has this that we have been using but wanted to share it with the collaborative as others may also want to use it.

Can you please assign this to me and as soon as I have made the updates with the code changes to the new code then I will submit it.  Thanks!

[2016-11-15 15:06] KallistaImdieke commented on #635
@theVKC can you please assign this to me. Jannell would like me to work on it tomorrow at the wright county hackathon as its a priority for Stearns County with going to case banking.

thanks!

[2016-11-15 15:27] theVKC opened #648 "Sync master and release, delete beta branch and old redirects"
By now, the Script Files redirects should be unnecessary since all have reinstalled scripts. On it.

[2016-11-15 17:31] paschell opened #649 "Notes - Pay or report is broken"
When running the script the dropdown asking for the year, shows first_year, second_year as the value.  Should be 2016, 2017.

[2016-11-15 17:35] theVKC commented on #649
Hmmm. @RoberT-1000 recently updated this script but as far as I know didn't touch those values. Is he around? Can he take a look?

[2016-11-15 19:19] TammyStearns opened #650 "Insurance Policy Review M1490 and/or M1491"
This script would review existing M1490 EMPLYR ENDED-CK INS and
M1491 EMPLOYER ENDED-CK CP
If ncp or cp's employment is updated with an End Date, worklist M1490 or M1491 are created for worker to review to see if there is active insurance information on NCPD or CPPD with the employer that was ended.  If no insurance information is listed or if all insurance information is ended, this script will a

[2016-11-15 19:28] TammyStearns opened #651 "County Word Document script"
This would be similar to the DHS-SIR, SIR-MILO Common Links power pad.  By selecting this power button, you will have the option to choose what Word Document you are wanting to use and the document will pull up from wherever they are saved in the County.

This will save time from searching for the document in the area that the Counties save them to.  Counties may need to rename the WORD documents

[2016-11-15 19:30] TammyStearns commented on #566
This will be worked on at the hackathon in Wright County on 11/16/16.

[2016-11-15 19:45] theVKC opened #652 "Scriptwriter Power Pad needs modification for new Project Board"
On it.

[2016-11-15 19:50] theVKC commented on #650
Can I get some feedback on this one @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors?

[2016-11-15 19:51] RoberT-1000 commented on #649
I'm thinking the dialog editor did that. I can see where the problem is...

[2016-11-15 19:54] theVKC commented on #649
Thanks @RoberT-1000! Can you fix it for me?

[2016-11-15 19:55] RoberT-1000 commented on #649
Yep...AND I'm going to add values to the changelog...which I need to work on...

[2016-11-15 20:02] heatherallen commented on #650
I think this is a great idea!! Good work you guys!

[2016-11-15 20:05] theVKC commented on #649
Boom! Thank you!

[2016-11-15 20:34] #649 closed

[2016-11-15 22:33] theVKC commented on #594
@RoberT-1000, is there any chance we can confirm that court-prep-worksheet is working as expected? I'm starting to think I kept this open for too long.

[2016-11-15 22:44] theVKC commented on #564
Reopening because I want to confirm it's working.

[2016-11-16 00:58] #597 closed

[2016-11-16 13:10] RoberT-1000 commented on #594
Now I'm getting a new error message

![image](https://cloud.githubusercontent.com/assets/22157633/20348558/ac91751a-abcb-11e6-844a-67a7e61a37e5.png)

[2016-11-16 13:12] RoberT-1000 commented on #594
Which, now that I dig into the FuncLib, is a function that doesn't exist. @levesswe >> thoughts?

[2016-11-16 13:15] RoberT-1000 commented on #594
I'm looking in to it

[2016-11-16 13:29] RoberT-1000 commented on #594
OK, so I ran it locally, and it runs just fine. I think it's a problem of the scripts falling too deep down the rabbit hole. The function `read_PALC_last_payment_date` is local to that script and it is called within other functions in the script. I've seen this with other scripts that call functions from within functions. Because we are essentially calling a function to call the redirect which the

[2016-11-16 13:33] RoberT-1000 commented on #594
Correction, it's only being called once...I'm waiting for the coffee to kick in...

[2016-11-16 15:32] khiestand commented on #628
Per discussion, close issue and leave script as is.

[2016-11-16 16:09] theVKC commented on #594
@RoberT-1000: thank you for investigating! Can you hit it right quick so we can resolve it?

[2016-11-16 16:39] heatherallen commented on #468
@MN-Script-Team/prism-scriptwriters looking for some feedback and help on this.  I"m planning on merging these 2 scripts.  I see the instructions for the E4111 WORKLIST SCRUBBER script that appears to make an excel spreadsheet along with purging the worklist on cases where the DL is already suspended.  My question is what does the E4111 SUSP SCRUBBER script do or was intended to do?  Just trying t

[2016-11-16 16:39] theVKC commented on #628
@khiestand has added functionality to ensure the length requirements.

[2016-11-16 16:40] theVKC commented on #468
I believe @levesswe created this script but I'm not sure.

[2016-11-16 18:27] RoberT-1000 commented on #594
On it! I was at a Gen Y training this morning so I could learn how to effectively communicate with myself...

[2016-11-16 18:33] RoberT-1000 commented on #594
My concern...and I cannot verify until the script goes lives on GH, is that the next couple functions will suffer the same fate. Because `read_PALC_payment_type`, `read_PALC_payment_amount` and `read_PALC_alloc_amount` are ONLY used in this one script in this one function, I am going to replace those as well...because future future proofing...sorry @levesswe

[2016-11-16 18:54] levesswe commented on #594
Robert, do what you need to do with my complete approval and satisfaction.  I would much rather see this script working for the collaborative than worry about how it does what it does.

[2016-11-16 19:11] theVKC commented on #594
Beautiful. Thank you!

[2016-11-16 20:34] theVKC commented on #594
Reopening for testing. @heatherallen is testing, I'll see if someone here can also test it.

[2016-11-16 20:39] theVKC commented on #594
@khiestand has confirmed that this is now working through here, but it threw a Word-doc related bug. @RoberT-1000, any chance the document is defined locally instead of with global variables?

[2016-11-16 20:48] jlmartinone opened #662 "New Script idea: Notes - Maintaining county"
A script that case notes when maintaining county is requested and/or responding to the request for maintaining county.
Please assign this to me.
I would love any suggestions and feedback.

 @MN-Script-Team/prism-scriptwriters

Thanks!

[2016-11-16 21:16] heatherallen commented on #594
@theVKC I got the change log pop this time.  I'm receiving a Word-doc related bug as well where the word doc opens but then get the error "script error at line 1, column 1, this filed could not be found."

[2016-11-17 14:13] KallistaImdieke commented on #594
I am getting the following error when i try and run this

![capture](https://cloud.githubusercontent.com/assets/19214103/20392509/c7283882-ac9d-11e6-8e7e-d5055ba7a87a.PNG)

[2016-11-17 14:14] RoberT-1000 commented on #594
I know what that is...sorry

[2016-11-17 14:15] RoberT-1000 commented on #594
Nevermind...I thought I had left the globvar call at the top of the script.

[2016-11-17 15:32] theVKC commented on #594
I'm going to take a wild guess and say that there's a Word doc you all don't have installed locally.

@RoberT-1000: can you email "Court Prep Worksheet.dotx" to the group? If you save that in the folder defined by the variable word_documents_folder_path, this should work for you as well as it works in Anoka.

In any case, this particular issue (the PALC function deal) appears to be resolved. Closi

[2016-11-17 15:32] #594 closed

[2016-11-17 15:33] theVKC commented on #594
Also on that last note: https://github.com/MN-Script-Team/BZS-FuncLib/issues/234 will likely resolve this, so for now, no need to create a new issue. Hoping to take care of that today.

[2016-11-17 16:02] levesswe commented on #468
I created both versions of the scripts - and their names, which have confused others ever since!  Sorry about that!  E4111 SUSP Scrubber is now called review-pay-plan---dl-is-suspended, and as you pointed out, removes the E4111 worklists on cases that already have DL suspended.  E4111 WORKLIST SCRUBBER is now called review-pay-plan---recent-activity.  It's purpose is to display recent payment and

[2016-11-17 19:15] theVKC commented on #648
This should be pretty resolved, now. :) Haven't heard any issues from agencies across the state.

[2016-11-17 19:15] #648 closed

[2016-11-17 19:29] theVKC commented on #635
Can I get feedback on this idea from @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors?

[2016-11-17 19:52] #652 closed

[2016-11-17 19:52] theVKC commented on #652
This was tied to #613.

[2016-11-17 19:53] theVKC commented on #604
I believe Washington County is testing this, but I need another independent test.

Can we try to add some resources @MN-Script-Team/prism-wright?

[2016-11-17 19:54] theVKC commented on #604
Shoot. Scratch that Wright County. We tested this. Got my pieces crossed.

[2016-11-17 19:54] theVKC commented on #604
(Still need instructions, @RoberT-1000) :)

[2016-11-17 20:06] KallistaImdieke commented on #635
There is one already out there so we were thinking of doing an enhancement that script that would look at CARE and see if there are any attorneys on the file, look at GSCS and see if there are any safety concerns and pull this information into the dialog box and then add the worker's signature to it,  a check box on if the service was directed by the county attorney and have it make a CAAD note wi

[2016-11-17 21:16] heatherallen commented on #635
I like this idea of having it look at GCSC and CARE to see if there are safety concerns and/or if party's have attorney's.  I'm assuming you are enhancing it so that if a party does have an attorney the affidavit would show a copy was sent to the attorney as well?

[2016-11-17 21:19] jannellstearns commented on #635
Also have the script automatically populate the case number instead of having it be entered by the worker.

[2016-11-17 21:22] heatherallen commented on #468
Thanks @levesswe! I think I get the difference of each script, so if I'm hearing you correctly we are wanting to keep the DL suspended one as is but modify the Recent Activity one to use Excel?  Also, thoughts on enhancing the DL Suspended one to include OLS?

[2016-11-17 21:28] KallistaImdieke commented on #635
Right now you can pick to send it to and one, all or variety of NCP, CP, NCP attorney and CP's attorney. so if you wanted to send to CP and CP's attorney you can select to do that.

[2016-11-18 16:29] heatherallen commented on #633
I would like to suggest another enhancement to this script....if Expro is selected could we add the option in the drop down of Review Hearing?

[2016-11-18 16:47] levesswe commented on #635
So if there are safety concerns on GCSC, what will happen?  Change to Confidential to true? (I love that idea!)

[2016-11-18 16:48] paschell commented on #633
@heatherallen   I like it - good idea.

[2016-11-18 16:54] levesswe commented on #468
Our goal is to integrate the DL suspended functionality to recent activity script, too, so that when all is done it could be just one script.  I would take things one step at a time and prioritize the fixes first - but yes, we could add OLS functionality, too!

[2016-11-18 19:59] theVKC commented on #633
@KallistaImdieke, any way you can make that so in your pull?

[2016-11-21 13:45] RoberT-1000 commented on #604
False

![image](https://cloud.githubusercontent.com/assets/22157633/20484799/86db5d30-afbe-11e6-82f8-b3172f3d2529.png)

[2016-11-21 15:06] theVKC commented on #604
Whoa! So apparently my notifier is off. I'll investigate. Sorry bout that!

[2016-11-21 15:32] RoberT-1000 commented on #604
no worries

[2016-11-21 20:31] theVKC commented on #633
Reopening for testing!

[2016-11-22 22:28] theVKC commented on #624
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:29] theVKC commented on #578
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:29] theVKC commented on #618
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:31] theVKC commented on #564
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:31] theVKC commented on #519
This has been pulled in! Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:32] theVKC commented on #409
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:32] theVKC commented on #466
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:33] paschell commented on #618
It worked in Anoka, tested on 3 cases.  Thanks

[2016-11-22 22:33] theVKC commented on #628
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:33] theVKC commented on #633
Still need testers for this. Can we confirm this is now working? Need two agencies to confirm.

@MN-Script-Team/prism-scriptwriters?

[2016-11-22 22:34] theVKC commented on #618
Thanks Pam!

[2016-11-22 22:34] theVKC commented on #618
(Still need an additional separate agency to confirm before I pull it through and close the issue)

[2016-11-22 22:36] paschell commented on #564
I like this one - working in Anoka just fine and dandy.

[2016-11-22 22:37] theVKC commented on #564
Great, thanks Pam! Just need one more separate agency and then it'll be pulled through!

[2016-11-22 22:42] paschell commented on #624
This is one of my all time fav scripts - I have not encountered any problems using this script of late.  Used 2 times today and several times last week.  Anoka is good to go with MAXIS screen finder.

[2016-11-22 22:48] paschell commented on #466
I have used this script - works perfect.  ANOKA gives a thumbs up!

[2016-11-22 22:54] theVKC commented on #624
Thanks Pam! Looking for one more agency before I push it through. This will not require additional documentation because it's a simple bug fix and not a functional enhancement.

[2016-11-22 22:54] theVKC commented on #466
Thanks as always @paschell!

[2016-11-23 14:06] heatherallen commented on #624
It is still working good in Scott County!

[2016-11-23 14:08] heatherallen commented on #466
Scott County workers will most likely be using this at the beginning of December when we get the worklist.  I can report back.

[2016-11-23 15:01] theVKC commented on #466
Please do, @heatherallen! Although since you are the "original scriptwriter" (remember you added an Excel function) your test doesn't count (need someone outside your agency).

[2016-11-23 15:03] theVKC commented on #624
Same as the other one, @heatherallen: that's wonderful AND I need someone from another (non Scott) agency to confirm as well. Two independent agencies, not including the original or DHS. That's my threshold now.

[2016-11-23 15:40] heatherallen commented on #604
Is there a way to add a "Add New" button?  When we click on the external resources button it shows the ones I have added but to get to add a new one i have to click the "cancel" button, which then asks me "Are you sure you want to cancel the script? Press YES to cancel or Press NO to return to script" where I have to click "No", then it brings me the Manage Resources dialog to add new link.

[2016-11-23 15:42] theVKC commented on #604
@heatherallen: as this is a completed script, can you add your comment as a new issue please? :)

[2016-11-23 15:47] heatherallen opened #665 "External Resources - Add a "Add New" button?"
Is there a way to add a "Add New" button? When we click on the external resources button it shows the ones I have added but to get to add a new one i have to click the "cancel" button, which then asks me "Are you sure you want to cancel the script? Press YES to cancel or Press NO to return to script" where I have to click "No", then it brings me the Manage Resources dialog to add new link.

[2016-11-23 15:53] RoberT-1000 commented on #665
Are you talking about this?

![image](https://cloud.githubusercontent.com/assets/22157633/20568579/9ab984da-b162-11e6-8add-abbb59a19ce4.png)
![image](https://cloud.githubusercontent.com/assets/22157633/20568620/b2b2103e-b162-11e6-863f-cbf17fa1f46a.png)

[2016-11-23 15:55] heatherallen commented on #665
I don't see that when that dialog opens up. I don't see any of that Admins Only box, to update or delete either.

[2016-11-23 15:55] RoberT-1000 commented on #665
You need to be added to the `beta_users` group in GlobVar

[2016-11-23 16:17] theVKC commented on #665
@RoberT-1000: perhaps we should provide another mechanism (er, global variable) for users for this? Long term, most counties will NOT want to give their users master branch access (`beta_users` get this) but may still want to provide users for this. Or alternatively, if `beta_users` has no users, perhaps it could give this to everyone?

In any case, @heatherallen, were you able to get to this from

[2016-11-23 16:49] theVKC commented on #636
This is going forward. NAV script retirement is coming, replaced with power hotkeying and a favorites button.

[2016-11-23 16:57] RoberT-1000 commented on #665
I can dig into this next week.

[2016-11-23 16:58] theVKC commented on #665
Good deal. Thank you!

[2016-11-23 19:26] theVKC commented on #612
I'm taking this one, as it involves a Power Pad change and #636 necessitates that. :)

[2016-11-23 20:50] theVKC opened #666 "Set "quick CAAD" and remaining nav scripts as utilities"
Now that we are retiring nav scripts (see #636) it makes sense to move "quick CAAD" to be a utilities script, as well as the screen finder scripts.

[2016-11-28 17:11] theVKC commented on #383
Say, @MN-Script-Team/prism-stearns! I don't think I ever got that process map for this one. It's been open a bit, just wondering where that map could be.

[2016-11-28 17:16] TammyStearns commented on #383
Kallista and I started mapping this out.  It is very long.  I am not sure that it is completed yet.

[2016-11-28 17:29] theVKC commented on #383
Well good deal. But, it's been backlogged for a while now. I'm going to set a timer on it. If we don't have the map for the process in the next couple of weeks (or at least some progress on it), I'll mark the issue as a sleeper and close it. It can be reopened if it becomes a higher priority.

Sleeper timer: 12/12/2016. :)

[2016-11-28 17:30] theVKC commented on #568
Closing issue which has been "help wanted" for a long time.

[2016-11-28 17:30] #568 closed

[2016-11-28 17:32] theVKC commented on #459
@levesswe: this has been "on the radar" for a while. We have a couple of choices:

1. I can reassign it as "help wanted" and we can wait a couple of weeks, then if anyone takes it we can close it as a "sleeper".
2. I can mark it as a "sleeper" and close it now, and we can reopen it if there's interest from you later on.

Can you get back to me ASAP? Trying to reduce the issue list overhead.

[2016-11-28 17:33] theVKC commented on #458
@TammyStearns: can I get an update on where this is at? It's an old issue. We can either mark it as a sleeper now, or we can move it to "help wanted" and wait a couple of weeks to see if anyone else is interested.

[2016-11-28 17:34] theVKC commented on #407
@levesswe I haven't received an update on this in a while. Marking it as a sleeper and closing.

[2016-11-28 17:34] #407 closed

[2016-11-28 17:34] theVKC commented on #437
Because I haven't heard back from @Mkreger9, closing backlogged issue.

[2016-11-28 17:34] #437 closed

[2016-11-28 17:35] theVKC commented on #437
Assuming it's a duplicate that is tied to #451.

[2016-11-28 17:36] theVKC commented on #449
@jlmartinone: can I get an update on where you're at with this one? You said you started working on it, so I just want to know. It's marked as "backlogged" for now and if you don't have an ETA I'll close it as a "sleeper" (sleepers can be reopened if you get time/interest again).

[2016-11-28 17:38] theVKC commented on #567
I never responded to this element. I've looked into things here and we felt that loading Work Number accurately would be prohibitive from a security standpoint. Closing issue and marking as "wontfix". Note there's a Work Number link on the newest Power Pad. :)

[2016-11-28 17:38] #567 closed

[2016-11-28 17:39] theVKC commented on #450
@CDPotter: is your work for this somewhere on GitHub? A gist or a branch somewhere?

[2016-11-28 17:41] theVKC commented on #261
I did not receive any evidence of the problem here. I'm going to close for now since we aren't sure it's a bug.

[2016-11-28 17:41] #261 closed

[2016-11-28 17:42] theVKC commented on #469
@levesswe, clearly I wasn't able to expedite this. Is there any way you can take a look at it sometime this week? If not, I'll mark as help wanted and throw to the team.

[2016-11-28 19:11] TammyStearns commented on #458
Either way is fine with me.  I am ok with marking it as a 'sleeper' for now.  Thanks.

[2016-11-28 19:16] theVKC commented on #619
@RoberT-1000: we didn't get additional feedback, but I really like the local spreadsheet option as indicated above. Would you want to do it? I'm trying to close issues today, so if you don't mind getting back to me either way, that'd be great.

If I don't hear back from anyone interested in doing this, I will close it Monday, December 5th.

[2016-11-28 19:17] theVKC commented on #651
I was hoping to get feedback on this one, but haven't had any yet. @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors, can I get some feedback on this? If I don't receive feedback this week, I'll be closing the issue December 5th for lack of interest.

[2016-11-28 19:18] theVKC commented on #650
@TammyStearns and @KallistaImdieke: can I get an update on where this is at? I know you worked on it, but I want to know an ETA. Is it backlogged or in progress?

[2016-11-28 19:20] theVKC commented on #635
Bump! Can I get a response to @levesswe's question? This will help build a better script. Also, do any scriptwriters want to take this one on?

[2016-11-28 19:20] theVKC commented on #458
Consider it done!

[2016-11-28 19:20] #458 closed

[2016-11-28 19:23] TammyStearns commented on #650
This one is in progress.  I believe it is close to being done.  I just don't know when I can work on it again before the next hackathon.  Hopefully it will be completed by the end of next month's hackathon.

[2016-11-28 19:28] jannellstearns commented on #635
Not having done this piece for a long time, if my interpretation is correct, we would be coding confidential to "Y" in the dord document.  If so -- LOVE it and would definitely want that to happen.

Great idea Wendy!!!

[2016-11-28 19:30] theVKC commented on #635
Well, the feedback seems to indicate this is a good idea, so thanks. Any takers? I'm marking it as help wanted and will give it two weeks!

Sleeper timer: 12/12/2016

[2016-11-28 19:31] theVKC commented on #635
Wait! Kallista already took it! Belay that last message! @KallistaImdieke, any eta on it? Right now it'll be marked as "backlog" but if you've been working it, I'll throw it into the right bucket!

[2016-11-28 19:32] KallistaImdieke commented on #635
I can take this

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, November 28, 2016 1:31 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Assign <assign@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] New Script Idea -- Service of process by mail (maybe enhancement to exi

[2016-11-28 19:33] KallistaImdieke commented on #635
I worked on it at the last hackathon but I had started from scratch not knowing this one was out there.  I will combine the two together but not sure if I will get to it until the next hackathon.

Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, November 28, 2016 1:32 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <K

[2016-11-28 19:34] theVKC commented on #650
Good deal, THANK YOU for updating me. I'm going to move it to "backlog" since you don't know when you'll be working on it again, but I won't close it unless we don't have movement for a couple of months.

[2016-11-28 19:35] theVKC commented on #635
@KallistaImdieke: is there a chance there's a duplicate issue? Or were you working on this without a GitHub issue, not knowing there was, in fact, a GitHub issue? :)

[2016-11-28 19:38] theVKC commented on #662
@jlmartinone, can I get an update on where you might be at with this?

Also, @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors: can I get feedback on this?

[2016-11-28 19:39] theVKC commented on #599
@RoberT-1000: do we have any updates at all on the changelog display elements? That's the only part of this that's missing, the "seek out all changes and display them in a Word doc or maybe a dynamic dialog of some kind" element we spoke about.

If you don't have an ETA on it, I am going to take over on this part to wrap it up. Under some pressure to get it done.

[2016-11-28 19:41] theVKC commented on #419
@KallistaImdieke: can I get an update on this? It's been marked as "in development" for a while. I'd love to get it out there, or if it'll be a while, I might close it for now.

[2016-11-28 19:42] theVKC commented on #468
Can I get an update on where you might be with this one, @heatherallen?

[2016-11-28 19:44] KallistaImdieke commented on #635
It’s not a duplicate issue just didn’t realize there was a script out there that did a lot of what we wanted. So I will work on updating that one

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, November 28, 2016 1:36 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply

[2016-11-28 19:44] theVKC commented on #322
@gretchent74 or @RoberT-1000: I don't believe UN UN is fully documented in SIR, but I could be wrong. I believe @gretchent74 is out of the office for a bit. Any chance @RoberT-1000 can investigate whether-or-not your change referenced above is documented?

[2016-11-28 19:45] theVKC commented on #635
Good deal. I've updated this to be an "enhancement" instead.

[2016-11-28 20:31] theVKC commented on #322
OK, I just checked out what's in SIR. It looks like "sending" was sent, but the old "returned" functionality needs updating.

Can I get one of you to update this?

[2016-11-28 20:36] theVKC commented on #181
@levesswe: never heard from you about making instructions for this. Can you please do that?

[2016-11-28 20:38] jlmartinone commented on #662
I have a one little thing to fix and then it should be ready for testing. I will try to get to it this week

[2016-11-28 20:39] theVKC commented on #662
Good deal! *Still waiting on feedback, everyone else*

[2016-11-28 20:51] heatherallen commented on #468
I have not had a chance to work on this since the last hackathon....I would hope to set aside part of a day this week or next to work on it and I can give you a better idea of how much longer I would need.

[2016-11-28 20:51] theVKC commented on #468
Good deal, thanks for the update @heatherallen!

[2016-11-28 22:56] levesswe commented on #469
I hope to spend more time on scripts in the next day or two, so you can assign to me.  I have uploaded a version of instructions as the script currently runs so they are out there (See #181), but I intend to do an overhaul, and the instructions will need to be re-written at that time.

[2016-11-28 22:59] theVKC commented on #469
Thank you!!!

[2016-11-29 14:39] jannellstearns commented on #662
Great idea on this as well.  Would this script have the ability to link to the decision tree in SIR for complicated cases?  Then it could  be a one and done stop!

[2016-11-29 14:40] theVKC commented on #662
Oooooh, I like that.

[2016-11-29 14:43] jannellstearns commented on #651
This sounds like an efficient tool for counties to use.  I could see this having applicability in a script like the intake script that is being worked on.  many counties have specific word documents that have been vetted and approved by their County Attorney's office

[2016-11-29 14:58] theVKC commented on #651
From an administrator standpoint, I worry that it would be a challenge to provide independent support for it across lots of counties with lots of different tech experience and server setups. If I provide it, I need to be able to ensure it works in the majority of counties, and I worry about this one because of the complexity with all of their different server settings.

But, perhaps it's just SO V

[2016-11-29 15:16] theVKC commented on #460
OK, I am moving this issue to "completed" because instructions are made and published. Thanks @RoberT-1000!

@khiestand: your issue #628 will also need to be documented in your instructions you're working on, so I will assign that one to you, and I'll stop commenting here. :)

[2016-11-29 15:17] theVKC commented on #624
OK, I'm going to start picking on counties. @MN-Script-Team/prism-wright, can you test this and make sure it's working?

[2016-11-29 15:17] theVKC commented on #578
OK, I'm going to start picking on counties. @MN-Script-Team/prism-stearns @MN-Script-Team/prism-scott, can you test this and make sure it's working?

[2016-11-29 15:18] theVKC commented on #633
OK, I'm going to start picking on counties. @MN-Script-Team/prism-olmsted and @MN-Script-Team/prism-anoka, can you test this and make sure it's working?

[2016-11-29 15:19] theVKC commented on #628
OK, I'm going to start picking on counties. @MN-Script-Team/prism-dakota @MN-Script-Team/prism-scott, can you test this and make sure it's working?

[2016-11-29 15:20] theVKC commented on #466
OK, I'm going to start picking on counties. @MN-Script-Team/prism-wright, can you test this and make sure it's working?

[2016-11-29 15:20] theVKC commented on #466
(@wrightcountykaren: Heather's version takes the original Ramsey County code and adds Excel functionality)

[2016-11-29 15:21] theVKC commented on #618
OK, I'm going to start picking on counties. @MN-Script-Team/prism-wright, can you test this and make sure it's working?

[2016-11-29 15:21] theVKC commented on #409
OK, I'm going to start picking on counties. @MN-Script-Team/prism-scott @MN-Script-Team/prism-anoka, can you test this and make sure it's working?

[2016-11-29 15:22] theVKC commented on #519
OK, I'm going to start picking on counties. @MN-Script-Team/prism-wright @MN-Script-Team/prism-olmsted, can you test this and make sure it's working?

[2016-11-29 15:22] theVKC commented on #564
OK, I'm going to start picking on counties. @MN-Script-Team/prism-scott, can you test this and make sure it's working?

[2016-11-29 15:23] levesswe commented on #633
Tested and working in Anoka.  When Expro is selected, both "Review Hearing" and "Paternity" are options in the dialog.

[2016-11-29 15:24] WCMattAnderson commented on #466
Just an FYI @wrightcountykaren - Wright Co has the following script backups as of today:

6-12-2014
7-15-2014
8-10-2014
1-30-2015
11-14-2016

[2016-11-29 15:28] theVKC commented on #633
Thank you @levesswe! Still need one more county to verify it's working independently. @MN-Script-Team/prism-olmsted, you're up!

[2016-11-29 15:29] levesswe commented on #409
@theVKC, I am not able to test this one at this time.  There are no M1600 worklists to process in the training region, and I don't get that worklist on my caseload very often.  Maybe another county would be able to be of more help?

[2016-11-29 15:34] theVKC commented on #409
Can anyone from Anoka test it? I've tapped all of the counties already on other tasks. Surely someone from Anoka County has this.

[2016-11-29 15:36] khiestand commented on #519
Is there a word doc we are supposed to have for this script to work?  If so where is it and how can we get it?

[2016-11-29 15:38] KallistaImdieke commented on #578
I am not sure what this script is suppose to do?  I did not see instructions on DHS-Sir.  Stearns County does not enter County Attorney Case numbers in PRISM and this is a mandatory field.  It did generate a CAAD note when I ran it however like I said don't see instructions that say what this script is supposed to all do?

[2016-11-29 15:41] khiestand commented on #624
This is working in Wright Co!!

[2016-11-29 15:42] khiestand commented on #618
This is working in Wright Co!

[2016-11-29 15:43] theVKC commented on #519
[child-support-income-verification-form.docx](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/619423/child-support-income-verification-form.docx)

I believe this is it. I'm working on details to auto-download it if you don't have an overriding document (see https://github.com/MN-Script-Team/BZS-FuncLib/issues/234).

I'll upload the document to the docs folder shortly. But I believe this

[2016-11-29 15:44] KallistaImdieke commented on #519
Yes that is the right form for the script

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 9:44 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Income Verification Script (#519)

child-s

[2016-11-29 15:47] wrightcountykaren commented on #662
The script is a good idea, I would use it regularly, and I love Jannell's suggested enhancement.

[2016-11-29 15:51] theVKC commented on #578
Shoot! I had the instructions checked out in DHS-SIR. I checked them back in, you should see them now.

Even if you don't use the script, I just need someone to confirm that the initial dialog has padding on all sides and all content is visible.

[2016-11-29 15:52] theVKC commented on #624
Boom! Thank you!

[2016-11-29 15:52] #624 closed

[2016-11-29 15:53] KallistaImdieke commented on #578
Yes the initial dialog box has padding on all sides and all the content is visible.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 9:52 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM

[2016-11-29 15:53] theVKC commented on #578
Boom! Now we just need one more agency to confirm before I close it.

[2016-11-29 15:53] ChrisKast commented on #633
Looks like it’s working as it should here in Olmsted.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 9:29 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Kast Chris <kast.chris@CO.OLMSTED.MN.US>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Notes: Date of hearing (#633)

Th

[2016-11-29 15:53] theVKC commented on #618
Boom!!!!!

[2016-11-29 15:54] #618 closed

[2016-11-29 15:59] wrightcountykaren commented on #651
I think this sounds like a very useful tool that would benefit many counties.  There are many different processes that lead to generating a Word document.

[2016-11-29 16:03] heatherallen commented on #578
It appears to be working in Scott County, I'm not a big fan of having the County Attorney case number mandatory as our agency doesn't use this either.  Scott County does not use the pay or report process  but the script seems to be producing the correct CAWT and CAAD.

[2016-11-29 16:04] wrightcountykaren commented on #466
I will have a couple people test this script in the beginning of Dec when the worklist will re-appear.  I should be able to respond by next week.

[2016-11-29 16:12] levesswe commented on #409
I found another worker who had 3 M1600 worklists, and the script correctly purged 2 of them and left 1 that didn't meet purge criteria.  Working in Anoka.

[2016-11-29 16:53] theVKC commented on #633
Boom! @KallistaImdieke, can you edit the instructions to say that this happens?

[2016-11-29 16:53] theVKC commented on #633
Thanks for testing, folks!

[2016-11-29 17:00] heatherallen commented on #628
the single case transfer seems to be working properly.  i am having issues on the Transfer Caseload Top to Bottom option.  It states that we can put the 8 digit number in there but it appears it is not finding it, but when i put the 11 digit position number in it seems to run correctly.

[2016-11-29 17:02] theVKC commented on #578
Well that could be a separate enhancement! In any case, I'm going to close this one, after @RoberT-1000 updates the screenshot in SIR. :)

[2016-11-29 17:03] theVKC commented on #466
Good deal! Thank you for taking it!

[2016-11-29 17:04] theVKC commented on #409
Good deal, thank you! Still waiting on @MN-Script-Team/prism-scott or any other non-Stearns agency before wrapping it!

[2016-11-29 17:04] theVKC commented on #409
(Also, @KallistaImdieke, please submit instructions for the script via DHS-SIR)

[2016-11-29 17:05] theVKC commented on #628
I was worried about this. @khiestand, you may recall we had a discussion about it. Can the two of you touch base on it?

[2016-11-29 17:12] heatherallen commented on #564
this is working! and thanks for making me test it, I'm going to make sure my coworkers are using it as it is awesome!

[2016-11-29 17:15] theVKC commented on #564
Good deal! @KallistaImdieke, can you upload instructions to SIR?

[2016-11-29 17:16] theVKC commented on #322
(Reopening issue to track instructions)

[2016-11-29 17:20] theVKC commented on #181
Reopening this issue per our new process for script releases. Instructions not complete.

@levesswe, your instructions in DHS-SIR did not match the format we use. It looks like you uploaded a OneNote document instead of adapted it using our accessible format. Can you please re-enter the information, but using the "New" dropdown?

Also, _ensure that you use captions when creating instructions._ Thi

[2016-11-29 17:21] theVKC commented on #181
Also also, I am going to close #469 as I am now re-opening this. This is part of issue re-evaluation and keeping things open until all processes are checked. So, @levesswe, when you fix the loop bug, you can simply tag it onto here!

[2016-11-29 17:22] theVKC commented on #469
Closing this issue since #181 is back open, and we don't need two tracking issues. @levesswe, please add #181 to any commits you make to fix this, not this old issue number. Thank you!

[2016-11-29 17:22] #469 closed

[2016-11-29 17:24] heatherallen commented on #564
I lied the "both" option I'm getting an error message on real time PRISM and training region PRISM, "Script Error at Line1, Column 1: Type mismatch 'F3'"

[2016-11-29 17:25] theVKC commented on #453
OK folks, I'm reopening this issue per our new guidelines which suggest issues should stay open until documentation is wrapped. Luckily, because there are two enhancements suggested for this, I can close those issues as well to make up for this:

* #503: update setcursor placement
* #504: tie in current scripts

So, closing those two and reopening this one. When these issues get resolved, I'll upd

[2016-11-29 17:26] #504 closed

[2016-11-29 17:26] #503 closed

[2016-11-29 17:28] theVKC commented on #93
Reopening per new process which states that issues remain open until instructions are in SIR. @gretchent74  has agreed to write instructions but is out for a couple of weeks. Is there any chance AT ALL that anyone else from any other counties could write up instructions for this right quick? @MN-Script-Team/prism-scriptwriters @MN-Script-Team/prism-supervisors?

[2016-11-29 17:29] theVKC commented on #564
Sounds like an "F3" should be replaced with a "PF3". @KallistaImdieke or @heatherallen, want to take it?

[2016-11-29 17:30] KallistaImdieke commented on #564
I can take it.  I have been having Stearns test the “both” option also because it wasn’t working and I have a fix already drafted I just need one of them to test the fix for me so I can pull it in. ☺

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 11:29 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kall

[2016-11-29 17:31] khiestand commented on #628
I think Robert was working on the bulk one, I only worked on the single one.  @RoberT-1000 - thoughts?

[2016-11-29 17:31] theVKC commented on #564
Good deal, thank you!!

[2016-11-29 17:32] theVKC commented on #628
Yes, sorry! That function is all @RoberT-1000 all the time.

[2016-11-29 18:52] theVKC commented on #578
Never mind, @RoberT-1000. I have a SIR glitch on this document so I'll take care of it. No worries.

[2016-11-29 19:39] theVKC commented on #578
Done! In SIR and approved! Thanks all!

[2016-11-29 19:39] #578 closed

[2016-11-29 21:15] khiestand opened #670 "Quick Caad maximum allowance?"
I have a worker who has entered 12, and it cuts off after that.  Does the dialog box need to be bigger? Or is there a limit to only 12 "favorites"?  Also, she was able to enter one that was already saved.  Is there logic that could be coded to have a message box pop up if that caad code is already in their favorites?

[2016-11-29 21:19] theVKC commented on #670
First off, since this still has an open issue ( #453), I don't think we should be having the discussion here. Could you go to that issue and report your idea?

[2016-11-29 21:19] #670 closed

[2016-11-29 21:20] khiestand commented on #453
I have a worker who has entered 12, and it cuts off after that. Does the dialog box need to be bigger? Or is there a limit to only 12 "favorites"? Also, she was able to enter one that was already saved. Is there logic that could be coded to have a message box pop up if that caad code is already in their favorites?

[2016-11-29 21:26] theVKC commented on #453
I could easily make the dialog bigger, or maybe even dynamic. And logic to check an existing CAAD code shouldn't be too hard.

[2016-11-29 22:06] theVKC commented on #633
@KallistaImdieke, after reviewing the document, I don't think we need to do any more updates to the instructions. Go team!

[2016-11-29 22:06] #633 closed

[2016-11-29 22:15] levesswe commented on #620
Attached is a generic version of the interview information sheet Word document that the script uses that agencies can use to make their own version with local resources in the bottom section.  Remember this is the template and agencies will make their own version and save in their document file path per agency global variable settings.  Any feedback/requests for changes for the template?

[intervi

[2016-11-29 22:20] jannellstearns commented on #620
It appears that this is a document that would be handed out to clients?  If so, I would suggest typing out the cch, ccc, cms, etc into what they would mean to the client:  basic support, child care support, etc.
and hopefully cut down on some phone calls!

[2016-11-29 22:35] RoberT-1000 commented on #628
I'll take a look

[2016-11-29 22:49] theVKC commented on #628
I just realized this isn't the same script @khiestand edited. We should really make another issue. Can @heatherallen or @RoberT-1000 make another issue for this if there is, in fact, an issue?

[2016-11-29 22:57] theVKC commented on #93
@heatherallen, since you're testing this right now in your agency, would you mind terribly writing up instructions for it?

[2016-11-29 22:57] theVKC commented on #93
(If it survives your testing, that is, we could cut it if it's still error prone)

[2016-11-29 23:08] levesswe commented on #620
The idea is that the worker would fold the document in half, and the client would have the bottom half with the resources, and the worker would have the top half and be able to mark any updates that need to be made to prism on the paper as they meet with the client and hopefully have all the information they need to answer the most common questions.  The worker then can refer to their sheet after

[2016-11-29 23:47] theVKC commented on #620
I think it should be much more clear on the document that the document is to be torn in half. That wasn't clear, and I'm not sure how convenient that is for everyone.

[2016-11-30 14:10] heatherallen opened #671 "Bug when using bulk case transfer"
When using the Transfer Caseload Top to Bottom, there seems to be a bug where the script is not converting the 8 digit position code to the 11 digit position.  Getting error that the 8 digit person is not found.

[2016-11-30 14:13] heatherallen commented on #93
sure thing, I will try to get it tested today and if it works I will get some instructions written. :)

[2016-11-30 14:35] levesswe commented on #620
We intended the sheet to tear it in half, but that isn't to say that all agencies must do so.  If some agencies want to give the whole sheet to the client, I think that is fine.

[2016-11-30 14:38] heatherallen commented on #93
I tested this morning, and as much as I want to say this worked, I'm not having luck with it finding the word doc that I have saved.  I'm getting the error message of Script Error at Line 1, Column 1: This file could not be found.  It is opening Word but not finding the document saved.

[2016-11-30 14:51] levesswe commented on #620
Here is a new version with the obligations spelled out:
[interview.information.sheet 11-30-16.docx](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/622070/interview.information.sheet.11-30-16.docx)

[2016-11-30 15:04] levesswe commented on #419
@KallistaImdieke, are you working on this script?  I just received a request from my supervisors to make a version of this idea for use with some Anoka county specific documents and child care verification in addition sending out EVRs.  Anoka supervisors are still working out all that they want the script to do.  If you haven't started working on this yet, you can steal from me after development!

[2016-11-30 15:06] KallistaImdieke commented on #419
I am working on this I started it but then was given a different script that was higher priority that I needed to work on this will be the next one I work on again.  If you have ideas of what your office wants from it you can let me know.   Thanks!

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Wednesday, November 30, 2016 9:04 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scr

[2016-11-30 15:52] levesswe commented on #181
@theVKC, I wanted to let you know that I have re-worked this script.  It still doesn't have all the bells and whistles I initially imagined, but it uses different logic to resolve the bug that it previously didn't find all matches.  It also now produces spreadsheets for reference so workers can see what the script did.  I would like to do more testing before uploading the revised version, but I ca

[2016-11-30 15:55] levesswe commented on #181
PS.  You should assign this issue to me!

[2016-11-30 15:57] levesswe commented on #459
Sounds good to me.  Either option is fine.

[2016-11-30 16:04] levesswe commented on #93
I bet it is an issue with the filename.  The script refers to "Court Prep Worksheet.dotx" and the file in DHS-PRISM-SCRIPTS/docs is called "court-prep-worksheet.dotx".  The name needs to be the same in both places...

[2016-11-30 16:32] khiestand opened #672 "Enhancement to Ct Order Request Notes Script"
I am going to add a drop down option of E-Filed, as that is now how we have to request orders in Wright (and probably other counties).

I will take this one!

[2016-11-30 17:19] khiestand commented on #628
Ok, I think I pulled in my instructions on SIR!

[2016-11-30 17:26] wrightcountykaren commented on #93
I have a few questions now that I have reviewed the Word document.
Is this designed to be for any court hearing or for contempt only?
If it is for any hearing, then it might be nice to have a field to indicate what kind of hearing it is.

Is the PRISM info pulling into the fields from NCOL for Basic Medical and CCC charging?  Those fields would be blank if it is for an establish action then right?

[2016-11-30 17:31] levesswe commented on #93
@wrightcountykaren, it was originally designed for a contempt court prep, but I support the idea of making it more useful beyond contempt actions and soliciting ideas on how it can be enhanced.

You are correct in that the support amounts are pulled from NCOL, so would be blank for establishment cases.  However, the case worker can modify the amounts after the worksheet is generated to reflect a p

[2016-11-30 18:58] RoberT-1000 commented on #671
I'll take a look

[2016-11-30 18:59] RoberT-1000 commented on #671
What is your 8-digit person number you are using?

[2016-11-30 19:02] heatherallen commented on #671
It was one in the training region....could that be why?

[2016-11-30 19:03] RoberT-1000 commented on #671
If this is just an error in the training region, I'm not going to bother looking.

[2016-11-30 19:04] RoberT-1000 commented on #671
I had a lot of difficulty getting this script to work in the training region that I have not experienced in production.

[2016-11-30 19:11] RoberT-1000 commented on #671
By the way, there is a developer mode. You enable it by entering UUDDLRLRBA and then a number in the field where you are asked to enter how many people you are transferring cases to. It will do everything except transfer cases.

[2016-11-30 19:31] #628 closed

[2016-11-30 19:31] theVKC commented on #628
Instructions set, this is safe to close!

[2016-11-30 19:34] theVKC commented on #671
Hey folks! Can we confirm that it's working in a production environment as expected? Perhaps one of the @MN-Script-Team/prism-supervisors has used it recently and can report?

[2016-11-30 19:37] theVKC commented on #93
Well, does someone want to add additional features to it? @levesswe? Perhaps a @MN-Script-Team/prism-wright scriptwriter?

I'm a bit hesitant to call it "completed" with these questions hanging out there. I can remove it temporarily while bugs are worked out if need be, and I'll assume that's the choice if I don't hear back this week. :)

[2016-11-30 19:39] theVKC commented on #419
@KallistaImdieke and @levesswe, can you discuss a timeline for this as well as who's doing the work on it, and get that discussion back to me this week? Or have it on GitHub, because then I see it in real time. :)

[2016-11-30 19:39] paschell commented on #671
My supervisor has used it twice in the last month to transfer whole caseloads with no problems reported.  He uses the 8 digit user ID (for example 003CS028).

[2016-11-30 19:40] theVKC commented on #181
Good deal, thank you @levesswe! Do you have an ETA?

[2016-11-30 19:40] #459 closed

[2016-11-30 19:45] theVKC commented on #672
#673 pulled this in. :)

[2016-11-30 19:46] theVKC commented on #672
Can I get testers? Two non-Wright agencies to confirm it looks pretty? @MN-Script-Team/prism-scriptwriters?

[2016-11-30 19:47] theVKC commented on #671
@heatherallen, are you OK with closing this one since it doesn't appear the issue happens in production?

[2016-11-30 19:49] heatherallen commented on #671
yes good to close!

[2016-11-30 20:14] levesswe commented on #93
I feel like this is should be the subject of a Hackathon so that we can get more input from people/agencies about what would be most useful.  I have limited experience with court prep for actions other than contempt, so I don't have a clear idea on what the end result should look like if we broadened its scope.  Maybe at a Hackathon we could put some ideas together and come up with an action plan.

[2016-11-30 20:47] #671 closed

[2016-11-30 20:56] heatherallen commented on #93
I agree with Wendy! I think this can be altered to more universal.

[2016-11-30 21:48] theVKC commented on #93
The next hackathon is scheduled for 01/10/2017 at Stearns. Can all participants plan on being part of the discussion that day? I've got a note on my list to go over this.

[2016-11-30 21:54] theVKC commented on #93
Old version removed, and this issue has been kicked to "backlog". Thank you all!

[2016-11-30 22:09] heatherallen commented on #93
I unfortunately am only in the office in the morning that day...so I could maybe be available for discussion if its in the morning.

[2016-11-30 22:26] KallistaImdieke commented on #93
I will be there.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, November 30, 2016 3:49 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Court Prep Sheet (#93)

The next hackathon is scheduled

[2016-12-01 15:46] wrightcountykaren opened #675 "Enhancement for Arrears Mgmt Review Script"
I would like to have a section added to this script for the supervisors to use to either approve or deny the AMPP request.  My thoughts are to add another small section to the script with the 3 Supervisor CAAD codes, a checkbox with Approved as requested, a checkbox with Approved with modifications-next to that a field to list the changes, a check box with Denied and next to that a Reason field fo

[2016-12-01 17:31] jannellstearns opened #676 "Income Verification word doc bug (Actions/Income verification)"
When I started this script, it popped up to the dialog box where I needed to start the script again.  the script then ran and gave me this error:

Script error at Line 1, column 1:
sorry we couldn't find your file. is it possible it was moved, renamed or deleted?

[2016-12-01 17:35] CDPotter commented on #676
Is it happening repeatedly or just once?

Also just so I make sure I'm following:

You clicked Actions
Actions menu opened
clicked income verification
Actions menu opened again?
Clicked income verification
income verification opened and then error-ed out?

[2016-12-01 17:37] jannellstearns commented on #676
I tried running the script 3 times and it happened the same way each time.

Your clarification was exactly what happened.
I would add to the last line that the income verification script seemed to run and then error-ed out.  It looked like it might have been at the point where it would generate the word document, but I am not 100% sure.

[2016-12-01 17:41] CDPotter commented on #676
Hmm... I'm guessing the script error part is the inability to find the word document as well. Please have someone else @MN-Script-Team/prism-stearns check. You may want to also check your global variables files to make sure the file path is correct. Here is what the script uses for the file path:

word_documents_folder_path & "child-support-income-verification-form.docx"

Check that in Global vari

[2016-12-01 17:45] RoberT-1000 commented on #676
I'll take a look. I had the script re-open the Actions menu as well.

[2016-12-01 17:45] RoberT-1000 commented on #676
We seem to be having a lot of problems with Word documents...

[2016-12-01 18:01] RoberT-1000 commented on #676
I've found one problem already...

![image](https://cloud.githubusercontent.com/assets/22157633/20805770/c8ded80e-b7bd-11e6-991d-4a5d376dc58d.png)

I'm going to create an issue for this and submit a pull request. I can't see how this script would ever have worked.

[2016-12-01 18:02] RoberT-1000 opened #677 "Bug - Actions Income Verification Dialog bug"
The dialog is not named the same in the build and the call. I'll fix it.

![image](https://cloud.githubusercontent.com/assets/22157633/20805829/f9bbfdc6-b7bd-11e6-9de8-247aceee9c8d.png)

[2016-12-01 18:35] RoberT-1000 opened #678 "write date Bug - Actions Income Verification"
The script is not writing the dates on PALC correctly.

Assign to me.

[2016-12-01 18:40] RoberT-1000 commented on #676
OK, I can verify that this script won't work in Anoka County because we don't have a document called "child-support-income-verification-form.docx" in the word_documents_folder_path. @jannellstearns >> Do you have this document?

How do we has?

[2016-12-01 18:41] CDPotter commented on #676
Looks like it was added 2 days ago. https://github.com/MN-Script-Team/DHS-PRISM-Scripts/tree/master/docs

[2016-12-01 18:45] RoberT-1000 commented on #676
Splendid! I will take a look.

[2016-12-01 18:46] RoberT-1000 commented on #676
Got it working.

[2016-12-01 18:51] jannellstearns commented on #676
@RoberT-1000, I will have someone check into the Doc path here -- I thought we had it working previously, but I may be mistaken.

[2016-12-01 18:54] RoberT-1000 commented on #676
I have submitted a pull request...let's see if those updates make a difference.

[2016-12-01 19:02] KallistaImdieke commented on #676
the script was working when I submitted it and I forwarded the word document this script uses to Veronica

[2016-12-01 19:07] CDPotter commented on #676
Pull has been merged. @RoberT-1000 @jannellstearns @KallistaImdieke how are things looking now?

[2016-12-01 19:08] GayS commented on #676
our global variable file has the correct path however the document "child-support-income-verification-form.docx" does not exist.

[2016-12-01 19:09] CDPotter commented on #676
Since it was only published 2 days ago if you didn't download it yet (I'm assuming because Kallista worked on it she had it downloaded locally) it would be causing problems.

[2016-12-01 19:13] KallistaImdieke commented on #676
it's entering the date wrong when you select the 3-6-12 months (I selected 3 months and got the following

![capture](https://cloud.githubusercontent.com/assets/19214103/20808296/aaa8b576-b7c7-11e6-8b79-b3ecd6621683.PNG)

OI know this was language that @theVKC did and added to the script after I submitted it.

When I used the date range I got the following error,

![capture2](https://cloud.githubu

[2016-12-01 19:13] KallistaImdieke commented on #676
yes when I was testing it I have the document saved locally

[2016-12-01 19:21] RoberT-1000 commented on #676
I'll fix the date write

[2016-12-01 19:22] RoberT-1000 commented on #676
Otherwise, it's loading now.

[2016-12-02 14:12] KallistaImdieke commented on #678
Hey Robert I am not sure if you made this correction yet But Janelle tested it this morning and is still getting the following error when she selects the 3-6-12 month checkbox  (date is not writing in the correct format)

![capture](https://cloud.githubusercontent.com/assets/19214103/20836875/f67c73d0-b866-11e6-9edd-485e5a2125c4.PNG)

Thanks!

[2016-12-02 14:19] CDPotter commented on #678
I didn't pull in Robert's fix because I was unsure the status of the WriteDate function. I remember seeing emails recently with reports of it not working for all users. I'd be happy to pull if but could someone bring me up to date on the status of it?

[2016-12-02 14:21] KallistaImdieke commented on #678
Ok I will let Jannell know.  I am not sure of what the status of the WriteDate function is.

Thanks!

From: Charles P [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 8:19 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Comment <comment@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRI

[2016-12-02 14:26] RoberT-1000 commented on #678
I tested it yesterday afternoon and found it to be working.

[2016-12-02 14:35] RoberT-1000 commented on #678
Idea: To get around the issue of agencies not having the correct file in the correct location, the script should start with...

`SET check_for_doc = CreateObject("Scripting.FileSystemObject")`
`doc_location = word_documents_folder_path & "child-support-income-verification-form.docx"`
`IF check_for_doc.FileExists(doc_location) THEN`
`	'the script`
`ELSE`
`	script_end_procedure("Your agency is not p

[2016-12-02 15:15] theVKC commented on #675
Two questions!

1. @wrightcountykaren, do you foresee a need to restrict visibility of this functionality to non-supervisors? Is it OK if CSOs see it?
2. @MN-Script-Team/prism-supervisors, what do you think?

[2016-12-02 15:21] theVKC commented on #678
All Word Doc issues should be resolved when this issue gets resolved: https://github.com/MN-Script-Team/BZS-FuncLib/issues/234. I could see something like this being worked out within it... IF it's needed (my idea involves downloading the file from GitHub in real time, and I'm testing it as we speak).

The `write_date` bug is related to MAXIS use and not PRISM use per se. It's already a separate i

[2016-12-02 15:23] wrightcountykaren commented on #675
I don't see a need to restrict visibility of the supervisor section for a CSO.  The CSO is going to see the note once it is made in PRISM anyway.  The note will direct them to take the next action on the case.

[2016-12-02 15:25] theVKC commented on #676
This is pulled in to master, can I get confirmations from @KallistaImdieke that it's now working in Stearns?

How about another county to test it? @MN-Script-Team/prism-olmsted? Can you check it as well?

[2016-12-02 15:27] theVKC commented on #676
OK, hold up.

I'm closing this issue as it's tied to the word doc which was named locally.

[2016-12-02 15:27] #676 closed

[2016-12-02 15:28] theVKC commented on #677
@MN-Script-Team/prism-stearns and @MN-Script-Team/prism-olmsted, can you check that both this AND the write_date functionality for this is working?

[2016-12-02 15:28] theVKC commented on #675
Good deal, @wrightcountykaren, because that functionality doesn't exist yet!

[2016-12-02 15:29] KallistaImdieke commented on #676
Jannell and I tested it in Stearns and the word document is working the only thing that wasn't working this morning was the date function when you would pick 3-6-12 months.  I can retest it though to see if that is now working..

[2016-12-02 15:30] theVKC commented on #676
Sorry folks. Closing this thread. @KallistaImdieke, please redirect your point about the write_date (which I just pulled in minutes ago) to #678.

[2016-12-02 15:31] theVKC commented on #676
(Thread closed to avoid confusion with three issues targeting one script, this issue was resolved by an issue with a saved file at the county level)

[2016-12-02 15:40] KallistaImdieke commented on #678
I tested out this script again, since it looks like you said you pulled in the correction in the other thread. Not sure if it takes a little bit for the change with the writedate to take affect? I didn't get a notice that a change was made to the script.

As of right now the script runs and creates the word document when I use the "custom date range"  however it does not work when I use the 3-6-12

[2016-12-02 15:49] theVKC commented on #678
It can take a minute or two. Sometimes it takes a bit longer. Some folks say closing down and rebooting helps, I don't know if I can vouch for that. Try again in a few minutes?

@RoberT-1000, I know your folks are on master, can you confirm that you're seeing the change?

[2016-12-02 15:50] levesswe commented on #93
I have approval to be there, too!!

[2016-12-02 16:13] levesswe commented on #181
I don't know when I will get more worklists to test with - it could be tomorrow or a week or two.

[2016-12-02 16:38] RoberT-1000 commented on #678
The changes I made seem to be working. I didn't scan it very thoroughly for how many places I should have added `write_date`

I've stress tested the script now and there are a few other places where `write_date` needs to be added. There is no validation to make sure the script is writing MM/DD/YYYY format on DDPL, I can create a new issue for that and submit another fix.

[2016-12-02 16:42] RoberT-1000 commented on #678
Actually...I won't create a new issue...this one is already for `write_date`

[2016-12-02 16:56] RoberT-1000 commented on #678
@KallistaImdieke >> I'm going to do a little house keeping on the script...indentation err_msg handling and the like. It will make the script easier to debug in the future. I'm not doing anything that will change the functionality of the script.

[2016-12-02 16:58] KallistaImdieke commented on #678
Ok, thanks!

From: RoberT-1000 [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 10:56 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] write date Bug - Actions Income Verification (#678)

@KallistaImdieke<http

[2016-12-02 16:58] RoberT-1000 commented on #678
@theVKC >> I have a tested, working Income Verification to pull in.

[2016-12-02 17:43] jannellstearns commented on #677
write date functionality is not working in Stearns.
at DDPL -  in the dated issued from field it entered:  /12/2/20155

[2016-12-02 19:21] theVKC commented on #677
Just pulled in another pull which should address this.

[2016-12-02 19:22] theVKC commented on #678
Pulled in, looking for testers! :)

[2016-12-02 20:07] paschell commented on #678
The general idea behind this script is good.  The WORD document is confusing because I am assuming that the first amount or "The Total amount she received"  was taken from DDPL (those are actual $ CP receives LESS fees)  The second amount "She received $XXX.xx on case number" is taken from PALC which is NOT LESS fees.  So in this particular test the total amount she received on ALL cases was less

[2016-12-02 20:11] KallistaImdieke commented on #678
I can change the word document to note that the one is before any fees and the other is after fees to make this less confusing on NPA cases.  Normally our office would use this on a case where they are on assistance because the place is requesting the information.

From: paschell [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 2:08 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRI

[2016-12-02 20:54] paschell commented on #678
@KallistaImdieke - that would help to add a disclaimer of some sort.  If the reason for utilizing the script is for the purpose of giving payment information to HUD or housing authorities then this script is OK with the disclaimer.  In Anoka, it is our policy not to provide information directly to HUD or housing authorities or even to clients as they can access through child support online.  :-)

[2016-12-02 21:41] jlmartinone commented on #675
You can assign this to me...

[2016-12-06 17:46] wrightcountykaren opened #684 "Enhancement for Returned Mail script"
Can an enhancement be made to the returned mail script that makes the script pause after it gets to the NCDD or CPDD screen with a message box that says please review the address, is this the same address you'd like to remove?  With a Ok to continue or Cancel Script button.  The worker would have to click on ok for the script to run and for the address to be removed from those screens.
Or some wor

[2016-12-06 17:47] theVKC commented on #684
Rather than pause it to look at PRISM, I'd rather it display a pop-up with the info (accessibility reasons). I love that idea though. Any takers?

[2016-12-06 17:52] wrightcountykaren commented on #684
Oh yes.  I like having the address displayed in that box that even better ☺.

Karen Popken
Wright County Child Support Supervisor
Phone: 763-682-7403
How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, December 06, 2016 11:48 AM
To: MN-Script-Team/DHS-PRISM-Scripts <D

[2016-12-06 21:06] theVKC commented on #466
@wrightcountykaren has confirmed this is working. Now, for instructions! @heatherallen, can you modify the instructions that are in SIR to reflect this new version of the script?

[2016-12-06 21:17] heatherallen commented on #466
@theVKC yes I will update the instructions hopefully this week.

[2016-12-06 21:59] theVKC commented on #466
Beautiful. Thank you!!!!

[2016-12-07 20:21] theVKC commented on #181
This is out there! If I'm not mistaken, @levesswe has already written instructions in SIR (pending my approval, which I will be reviewing shortly). Can I get two counties to test it? @MN-Script-Team/prism-scriptwriters?

[2016-12-07 20:29] theVKC commented on #181
@levesswe, instructions approved in SIR! Thank you for the quick turnaround!

[2016-12-09 19:17] heatherallen commented on #466
@theVKC, I was going to update the instructions but I don't see them on SIR.  Are they hiding somewhere?

[2016-12-09 19:18] theVKC commented on #599
I'm going to be taking the Changelog display elements. My plan: create a JavaScript handler for pulling these into an HTML document, which can be located on the GitHub pages page.

I'm already doing this functionality for FuncLib (see https://github.com/MN-Script-Team/BZS-FuncLib/issues/325).

[2016-12-09 19:20] theVKC commented on #466
Apparently they do not exist. I would presume @RoberT-1000 or @levesswe or @paschell might have a local copy from Anoka. But, it needs to be updated to meet the DHS-SIR Word doc format.

[2016-12-09 19:28] heatherallen commented on #466
Ok sounds good! It may just be easier to just start from scratch since the new script is a bit different than the old. Thanks.

[2016-12-09 19:34] paschell commented on #466
@heatherallen - I found some instructions on our OneNote.  I would agree that starting from scratch would be far easier than trying to update what we have here.  I don't believe we had or have the Ramsey instructions.

[2016-12-09 20:04] heatherallen commented on #466
Instructions complete!

[2016-12-09 21:24] theVKC commented on #466
Approved! THANK YOU @heatherallen! You're the heroine of the week! :)

[2016-12-09 21:24] #466 closed

[2016-12-11 18:16] theVKC commented on #613
This should be reopened because it requires documentation. On it.

[2016-12-15 14:03] jannellstearns opened #688 "Enhancement for Contempt Hearing Notice script"
add functionality for CSO to automatically create a worklist if NCP is required to do specific things as part of contempt hearing such as make a payment of a specific $ amount by a specific date.

[2016-12-15 17:57] levesswe commented on #419
I am actively working on an Anoka County version.  I would say about 75% done.

[2016-12-15 21:57] theVKC commented on #688
Any thoughts @MN-Script-Team/prism-scriptwriters or @MN-Script-Team/prism-supervisors?

[2016-12-15 21:58] theVKC commented on #599
Minnesota has a new style guide!

https://mn.gov/mmb-stat/branding/style-guide/minnesota-state-brand-style-guide-2016.pdf

I'm going to make sure to apply styleguide-approved changes throughout. Woot!

[2016-12-16 14:22] heatherallen commented on #688
I like this idea!

[2016-12-16 14:27] jlmartinone commented on #688
I agree - good idea!

[2016-12-16 14:36] wrightcountykaren commented on #688
Great idea!

[2016-12-16 20:21] KallistaImdieke commented on #688
I like this idea!

[2016-12-20 16:11] wrightcountykaren commented on #684
Additional enhancement for this script.  There are several CAAD options that can be used when noting returned mail.  Should we have a drop down so the worker could choose which CAAD option would be the most appropriate?

[2016-12-20 16:29] levesswe commented on #684
I think that is a  great idea!

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Karen Popken [mailto:notifications@github.com]
Sent: Tuesday, December 20, 2016 10:11 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [MN-Script

[2016-12-20 20:59] theVKC commented on #684
Looking for takers on this one, @MN-Script-Team/prism-scriptwriters!

[2016-12-20 21:54] heatherallen opened #689 "New Script Idea: Convert Proposed CORD orders to a WORD and/or PDF document"
We were just informed by our court administration that our proposed orders need to be efiled in a WORD doc and PDF doc.  Most of our workers do the proposed order using CORD.  Do we think there is a way to make this possible??? Jannell from Stearns was included in our discussion here in Scott County and she was thinking the scrip could work somewhat along the lines as the Send Memo DORD doc?? Thou

[2016-12-22 16:23] theVKC commented on #689
Any thoughts from @MN-Script-Team/prism-scriptwriters or @MN-Script-Team/prism-supervisors?

[2016-12-22 16:48] jannellstearns commented on #689
This could be a great tool to develop!  Documents would still be on PRISM, but might allow for some interesting workflows County Attorney's Offices in a more electronic environment for updating work!

[2016-12-22 17:14] wrightcountykaren commented on #689
That is odd that your Court Admin would want it in both formats??  Eventually I would anticipate that they are going to require searchable PDF files, so if we could figure out a way to export the orders from CORD into a PDF, I think that would be a great idea.

[2016-12-23 19:24] theVKC commented on #689
PDF is hard because of licensing for Adobe.

Word: not so hard. It's a Microsoft product and they've created a pretty open method of updating it. :)

[2016-12-23 21:12] jannellstearns commented on #689
My best guess (not being techie) is that each county would have a way of doing a conversion of WORD documents into a format that would be able to be e-filed.  As far as I know, our attorney's office does the majority of their document formatting in WORD, but I can sure check if that would be helpful.

[2016-12-27 14:07] jannellstearns commented on #689
This was just sent to counties today regarding this very idea from courts. The document can be filed as a word document in very specific counties to start and then rolled out throughout the state:

A new document filing option is available in the Minnesota eFile & eServe (eFS) system.  This new option permits filers in specific court locations (see below) to file proposed order documents in a Micr

[2016-12-28 15:25] CDPotter commented on #450
@theVKC I missed this message entirely. It was not but is now. https://gist.github.com/CDPotter/8f4211ee330804783cd6d7f2ad7f7f59

I haven't made much progress on it as turning it into a function seemed to muck up some of the functionality of it, and I've never been able to get the download of the powerpad to work.

[2017-01-06 15:46] jannellstearns opened #691 "List Generator - No Pay Enhancement request"
This script is awesome!  In looking at the list that generated, I would have one enhancement idea - Is it possible to add a check of CACL to see if there is an approved case closure record on the case?  This would remove any of the cases that are not fully closed on PRISM, but have been approved for closure and are in the 60 day wait period. (let me know if this doesn't make sense)

[2017-01-11 15:53] KallistaImdieke commented on #635
@theVKC do you know if we have a script out there already that pulls information from Prism into the dialog box that I can look at?

[2017-01-11 16:07] levesswe commented on #93
For those that are interested, the discussion about the Court Prep Worksheet is moved to Hackathon scheduled for Wednesday, January 18, at the Wright County Government Center Training Room in Buffalo.  Hope you can come!

[2017-01-12 14:46] heatherallen opened #693 "Bulk: Review QW Info Bug"
Is anyone having issues with this script?  After reviewing the instructions and using the script here in Scott County, it doesn't appear it is doing all it is supposed to be doing as listed in the instructions.  It does not prompt you to enter your worker ID and when the script is running it is not creating the excel spreadsheet.  One of my coworkers ran the script and it did not purge any of her

[2017-01-12 15:47] paschell commented on #693
@heatherallen - I had a coworker comment on Tuesday that the script was not creating the spreadsheet.  I am unable to test as I have no L2500 or L2501 worklists.  I used it last month and it worked as it was intended.   I will try and find a few workers today to test.

[2017-01-12 16:15] heatherallen commented on #693
@levesswe we did look for the Excel spreadsheet on the taskbar and if it may have been hiding behind some things but we did not see that either :(

[2017-01-12 16:36] levesswe commented on #693
If the first user did not see any dialogs very likely the script didn't run.  You can have the user try clicking "stop script" and then try again, or try rebooting the computer.  On the computer where it did run, hoover the mouse over the excel icon on the task bar.  It should show two files are open named "Book2" or "Book3" or whatever.  You can then select one and maximize by clicking the square

[2017-01-13 15:43] theVKC commented on #693
Reading this, I think @levesswe is right on. @heatherallen, can you check again and confirm? If so, we'll close the issue.

[2017-01-17 16:12] theVKC commented on #691
Any feedback from @MN-Script-Team/prism-scriptwriters? @MN-Script-Team/prism-supervisors?

[2017-01-18 15:00] jlmartinone commented on #662
@jannellstearns  - is there a specific link you want it to open to?
Thanks!

[2017-01-18 15:10] khiestand opened #694 "Worker Signature Missing from NOTES scripts"
Worker Sig has been DIM'ed in the following notes scripts, it doesn't autofill the worker sig.  Needs to be removed.

Waiver of Personal Service
Case Initiation Docs Rec'd
Ct Order Request
CSENET
Invoices
MES Financial Docs Sent

I will take this one.

[2017-01-18 15:15] jannellstearns commented on #662
The maintaining county decision tree located in the training materials/job aide page in sir

Sent from my iPhone

On Jan 18, 2017, at 9:01 AM, Jodi Martin <notifications@github.com<mailto:notifications@github.com>> wrote:

@jannellstearns<https://github.com/jannellstearns> - is there a specific link you want it to open to?
Thanks!

—
You are receiving this because you were mentioned.
Reply to this

[2017-01-18 16:11] khiestand opened #701 "Case Transfer 'team' bug"
The team variable has an extra : in the variable name.  This is causing the do loop to not notify the worker if they are not entering 3 characters for the team.

I will take this one.

[2017-01-18 17:29] heatherallen commented on #468
@theVKC. I have merged the 2 scripts and have a draft, BUT I would like to test this script on my own when I get this worklist at the beginning of next month to make sure it is working the way I anticipate it to do so.  Once I test and ensure it is working properly I'll create pull request and have others test.

[2017-01-18 17:48] theVKC commented on #583
@heatherallen and I are going to take this one!

Heather is going to create a fake Excel sheet, then create the function to person-search each person on the sheet (using training region data for testing, obviously).

I am going to then create/port a function to load an Excel sheet (Krabappel over on the MAXIS side does this).

@jannellstearns, is there any way you can email Heather and I a sample

[2017-01-18 18:00] jannellstearns commented on #583
I forwarded request to Tammy. Hoping she can do today

Sent from my iPhone

On Jan 18, 2017, at 11:48 AM, Veronica Cary <notifications@github.com<mailto:notifications@github.com>> wrote:

@heatherallen<https://github.com/heatherallen> and I are going to take this one!

Heather is going to create a fake Excel sheet, then create the function to person-search each person on the sheet (using training

[2017-01-18 19:16] TammyStearns commented on #583
I am sending this to Veronica.Cary@State.MN.us and also Heather Allen.  I am not able to get it to attach here for some reason.  Let me know if you have any questions or issues with it opening.  Thanks.

[2017-01-18 20:01] theVKC commented on #694
Wendy and Heather have agreed to test. Thank you!

[2017-01-18 20:05] theVKC commented on #701
Any chance we can get additional testers on this?

@levesswe and @heatherallen? Since you're here and everything?

[2017-01-18 20:17] theVKC commented on #701
Confirmed that it's working from both. Thank you!

[2017-01-18 20:17] #701 closed

[2017-01-18 20:56] heatherallen commented on #672
it works for me!

[2017-01-18 21:02] heatherallen commented on #672
works for me too!

[2017-01-18 21:04] levesswe commented on #672
Works for me, too!

[2017-01-18 21:05] khiestand commented on #672
You ladies are the best!

[2017-01-19 19:25] heatherallen commented on #694
my worker signature is still not populated on the one's listed above as well as the other 2 I was testing yesterday the ACTIONS: Cola and ACTIONS: fee suppression one.

[2017-01-19 20:20] C-Love opened #704 "Add option to Global Variables to diable ChangeLog - Enhancement"
Due to county specific problems with the changelog functionality, we need the option to disable it. This way we can reduce the interruption to workers access to scripts.

I have this and will pull in shortly.

[2017-01-19 20:39] heatherallen commented on #693
I just ran this script again and no Excel Spreadsheet is populating.  It is reviewing and processing the worklists but I am not getting the Excel Spreadsheet.

[2017-01-19 20:46] theVKC commented on #684
@khiestand has completed this and it's in master. Can I get testers? Perhaps @MN-Script-Team/prism-stearns and @MN-Script-Team/prism-olmsted would want to check it out?

[2017-01-19 20:47] theVKC commented on #694
@heatherallen: is there a chance you aren't on master branch there? Is anyone else having the issue at their office computer? @KallistaImdieke, could you try these out and see if worker signature auto-populates?

[2017-01-19 20:48] theVKC commented on #704
This will be fast-tracked since it doesn't require testing on the GlobVar end.

[2017-01-19 20:48] khiestand commented on #694
I did not update actions COLA or Fee Suppression.

[2017-01-19 20:49] #704 closed

[2017-01-19 20:50] theVKC commented on #693
Hmmmm. I wonder if there's something blocking up the muck-works here. As in: is it possible your Excel is running something else and not showing it to you?

[2017-01-19 20:50] theVKC commented on #694
Hmmmmmmmmm, maybe there's even more pull requests for you, @khiestand!

[2017-01-19 20:51] heatherallen commented on #694
@theVKC, do I want it to show in global variables master branch = false or true?

[2017-01-19 20:52] heatherallen commented on #693
Excel was not open when I ran the script....when I get those worklists again should I try with Excel open?

[2017-01-19 22:30] khiestand commented on #694
Ok will work on it tomorrow!  Do I need a separate issue or just reference this one again?

[2017-01-20 14:53] levesswe commented on #693
My experience has been that having Excel open when running the script does not make the Excel title bar appear maximized.  You would still need to go to the task bar, hoover by Excel, and select a page to make the title bar visible, and then click the box button to maximize.

Maybe this is something that could be more clearly demonstrated at a hackathon...

[2017-01-20 15:17] heatherallen commented on #693
Yes maybe this should be demonstrated.  I do not have my Excel pinned to my taskbar, nor is it populated.  In your screen shot it looks like you may have a newer version of Excel, could that be a weird thing to do with it?

[2017-01-23 17:42] khiestand commented on #672
@theVKC I think you can close this one!

[2017-01-26 16:46] jannellstearns opened #709 "using powerpads in both maxis and prism"
Is anyone aware of a way to allow a staff person to use BOTH the maxis and the prism powerpads?  we are running into issues allowing the access to both versions -

Employee has maxis powerpad loaded and logs into maxis using MDHS
Tried loading prism powerpad when logging in under cicspt4

has anyone else run into this or have any ideas how to resolve?
Thanks!

[2017-01-26 16:55] levesswe commented on #419
As I mentioned in the pull request, while this script does not do all that was requested, it is a good first step that can be enhanced.  I intend to post instructions shortly so you can see what it can do.  However, we may want to discuss the mod worker dropdown that is currently hard-coded with Anoka County info and determine if that should be a global variable or some other device.  @MN-Script-T

[2017-01-26 17:13] RoberT-1000 commented on #709
Totally do-able, but given the way that the powerdays are set up, you would need to change the file paths for the scripts each button runs.

![image](https://cloud.githubusercontent.com/assets/22157633/22341940/6756fe50-e3b8-11e6-8014-d690c702e3b7.png)

You would need to change that to the entire file path for the redirect file.

[2017-01-26 18:42] levesswe commented on #419
Instructions are uploaded. @MN-Script-Team/prism-scriptwriters

[2017-01-26 21:42] jannellstearns commented on #709
Thanks Robert!  I believe Stearns found a solution! - I'm not sure if I should close this issue or not.

[2017-01-26 21:43] theVKC commented on #709
Go ahead and close it. Or I'll do it!

[2017-01-26 21:43] #709 closed

[2017-01-26 21:51] #672 closed

[2017-01-31 16:13] theVKC commented on #693
I'm going to close this for now. If the issue persists, perhaps @levesswe could create a new issue to ensure that the doc is visible? I think there's an OLE object you can use for that.

[2017-01-31 16:13] #693 closed

[2017-01-31 16:17] theVKC commented on #181
Can I get feedback on how this one is going @MN-Script-Team/prism-scriptwriters?

[2017-01-31 16:18] theVKC commented on #409
Can anyone else confirm this is working? @MN-Script-Team/prism-scriptwriters?

[2017-01-31 16:31] jannellstearns opened #710 "enchancement request - establish dord docs (pa and npa)"
is it possible to add options to indicate who the documents should be sent to?  this allows the worker to only send to cp/ncp/relative caretaker - generate the documents only to the parties that we are ready to send them to.  (think paternity/relative caretaker/foster care cases)

[2017-01-31 17:26] theVKC opened #711 "Temporarily remove a few buggy/untested scripts for release sync"
This will be done so that new counties don't see untested stuff while I do a release sync. It shouldn't take long.

Scripts affected:

* ANOKA SANCTION (needs overhaul to use email [see #464], this will be removed entirely for now @levesswe, @paschell, and @RoberT-1000)
* All intake scripts (they are being replaced with #451 someday soon)
* Interview Information Sheet (#620)
* Income Verification

[2017-01-31 17:34] theVKC commented on #711
@khiestand: can you check your installation to see if you see the above action scripts at all, as well as your e-filed option?

[2017-01-31 19:17] KallistaImdieke opened #713 "Question on Arrays"
@MN-Script-Team/prism-scriptwriters  I am working on a script for our office that will take all the no pay worklists pull information from all the cases and put that information in a spreadsheet that we can work off of.

the question i  have is would it be better to do this by using an array (like the QW script) or reviewing each case one at a time (like the notice of continued service script)

An

[2017-01-31 19:34] KallistaImdieke opened #714 "Question: searching multiple variables options and the last one needs to be selected from multiple CAAD Codes"
@MN-Script-Team/prism-scriptwriters Another question I have is that I am trying to search CAAD the last CAAD note made of one of three codes (T0055, T0056 or T0057) to pull in when the last contact we had with NCP was.  once it finds one of those three codes i need it to grab the date and pull it into the spread sheet. Does anyone know how to set the variable it is looking for to multiple options

[2017-01-31 20:37] KallistaImdieke commented on #181
I have used this one multiple times in stearns and it appears to be working great.

Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, January 31, 2017 10:18 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Team mention <team_mention@noreply.github.com>
Subject: Re: [MN-Script-Team/D

[2017-01-31 21:05] khiestand commented on #711
@theVKC There are all there now, however I don't have the word doc placed so that does not open.

[2017-01-31 21:09] khiestand commented on #694
@theVKC
The worker sig is now on the Fee Suppression, but I am getting an error on the COLA script, at line 1 column 1: Expected'

[2017-01-31 21:12] theVKC commented on #694
That can't be all it says...

[2017-01-31 21:14] theVKC commented on #181
Anyone in any other counties? @MN-Script-Team/prism-scott? @MN-Script-Team/prism-wright? @MN-Script-Team/prism-olmsted? Need one other agency to confirm it's working before I mark it as complete.

[2017-01-31 21:14] #711 closed

[2017-01-31 21:22] khiestand commented on #694
![image](https://cloud.githubusercontent.com/assets/10159902/22484891/0d8fccca-e7c9-11e6-8932-bd5552094bf1.png)

[2017-01-31 21:23] khiestand commented on #694
Oh does it need a parentheses?

[2017-01-31 21:27] khiestand commented on #181
When I run this, it opens up two excel spreadsheets, one of which is blank?  Otherwise I believe it works.

[2017-01-31 21:37] theVKC commented on #694
I'd say so @khiestand!

[2017-01-31 22:11] jlmartinone commented on #181
I ran it, it worked fine.   Not sure what the point of the spreadsheet is.  It appears to just list the worklists that did not purge. And it slows the script down.

Just my thoughts

[cid:image001.png@01D27BDC.9BED56D0]Thank you,
Jodi Martin
Child Support Officer
Wright County
763.682.7439
Fax 763.682.8920

How did I do today? Click here to complete our customer service survey.<https://www.surveym

[2017-02-01 14:50] KallistaImdieke commented on #713
@theVKC  can you help with the above question?  not sure if I needed to add a tag to you so i thought i would throw one out there.  thanks!

[2017-02-01 14:50] KallistaImdieke commented on #714
@theVKC  can you help with the above question?  not sure if I needed to add a tag to you so i thought i would throw one out there.  thanks!

[2017-02-01 15:03] theVKC commented on #181
We include the lists for tracking purposes. Many counties may want this. If you don't use it, don't! Perhaps in the future we can include both as a single sheet with multiple sortable options or something.

[2017-02-01 15:04] #181 closed

[2017-02-01 15:08] theVKC commented on #713
Actually, not sure a GitHub comment is the right way to go about this in general. A couple of things:

1. The issue list should be used for issues/ideas related to specific scripts. Not for asking general scriptwriting questions (email or Slack works pretty well for general questions).
2. Tagging people: do PRISM-scriptwriters if you want community guidance (i.e. lots of people at counties). If yo

[2017-02-01 15:09] #713 closed

[2017-02-01 15:09] theVKC commented on #714
See #713. :)

[2017-02-01 15:09] #714 closed

[2017-02-01 15:10] theVKC commented on #710
Any thoughts @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors?

[2017-02-01 15:39] theVKC opened #717 "Remove all navigation scripts Friday, February 10"
@MN-Script-Team/prism-scriptwriters: please take note that I'm formally retiring all navigation scripts in favor of the smaller, cleaner, prettier Power Pad, by February 10. So, please update your Power Pads. :)

[2017-02-01 15:40] theVKC commented on #677
@MN-Script-Team/prism-stearns and @MN-Script-Team/prism-olmsted, can I get some feedback from this one?

[2017-02-01 15:41] theVKC commented on #694
@khiestand: I'm marking this back as "in development" since you're still working on a bug related to it. Let me know when you have it ready! :)

[2017-02-01 15:41] theVKC commented on #684
Still awaiting feedback, folks. @MN-Script-Team/prism-scriptwriters

[2017-02-01 15:42] theVKC commented on #678
Can I get two agencies to test this script @MN-Script-Team/prism-scriptwriters and @MN-Script-Team/prism-supervisors?

[2017-02-01 15:48] theVKC commented on #620
So I'm looking for feedback on this one as well, @MN-Script-Team/prism-scriptwriters. :)

[2017-02-01 15:50] theVKC commented on #519
Is this working OK @MN-Script-Team/prism-scriptwriters?

[2017-02-01 15:52] KallistaImdieke commented on #620
We have been attempting to run this in stearns but are receiving an error about being able to find the document I am working with Gay to make sure it is saved in the correct spot and everything is good to go with that and then we will give more feed back ☺

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, February 01, 2017 9:49 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRI

[2017-02-01 16:01] paschell commented on #684
I like the enhancements.  I used this script changing the address to unknown, changing the addr to some other address and also just CAAD noting.  It worked well for those 3 scenarios.  The fact that it has a few more message alerts before completing the action is a  good thing!  Thanks and nice job creating and enhancing this script.

[2017-02-01 16:16] theVKC commented on #684
There's one agency confirming, thanks Pam! Can I get another?

[2017-02-01 16:31] jannellstearns commented on #684
we have used this script here and the CSO really liked it.  We haven't used the address update feature based on how we process returned mail, but this script is will be leading to an internal discussion about returned mail and possibly changing how this task is performed -- reducing number of handoffs!  LEAN LEAN LEAN!!!  Love it!!!

[2017-02-01 16:33] khiestand commented on #694
@theVKC Just pulled the fix in!

[2017-02-01 16:33] theVKC commented on #684
Boom! Thanks Jannell!

[2017-02-01 16:33] #684 closed

[2017-02-01 16:35] theVKC commented on #694
Just accepted it! Beautiful. Can I get testers on this?

[2017-02-01 17:04] KallistaImdieke commented on #419
Has this one been pulled in for testing?

[2017-02-01 17:08] theVKC commented on #419
Not yet. It appears to be open. I believe I requested a couple of changes.

[2017-02-01 17:10] KallistaImdieke commented on #419
Perfect!  Thanks!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, February 01, 2017 11:09 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRISM-Scripts] Starting REAM and sending docs to include employer verification

[2017-02-01 17:33] KallistaImdieke commented on #566
@theVKC can you remove me from this one and add @cmoore502622   She was working on this one.  I have not been.  Thanks!!

[2017-02-01 17:38] KallistaImdieke commented on #635
I have enhanced this script to pull into the dialog box if there is an Attorney or safety concerns on the case.

We also had it automatically take the address from the affidavit, put it into an excel spreadsheet and then print it that as a cover letter to attach to the documents as a cover letter so we could use the envelopes with windows and our process specialists do not need to write the addres

[2017-02-01 18:04] KallistaImdieke opened #720 "E0002 - Transfers all No Pay worklists into a Spreadsheet & purges the worklist"
In Stearns County (since we are case banking) we wanted/needed a script that will review all the E0002 (no pay) work lists on a caseload, and pull them into a spreadsheet along with the work lists date, case number, NCP's name, file location (we use this for Zero order, Incarcerated ect), the date of the last NCP phone contact  and the NCP's phone number & a place to make comments when reviewing t

[2017-02-01 18:59] KallistaImdieke commented on #678
I updated the word document to state if the amount withheld is prior to fees or after fees and changed the "her" stated of the document to "obligee"

[child-support-income-verification-form.docx](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/745816/child-support-income-verification-form.docx)

[2017-02-01 19:20] KallistaImdieke commented on #647
@theVKC I have made the changes to the beginning on this script so that it has all the correct language (loading functions from GitHub, and Changelog)  and changed it to pull in the County Attorney's for each county vs just Stearns County Specific. However I am receiving the following error:

![capture](https://cloud.githubusercontent.com/assets/19214103/22522040/b6cd8b2c-e87f-11e6-9330-0e9467d94f

[2017-02-01 20:05] KallistaImdieke commented on #451
@theVKC I am looking at this script again to try and finish my section of it but one of the documents that I need to pull information into is the "Welcome Letter" and I do not believe I have a copy of this in order to know what needs to be pulled into it.  Can I get a copy from someone so that I am able to proceed on this script :-)  Thanks!

[2017-02-01 21:00] KallistaImdieke commented on #620
I just ran this script and it started to work and pull information into the word document all the way up to the Last Payment Information then I received the following error:

![capture](https://cloud.githubusercontent.com/assets/19214103/22525926/e810760e-e88e-11e6-9749-a6fb5fbc68b3.PNG)

I ran it on a case with payments and a case without payments and in both situations i received this error.

Th

[2017-02-02 02:32] theVKC commented on #720
I think that we should bring it onboard. It doesn't have any policy concerns and I could see it being quite helpful. :)

[2017-02-02 02:33] theVKC commented on #678
@KallistaImdieke: any chance you can try and upload this document?

[2017-02-02 02:35] theVKC commented on #647
Is there a chance you don't have a globvar reference? I see that bug when I try running something that's an array defined in global variables. If I were you, I'd copy the line you have in globvar about county attorneys into the top of your script, test it, then remove it before you pull it in.

[2017-02-02 02:36] theVKC commented on #620
@levesswe, can you look at this issue that @KallistaImdieke is reporting?

[2017-02-02 14:15] KallistaImdieke commented on #720
sounds good after I test it on live cases on Monday I will get it uploaded so it can be pulled in as long as there are no changes :-)

[2017-02-02 14:28] KallistaImdieke commented on #519
[child-support-income-verification-form.docx](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/747967/child-support-income-verification-form.docx)

[2017-02-02 15:55] levesswe commented on #620
I haven't been able to reproduce the error message.  Anyone else having trouble?

[2017-02-02 18:08] theVKC commented on #519
There aren't. I think there's a button on the main page of this repository for uploading files. Add it to the docs folder and it should start a pull request (fingers crossed, I use GitHub Desktop for this).

[2017-02-02 21:18] heatherallen commented on #693
@theVKC I just was able to try this and works great!!! I like the updates @levesswe

[2017-02-02 21:23] levesswe commented on #693
Great! :)

[2017-02-03 02:36] WCMattAnderson commented on #717
At Wright Co we have updated to the new Power Pad. Is there going to be actual file add/removes we need to also update before the 10th? If so, is there a specific list rather than having to run the config utility each update for new files?

[2017-02-06 19:02] theVKC commented on #717
Right now, you can simply delete any locally-installed-files prefixed with "nav". Those have been supplanted. Generally speaking, changes don't happen often that require the installer (MAXIS has had three, I believe, since January 2015). When changes are made that do update the files, usually it'll be indicated in a GitHub issue.

If you see value in a locally-installed-files list, I could probabl

[2017-02-07 15:15] heatherallen commented on #694
the ones I see it not auto populating my worker signature are:
NOTES: IW CAAD CAWT
ACTIONS: COLA-getting error message

Otherwise I think all the rest are working on my end.

[2017-02-08 19:42] KallistaImdieke commented on #620
I have run this myself along with another worker here and we are both receiving this error.

From: Wendy LeVesseur [mailto:notifications@github.com]
Sent: Thursday, February 02, 2017 9:55 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.stearns.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-PRIS

[2017-02-08 21:16] RoberT-1000 opened #721 "Enhancement Request - supervisor list in ~globvar"
I'm thinking we should add a list of user IDs in globvar that identifies the user as a supervisor. I have a script I'm working on that has two different run modes, one for child support officers and another for supervisory staff (_the script grabs a list of NCP SSNs and checks it against MAXIS to see if the NCP is active on GA or MFIP and the supervisory mode allows the user to run the script on a

[2017-02-09 16:35] khiestand commented on #620
@levesswe @theVKC @KallistaImdieke
We just ran this script here too, and are getting the Format Currency same error Kallista is reporting.  Also, in the docs folder the name of the word doc has "." and not "-" and that was also an issue for us here (we fixed it on our local copy).  Could we also change the variable on the word doc to not be "user"? In Wright Co it pulls our KAH7429 PC log in info,

[2017-02-09 16:36] khiestand commented on #519
@theVKC  This is now working great in Wright Co!

[2017-02-09 17:15] KallistaImdieke commented on #620
We had that same issue and we fixed it here on our local copy also when we figured it out.

It also pulls a funny name for us could we maybe have it pull from the worker signature?

From: Kelly Hiestand [mailto:notifications@github.com]
Sent: Thursday, February 09, 2017 10:36 AM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Imdieke, Kallista <Kallista.Imdieke@co.s

[2017-02-10 16:31] wrightcountykaren commented on #710
Yes, our establishment workers have said that is one of the reasons that they do not currently use the state script.  We do have a Wright County specific script that they are using.  Maybe at the next hack-a-thon the 2 scripts could be compared and meshed together.

[2017-02-10 16:33] jannellstearns commented on #710
@wrightcountykaren - fantastic idea!

[2017-02-10 20:42] CDPotter opened #722 "Bug: Bulk list generator (another) CALI cancel button doesn't work"
When trying to select another CALI I hit cancel and the script still ran.

[2017-02-13 22:32] RoberT-1000 opened #723 "CRITICAL ERROR: ACTIONS - COLA"
Users are reporting the COLA script is missing a close parenthesis. It's on Line 49 at the changelog gobbins.

@theVKC shall I submit a pull request? I know @khiestand submitted a working fix in master. Thoughts?

[2017-02-13 22:41] levesswe commented on #723
While you're in there, please correct the spelling of "override" in line 122.  Thanks!

[2017-02-14 16:01] theVKC commented on #723
Please feel free for expediting's sake, @RoberT-1000.

[2017-02-14 17:40] RoberT-1000 commented on #723
Pulling now. I'm not going to update the changelog...this is a syntax error and doesn't have any appreciable changes to the user

[2017-02-14 19:52] RoberT-1000 commented on #721
I have this rolling for Anoka right now if that's halal.

![image](https://cloud.githubusercontent.com/assets/22157633/22946345/c2d44806-f2bc-11e6-9013-6dc7154a7d19.png)

![image](https://cloud.githubusercontent.com/assets/22157633/22946360/ca066104-f2bc-11e6-81a9-b12059c42b38.png)

[2017-02-14 19:54] theVKC commented on #721
I think it looks great! Love it!

[2017-02-14 21:20] RoberT-1000 commented on #722
on it

[2017-02-14 21:26] RoberT-1000 commented on #722
The script should, in the future, be given some data validation around the dialogs.

[2017-02-22 15:10] theVKC commented on #449
Per @jlmartinone, we can close this one.

[2017-02-22 15:10] #449 closed

[2017-02-22 15:50] khiestand opened #728 "New Notes Script- METS MA interface/referral"
This is a script that a Income maintenance staff person (who might have CAAD noting ability) or Child Support worker could use to note and create a potential worklist that a METS MA referral was attempted to be sent, but because of known issues with METS software, the referral could not be sent. Script could also have the ability to send an email to the Child support officer letting them know the

[2017-02-22 16:27] #383 closed

[2017-02-22 16:28] theVKC commented on #467
@jlmartinone is taking this one on.

[2017-02-22 16:33] theVKC commented on #675
@jlmartinone has completed this! Can we get some testers? @MN-Script-Team/prism-stearns? @MN-Script-Team/prism-anoka?

[2017-02-22 17:07] jannellstearns commented on #675
we try to have arrears management meetings weekly, so we will try this out at our next one!  @KallistaImdieke  @TammyStearns  can you be available to help with this piece so we can test and provide feedback!

[2017-02-22 20:51] khiestand commented on #728
Instructions are complete, and on SIR

[2017-02-27 15:52] theVKC commented on #728
Instructions are approved but checked out for now to prevent them from being seen (let's get the script uploaded with the email function first).

[2017-02-28 16:57] theVKC commented on #723
@RoberT-1000: is this corrected in release and working for you?

[2017-02-28 19:17] gretchent74 opened #732 "Enhancement Request -- Actions Unreimbursed Uninsured Received"
Add the ability to add the county name for the affidavit of service.
I will take this one.  It is completed but is being tested

[2017-02-28 19:18] theVKC commented on #732
Script is being tested locally before submitting to GitHub. Thanks @gretchent74!

[2017-02-28 19:19] gretchent74 commented on #322
Almost completed.  I am just adding instructions with the new enhancement to add county name.

[2017-02-28 21:17] theVKC commented on #677
Appears resolved by bug.

[2017-02-28 21:17] #677 closed

[2017-02-28 21:24] theVKC commented on #678
@KallistaImdieke did you get this document uploaded?

[2017-03-02 16:35] GayS opened #733 "Stats blocks - add to PRISM scripts"
PRISM scripts are missing out on being able to statistically show value by not updating existing and requiring the stats block as in the MAXIS scripts.

'Required for statistical purposes==========================================================================================
name_of_script = "_______________________.vbs"
start_time = timer
STATS_counter = 1                     	'sets the stats c

[2017-03-03 20:08] heatherallen commented on #583
@theVKC, I'm working on the person searching from excel to PRISM part of this script.  Do you or any other scriptwriters know how, or if it is possible, to select more than one case that a client may have in PRISM so I can export all their case numbers back to the excel spreadsheet?

[2017-03-06 16:42] KallistaImdieke opened #734 "Return Mail Script - Does not work on closed cases"
I have been told by the people running the Return mail script that it has not worked on closed cases.  has anyone else run into this issue or know why this would be?

Thanks!!

[2017-03-07 22:59] levesswe commented on #620
Hi all, I have also located bugs when participants have pages and pages of cases.  I will also try to fix the other bugs that have been reported while I am there.  While not a bug, since so many people have commented about the user name, i will remove that from the document and replace it with the worker signature.    Hope to have a fix soon!

[2017-03-08 20:07] wrightcountykaren opened #736 "Enhancement Request - Maintaining county script"
Currently after the note is written in CAAD, the script presses transmit so the note is saved.

I would like to request that after the note is created in CAAD that the script not press transmit.
Reason:  the note is being written into a case that may not be within the county of the person running the script/writing the note.  If a typo is discovered, the note cannot be modified for the typo to be

[2017-03-08 20:26] KallistaImdieke commented on #678
@theVKC how would I do that?? I attached it in the comments above but I am not sure where else to upload it?  Thanks!  As soon as I have this information I will get this taken care of.

[2017-03-08 20:29] KallistaImdieke commented on #678
@theVKC I am going to try and upload this document now it looks like this issue and issue #519 are the same thing (at least they are both waiting for this document).  Thanks!

[2017-03-08 20:33] KallistaImdieke commented on #519
@theVKC  I went to Upload files and received a note that states that "file uploads require push access to this repository"  (also believe this and #678 issue will be resolved when this document can be uploaded)

[2017-03-08 21:32] KallistaImdieke commented on #647
@theVKC so the part of the script that is causing the issue is when I try to pull in the County attorneys from what each county puts into their variables.  In other scripts that I know does this & that work it has the following language
"call convert_array_to_droplist_items(county_attorney_array, county_attorney_list)"
but when I try to use this in my script I get the above error.  If I take this