[2017-03-09 15:57] jlmartinone opened #739 "New Script -M6529 90 DAY REVIEW FOR INTEREST SUSPENSION"
Shows what amount needed to be paid in the past 90 days, then calculates payments for the last 90 days. Then case notes accordingly.

Please assign to me.

Thanks!

[2017-03-09 16:05] khiestand commented on #736
I can try to work on this one today!

[2017-03-09 18:13] levesswe commented on #689
This is a great idea if you can do it!  Interstate would love to send CORD docs by fax without printing everything out!  Also, for efiling, if you can export CORD docs to Word, users with compatible software would be able to convert the Word versions to PDFs themselves.  Also, I have some users who would love to start with a CORD-generated doc and make changes in Word!

[2017-03-09 19:49] heatherallen commented on #728
I tested this script at Scott County Hackathon and the script is working.

[2017-03-09 20:37] khiestand commented on #734
I have no idea why this wouldn't work on a closed case, @levesswe would you want to take a peek since you helped me write it??

[2017-03-09 20:49] khiestand commented on #736
I completed this today and pulled it in.

[2017-03-09 21:05] KallistaImdieke commented on #734
It was weird because after the script errored out they were able to update it manually so I am unsure of why it did not work.

[2017-03-09 22:04] RoberT-1000 commented on #689
I can share what Anoka has worked on for this project. We tried and failed and walked away in favor of a vendored solution (going live April 3)

[2017-03-09 22:10] RoberT-1000 commented on #689
I'm sorry @levesswe , but I will also share a decision made by Anoka management on this topic as we have worked on a more streamlined document sharing project with Anoka CAO. The PCL software is a part of that project.

- We do not want users making changes to documents that originated in PRISM once they have been extracted from PRISM. To do so would be to effectively maintain two production versi

[2017-03-09 22:12] RoberT-1000 commented on #689
[ACTIONS - NOTICE TO WORD.txt](https://github.com/MN-Script-Team/DHS-PRISM-Scripts/files/832412/ACTIONS.-.NOTICE.TO.WORD.txt)

[2017-03-10 14:41] levesswe commented on #689
That’s a good point, Robert.  Somehow I had forgotten that piece.

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: RoberT-1000 [mailto:notifications@github.com]
Sent: Thursday, March 09, 2017 4:11 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Wendy K. LeVesseur <Wendy.LeVesseur

[2017-03-10 15:33] levesswe commented on #734
In reviewing the code, on line 166 we are calling the PRISM-case_number_finder function with the variable of PRISM_case_number_to_check, but we are missing an EMReadScreen before line 166 to determine what the value of PRISM_case_number_to_check is.  Since PRISM_case_number_to_check is undefined, the if statement is false most of the time when there is a case in the globals.  If there isn't a case

[2017-03-14 19:10] levesswe commented on #739
@jlmartinone, I had created a script like this a while back that has a few issues yet to be worked out.  I would be happy to share the code if you would like it.

[2017-03-14 19:17] levesswe commented on #419
I uploaded a pull request with updates and bug fixes.

[2017-03-17 19:53] theVKC opened #744 "Auto report generation for GitHub issues (replaces default project board)"
This has been worked on a bit in conjunction with the HTML elements of #599.

For weeks I've been working on details of auto-generating reports. These reports would provide statistics and details of issues pending and closed in a single page- one that doesn't require GitHub authentication.

This is near completion and should allow both my superiors and county staff to visualize the workflow script

[2017-03-17 19:55] theVKC opened #745 "Auto-generation of instructions following FuncLib docstring process"
This has been worked on recently: instead of instructions being generated using Word and DHS-SIR, instructions could easily be written into scripts using tagged comments which I can pick up using the GitHub raw data, and convert to clean HTML instructions in real time. In other words: nifty.

Hoping to wrap this up shortly after #599 and #744.

[2017-03-17 20:07] heatherallen opened #746 "Enhancement: Notes "Hearing Notes""
May be helpful to have the option to enter a specific date of when the hearing was in the dialog.  In instances one is making notes a day or so after the hearing.

[2017-03-17 20:08] heatherallen opened #747 "Enhancement: Actions "COLA""
When using the COLA script and it gets to the dialog box of check to see if another amount other than the 20% payback amount is entered.  Is there a better screen to have it take you too?  One of my coworkers suggested maybe CAFS instead of NCOD.

[2017-03-21 01:20] theVKC opened #750 "Create internal tool for sending pull requests master ->release"
Also, share everything BUT the OAuth details on GitHub. :)

This will allow maintainers at the state to "push" changes to release from master. I may write it using the API or I may just use a shell script (right now I am doing that).

The trick is that I want this tool to also update the changelog dates, so that way #599 shows accurate info for both scriptwriters and everyone else. :)

No ETA, soo

[2017-03-21 01:21] #723 closed

[2017-03-22 14:32] levesswe opened #751 "New script idea: script for assisting with child care support"
I am thinking it would be handy to have a script to assist with entering CAAD notes and sending documents to the parties for circumstances where there is a need to suspend or resume child care charging, or verify child care costs are being incurred.

You can assign this to me.

[2017-03-23 20:16] khiestand opened #752 "DVS Common Links Button hyperlink is incorrect"
The correct URL is:
https://www.mndvsesupport.org/

[2017-03-28 18:16] gretchent74 commented on #747
I agree that the screen the script goes to doesn't make sense.  I was thinking gong to the CAWT screen because that is where the 20% override work list is located.  thoughts?

[2017-03-28 18:25] #678 closed

[2017-03-28 18:26] theVKC commented on #519
Confirmed to be working. Thanks all!

[2017-03-28 18:26] #519 closed

[2017-03-28 18:31] #620 closed

[2017-03-28 18:33] theVKC commented on #662
@levesswe and @gretchent74 are coordinating testing at their counties. Feedback pending. :)

[2017-03-28 18:35] theVKC commented on #675
Closing this one due to the limited number of available testers. It seems the source county (Wright) is fine with the end result (no new issues on the subject). Can always re-evaluate. :)

[2017-03-28 18:35] #675 closed

[2017-03-28 18:36] theVKC commented on #694
Per general discussion and the fact that this is a minor bug, I am closing as this has been tested repeatedly by @heatherallen. :)

[2017-03-28 18:36] #694 closed

[2017-03-28 18:38] theVKC commented on #722
Per the nature of this minor issue, I'm closing it without requiring two counties to test. It's a cancel-button-related issue that was easy to resolve.

[2017-03-28 18:38] #722 closed

[2017-03-28 18:42] heatherallen commented on #747
@gretchent74 I like the CAWT suggestion because there should be that Override worklist there if the override is in place.

[2017-03-28 18:43] jannellstearns commented on #688
If this is still floating as a possible enhancement, as we have used this script more -- functionality to allow the next hearing date (if known) be built on the CAHL screen.  Or the option to link to a script that will build a CAHL record.

[2017-03-28 18:45] heatherallen commented on #688
I like this idea of creating CAHL record.  and I do think this function could be used for other scripts as well.

[2017-03-28 18:48] theVKC commented on #688
@heatherallen has volunteered!

[2017-03-28 18:50] gretchent74 commented on #747
Please assign to me.  Thank you.

[2017-03-28 19:04] theVKC commented on #419
@gretchent74 and @heatherallen have volunteered to coordinate some testing of this new script which is working exceptionally well in Anoka County.

[2017-03-28 19:07] theVKC commented on #734
@levesswe thinks this is a quick fix and has volunteered. Thank you!

[2017-03-28 19:09] theVKC commented on #322
@gretchent74 completed instructions today. Uploaded and done! :)

[2017-03-28 19:09] #322 closed

[2017-03-28 19:10] theVKC commented on #93
Per @levesswe, this is still being worked on. Thank you!!!!

[2017-03-28 19:19] theVKC opened #753 "Rectify complete-list-of-scripts with current scripts in master"
We have some missing scripts. This is an issue due to pending testing by some counties. On it, today.

This will not require review due to the technical nature of the work. It's just a sync operation.

[2017-03-28 19:37] levesswe commented on #662
Tested this script and it works as expected.

[2017-03-28 19:38] khiestand commented on #728
@theVKC I pulled this in at Scott Co hackathon, it is complete and Heather tested it.

[2017-03-28 19:46] levesswe commented on #751
This script contains options to produce CAAD notes and DORD docs as directed in Sir Milo (https://www.dhssir.cty.dhs.state.mn.us/PRISM/User_docs/SIRMILO/Child_Care_Support/Pages/default.aspx) for child care verification, suspension, and/or resumption, and create a follow up worklist.

[2017-03-28 20:13] heatherallen commented on #710
I just had a coworker suggest this same idea for an enhancement on these scripts, so looking for feedback.  Maybe the layout should be the worker should be able to select check boxes of what documents they want to print and to which parties.  This would alleviate printing unwanted documents.  Thoughts @MN-Script-Team/prism-scriptwriters?

[2017-03-28 20:57] theVKC commented on #753
Resolved by #757. Closing issue and branch.

[2017-03-28 20:57] #753 closed

[2017-03-28 20:59] theVKC commented on #647
Are you calling in Global Variables?

When using scripts in production, the attorneys are stored on the global variables file. If you are not using GitHub Desktop for all of the testing, there's a good chance it isn't pulling up that file.

You can pretty easily get past it by copying the line of code from ~globvar.vbs which contains your county_attorney_list, and pasting it near the top of your s

[2017-03-28 21:11] #736 closed

[2017-03-28 21:19] theVKC commented on #689
Can I get an update on this one? Keep it open? Closed? @heatherallen?

[2017-03-28 21:23] theVKC commented on #739
@jlmartinone: can I get an update on this? I'm assuming it's a backlogged issue, please correct me if I'm wrong.

[2017-03-28 21:24] theVKC commented on #746
@heatherallen, do you want this one?

[2017-03-28 21:25] theVKC commented on #752
Are you taking this one, @khiestand?

[2017-03-28 21:26] theVKC commented on #662
Woohoo! There's one!

[2017-03-28 21:26] theVKC commented on #728
Woohoo!

[2017-03-28 21:42] theVKC commented on #736
Fixed issue @gretchent74 and @heatherallen. Should be pulled through momentarily.

[2017-03-28 21:49] theVKC commented on #732
Could anyone test this one? Would @MN-Script-Team/prism-stearns be interested in testing this new field? Is it working for you?

One tester ought to do, this is a pretty simple enhancement. :)

[2017-03-28 21:55] theVKC commented on #747
This doesn't require additional testing because it was a simple change of one line and was tested multiple times in training region. :)

[2017-03-28 21:55] #747 closed

[2017-03-29 13:17] heatherallen commented on #689
Maybe close for now as I'm not sure if it is a high priority at this point.  Here at Scott County I believe we are working on getting a system that could convert a PDF to Word. But I think down the road it may be useful to look at doing a script that could spell check our CORD docs and be converted to a WORD doc to make changes more easily.  Those would be my thoughts.

[2017-03-29 13:18] heatherallen commented on #746
You can add to my list :)

[2017-03-29 14:26] levesswe commented on #732
I tested this in the training region and it worked just dandy!  Thanks!

[2017-03-29 15:02] RoberT-1000 commented on #689
@heatherallen  if all you're looking to do is spell check documents, check out the script I shared in this thread. We didn't want to use it because it looks crap, but it still grabs all of your text and puts it into Word which will allow you to spell check.

[2017-03-29 15:05] khiestand commented on #752
@theVKC
I can try, if you let me know where the links are located??

[2017-03-29 16:02] heatherallen commented on #583
@theVKC is there a way to have 2 do loops in a script?  Currently I have it searching the 1st column, but am trying to get it to run the same way searching the 2nd column.  I'm running into the issue that the script stops after person searching the 1st column.

[2017-03-29 16:31] heatherallen commented on #419
After testing this a little bit this morning just a few things I noticed....
1. When I check to send child care verification, the script opens a word doc to search and find the county specific child care verif, but I get the error message and it stops the script (Script Error at Line 1, Column !; This file could not be found.)
2. The workers drop down has just Anoka County names, so I think we sho

[2017-03-29 16:33] RoberT-1000 commented on #583
You can have as many do/loops as you are willing to open and close.

For your issue, consider this...
`FOR column = 1 to 2`
`     excel_row = 2`
`     DO`
`          do stuff`
`          excel_row = excel_row + 1`
`     LOOP UNTIL objExcel.Cells(excel_row, column).Value = ""`
`NEXT`

[2017-03-29 20:25] levesswe commented on #419
To answer your questions, yes this is an "Anoka-only" script in its current state.

The script does make use of Word documents that would need to be saved in your word-documents-for-script-use-folder, and if you don't have the template saved there, it makes sense that you will see an error message.  Also, if your child care verification form has different fields than ours, you may also have error

[2017-03-30 18:41] heatherallen commented on #662
I had our maintaining county worker test this script.  We just had a few suggestions and maybe these could be enhancements:
1. To prevent the note from being so long maybe combine the worker name and county on the same line in the CAAD note.  And could we add a spot for phone numbers?

2. The word "reviewing county" was a little confusing so a suggestion to clear this up is to have the layout in t

[2017-03-30 19:02] theVKC commented on #746
No worries. I'm backlogging it for now but assigning to you. If you can let me know if/when it moves up on your list, I'll update the tags. Hopefully soon, this is something you yourself can just manage. :)

[2017-03-30 19:03] theVKC commented on #732
Good enough for me. I'm calling it complete. Thanks @levesswe!

[2017-03-30 19:03] #732 closed

[2017-03-30 19:11] theVKC commented on #689
We occasionally hear of problems on the Word spell checking front, I think mostly due to challenges with non-standard installs (like, seriously, some people apparently have portable Word installs or something).

I have a dream to use something like GNU Aspell or some reasonable facsimile to provide spell checking without the need for a second app on the computer. I've successfully worked with web-

[2017-03-30 19:11] #689 closed

[2017-03-30 19:12] theVKC commented on #752
If I'm remembering correctly it's on the Power Pad. Shoot. That probably should fall on me shouldn't it.

I'm due out another Power Pad momentarily for a few other tweaks, so I'll take this one and try and get it all done at once.

[2017-03-30 19:15] theVKC commented on #583
As long as all of them open and close without overlapping, you should be good. Good indenting is key!

This describes the types you can use: https://www.tutorialspoint.com/vbscript/vbscript_loops.htm

I'm also targeting this for a training soon.

[2017-03-30 19:18] theVKC commented on #419
@levesswe, I didn't catch that the workers were hard coded. That is unlikely to be possible to accomodate in global variables as some agencies are larger than others, and turnover is often challenging from a coding perspective. In some larger counties keeping a list updated could become a full time job.

Choices from here:
1. Remove the script entirely
2. Remove the part with a specific worker

If

[2017-03-30 19:20] theVKC commented on #662
Good suggestions, @heatherallen! I'd say yes, we should probably call that an enhancement, as the bulk of the script is functional right now.

[2017-03-30 19:21] theVKC commented on #662
@jlmartinone, the script needs instructions before it can go live. Can you throw instructions together in DHS-SIR using the guidelines on our PRISM scripts page?

[2017-03-30 20:39] heatherallen commented on #662
@theVKC would you like me to create another issue for these enhancements?

[2017-03-30 20:46] heatherallen commented on #583
Thank you both!  I'll see what I can come up with

[2017-03-30 21:29] theVKC commented on #662
@heatherallen please dooo!

[2017-03-30 21:30] levesswe commented on #419
@theVKC, in no way did I expect that this script was ready as a collaborative script.  Although I asked for feedback on January 26, 2017, on how we wanted to make this collaborative script, I didn't get any feedback.  I thought this period of testing was the opportunity to solicit the feedback needed to move forward with making this a collaborative script, since people tend to provide better feedb

[2017-03-30 21:37] paschell opened #758 "Enhancement - Child Support Income Verification"
The above script name is too confusing and does not describe what the script is doing.  Can it be renamed to something like Verification of Child Support Direct Deposit Payments or Verification of Child Support Payments to CP?

[2017-03-30 21:42] wrightcountykaren commented on #662
My thoughts are listed in red below.

Karen Popken
Wright County Child Support Supervisor
Phone: 763-682-7403
How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: heatherallen [mailto:notifications@github.com]
Sent: Thursday, March 30, 2017 1:41 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: Kar

[2017-03-30 21:43] #721 closed

[2017-03-30 21:51] theVKC commented on #734
Can you test this, @KallistaImdieke? I just pulled in @levesswe's fix in master.

[2017-03-30 21:54] theVKC commented on #419
I like the editbox field option myself. Anoka could work in an "if county = Anoka then replace this with a dropdown" type of thing, and then if other counties get on that they could do the same, but it'd be the type of thing that only scriptwriting counties can do, and not hard-configured for all.

[2017-03-30 21:56] theVKC commented on #419
I've moved this back to the feedback list. @levesswe, let me know if you aren't hearing the feedback you need to make a call on this, and I'll close it at that point. I'd like to try and have a decision on it in the next week, in time for the next big release sync.

[2017-03-30 21:58] theVKC commented on #758
/cc @MN-Script-Team/prism-scriptwriters

[2017-03-30 22:01] theVKC commented on #662
@wrightcountykaren: email response formatting doesn't carry through, so your "red" isn't visible. :)

I believe @heatherallen will be creating a new issue for this, and if you want to comment there when it goes out, or email her directly, that would be swell. :)

[2017-03-30 22:12] wrightcountykaren commented on #662
Oh, ok.  I just sent her a reply.  Were you able to see it, or should I have CC’d you on the message as well?

Karen Popken
Wright County Child Support Supervisor
Phone: 763-682-7403
How did I do today? Click here to complete our customer service survey.<https://www.surveymonkey.com/r/WCHHS_CSS>

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, March 30, 2017 5:01 PM
To: MN-Sc

[2017-03-30 23:12] jannellstearns commented on #419
As indicated in the initial post to this issue, Stearns provided some feedback on what they would like to see on the script.  I missed the request for additional feedback -  since this is a very long thread, here is what I initially posted:

I am not a script writer, but would like to see a script that would generate the REAM screen to send out modification documents, send employer verifications t

[2017-03-31 14:25] heatherallen opened #759 "Enhancement-Notes: Maintaining County"
Scott County had a few suggestions and/or enhancements:

1.To prevent the CAAD note from being so long maybe combine the worker name and county on the same line in the CAAD note. And could we add a spot for phone numbers?

2.The word "reviewing county" was a little confusing so a suggestion to clear this up is to have the layout in the dialog box look like this and possibly look at changing the wo

[2017-03-31 14:32] theVKC commented on #662
When you reply to a GitHub email, we ALL get it and no formatting carries over. It becomes public because GitHub is a public record of our work. :)

If you want to ask a specific person a specific question without everyone seeing it, you forward the email, not reply.

[2017-03-31 14:38] theVKC commented on #759
Would you want this one, @heatherallen? I'm going to mark it as feedback needed and assign it to you (let me know if you want it added to the help-wanteds instead).

Get your feedback going, @MN-Script-Team/prism-scriptwriters :)

[2017-03-31 15:47] levesswe opened #760 "Interview Information Sheet bug"
Users reported that the Format Currency error messages were still being received on some cases.  In order to fix this bug, it was necessary to update the properties for some of the class methods used by the script.

[2017-03-31 16:25] CDPotter opened #762 "Bug ACTIONS : Send f0104 memo"
I was using this script and viewing a phone number for the worker I was sending the memo for using F1 on the worker number. I left the worker info popup window open and the script wasn't able to navigate to writing the memo because it had the extra task of leaving the pop-up.

Line 85 could maybe use some handling to make sure the script made it to DORD?

[2017-03-31 21:03] theVKC commented on #762
Any chance you want it? Otherwise I'll mark it as a "help wanted". Just let me know... :)

[2017-04-03 14:55] jannellstearns opened #764 "Review Pay Plan - DL is Suspended - Enchnacement reqeust"
The above scripts looks at all cases that have the E4111 RVW DLS PAY PLAN NCP CONTINUTED DELINQ to see if the DL is already suspended.  I would like to suggest that we add in for this version of the script to also look at CAWT to see if the following worklist exists:

E4102  REMOVE P FROM SUDL IF DL NON-COMPLIANT

This E4102 worklist would indicate that we have already sent the DL Non-compliance l

[2017-04-03 16:37] theVKC commented on #764
Any thoughts @MN-Script-Team/prism-scriptwriters? Can we get feedback on this?

[2017-04-03 16:46] theVKC commented on #636
Decision made.

I'm going to pull in the favorites as-is without hotkey generation, then create a second issue that adds hotkeys in. This functionality has been closed to the master branch for far too long.

[2017-04-03 16:48] theVKC opened #765 "Add hotkey selector functions in to favorites script"
This will let you "favorite" a specific screen, or a specific script, and initiate it with a hotkey based on the Power Pad updates made in #636.

On it but backlogged. No ETA.

[2017-04-03 17:28] theVKC opened #766 "Favorites: add in "recommended scripts" functionality formally"
This would allow an agency to formally create a "recommended scripts" function into the favorites. I'm imagining repurposing the select-a-favorite dialog, but with the option to export the saved scripts to a different file (which can then be located in the locally-installed-files directory).

@RoberT-1000, any chance Anoka already has this created in their implementation? Would you want it?

(BTW:

[2017-04-03 17:48] RoberT-1000 commented on #766
I totally have built that functionality for Anoka users (both PA and CS). It also gives us the ability to give specific users additional scripts. I could take it but it's not something I'm going to be able to get to any time soon.

[2017-04-04 17:30] KyleNelson-Hennepin commented on #764
It makes sense to me!

If a case has an E4111 worklist and an E4102 worklist, that means that the worker has reviewed the case already and determined it was appropriate to send the F0919 DLS PAPD non-compliance notice. Once the F0919 notice has been sent, E4111 worklists are irrelevant, because the worker will need to wait until the E4102 worklist to take any action on the NCP's DL anyway.

So if

[2017-04-04 18:47] gretchent74 commented on #662
The script was reviewed by maintaining county worker and is working.   She agreed that having the worker name, county, and optional phone number on one line in the caad note would be helpful.  Also to add an option to add a follow up CAWT note.

[2017-04-04 18:54] gretchent74 commented on #419
I ran the script but received an error.  The date is 4/11/2017 so it is causing the error when adding the cawt note.  (missing the 0, 04/11/2017.

[2017-04-04 19:03] gretchent74 commented on #759
The script was reviewed by maintaining county worker and is working. We agree that having the worker name, county, and optional phone number on one line in the caad note would be helpful. Also to add an option to add a follow up CAWT note.

[2017-04-04 23:13] theVKC commented on #636
Hey all!! Can I get some testers for the new favorites script? @MN-Script-Team/prism-scriptwriters? @MN-Script-Team/prism-supervisors?

[2017-04-05 18:27] theVKC commented on #760
@levesswe has pulled in updated code. Can I get any testers? I'd like one for this from another agency other than Anoka. @MN-Script-Team/prism-scriptwriters?

[2017-04-05 18:28] theVKC commented on #764
Excellent feedback, @KyleNelson-Hennepin. :)

Any takers on this one? I'm also going to run the request by my policy expert over here just to be on the up-and-up. :)

[2017-04-05 18:33] theVKC commented on #662
Glad it's working! Still waiting on instructions, but @jlmartinone was out last month.

[2017-04-05 18:53] levesswe commented on #419
LOL, apparently not!  I will fix that as I work on making this a collaborative script!  Thanks!

Wendy LeVesseur
Child Support Officer

Anoka County Government Center
2100 3rd Avenue, Suite 401
Anoka, MN 55303
763-422-7323

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, April 05, 2017 1:35 PM
To: MN-Script-Team/DHS-PRISM-Scripts <DHS-PRISM-Scripts@noreply.github.com>
Cc: We

[2017-04-05 18:59] theVKC commented on #750
I no longer believe this is necessary. GitKraken has a cherry-picking commits tool that should obsolete this.

[2017-04-05 18:59] #750 closed

[2017-04-05 19:32] KallistaImdieke commented on #764
I can take this one

[2017-04-05 19:58] heatherallen commented on #764
I think this may tie into issue #468 merging the 2 scripts out there.  I have not been able to finish the merging of the 2 scripts but maybe this enhancement could be added to the already existing issue?

[2017-04-05 21:50] theVKC commented on #764
@KallistaImdieke: kind of thinking we should wait on this until @heatherallen finishes her work on #468. Do you have an ETA on that Heather?

[2017-04-06 18:16] heatherallen commented on #636
I and a couple of my coworkers here in Scott have tested and seems to be working great.  Just one little piece of constructive criticism I received was that county's that are new to scripts or users new to scripts may only use scripts they are more comfortable or familiar with (the one's saved under their Favorites)  instead of trying out different ones that are potentially out there.
But other th

[2017-04-06 20:06] heatherallen opened #770 "Bug/Enhancement on ACTION: Send DORD Memo Doc"
When using this script, the script does not give you an error message when you do not have a recipient selected.  So, if you type in your body of the memo and click ok your memo doc is not generated and you loose what you have already typed.

[2017-04-06 20:28] heatherallen commented on #764
I have it close to complete, I've been wanting to test this on my caseload but have forgotten to test when I get them at the beginning of the month.  I am wondering if anyone out there has this worklist on a few of their cases to test and see if it works alright?  Anyone with E4111 worklists out there?

[2017-04-06 20:32] KallistaImdieke commented on #764
We have some E4111 worklists out here but we have already run the bulk scripts that are out there to purge the ones we can so I am not sure if that would be any help?

[2017-04-06 21:40] theVKC commented on #770
That should definitely be included! Any takers? @MN-Script-Team/prism-scriptwriters?

[2017-04-10 16:54] heatherallen commented on #764
Thanks @KallistaImdieke, I was actually able to test on one of my co-workers worklists.  I ran into a couple bugs so trying to work those out hopefully this week.

[2017-04-10 19:36] khiestand commented on #760
I tried running this for the NCP, and got Script Error at line 1, Column 1: Type Mismatch: 'CCur'

[2017-04-10 20:27] GayS commented on #733
@theVKC any update on adding stats to all scripts?

[2017-04-11 14:28] theVKC opened #773 "Un/Un received enhancement: NCOD dept type to D, CPOD to A"
@gretchent74 has already corrected this, but there should be an issue for tracking purposes. :)

[2017-04-11 14:51] theVKC commented on #773
Hey @MN-Script-Team/prism-scriptwriters: can I get a quick tester on this before I push it to release? There's some DHS interest in seeing this pulled out ASAP.

[2017-04-11 16:30] theVKC commented on #762
This is a pretty simple fix, @CDPotter, so I'll forego independent testing on this and #770. But, can you test it to make sure it's working in master?

[2017-04-11 16:33] theVKC commented on #770
Accidentally closed because the word "fixes" was there, BTW.

[2017-04-11 16:44] theVKC commented on #733
This is at this point a backlogged issue. I'm not marking it as a sleeper, but the time required isn't something I have clearance to commit anytime this month. I'm hoping for May or June, but no promises right now.

[2017-04-11 16:44] theVKC commented on #733
(If counties want it and want to coordinate it, I could assist with that and work that through channels here)

[2017-04-11 16:54] theVKC commented on #760
@khiestand: did this happen right away? Any leads @levesswe?

[2017-04-11 18:10] CDPotter commented on #770
Oh wow even in the body? Good to know!

[2017-04-11 18:12] CDPotter commented on #762
I can confirm it is working in Master

[2017-04-11 18:56] #762 closed

[2017-04-11 18:57] #770 closed

[2017-04-12 18:16] CDPotter opened #774 "New Script Idea: CS calculator to determine if MOD is needed"
In processing the data warehouse reports I'm learning that it's extremely tedious to fill in information for the online CS calculator to see if a referral to MOD might be needed. Would it be possible to build a script to pull known data from PRISM and do the calculation itself?

[2017-04-12 19:48] heatherallen opened #775 "Bug/Question on Quick CAAD"
I have a coworker that has 12 CAAD notes saved in her Quick CAAD favorites but her 12th button is hidden behind the "Search CAAD codes" button so is unable to use it.  Is there a cap on how many buttons you can add to this or is this a bug where the Quick CAAD dialog box needs to expand as you add more to your Quick CAAD favorites??

[2017-04-12 21:07] heatherallen commented on #468
@MN-Script-Team/prism-scriptwriters.  Anyone out there that would be able to help me with this script?  Where I'm running into an issue is if the script is not purging the E4111 worklist how to I get the script to read and process the next E4111 worklist and case?  Any help is appreciated. :)

[2017-04-13 14:28] CDPotter commented on #775
The dialog box is hard defined currently but someone could make it more dynamic to adjust the height of the box for each CAAD it finds on the text file. However there is a limit to how many items you can have in a dialog (65) so eventually there will be a limit to how many CAADs you can add

[2017-04-17 13:38] CDPotter commented on #774
Brain dump from being unable to sleep Saturday; try to read off of quarterly reviews to get the most recent income figures are ID screens seem to be unreliable. make it clear to end users where income is being pulled from. would need to pull and count kids from CAPS, as well as CAPS other cases from CB functions. where would we find the guts for the CS calculator?

(I'm totally willing to tackle t

[2017-04-19 18:18] jlmartinone commented on #467
@theVKC  please help! I put what I have on Gist. The CP is not working ...THANK YOU

<script src="https://gist.github.com/jlmartinone/0bede28398a3e174f38cfe67f3f43276.js"></script>

[2017-04-19 19:49] theVKC commented on #733
I'm going to tag this here: https://github.com/MN-Script-Team/BZS-FuncLib/issues/382

I figured out a method to push SQL queries through our scripts and to a database, *without requiring special software from the county*. This has been a huge hurdle to adoption.

The above issue needs some testing before I can affirm we'd move forward on it, but it's super promising and could change the priority o

[2017-04-19 20:08] theVKC commented on #636
A bug has been found! When called from the Utilities menu the `cs_script` class is broken, because the class is loaded from within a `run_from_GitHub` function, and that doesn't have persistence past the original list of scripts. In other words: Power Pad yay, Utilities menu nay. This isn't a big deal, except that my Changelog function needs it in the list, and I want it to work, etc..

FuncLib ne

[2017-04-19 20:42] theVKC commented on #467
https://gist.github.com/jlmartinone/0bede28398a3e174f38cfe67f3f43276 is this Gist, FYI.

[2017-04-19 20:44] theVKC commented on #467
Sounds like a CP or NCP variable isn't being declared correctly, because the CP spreadsheet is blank.

[2017-04-19 20:57] #717 closed

[2017-04-19 21:07] theVKC commented on #636
Confirmed to be working in Wright County (but their Power Pad needs the button connected to a redirect file... long story).

So, this one is good! Thanks folks!

[2017-04-20 17:54] jlmartinone opened #777 "New Script - F0460 CP Parent Locate Questionnaire"
Send the CP DORD F0460, modifies CAAD to include date sent and if it is 1st, 2nd or 3rd time sent.  Puts a worklist out there when sending the 3rd request for CP to be called.

Please assign this to me!

[2017-04-20 21:16] KyleNelson-Hennepin opened #778 "Enhancement - BULK/list-generator---CALI - add loop until user enters valid CALI info"
If the user selects "Run for another CALI list" from the initial dialog box, and then doesn't enter valid caseload information (county/team/position) into the second dialog box, a message box displays and the script ends.

Can this be changed so that it loops until valid caseload information is entered? (similar to dialog boxes in other scripts & error message loops)

I'm submitting a few requests

[2017-04-20 21:20] KyleNelson-Hennepin opened #779 "Enhancement - BULK/list-generator---CALI - case # in Excel has two spaces"
The script copies the case number from the CALI screen, which is formatted with two spaces, and pastes it into Excel. So the case numbers in Excel have two spaces between the first 10 digits and the last 2.

I expect some users would look at the report and decide to look at that case in PRISM in more detail, copying & pasting the case number from Excel to PRISM. Since most case number input fields

[2017-04-20 21:24] KyleNelson-Hennepin commented on #778
Also, if the user does not enter any caseload data into the 2nd dialog box, the script will assume that the caseload you want to export to Excel is the one that's already loaded in PRISM (I believe it's the user's caseload).

The user specifically picked the option to run the script for someone else's caseload, so I think this should count as not a valid caseload and also be part of the loop menti

[2017-04-20 21:29] KyleNelson-Hennepin opened #780 "Bug - BULK/list-generator---CALI - extra row added to Excel"
In the initial dialog box, if the user selects either or both of the optional checkboxes (to include CAFS info in the spreadsheet), an extra row is added to Excel because of the way the do loops are coded.

This can be assigned to me.

[2017-04-20 21:45] KyleNelson-Hennepin opened #781 "Enhancement - BULK/list-generator---CALI - change when Excel columns are autofit/resized"
When the script is writing to Excel, it currently:

1. Adds column headers to row 1
2. Autofits column sizes
3. Adds caseload data to rows 2 and on

Steps 2 and 3 should be switched so that the column sizes fit all of the data in the spreadsheet, not just the column headers.

This can be assigned to me.

[2017-04-20 23:13] KyleNelson-Hennepin opened #782 "Enhancement - BULK/list-generator---CALI - dialog box improvements"
I'd like to improve the dialog box for this script, to something like this:

![image](https://cloud.githubusercontent.com/assets/26465030/25256075/dce5d862-25f3-11e7-956d-969f77533008.png)

Here's what I want to change:

- Text next to the 2nd checkbox had an indenting issue that should be fixed
- The options in the drop-down menu refer to a CALI list, which is like saying "caseload list list", so

[2017-04-20 23:34] KyleNelson-Hennepin opened #783 "Other things to clean up on BULK/list-generator---CALI"
A few other various minor things to clean up on this script...

The script creates a function called refresh_CALI_screen. When you get to the point in the script where the function would be called, the full code from the function is used instead of calling the function. Since the function would only be used once and is specific to this script only, I think it makes sense to just delete the functio

[2017-04-21 12:08] RoberT-1000 commented on #783
Might I recommend moving the function to FuncLib instead of just deleting it

[2017-04-21 15:53] KyleNelson-Hennepin commented on #783
The function checks to see if the user is in the Caseload Position List submenu (accessed from CALI if you F1 on some of the fields there). If so, the script will PF3 (so PRISM will navigate back to CALI). Then the script checks to see if the user is on CALI, and if so, navigates to the main screen.

We could add it to the FuncLib, but do you think it would be helpful for any other scripts? To me

[2017-04-21 17:07] heatherallen commented on #468
I think I have successfully combined the 2 bulk scripts and created the suggested RVW Pay Plan script.  Could I get a few people to test this, especially if anyone gets the E4111 worklist and the DL is already suspended; as I want to make sure it is purging the worklist?   I have designed the script to go thru all cases that have the E4111 worklist-"RVW DLS Pay Plan NCP Delinquent" and display in

[2017-04-26 16:55] CDPotter commented on #783
You could definitely do that with a check for screen line or two inside the navigate function.

[2017-04-26 17:16] KyleNelson-Hennepin commented on #783
Yes, but the problem is that all of PRISM's submenus are sized and positioned differently and cover up different parts of the screen. So it could be challenging figuring out what text to check for, because it's different for each submenu.

Though we could account specifically for the more commonly used submenus. This could include the caseload position list (if you F1 on some of the CALI fields),

[2017-04-27 17:24] KyleNelson-Hennepin opened #784 "Bug/enhancement - BULK/list-generator---CALI - Excel column is empty if only the 2nd checkbox in dialog box is checked"
In the script's initial dialog box, if the user checks the 1st checkbox, it adds data from PALC to column G in Excel. If the user checks the 2nd checkbox, it adds data from CAFS to columns H, I, and J.

If the user checks the 2nd checkbox but not the 1st checkbox, data is added to Excel in columns A-F and H-J, but nothing is added to column G.

I want to change the script so that instead of writin

[2017-04-27 22:02] KyleNelson-Hennepin commented on #783
A few other things that I thought I added to this issue yesterday but looks like I forgot...

The last payment date column in Excel was partially left-aligned and partially right-aligned. I right-aligned both to improve readability.

The financial info added to Excel from CAFS only displays the digits after the decimal if they aren't 0. I changed their formatting to Number and made it so they'll a

[2017-04-28 12:59] CDPotter commented on #783
I should say I was thinking about it on the back end rather than the front end.

The rough loop would be for example:

DO
Type CAAD on nav bar
Check to see if we went to CAAD
if we didn't PF3
LOOP until screen_check = nav_screen

[2017-04-28 15:13] wrightcountykaren opened #786 "Enhancement - Casee Transfer script"
Can a pop up box be added to show up at the very end of the script reminding people to either screen scrape the case, or send the physical file, or other "reminder" language that the collaborative decides on.

[2017-04-28 15:19] KyleNelson-Hennepin commented on #783
Ohhh ok. Yeah that seems like it would work!

Are you talking about adding this to the navigate_to_PRISM function? Or to the BULK/list generator-CALI script?

If you think it makes sense to add this to the navigate_to_PRISM function, I can create an issue for this over in the function library.

[2017-04-28 15:24] CDPotter commented on #783
I would agree that it would be best suited to be in the function. If you want to make an issue and tackle it that would be fantastic!

[2017-04-28 15:55] KyleNelson-Hennepin commented on #783
Done! See FuncLib issue #385

[2017-04-28 19:11] KyleNelson-Hennepin commented on #786
I haven't heard that term before, what does "screen scrape the case" mean?

The current closing message is "Success! The case has been transferred and CAAD noted." I could see adding some more generic reminder text to the closing message, something like, "Success! The case has been transferred and CAAD noted. Please complete any additional necessary actions per your county's case transfer process.

[2017-04-28 19:14] wrightcountykaren commented on #786
"Screen scrape" is a term used with the OnBase EDMS software.  Not every county uses OnBase as their EDMS software, so a generic message would also work as a reminder.

[2017-04-28 19:39] KyleNelson-Hennepin commented on #777
Shouldn't workers call the CP before sending the F0460, and only send the F0460 if they're not able to reach the CP by phone? Or do you send the F0460 a few times before calling the CP?

[2017-04-28 19:52] jlmartinone commented on #777
This was based on some feedback from a few counties but defiantly needs work.  I would love any input.

In order to CLOSE the case for CP non-coop (927) policy states CP did not respond to “several” phone attempts.

Another suggestion that was made was that if the CP does not respond to the 1st request, that when a 2nd  request is made a MEMO is included, with statements about CP’s requirements to

[2017-04-28 19:57] jlmartinone commented on #777
Kelly (Wright County) had her baby!

Kelly, Nate and their daughter Paige would like to announce that Spencer James Hiestand was born  at 2:33pm on Monday 4/24/17 , weighing in at 8lbs 6oz, 20.5 inches long.

[cid:image001.png@01D2C01B.521A7000]

[cid:image007.png@01D2C01C.D4397BC0]

[Wright County, Minnesota]
[Wright County on Twitter]<https://twitter.com/WrightCountyMN>  [Wright County on Linked

[2017-04-28 20:22] paschell commented on #777
From DHS/SIR MILO “Case Closure/CP Non-Coop"

If a custodial parent (CP) is non-cooperative, use ‘Reason’ code ‘927’ - NPA/CP FAIL COOP on the Case Closure Maintenance (CACL) screen when all the following conditions exist:
•	an action by the CP is essential for the Child Support Officer (CSO) to provide the next step in child support services
•	circumstances where the CP has not cooperated are doc

[2017-04-28 20:22] paschell commented on #777
Oh and congratulations to Kelli in Wright County on her bundle of JOY!!

[2017-05-02 14:14] jlmartinone commented on #786
please assign this to me....Thanks

[2017-05-02 15:09] theVKC commented on #774
What timeframe are you thinking about it?

[2017-05-02 15:22] theVKC commented on #783
@KyleNelson-Hennepin: I'm just starting to filter through all of this trying to understand it. On the surface, this looks fantastic. I have some testing to do around it, and will. I was out for a significant portion of the last couple of weeks, so forgive me for being off a bit while I get back on this.

[2017-05-04 13:09] CDPotter commented on #774
Right now I can't work on scripts in an official capacity, last I heard until I finish probation (Jan 2018)

[2017-05-05 21:12] levesswe opened #791 "Send F0104 Dord Memo Bug"
Missing check_for_PRISM(false), so users can time out and lose their work.

[2017-05-10 15:21] levesswe opened #793 "Non Pay script error message"
Error message received regarding write_new_line_in_PRISM_case_note that stops the script from entering the CAAD code if the user elects to send out the CP Initial Contempt Letter.

[2017-05-11 21:47] KyleNelson-Hennepin commented on #791
Related to this, I added [issue number 387](https://github.com/MN-Script-Team/BZS-FuncLib/issues/387) to the FuncLib issues for the check_for_PRISM function.

[2017-05-16 16:08] heatherallen opened #795 "New Idea: Script that creates Payment Plans"
I received this idea from one of my coworkers here in Scott Co.  Does anyone else like the idea of creating a script that will create a Payment Plan to Prevent Enforcement Action (DORD F0701)??

[2017-05-18 19:53] KathyHowdahl opened #796 "Help: Navigation to Maxis"
While using Prism Script "Navigation to Maxis" we are entering the maxis number, we are signed on to maxis on another session, and have entered our passcode.  Prism navigation error reads" Doesn't navigate to Maxis" then locks you out of your script session to select any other commands or process any other cases.  Thank you for your assistance.

I did ask our IT department, they said to refer on t

[2017-05-19 18:48] CDPotter commented on #796
Do you mean MAXIS Screen Finder? I'm fairly new to the world of PRISM scripts but in looking at the MAXIS Screen Finder I don't see any error that contains "Doesn't". Were you getting this error message instead? "You are not currently in MAXIS. Navigate to MAXIS and try again. Make sure you aren't passworded out!"

For MAXIS Screen Finder I do believe you need to start the scripts from the window

[2017-05-19 19:31] KathyHowdahl commented on #796
Perfect! I didn’t have my power pad open on the maxis screen.  I was trying to get “to” maxis from the prism session.  I have it figured it out now.  Thanks so much.

Kathy Howdahl
Child Support Supervisor
Koochiching County Public Health and Human Services
218-283-7000 ext: 1017
This email may contain confidential and privileged material for the sole use of the intended recipient. Any review, use

[2017-05-24 22:47] WCMattAnderson opened #797 "Issues with Windows 10 Build and Defender Anti-Virus 1703+ (1703, 1709)"
Scripts do not come to front of screen when running this build of Windows. Dialog boxes are present in task manager however cannot be seen. - Needed to revert user back to Win10 build 1607.

Tested on Surface Pro 3, Surface Book, Dell E6540 running this build.

[2017-05-24 23:35] WCMattAnderson commented on #709
Just to throw it out there, in Wright we push 3 separate shortcuts, No scripts, Financial, C/S and if users use both pad types they launch the version desired. If users are not in Financial or C/S we delete the shortcuts on deployment.

[2017-06-07 13:11] CDPotter commented on #793
I've also noticed a problem in which the script doesn't grab the last pay data properly. In these cases the $ amount was blank and the last pay date was " ata *** " which appears to be the cutoff portion of ***End of Data***. I've seen it happen twice on cases, one case had no payment history, and one did.

Maybe a bit of safeguarding could be good for this? Something like present the user with an

[2017-06-16 14:05] gretchent74 commented on #795
I have one.  if you are interested in modifying it, let me know.

[2017-06-19 12:30] heatherallen commented on #795
Gretchen--I would like to take a look at the one you have.  Can you email to me or send across on here by using Gist?  Thanks!

[2017-06-27 16:50] gretchent74 commented on #795
I think i created a gist called payment agreement.  If it doesn't work let me know.

[2017-07-18 14:55] #796 closed

[2017-07-18 14:57] theVKC commented on #797
Hi Matt! Just getting back from leave. Any idea why this might be taking place? I presume this is related to the Surface? I don't know of other agencies using Win10 Anniversary (I do know it's working as expected on Win10 as of last year).

[2017-07-18 14:59] theVKC commented on #795
I don't see any pull requests for this, was it shared?

[2017-07-18 15:46] heatherallen commented on #795
@vkc--Gretchen did share her code with me, but I was more looking for a script that actually prints and plugs in the info needed on a dl payment agreement after the NCP has been offered the agreement.  I am working on making a more generic script and using some of Gretchen's code if appropriate.

[2017-07-31 19:35] levesswe opened #798 "BUG: Mod CAAD Note - Contact Checklist"
There is a minor bug that if the user checks the box that they discussed the child support increasing, decreasing, or staying the same, the CAAD note says "Informed of the online child support calculator." and if the user checks the box for informing them of the online calculator, the CAAD note says "Informed that support could go up, down or remain the same."

[2017-08-01 15:16] heatherallen opened #799 "Enhancement: ACTIONS-Un/Un Returned Docs"
Do other Counties think it would be a good idea to have a field under the "Amount Requested" where user can enter the dates of when this amount was incurred by the client (per client's affidavit)?
If so, could the dates be included in the CAAD note and the comments on OBBD?

[2017-08-08 15:57] WCMattAnderson commented on #797
Hi Veronica, I have sent you an email with a video of what it does on Win10 build 1703. It works on Prior builds.

[2017-08-09 21:13] CDPotter opened #800 "BUG Actions send f0104 dord memo"
I wrote up a rather verbose DORD memo to both CP and NCP and when I went to finish it I got notification that it was too long and that I had to edit it, The script then looped this a few times but never gave me anything change to actually edit the document. I think the dialog loops need to be reviewed.

[2017-08-15 23:05] WCMattAnderson commented on #797
This is my event log error:
Faulting application name: Bzsh.Exe, version: 5.1.0.1230, time stamp: 0x4a8d0977
Faulting module name: OLEAUT32.dll, version: 10.0.15063.332, time stamp: 0x24e598c7
Exception code: 0xc00000fd
Fault offset: 0x0001edcf
Faulting process id: 0x2720
Faulting application start time: 0x01d3161a8b96354f
Faulting application path: C:\Users\<user>\Documents\BlueZone\Bzsh.Exe
Faul

[2017-08-17 15:44] levesswe commented on #760
Sorry so long to get back to you on this, @khiestand  and @theVKC .  It took some time to figure out the problem, and I believe the issues may be coming from when the most recent payment is refunded...  Still working on a fix.  Fortunately, this script works like a charm the vast majority of the time.

[2017-08-17 16:32] Snickemj opened #802 "Bug - Affidavit of service by mail"
There is a slight error in selecting the documents that were served in the Affidavit of Service By Mail script.  When I select Aff of Default and ID it puts the Case Financial Summary - CAFS on the DORD affidavit.  If I select Case Financial Summary -CAFS it will put on Aff of Default and ID on the DORD document.  It appears that these two buttons need to be switched around since they are currentl

[2017-08-31 01:22] RoberT-1000 commented on #797
I am going to upgrade a test computer to Windows 10 build 1703 and will do some testing on BlueZone builds 5.1.2 and 6.1.8.

[2017-09-01 20:20] RoberT-1000 commented on #797
OK...feedback...

The problem seems to be with the way the scripts are written. It looks like we need to create a host object and then interact through the object methods. Please see attached examples.

@WCMattAnderson , if you are able to test with a 1703 machine, script1703ok.txt (run as vbs) will throw the MsgBox, but script1703notok.txt (run as vbs) throws an exception access violation.

[scri

[2017-09-02 01:16] WCMattAnderson commented on #797
This does seem to be the issue. Here is some more information from the rocket site on objects.

https://www3.rocketsoftware.com/bluezone/help/v71/en/bzsh/bzaa_aref_bz-object-methods.htm

[2017-09-05 13:13] RoberT-1000 commented on #797
@WCMattAnderson I'm wondering if this problem is also related to this issue...

https://stackoverflow.com/questions/45274885/vbscript-consumes-memory-after-creators-update-win-10-64bit

[2017-09-26 19:20] CDPotter opened #803 "quick caad bug: clicking OK causes new caad to be generated"
If you click the OK button it runs the navigate to caad F5 code. Seems like the OK button ought to be removed as it's a bit vestigial.

[2017-09-27 19:48] KallistaImdieke commented on #720
The link where the spreadsheet is saved in this script is Stearns County specific and needs to be changed to grab from the global variables thanks!

[2017-09-29 13:31] RoberT-1000 commented on #797
@WCMattAnderson -- follow-up item. Are you able to get the java version from the user's computer that was experiencing the issue? @IlseFerris and I have been testing. I am having the same problem you reported, and I am running build 1.6.something (really specific, I know) and it seems like v.8, update 121, Build 1.8.0_121-b13 may be working.

[2017-09-29 13:35] IlseFerris commented on #797
This information was released yesterday from DHS:

MN.IT has confirmed that Java 9 is NOT compatible with MEC². Please DO NOT update to Java 9 until further notice. Desktops will not automatically update or be prompted to update to Java 9.

The current version of Java 8 – Version 8 update 144(1.8.0_144) is compatible with MEC² and users can update to that version if necessary. Oracle will continue

[2017-09-29 13:42] WCMattAnderson commented on #797
We did have issues a few months back with the new Java updates and MEC2 it was listed as an issue on SIR and they released the issue and must of updated something on their end. We are currently running Java 8 144 on these systems.

[2017-10-02 18:59] JakeSherburneCounty commented on #797
Hello Everyone,

Regarding the BlueZone Scripts:

We are also having this issue with the Scripts in BlueZone. We're beginning to deploy Windows 10 and have a few test users out there. This is one of the first issues that has popped up.
Looking at the event log we get a similar error to that of what WCMattAnderson has posted. Sometimes we also get a faulting module of dbgcore.dll on bzsh.exe as wel

[2017-10-02 19:12] WCMattAnderson commented on #797
Right now we are forced to run 1607 or older for builds on Win10 Pro to work correctly on Win10. 1703 isn't compatible and the falls creator release we are soon to test in the next week or so for compatibility.

[2017-10-04 18:23] SCJakePrimus commented on #797
Something to note is that if I have Windows 10 1703 running, these scripts appear to work fine if we have windows defender disabled. We are trying to create path and process exclusions for windows defender, but no matter what we try, we cannot get the scripts to work with Windows Defender turned on. This is something we'll continue working on because we would like to be able to be on the latest ve

[2017-10-04 19:14] WCMattAnderson commented on #797
Testing with Defender off here we continue to see the same issue on 1703 build. We have tested with Symantec installed initally and ran into the same problems. Note that some of the buttons will work, but some of them will lock up BlueZone and leave a BlueZone Script Host hidden in the background.

[2017-10-19 14:50] levesswe opened #804 "New Script Idea: NCP GA/MFIP look up"
Anoka County had created this script as a county-specific bulk script to create a list of NCP's on a case load and obtain information about which NCP's are currently active on MFIP or GA programs.  As other counties have expressed interest in this script, I have adapted it for the collaborative.  Have a session of PRISM and session of MAXIS open when you test this script.

The script was built wit

[2017-11-01 14:09] jannellstearns opened #806 "Bug - bulk - list generator - cali"
when running this script today on a large caseload, it ran and then started looping on the same screen, not f8'ing and leaving blank lines in the spreadsheet.  I had used this script last month without issue.  I went through the cali list and it appears to be looping on the last screen continually and not stopping.  if I can provide more information, let me know.

[2017-11-06 20:44] theVKC commented on #728
The list of scripts has been updated to include this one. Sorry for the delay. Can I get someone to test it?

[2017-11-06 20:51] theVKC commented on #791
Any chance I can get someone to test this?

[2017-11-06 20:58] theVKC commented on #793
We're out for testing! Any chance I can have someone check it really quick? Shouldn't need much, just check the box and see if it works?

[2017-11-06 21:04] theVKC commented on #804
@levesswe, I'm closing #805 because it doesn't follow the proper filename format. Linking to it here because it looks like you were primarily trying to share the script with @wrightcountykaren, which is great. Don't want to lose that info in case she needs it.

[2017-11-06 21:13] theVKC commented on #759
Any chance I can get some testers?

[2017-11-06 21:28] ChrisKast commented on #806
I have been playing with this script and noticed some errors with it as well.  It also seems to F8 or "transmit" when looking at the last payment therefore going down to the next screen of payments and not listing the most recent payment.  In addition it seems to add one final additional line of text on the excel spreadsheet that is a duplicate of the 2nd to last line.

On a side note I'm trying t

[2017-11-06 23:05] theVKC commented on #806
I think there's something goofy in how it's reading the data, specifically regarding when the list-of-cases is complete. @ChrisKast: our issue that we saw, which looked like information from one case being copied over across many, echoes this specific issue... perhaps the original code itself (which we based our phone number modifications around) had a bug?

 @ChrisKast, does your "add the phone n

[2017-11-06 23:06] theVKC commented on #795
@heatherallen, any update on this one?

[2017-11-06 23:11] heatherallen commented on #795
@theVKC, I actually have completed a script for this a couple weeks ago. I was having my agency test prior to putting it on github.  My script just prints the actual dl payment agreement for now, so if we think I should share to the group now to test, I'd be more than happy to add it.

[2017-11-08 16:09] levesswe commented on #793
I have tested and the error message I originally created the bug for is resolved, regarding the outdated function.

@CDPotter 's suggestion is still an possible future enhancement for this script...

[2017-11-20 15:28] theVKC opened #808 "README.md: update to remove Charles' name from the file"
Easy peazy.

[2017-11-20 16:05] #808 closed

[2017-11-20 16:38] theVKC commented on #720
I'm going to take a look at fixing that link as soon as I can.

[2017-11-20 16:48] theVKC commented on #797
OK folks, quick update.

I've spent the last couple of weeks testing assorted workarounds. Currently the only workaround that consistently works is disabling virus protection on Windows Defender. My belief - based on evidence counties have sent me, as well as my own testing - is that the new hypervisor system built into 1703+ isolates BZSH.exe and BZMD.exe from the OLE objects required for most of

[2017-11-20 18:32] theVKC commented on #795
No worries, @heatherallen! I've put in a request for policy review, once that comes back ready-to-go, please feel free to pull in your code for testing! I'll let you know once I'm ready for it. :)

[2017-11-20 18:33] theVKC commented on #793
Well that future enhancement should be tracked separately. ;)

I'll mark this as ready-for-release. Thanks @levesswe!

[2017-11-20 21:07] MelissaPHD commented on #795
I don't see any policy issues arising from a script that simply fills in the fields on DORD F0701.

[2017-11-20 21:39] theVKC commented on #795
Thanks @MelissaPHD! @heatherallen, feel free to send a pull request into master!

[2017-11-20 21:41] theVKC commented on #791
@levesswe, any chance you can confirm this is now working as expected in master?

[2017-11-21 21:39] heatherallen commented on #795
@theVKC - I did submit pull request for this.  Please let me know if i did it correctly as this is a brand new script with new code.

[2017-11-21 23:10] heatherallen commented on #802
@theVKC - I got this corrected for you :) and submitted pull request.

[2018-01-24 16:09] theVKC opened #811 "Create separate Win10/HydraVB-friendly menus and Power Pad"
The current main menus aren't working with the HydraVB solution (see https://github.com/MN-Script-Team/hydra/issues/3). I've been trying to merge the Win7 and Win10 menu structures for much of the last two work days and can't seem to get Win7 and Win10 to get along easily. I don't want to cause additional delay, so I'll just create separate menus.

This is *not* an ideal solution, but I have few c

[2018-01-30 01:55] WCMattAnderson commented on #797
Seems updating to BlueZone 7.1.5 fixes this for now. Will do some more testing and report tomorrow but scripts seem to be working running build 1709.

[2018-01-30 14:23] SCJakePrimus commented on #797
@WCMattAnderson Where did you get this new version of BlueZone? When I've talked to MNIT the latest version they were able to send me a link to a 6.1.8 and they still recommended the download site for 5.1.

[2018-01-30 14:36] WCMattAnderson commented on #797
Sent you the contact details using first.last email format with your name above. He did mention no other Counties have asked for updates recently.

[2018-01-30 17:09] SCJakePrimus commented on #797
Thank you Matt, we were able to get the new version from them. An initial test did show this was working in Windows 10 with the scripts. We have several users with Windows 10 that need scripts and we will be testing with them as well.

[2018-02-09 15:36] theVKC opened #813 "Evaluate closed PRs and changelog for functional updates"
Preparing for changelog modifications and the Pythonic freeze. Just making sure to document that some functionality in any scripts that are broken during conversion may have fixes obvious in closed PRs.

[2018-02-09 15:37] theVKC commented on #813
Changelog modification would be to get rid of the date in any pop-up, as it's not relevant when considering master vs release considerations... :)

[2018-02-23 16:52] heatherallen commented on #806
@theVKC I think the original bug should go on the "do-before-conversion" list if the script is not working correctly.

[2018-02-23 16:54] heatherallen commented on #802
@theVKC this one seems to be completed and may just need to be pulled in.

[2018-02-23 16:56] heatherallen commented on #795
@theVKC this one looks like it is complete and may need to be pulled in or maybe you were just waiting on testing.

[2018-02-23 16:59] heatherallen commented on #775
@theVKC I think the conversion and python will fix this issue, so not sure how/when this should be addressed.

[2018-02-23 17:05] ChrisKast commented on #806
True be told, I had the bug fixed but then tried to add some additional functionality to the script and that caused some additional bugs.  I’ll try to figure out what I did to fix the original bug.  I know my Supervisor would very much like for me to get the additional fuctionality part to work……I’m trying to get it to dump NCP and CP work/cell phone numbers onto the Excel spreadsheet.  Could we m

[2018-02-26 15:52] theVKC commented on #775
I tend to agree, @heatherallen.

[2018-02-26 15:55] theVKC commented on #806
I agree that we should get this done before conversion, and @ChrisKast, I would be happy to help at hackathon!

[2018-02-27 15:34] KallistaImdieke commented on #798
I can take this issue

[2018-02-27 16:11] #93 closed

[2018-02-27 16:12] #390 closed

[2018-02-27 16:12] #391 closed

[2018-02-27 16:13] #409 closed

[2018-02-27 16:14] #419 closed

[2018-02-27 16:15] #445 closed

[2018-02-27 16:17] #450 closed

[2018-02-27 16:18] #451 closed

[2018-02-27 16:19] #452 closed

[2018-02-27 16:19] #453 closed

[2018-02-27 16:21] #461 closed

[2018-02-27 16:22] #464 closed

[2018-02-27 16:23] #467 closed

[2018-02-27 16:24] #468 closed

[2018-02-27 16:24] #564 closed

[2018-02-27 16:29] theVKC commented on #566
We believe this could be resolved with county customizable fields so each county can add their own procedure for how they'd want to verify such info. This will be done with the Python conversion so will be marked as such and closed.

[2018-02-27 16:29] #566 closed

[2018-02-27 16:30] #577 closed

[2018-02-27 16:31] #583 closed

[2018-02-27 16:31] #599 closed

[2018-02-27 16:32] #612 closed

[2018-02-27 16:32] #613 closed

[2018-02-27 16:34] #619 closed

[2018-02-27 16:34] #627 closed

[2018-02-27 16:35] #635 closed

[2018-02-27 16:36] #636 closed

[2018-02-27 16:36] #640 closed

[2018-02-27 16:37] #647 closed

[2018-02-27 16:39] #650 closed

[2018-02-27 16:40] #651 closed

[2018-02-27 16:41] #662 closed

[2018-02-27 16:41] #665 closed

[2018-02-27 16:41] #666 closed

[2018-02-27 16:42] #688 closed

[2018-02-27 16:44] theVKC commented on #691
Stearns has this but believes it has a county specific variable, which they'll fix before pulling it in Pythonically. Thanks folks!

[2018-02-27 16:44] #691 closed

[2018-02-27 16:45] #710 closed

[2018-02-27 16:47] theVKC commented on #720
Duplicate of #691. Closing. Will be converted to Python before released.

[2018-02-27 16:47] #720 closed

[2018-02-27 16:47] theVKC commented on #728
@jlmartinone says @khiestand uses it and it works. Woohoo!

[2018-02-27 16:47] #728 closed

[2018-02-27 16:48] #733 closed

[2018-02-27 16:48] theVKC commented on #734
This was pulled in and is working.

[2018-02-27 16:48] #734 closed

[2018-02-27 16:49] #739 closed

[2018-02-27 16:50] theVKC commented on #744
Project board got improved, and my previous commit didn't close this for some reason.

[2018-02-27 16:50] #744 closed

[2018-02-27 16:50] theVKC commented on #745
Proto-python thinking. We will get this in Python by default. Closing.

[2018-02-27 16:50] #745 closed

[2018-02-27 16:51] theVKC commented on #746
This has been out there and working for a bit now. Closing.

[2018-02-27 16:51] #746 closed

[2018-02-27 16:51] #751 closed

[2018-02-27 16:52] theVKC commented on #751
@levesswe has a working version that other counties want, will close issue and can re-evaluate it once Python conversion has taken place.

[2018-02-27 16:53] #752 closed

[2018-02-27 16:55] theVKC commented on #758
Will change the name in Python conversion time.

[2018-02-27 16:55] #758 closed

[2018-02-27 16:55] theVKC commented on #759
Seems to be working!

[2018-02-27 16:55] #759 closed

[2018-02-27 16:57] theVKC commented on #760
Seems like it's working now. Closing!

[2018-02-27 16:57] #760 closed

[2018-02-27 16:59] #764 closed

[2018-02-27 17:00] theVKC commented on #765
Replaced with Pythonic goodness.

[2018-02-27 17:00] #765 closed

[2018-02-27 17:01] #766 closed

[2018-02-27 17:02] #797 closed

[2018-02-27 17:02] #811 closed

[2018-02-27 17:02] theVKC commented on #773
Seems like it's working!

[2018-02-27 17:02] #773 closed

[2018-02-27 17:03] #774 closed

[2018-02-27 17:04] #777 closed

[2018-02-27 17:06] #778 closed

[2018-02-27 17:06] #779 closed

[2018-02-27 17:06] #780 closed

[2018-02-27 17:06] #781 closed

[2018-02-27 17:06] #782 closed

[2018-02-27 17:06] #783 closed

[2018-02-27 17:06] #784 closed

[2018-02-27 17:07] theVKC commented on #786
Seems like it's working!

[2018-02-27 17:07] #786 closed

[2018-02-27 17:08] theVKC commented on #791
Collaborative says it's working!

[2018-02-27 17:08] #791 closed

[2018-02-27 17:08] theVKC commented on #793
Collaborative says it's working!

[2018-02-27 17:08] #793 closed

[2018-02-27 17:10] #795 closed

[2018-02-27 17:12] levesswe commented on #799
Sounds like a good idea to me!

[2018-02-27 17:13] theVKC commented on #799
Hackathon thinks it's good to add post conversion.

[2018-02-27 17:13] #799 closed

[2018-02-27 17:15] theVKC commented on #800
Group feels this is a worthy enhancement post Python conversion, but is not considering it critical enough to fix pre-conversion. We'll tag it as an enhancement instead and look at it post-conversion!

[2018-02-27 17:15] #800 closed

[2018-02-27 17:17] theVKC commented on #802
@gretchent74 is testing!

[2018-02-27 17:18] #803 closed

[2018-02-27 17:19] #804 closed

[2018-02-27 17:22] theVKC commented on #806
@ChrisKast, @KallistaImdieke is going to reach out to you to see if we can parse the "bug fix" from the "enhancement", I'd like to get the bug fix out ASAP so we can have all bugs fixed in PRISM.

[2018-02-27 17:22] #813 closed

[2018-02-27 17:23] KallistaImdieke commented on #806
@ChrisKast Do you have the code for this that I can look at to just get the bug fixed?  THANKS!

[2018-02-27 17:28] gretchent74 commented on #802
I tested the script and Aff of Default and ID it puts the Case Financial Summary are no longer reversed.

[2018-02-27 19:00] theVKC commented on #798
#814 pulled this in to master. @gretchent74 has volunteered to test. Thank you you two!!

[2018-02-27 19:10] theVKC commented on #802
Woohoo!

[2018-02-27 19:10] #802 closed

[2018-02-27 19:12] gretchent74 commented on #798
I have tested this script and the correct note now corresponds with the correct information put into caad.

[2018-02-27 19:12] theVKC commented on #798
Woohoo! Thanks @gretchent74!

[2018-02-27 19:12] #798 closed

[2018-02-28 17:20] theVKC opened #815 "Add TODO comments to all scripts with closed enhancements for Python"
We tagged these issues on GitHub as "Post Python Conversion" and closed them yesterday. We just need to modify each file with a `' TODO: ` tag containing a description of the item to do, and a link to the issue for reference purposes.

Then, while converting the VBScript files to Python, we can modify the items we wish while we code in the new language.

[2018-03-02 16:28] #815 closed